[2019-08-09 00:55] #10913 closed

[2019-08-09 01:13] biruks commented on #2049
Any update on this?

[2019-08-09 01:39] papb commented on #2049
@biruks #10281 is WIP for mysql for this.

[2019-08-09 05:02] RodrigoCS commented on #5590
I need to use includeIgnoreAttributes in order to exclude with `through: { attributes: [] }` but that also excluded my set attributes on the include, you can solve that setting the included attributes on the main attributes, like so:
[code]

[2019-08-09 06:13] hardik-singhal commented on #7936
It is not efficient to remove every time tablename.sync() if created and add if it is not created if u have to use this in production and have to give it to client how should one can manage with no prior knowledge of coding

[2019-08-09 06:15] #11257 closed

[2019-08-09 06:51] Lan19094 commented on #6026
thanks for the solutions :)

[2019-08-09 10:56] karankapur999 commented on #9705
@sushantdhiman

Can you please check the error in this syntax

order: [global.SequelizeModule.literal(["date", "ASC"],["header_id", "ASC"],["group_id", "ASC"],["line_type", "ASC"])]
 I am using     "sequelize": "5.12.3",  "pg": "6.4.1",
?

[2019-08-09 12:23] Taher62 opened #11301 ".sync({alter:true)} causes issue with Boolean Default Values in MSSQL"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models X, Y, ...
2. Run the following
3. See error

## What do you expect to happen?
_I wanted Foo!_

## What is actually happening?
_But the output was bar!_

_Output, either JSON or SQL_

## Environment
Dialect:
- [ ] mysql
- [ ] postgres
- [ ] sqlite
- [ ] mssql
- [ ] any
Dialect **library** version: XXX

[2019-08-09 12:23] jitendrachhipa opened #11302 "how to left join or left outer join in sequelize 6.0"
how to left join or left outer join in  two table without any associations?

I want to execute a query on two table for reports without any relations of foreign key

[2019-08-09 12:24] Taher62 opened #11303 ".sync({alter:true)} causes issue with Boolean Default Values in MSSQL"
What are you doing?
Creating a model with a boolean that has a defaultValue: false in MSSQL

isAdmin: { type: DataTypes.BOOLEAN, defaultValue: false, allowNull: false }
What do you expect to happen?
When running the app with alter: true it should automatically update and alter tables requiring updates.

What is actually happening?
The line that it errors on is relating to the boolean field with a

[2019-08-09 12:51] papb commented on #11302
I recommend using sequelize v5 for now unless you have a very specific reason to be using v6.

----------------------------

Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.

[2019-08-09 12:51] #11302 closed

[2019-08-09 12:51] papb commented on #11301
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-09 12:51] #11301 closed

[2019-08-09 12:52] papb commented on #11301
Refer to #11303

[2019-08-09 12:55] papb commented on #11303
Please improve the formatting of your issue. All the markdown structure was lost. The markdown structure from your other attempt #11301 was correct, although you didn't fill anything.

Once you fix your issue presentation I will reopen it.

[2019-08-09 12:55] #11303 closed

[2019-08-09 12:56] papb commented on #11298
Actually this could be done without being a breaking change if we provided a "token object" `Sequelize.CANCEL_QUERY` or something similar, that cancels the query if returned from the hook.

[2019-08-09 20:00] john-landgrave commented on #10424
I have been running into the need for the same thing. Basically, connections were lingering waaay too long and I was constantly running into the connection limit on a AWS RDS small db (for our staging environment). It is worth noting that I had to modify things a little from the provided snippet:

[code]

I changed `clear()` to `destroyAllNow()` because clear wasn't a method?

[2019-08-09 21:45] smassin opened #11304 "returning is ignored for MSSQL update"
## What are you doing?
I'm trying to execute an update using the MSSQL driver without having an OUTPUT INSERTED.* appended but returning: false is ignored. However, this is inconsistent with the insertQuery definition which does respect returning: false for MSSQL.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Execute the above statement on any model using MSSQL
2. See the SQL output

[2019-08-10 05:30] papb commented on #11304
Can you show a example snippet for this?

[2019-08-10 05:59] sushantdhiman commented on #11298
You can throw in hooks to reject query processing. This is better because caller actually gets notified that query was not executed, rather than silently canceling promise chain execution.

[2019-08-10 05:59] #11298 closed

[2019-08-10 06:42] bliblimumu opened #11305 "nodejs.RangeError [ERR_OUT_OF_RANGE]: The value of "value" is out of range. It must be >= 0 and <= 4294967295"
nodejs.RangeError [ERR_OUT_OF_RANGE]: The value of "value" is out of range. It must be >= 0 and <= 4294967295

[2019-08-10 07:35] BaeJi77 opened #11306 "'underscored: true' is working but return to two value when responsing to request"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. I set-up using 'sequelize-define.json'
[code]

And, I make snack case column. Show real example my code.
'define code('notification.js')'
[code]

'Make join ('index.js')'
[code]
2. Database is set snack case.
3. But always return 2 valuse. camelcase + snack case.

## What do you expect to happen?
I want only snack

[2019-08-10 10:06] #11305 closed

[2019-08-10 14:51] papb commented on #11306
Closing in favor of #11225

[2019-08-10 14:52] papb commented on #11305
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-10 15:05] #11306 closed

[2019-08-10 22:01] cakirlarc commented on #8525
Minimal example
This on MSSQL, create the below procedure, have a table called Users, any schema and data will suffice. The spr returns two results.
[code]
index.ts
[code]
the below array returns, and it is not uniform, it contains two different types of data, one from he first query the other is from the second one from the stored procedure.

[code]
Arrays of arrays or an array with conventionall

[2019-08-11 10:06] #7931 closed

[2019-08-11 10:19] sushantdhiman commented on #7931
:tada: This issue has been resolved in version 5.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-11 12:29] savchenko91 commented on #9760
https://sequelize.org/master/manual/typescript.html

maybe it helps somehow :)

[2019-08-11 16:06] papb commented on #11215
@sahatnicholas-gdp Does SimonSchick's suggestion above work for you? Let me know.

[2019-08-11 22:12] maruo34 opened #11308 "addingAssociation `hasMany` generate invalid SQL"
**product.js**
[code]
**code**
[code]
**Output**
[code]

why it happens?

[2019-08-11 23:49] papb commented on #11308
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

When

[2019-08-11 23:49] #11308 closed

[2019-08-12 00:37] Mautriz commented on #7702
Up

[2019-08-12 03:49] mllumiquinga194 opened #11309 "How to count where column is 1?"
to enter context. I have my table `'user_companies'` and the table `'user_company_views'`. In the table `'user_company_views'` I keep a record of each user that has seen that company.
To list a company, I want to check all existing records in `'user_company_views'` and get the statistics.
Within the table `'user_company_views'` I have the shares and likes columns, where the times that the user has

[2019-08-12 05:18] artjoms-faltins opened #11310 "`dropTable` not working as `map` parameter"
## What are you doing?

[code]

## What do you expect to happen?
This should work, instead I do need to use this
[code]

## What is actually happening?
ERROR: Cannot read property 'QueryGenerator' of undefined

## Environment
Dialect:
- [ ] mysql
- [x] postgres
- [ ] sqlite
- [ ] mssql
- [ ] any
Database version: 9.6.9
Sequelize version: 4.42.0
Sequelize-cli version: 5.5.0
Node Version: v8.11.3
OS

[2019-08-12 08:43] thfrei commented on #2486
It would be nice...

[2019-08-12 08:46] rener172846 commented on #3256
Any update? I have an urgent project which has this problem, still waiting to be solved asap.

[2019-08-12 08:57] securedeveloper commented on #11288
@mmmmmrob same thing happened to me, was trying to debug and find what I was doing wrong, until I realised it doesn't work at all. Would love to create a feature PR.

[2019-08-12 10:34] uhuaha opened #11312 "Syntax error when using queryInterface.createFunction()"
## What are you doing?
I am writing a queryInterface.createFunction() in a migration file that looks like this:

[code]
When I run the migration I get the following error message:

[code]

## What do you expect to happen?
I expect the same CREATE FUNCTION statement as above but without the BEGIN and END since I use language=sql (if I specify language=plpgsql then the described error doesn't happen

[2019-08-12 14:24] smassin commented on #11304
https://github.com/sequelize/sequelize/blob/a39c63a44201e13a44a75e6acd7ba3b08d7643d7/lib/dialects/abstract/query-generator.js#L132

insertQuery
[code]

https://github.com/sequelize/sequelize/blob/a39c63a44201e13a44a75e6acd7ba3b08d7643d7/lib/dialects/abstract/query-generator.js#L367

[code]

Was expecting:

[code]

In the case with insert you see that both paths (the PG and MSSQL paths) are gated b

[2019-08-12 15:18] MegaFAX opened #11313 "Empty rows returning, when n:m assotiation and limit condition, but count is right"
## What are you doing?
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run the following

## What do you expect to happen?
[code]

## What is actually happening?
[code]

## Environment
Dialect:
- [ ] mysql
- [x] postgres
- [ ] sqlite
- [ ] mssql
- [ ] any
Dialect **library** (pg) version: 7.12.1
Database version: Postgres 10
Sequelize version: 5.13.1
Node Version: 10.16.0
OS: Win7x64
T

[2019-08-12 18:04] rajat12a commented on #10937
will test with camelCase

[2019-08-12 18:39] oleprohon opened #11314 "Add findAll option for unique results"
Greetings,

I use two models User and Account.
User.hasMany(Account) and Account.belongsTo(User)

One user may have multiple accounts and each account has a role. One user can have multiple accounts with the same role.

I want to get all unique users having one or more "driver" Accounts.

[code]

If a given user has 2 accounts with the role "driver", I get two instances of the user.

I looked at t

[2019-08-12 21:27] papb commented on #11304
Thanks for the investigation and detailed explanation :+1: would you be willing to send a PR?

[2019-08-12 22:00] ralexandr commented on #10942
Is there any updates on this? Met same issue

[2019-08-12 23:58] papb commented on #11309
Can you please post:

1. What SQL query was generated by sequelize
2. What SQL query were you trying to get

[2019-08-13 00:04] papb commented on #11310
Passing a function like this in JavaScript makes it ["lose the bind context"](https://stackoverflow.com/q/2701987).

This is not a problem with Sequelize. This is standard JavaScript behavior.

You can "fix" it by using `queryInterface.dropTable.bind(queryInterface)` instead of `queryInterface.dropTable`.

[2019-08-13 00:04] #11310 closed

[2019-08-13 00:10] mllumiquinga194 commented on #11309
I try to get this query

[code]

![image](https://user-images.githubusercontent.com/12899361/62906566-3d438280-bd3d-11e9-98d6-e50cff586079.png)

[2019-08-13 00:21] BjornTM commented on #9242
@sushantdhiman
I've encountered this issue, what debugging can I contribute to help find the bug?

[2019-08-13 01:28] papb commented on #9242
@BjornTM and others - The most effective way would be finding a [SSCCE](http://sscce.org/)/[MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))...

If this is too hard, please try to find a pattern on when it happens. What is different when it happens and when it doesn't...

[2019-08-13 01:45] papb commented on #11309
@mllumiquinga194 Thanks - can you post what SQL query was generated by sequelize?

[2019-08-13 01:47] papb commented on #2486
If anyone is willing to submit a PR for this, it would be very welcome!

[2019-08-13 01:53] papb commented on #3256
Hi @rener172846 I would like to ask more help from you.

Is it possible to shorten this and still get the error? Try to find the smallest piece of code that reproduces the problem. This will make it much easier to investigate. For example, perhaps one of the includes is not necessary? Try to remove as much as possible.

[2019-08-13 01:54] papb commented on #3256
Also:

Can you please post **exactly** what SQL query you wanted to see instead?

[2019-08-13 02:01] mllumiquinga194 commented on #11309
![image](https://user-images.githubusercontent.com/12899361/62909826-2fe1c480-bd4c-11e9-8a62-6c474e5e40e6.png)

This is the generated query and in the image you can see the execution of that query in mysql.
[code]

both the sum and the count is wrong. My intention is to generate the result of the image above .. Sorry if my English is bad, I do not speak English, I use GoogleTraductor

[2019-08-13 02:12] papb commented on #11309
I see... I don't have time to help right now though... Could you please try [StackOverflow](https://stackoverflow.com/) instead (using the [sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js))? If you do, please post a link for it here.

I will close this for now because the issue tracker isn't really a place to be asking questions like this, as our contribution guidelines s

[2019-08-13 02:12] #11309 closed

[2019-08-13 02:17] papb commented on #11312
Hello!

Can you please post **exactly** what SQL you wanted to see instead?

[2019-08-13 04:04] wilmerjpg commented on #5590
Thanks, works for me!

[2019-08-13 06:26] rener172846 commented on #3256
I think this is the shortest codes:
[code]
So only one field - `"reply"."count"` is included on the post table.
And following is the generated sql from that:
[code]
And this sql occurs error - `"column \"reply.id\" must appear in the GROUP BY clause or be used in an aggregate function"`.
So the purpose is just remove `"reply"."id"` field from the joined table `post_comments`.
**On the included mod

[2019-08-13 06:30] #3277 closed

[2019-08-13 06:40] sushantdhiman commented on #3277
:tada: This issue has been resolved in version 5.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-13 07:15] uhuaha commented on #11312
What I would like to see happen instead is: If I select "language=sql" the function gets created without problem and if I check it in pgAdmin I will see:
[code]
Note: there is no BEGIN and END keywords in the function - unlike when I set "language=plpgsql".

I suspect that the error message points to the first select where there is a BEGIN that is not expected because of language=sql.

[2019-08-13 09:42] xuchaobei opened #11315 "Calling fn('NOW') as a static method gets error"
## What are you doing?
I want to set current timestamp as below:

[code]

Got the error:

However, when I call fn("NOW") on the sequelize intance, it works:

[code]

I digged into the source code, fn should be a static method of Class Sequelize,
`Sequelize.prototype.fn = Sequelize.fn;`.

Then why I can't use Sequelize.fn('NOW')? What's the difference?

## What do you expect to happen?

Calling `fn

[2019-08-13 10:36] packlikez commented on #11288
Same problem here.

[2019-08-13 12:26] je-poy commented on #4310
Try this one attributes: [fn('trim', col('table1->table2->table3.col_name')), 'col_alias']

[2019-08-13 12:29] je-poy commented on #10996
I solve it by trying this one
attributes: [fn('trim', col('table1->table2->table3.col_name')), 'col_alias']

[2019-08-13 12:29] #10996 closed

[2019-08-13 12:40] papb commented on #11312
Please tell me if I understood correctly.

### What was generated by Sequelize

[code]

### What should have been generated instead

[code]

-----------

Is this correct? (I simply deleted `BEGIN` and `END;` from the query)

[2019-08-13 12:42] papb commented on #3256
@rener172846 One more thing: you have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-08-13 12:52] bparan opened #11316 "Virtual column ends up in SQL query when associated model has default scope with attributes configuration"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define model to be associated with defaultScope that includes `attributes` configuration
2. Define a parent model
3. Associate the parent model with child model using `hasMany`.
4. Query the parent records including the association.

## What do you expect to happen?
_On empty tables I'd expect `0` to be printed to

[2019-08-13 13:51] papb commented on #11288
@securedeveloper If you are willing to submit a PR, that would be great!! Even better if you make it a feature rather than a change.

[2019-08-13 14:32] papb commented on #11316
Thanks for the excellent issue report!

What is the reason you didn't select `mysql`? Is it just because you didn't test on it or because you tested and the problem doesn't happen with it?

[2019-08-13 14:39] papb commented on #4310
Indeed this is still an issue, here is a simplified SSCCE for reproduction:

[code]

SQL:

[code]

[2019-08-13 14:43] bparan commented on #11316
@papb I didn't tested on `mysql`. MSSQL, PostgreSQL and Sqlite are installed on my machine. I debugged the issue a bit and I saw it in the code that is common for all dialects.
I need time to focus on a different issue in our project. I will try to reproduce the issue on `mysql` when I have time.

[2019-08-13 14:52] papb commented on #11313
Thanks for the great SSCCE :+1:! I was able to reproduce.

Note: I made very minor edits to your SSCCE to make it even better (but it was already great!)

[2019-08-13 14:54] papb commented on #11313
Do you think this could happen with another dialect other than postgres? Of course `'gen_random_uuid` would not be used. Can you try to come up with another SSCCE for other dialects?

[2019-08-13 15:05] davicente commented on #6127
You made my day man, thanks a lot. This solved my issue ;)

[2019-08-13 15:14] MegaFAX commented on #11313
Thx, I tried to do this SSCCE. I think this dont depend on dialect, because this bug with self multi association. It generate SQL that has multiple "AS" and db dont know which one need to use. SQL, that genered with "wrong" query:
[code]
but when I change some
[code]
it's right, or, as I think, it must be something like
[code]

[2019-08-13 15:26] mmmmmrob commented on #11288
Is there really no way to model and query this scenario using the current sequelize features?

[2019-08-13 15:56] MegaFAX commented on #11316
+1 with PostgreSQL, my temporary solution is
[code]

[2019-08-13 16:33] papb commented on #11288
@mmmmmrob Good point. Perhaps there is a way to do it already... Although I am a maintainer, there are many things in Sequelize I don't know (yet)! @sushantdhiman can you take a look?

Have you tried Stack Overflow? Maybe you can ask and add a link here. Or try Slack as well...

[2019-08-13 16:37] mmmmmrob commented on #11288
@papb I ended up asking here because I'd asked several times over a few weeks on slack and got no reply. I think the question is a bit too high-level for slack.

[2019-08-13 16:37] papb commented on #11316
@bparan Don't worry! Testing with three dialects is excellent already :+1: use your time for other things! I was asking just to be sure I didn't misunderstand you.

[2019-08-13 16:38] papb commented on #11288
@mmmmmrob I see. Let's wait to see what sushantdhiman has to say about it.

[2019-08-13 16:43] papb commented on #11314
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)).

[2019-08-13 16:50] papb commented on #11315
I was unable to reproduce.

[code]

You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-14 01:27] je-poy commented on #4310
Try to add the table name on your Sequelize.col and use it on its singular form. Also try to add "->" if it is nested.

`sequelize.sync().then(function() {
    User.findAll({
        attributes: [[ Sequelize.col('User.name'), 'username' ]],
        include: {
            model: Foo,
            attributes: [[ Sequelize.col('User->Foo.name'), 'fooname' ]],
        }
    });
});`

[2019-08-14 04:07] packlikez commented on #11288
I workaround with `order:[Sequelize.literal(\`score DESC\`)] `

[2019-08-14 05:37] pavhov opened #11317 "clickhouse database support"
What about to create [clickhous](https://clickhouse.yandex/) driver for sezuelize ?

On node.js there is no orm-s for it

[2019-08-14 06:02] xuchaobei commented on #11315
@papb  `console.log(Sequelize.fn("NOW"));` works. You need to execute the real  insert/update operation to get the error. Like this:
[code]

[2019-08-14 07:53] uhuaha commented on #11312
Yes, Pedro, you understood correctly. The latter is what I would like to have generated. If there are no more BEGIN and END, then, the syntax error should be gone. It would be great to have that fixed in a new version as soon as possible. Thank you very much!

[2019-08-14 08:52] packlikez opened #11318 "_ before field name (_name) get result incorrectly"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models X, Y, ...
2. Run the following
3. See error

## What do you expect to happen?
UPDATE `priv_trs` SET `_code`=?,`updated_at`=? WHERE `id` = ?

## What is actually happening?
UPDATE `priv_trs` SET `code`=?,`updated_at`=? WHERE `id` = ?

## Environment
Dialect:
- [x ] mysql
- [ ] postgres
- [ ] sqlite
- [

[2019-08-14 09:16] packlikez commented on #11318
So I have to define like this     _code: { type: DataTypes.STRING, field: '_code' },

[2019-08-14 09:16] #11318 closed

[2019-08-14 10:01] GSKryachko opened #11319 "Add alias support to lock options"
**Is your feature request related to a problem? Please describe.**
Hello! I'm using sequelize  4.39.0 with Postgres and I have query like that:

` await sequelize.transaction(async (transaction: Transaction): Promise<void> => {
          const modelA: ModelA | null = await ModelA.findById(
            'someId',
            {
              transaction,
              lock: { level: transaction.LOCK.

[2019-08-14 10:53] rusekr commented on #7534
Can`t test now but saw https://github.com/sequelize/sequelize/issues/3142 and it not fixes fact when model has PK and PK automatically added to any query with 'group' property which errores in postgres. I will rename issue to reflect this.

This by seeing the code might fix current issue: https://github.com/sequelize/sequelize/pull/11283

[2019-08-14 13:59] papb commented on #11315
I was unable to reproduce with postgres (the DB that I have available right now) - both ways worked. I suspect you are doing something else wrong. Especially because I agree with you, it doesn't make sense to make a difference.

Also, the code you posted still isn't a SSCCE/MCVE/reprex.

[2019-08-14 14:58] arnaudForestAdmin opened #11320 "Models with schema containing a "$" character fail to create or update records."
## What are you doing?
On a simple table (columns id, name) attached to a schema containing a "$" character, I try to create or update records.

[code]

**To Reproduce**
This error happens in v5 (v5.14) and not in v4 (v4.43).

Steps to reproduce the behavior:
1. Create a database schema with a name containing a "$" character (for instance "point-prisma$dev")
2. Create a table and attach it the cre

[2019-08-14 16:33] adrianodennanni commented on #5498
It's solved (v5.14.0, https://github.com/sequelize/sequelize/issues/3277)

[2019-08-14 16:45] #4092 closed

[2019-08-14 16:47] sushantdhiman commented on #11317
Sorry there are no plans for this new dialect

[2019-08-14 16:47] #11317 closed

[2019-08-14 16:56] sushantdhiman commented on #4092
:tada: This issue has been resolved in version 5.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-14 17:31] papb commented on #11320
Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

[2019-08-14 17:40] papb commented on #11319
Hello, thanks for the detailed explanation, this is a great feature request. Also, thanks for being willing to do a PR!

I am not familiar with locks though, so I don't know if there is already a way to do this, and I am not sure which of the options you suggested is better.

By the way, thanks for suggesting these two options!

    * Inferring alias from the rest of query (makes sense, but breaki

[2019-08-14 18:54] dsbert commented on #10447
Related https://github.com/sequelize/sequelize/issues/11258

[2019-08-14 19:31] oleprohon commented on #11314
Hi thanks for taking the time to answer and sorry about the format, this is my first post on github!

If anyone is facing the same problem, it was actually on my side, so no issue from Sequelize. I had 2 associations between users and accounts:

User.hasMany(Account, { as: 'accounts', foreignKey: 'userId' });
User.hasOne(Account, { as: 'account', foreignKey: 'userId' });

In my query I used "as: '

[2019-08-14 19:31] #11314 closed

[2019-08-14 20:29] dsbert commented on #6411
Still an issue

[2019-08-14 20:45] papb commented on #6411
@dsbert The OP has posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-15 01:44] bohrshaw commented on #10628
This warning still occurs on Sequelize V5.

[2019-08-15 01:54] bohrshaw commented on #10628
This [commit](https://github.com/coopernurse/node-pool/commit/9471ff2429ca2b3ee5542d4e8366c29295e32670) seems not merged into https://github.com/sequelize/sequelize-pool.

[2019-08-15 06:14] pavhov commented on #11317
Okay

[2019-08-15 08:38] jayarjo opened #11322 "Description for Model.toJSON() is not clear enough about including custom getters."
Description of [toJSON](https://sequelize.org/master/class/lib/model.js~Model.html#instance-method-toJSON) method:

leaves an impression that all custom getters will be resolved, which is not true. According to this [snippet](https://github.com/sequelize/sequelize/blob/master/lib/model.js#L3534) of the `get` method:

[code]
custom getters will be ignored if they are not included in the `attributes

[2019-08-15 08:46] jayarjo commented on #10997
@papb and how it is going to work, once it's fixed?

@mjy78 does it work if have get on the VIRTUAL field and no corresponding getterMethod?

[2019-08-15 12:23] papb commented on #10997
When I self-assigned this, my idea was to make every getterMethod appear in the .toJSON() output, just that, very simple. But now I realize this might be technically considered a breaking change...

Yes, it works. I personally prefer this way, even if the other way worked already... Looks cleaner to me (but this is just my opinion).

@sushantdhiman Perhaps we could just deprecate getterMethods in

[2019-08-15 12:32] papb commented on #11322
Hello, thanks for the report. I intend to fix the docs when I fix #10997 - I don't want to spend time updating the docs for something that will change soon. Regardless I will leave this open for now, an extra reminder won't hurt, especially since you summed it up very well. Thanks!

[2019-08-15 14:22] dsbert commented on #11258
Here is a temporary work-around for anyone waiting for a fix

[code]

[2019-08-15 16:33] jayarjo commented on #10997
I also prefer VIRTUAL fields, feels cleaner. You should definitely consider deprecating one or the other.

[2019-08-15 17:01] rschpdr opened #11324 ""TypeError: results.map is not a function" when calling connection.sync()"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Emulate function
2. Fire a request to the /create endpoint
3. sequelize.sync() will throw the error

## What do you expect to happen?
_Database tables are synced to the model_

## What is actually happening?
The error below is an unhandled exception but I did some tests with a try/catch around sequelize.sync() and

[2019-08-15 17:27] papb commented on #11324
To assist with bugs, we need you to provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. In particular, the code must be **short/minimal**. Please fix your issue making your code a real SSCCE/MCVE/reprex. Once you do, the issue will be reopened.

[2019-08-15 17:27] #11324 closed

[2019-08-15 17:41] papb commented on #11258
@dsbert Thanks!!

@massivex Are you still working on this?

[2019-08-16 02:53] papb commented on #11090
@sushantdhiman What if we had a new feature `updateOnDuplicate: true` which internally converted itself to `Object.keys(Model.attributes)` except that it removes virtual attributes automatically?

[2019-08-16 04:16] sushantdhiman commented on #11090
@papb sounds good

[2019-08-16 06:50] jayarjo opened #11325 "Dependency for VIRTUAL field retrieved even though it is listed in exclude array"
Attribute is included in the data set even though it is listed in the `exclude` array. I guess the reason for such behavior is a VIRTUAL field that has that attribute as dependency. That doesn't feel fully logical. After all there's a serious reason to exclude that field and then I suddenly discover that it is still in there.

Consider scenario when you have verification hash stored in user table.

[2019-08-16 11:16] fkammer commented on #7277
In addition to that PostgreSQL creates a composite type for each table created.

[code]

[Source: PostgreSQL current Docs (11): Row Types](https://www.postgresql.org/docs/current/rowtypes.html)

This allows you to easily create audit tables for example:

[code]

It would be nice to have a custom data type for each defined table.

[2019-08-16 14:33] javaguy commented on #11316
Hitting this issue as well, but unfortunately not an option to just exclude all virtual attributes from my nested model. Any other suggestions for workarounds?

[2019-08-16 15:43] psalz opened #11326 "[Docs] Typescript example breaks automagic field getters"
I followed the documentation on how to [set up a model with Typescript](https://sequelize.org/master/manual/typescript.html) and ran into an issue: If fields are declared on the model class as described here, they will be initialized to `undefined` upon instantiation and overwrite the automagic getters generated by Sequelize. I.e., if following the documentation, the `console.log(newUser.id, newUs

[2019-08-16 16:26] thieman commented on #10930
Big +1 here, we'd like to get on v5 but if we can't trust our includes to work correctly then we're stuck on 4.

[2019-08-16 16:33] papb commented on #11326
Hello, thanks for the detailed report. I am not familiar with the TypeScript usage of Sequelize, so let's wait for @SimonSchick to take a look later.

[2019-08-16 17:49] papb commented on #11325
Thanks for the report.

This is not true, if you have something listed on `exclude`, that attribute won't even appear in the SQL query...

I agree with you that the current behavior is wrong. In this case the dependency field should be included in the query but deleted afterwards.

[2019-08-16 17:57] papb commented on #11325
Thanks for the report.

This is not true, if you have something listed on `exclude`, that attribute won't even appear in the SQL query...

I agree with you that the current behavior is wrong. In this case the dependency field should be included in the query but deleted afterwards.

[2019-08-16 20:53] SimonSchick commented on #11326
Please follow the issue template.

[2019-08-16 21:40] papb commented on #11325
@sushantdhiman Do you think fixing this would be a breaking change?

(By fixing this I mean deleting the field from the returned object if it is listed in the exclude attributes)

[2019-08-17 01:24] papb commented on #11280
Let me keep this open to clarify the docs :+1:

[2019-08-17 02:16] mllumiquinga194 commented on #11309
You asked me so many questions, I thought you would help me.
Now if I have a problem it can be a mistake in sequelize.

[2019-08-17 02:19] papb commented on #11309
@mllumiquinga194 Can you provide a SSCCE/MCVE/reprex for your situation?

[2019-08-17 02:20] mllumiquinga194 commented on #11309
[code]

This query works perfectly for me, but when adding limit and offset and the query is damaged, I would like to know why this happens. It's strange, I just add limit and offset and my query stops working. What happens? something is wrong with sequelize .. can you help me?

[2019-08-17 02:24] papb commented on #11309
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)).

[2019-08-17 02:36] mllumiquinga194 commented on #11309
[code]

READY :+1:

[2019-08-17 02:39] mllumiquinga194 commented on #5715
subQuery: false, 16-08-2019

[2019-08-17 02:54] papb commented on #3781
From the looks of it, the workaround by tornillo should work for everyone.

[2019-08-17 02:56] papb commented on #11309
Hello, that is not an SSCCE.

[2019-08-17 02:58] papb commented on #5715
I am confused, is this still an issue with the latest Sequelize? If yes, can someone please post an [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? Once it's done I will reopen this.

[2019-08-17 03:13] papb commented on #3759
Do any of the suggested workarounds above work for Sequelize v5?

[2019-08-17 03:18] papb commented on #3534
Can someone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) for this?

[2019-08-17 03:40] papb commented on #7901
@JSteunou Can you clarify what you mean here? Which method did you override unintentionally?

[2019-08-17 03:41] #7901 closed

[2019-08-17 03:43] papb commented on #7507
If the suggestion by sushantdhiman above doesn't work for someone, let me know.

[2019-08-17 03:43] #7507 closed

[2019-08-17 03:46] papb commented on #10903
Hello, this is an unusual way to define a model.

Have you tried the standard way, like in the docs, declaring an empty class and running `.init()` afterwards?

[2019-08-17 03:49] papb commented on #10905
Hello, I agree with you that your call should work as you were expecting...

You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-08-17 03:51] papb commented on #10876
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-17 03:55] papb commented on #7649
Can someone confirm this is still happening? I was thinking that perhaps #11249 might have fixed this...

[2019-08-17 03:57] papb commented on #7969
Can someone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-08-17 04:00] papb commented on #5077
Doesn't creating a new separated for this works around the problem?

[2019-08-17 04:02] papb commented on #6980
I will close this, if someone is still experiencing the problem let me know and I will reopen.

[2019-08-17 04:11] #8402 closed

[2019-08-17 04:14] papb commented on #8073
You forgot to return the Promise in your example above.

[2019-08-17 05:03] papb commented on #8829
This is a duplicate of #3534, right?

[2019-08-17 05:38] jayarjo commented on #11325
In such case that would be problematic I guess. Maybe make it cleared in the docs then at least. I've almost unknowingly introduced a security issue into the API.

Maybe you could add a hook that is invoked on a result after getters are evaluated, unless there's one already?

[2019-08-17 09:10] jayarjo commented on #854
@lovelyelfpop documentation for `timezone` options says:

So it for reading after all, not writing.

[2019-08-17 13:40] papb commented on #11325
What if we just deleted the excluded attributes right before returning? This way the virtual field would work and the excluded attribute wouldn't appear afterwards. Makes sense to me, what do you think?

[2019-08-17 13:41] papb commented on #11325
Definitely the docs deserve clarification, regardless.

[2019-08-17 13:43] papb commented on #854
By looking at this long discussion, it is clear to me that at least the docs need improvement, or even a new feature is deserved as well.

[2019-08-17 15:34] ilyaskarim commented on #963
+1

[2019-08-17 15:46] jayarjo commented on #11325
@papb I'm not sure at what moment getters are evaluated. I guess the right moment for the action or the hook would be exactly after that.

[2019-08-17 15:51] yeliex commented on #8496
Now we have a problem when migrating from v4 to v5, what we should do to query like
`WHERE deletedAt is null or deletedAt < now()`

[2019-08-17 16:29] noyobo commented on #11119
step1

[code]

step2

[code]

I solved this now. Do you have any other plans? @lrbmike

[2019-08-17 17:39] chaitanya11 commented on #11021
@WooDzu as per my understanding, New AWS Data Api is to manage connections on aws side (meaning, we will not have exposure to connection object). In sequelize we have to register our models after establishing successful connection, which is not possible in this case.
please correct me if i am wrong.

[2019-08-18 01:28] papb commented on #963
Is it currently possible to change this manually in Sequelize?

[2019-08-18 01:34] papb commented on #8496
Why do you want to perform this query? To me, that query would evaluate to true in every normal circumstance (I can only see it being false if a record was "deleted in the future").

[2019-08-18 01:36] papb commented on #11119
@noyobo I thought you wanted to do this with only one query... It is not hard to do it with two queries.

[2019-08-18 04:55] noyobo commented on #11119
I have to do this, is there any other way? @papb

Plan B:

[code]

[2019-08-18 07:18] 18978909244 opened #11328 "upsert() can not validate"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models X, Y, ...
2. Run the following
3. See error

## What do you expect to happen?
no matter insert or update i will validate by attr

## What is actually happening?
when insert validate success and update validate fail

_Output, either JSON or SQL_

## Environment
Dialect:
- [√] mysql
- [ ] postgres
- [ ]

[2019-08-18 11:48] l-jonas opened #11330 "mysql abstraction always uses prepared statements"
## What was unclear/insufficient/not covered in the documentation

When using the mysql2 module, then sequelize uses ``connection.execute()`` from mysql2. The [Readme](https://www.npmjs.com/package/mysql2) says ``// execute will internally call prepare and query`` In my case this created more and more prepared statements which I did not expect and caused reaching the limit for prepared statements

[2019-08-18 11:52] l-jonas opened #11331 "Multi column foreign key constraints"
**Is your feature request related to a problem? Please describe.**

I want to add a foreign key constraint with two columns. It is possible to use multiple columns  for a constraint, but references.field only accepts a single field from the other table.

**Describe the solution you'd like**

When adding foreign key constrains, add a alternative parameter references.fields

**Why should this be in

[2019-08-18 12:28] sunwukonga commented on #10917
Currently, for the lack of a model schema on `toJSON()` return:
[code]

Ultimately, this would be because `.get()` doesn't have a model schema attached. Since, (I believe), `toJSON()` is really calling `.get()`

[2019-08-18 13:07] sushantdhiman commented on #11202
Fixed with https://github.com/sequelize/sequelize/pull/11332

[2019-08-18 13:07] #11202 closed

[2019-08-18 13:13] nnaynnay commented on #11103
This should also work.
`import { Sequelize } from 'sequelize';`

[2019-08-18 13:28] sushantdhiman commented on #11331
Duplicate of https://github.com/sequelize/sequelize/issues/311

[2019-08-18 13:28] #11331 closed

[2019-08-18 13:30] sushantdhiman commented on #11328
No version info anywhere

[2019-08-18 13:30] #11328 closed

[2019-08-18 21:01] Delagardi opened #11333 "updateOnDuplicate error with postgres >= 9.5"
## What are you doing?
I am trying to use "bulkUpdate" functionality with `bulkCreate` + updateOnDuplicate option.

I need to update all `relatedToLead` fields at table `contacts` WHERE `contactId` === `contactId`

I am getting an error:
"postgres does not support the 'updateOnDuplicate' option."

But my version of Postgres is 9.5.16.
[Here ](https://sequelize.org/master/class/lib/model.js~Model.h

[2019-08-18 23:23] papb commented on #11119
@noyobo Currently there is no way to do it with only one query. Once #10943 is solved, then it will be possible!

[2019-08-18 23:30] papb commented on #11328
Pleasd try to better follow the template. Your code example is a mess as well...

[2019-08-19 00:01] papb commented on #11333
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-19 00:01] #11333 closed

[2019-08-19 00:46] Ancinek commented on #11225
@frastlin Would you like to share those hooks? I would greatly appreciate it! :tada:

[2019-08-19 02:45] frastlin commented on #11225
My solution is pretty unique to FeathersJS, the framework I'm using.
I have a before hook and an after hook. The before hook checks on a create method, if any of the keys in the objects end with "_id". If they do, they are added to a list. Then that list is checked if the key.slice(0, key.length-3) is in the list of hooks that I have manually created. If it is, then the hook is run through a camel

[2019-08-19 04:06] sunwukonga commented on #11326
I had the same issue and opened a [question](https://stackoverflow.com/questions/57542074/sequelize-findone-returned-instance-row-is-in-datavalues-but-direct-properties/57550292#57550292) on SE.

Long story short, it was a babel plugin `"@babel/proposal-class-properties"`. Which causes the model fields to be defined/initialized on the model as undefined.

Removing the plugin should clear it up as

[2019-08-19 05:59] SimonSchick commented on #11326
We should really discourage the use of babel with sequelize, it causes so many issues...

[2019-08-19 09:02] Ancinek commented on #11225
@frastlin Thanks a lot for the input. The bug is indeed frustrating. Cost me spending at least 2 hours of looking what I do wrong that it does not work.

[2019-08-19 12:45] matiasmenker commented on #11225
Some update about the issues? Some one that solve this problem?

[2019-08-19 12:46] matiasmenker commented on #11225
Can you please share?

[2019-08-19 13:22] #11326 closed

[2019-08-19 13:24] papb commented on #11225
Hello, just passing by to say that I did not forget about this. Finding time is not easy... Thanks everyone for the patience so far :+1:

[2019-08-19 14:04] vivekhabilelabs commented on #6400
I am still having this issue on 5.5.0, any workaround?

[2019-08-19 14:30] noyobo commented on #11119
I see, thank you. @papb

[2019-08-19 16:42] smassin commented on #11304
The issue is actually more deep that it appears without breaking backward compatibility.

Initially I tried simply adding returning !== false to the `if (this._dialect.supports.returnValues.output)` to keep backward compat but that didn't work. because update defaults returning = false. That means in the current code update will use OUTPUT even when returning is false.

I later tried adding a defa

[2019-08-19 18:22] gabegorelick commented on #8496
Not OP, but if they are asking how to emulate v4's future deletion feature, then that's a valid question.

Assuming that's what you want to do, I've had success monkey patching `Model._paranoidClause`. Caveat: I did that to fix v4's consistency issue, I don't know if it's feasible in v5 to emulate v4 behavior.

[2019-08-19 19:01] papb commented on #8496
@gabegorelick What is this *v4's future deletion feature*?

[2019-08-19 19:16] createthis commented on #10717
👍 seeing the same thing in 5.12.2 and 5.15.1 using https://github.com/nielsgl/sequelize-paper-trail

What's really weird is that for the same code base deployed on different working copies on the same machine and other machines, I am seeing different default behavior.

Sometimes sequelize outputs `revisions` and sometimes it outputs `Revisions` for the table name. Setting `tableName` manually fixe

[2019-08-19 20:51] papb commented on #11304
@smassin Thanks for the further investigation.

How?

Agreed :+1:

Please continue investigating, if you can really make a case to make this breaking change, then we do a breaking change. But better to triple-check everything first.

Thanks again for the help so far! Hopefully you'll figure it out for us :)

[2019-08-19 21:00] papb commented on #10717
I was unable to reproduce, using the code posted above.

[code]

The call works for me correctly, with `"Users"` in uppercase.

[code]

[code]

Can anyone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-08-19 21:54] gabegorelick commented on #8496
@papb In Sequelize v4, if deletedAt was set to a timestamp in the future, then a record would not be considered as deleted. This was useful to schedule records for deletion. But as pointed out in this issue, it can lead to consistency issues. Thus, it was removed in v5 in favor of considering a record as deleted if deletedAt is set at all.

[2019-08-20 00:12] simkessy opened #11335 "Can't Create with Associations"
I'm trying to create a record with associations from existing records.

For example:

[code]

I get the message:

It seems like that's what I did in the includes but it's still not allowing me to create the items.

Why can I not create items with just their IDs, I don't understand why I need the include if I just want to insert and ID into a ForeignKey column.

[2019-08-20 00:36] papb commented on #11335
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-20 00:36] #11335 closed

[2019-08-20 00:56] simkessy commented on #11335
I updated my post, re-open the issue please.

[2019-08-20 01:42] yeliex commented on #8496
@gabegorelick @papb what about provide an option to make deleteAt query more flexible, such as
[code]

[2019-08-20 01:43] yeliex commented on #8496
After all, it is irresponsible to add and them remove a speciality

[2019-08-20 02:45] papb commented on #11335
It is still not a SSCCE/MCVE/reprex.

Also, you have `as: "UseToId"` and `as: "UserFromId"` on your call but `{ as: "to" }` and `{ as: "from" }` in your definition.

[2019-08-20 02:51] papb commented on #10565
Closing in favor of #11225

[2019-08-20 02:51] #10565 closed

[2019-08-20 02:59] papb opened #11336 "Bring back v4's future deletion paranoid option as a opt-in feature"
**Is your feature request related to a problem? Please describe.**

In Sequelize v4, a feature that called *"Future Deletion"* existed, and it no longer exists in v5, since it was considered problematic (see #8496 for details).

Quoting @gabegorelick in https://github.com/sequelize/sequelize/issues/8496#issuecomment-522769101:

**Describe the solution you'd like**

There should be an opt-in option

[2019-08-20 03:00] papb commented on #8496
@yeliex I have converted your idea into a complete feature request: #11336.

[2019-08-20 04:54] WooDzu commented on #11021
I think that is true. In AWS SDK connection does not seem to be exposed and in AWS REST API (rds-data.us-east-1.amazonaws.com) there is no keep-alive or HTTP2 to utilize in connection pool.

Would that be a blocker? If this is because some form of a connection manager needs to be exposed in sequelize by design?

[2019-08-20 07:11] Nogias9x commented on #10067
Sorry, any updates?

[2019-08-20 10:35] wertlex commented on #9035
Hey! Any update on this? Having exactly the same issue with 5.15.1

[2019-08-20 11:34] Whitefox98 opened #11338 "Doesn't work Or query with associations"
## What are you doing?
[code]
params:
[code]

## What do you expect to happen?
I have to find a field in different tables, that is, I have to check if the search is in different fields of the Customer table, in different fields of the Shops table, and in different fields of the ContactPerson table

The Customer and Persons and Customer Shops tables are 1-N and are associated

My "search" variable

[2019-08-20 12:12] chrisjhoughton commented on #11021
The point of the new data API is specifically that the connection object is **not** exposed. It means that you can simply execute SQL queries via their SDKs (which are over HTTP, under the hood) without the need for a VPC.

Lambda functions have horrible cold starts when connecting to a database inside of a VPC, so the data API is something that would be hugely beneficial unless AWS rework how VPC

[2019-08-20 12:48] Aldarean opened #11339 "M:M relationship not creating intermediary table."
Using the little documentation that is available to create a M:M relationship with the MSSQL dialect I either found a bug or totally didn't understand the documentation.

I set up 2 models for now only with an Id to create a M:M relationship by specifying it with the ".belongsToMany()" method. They both reference an intermediary model and the model gets created with the Id's. However thats where i

[2019-08-20 12:50] sulian commented on #11103
I confirm the problem in vscode 1.37.1 under Windows 10

[2019-08-20 13:14] papb commented on #11103
@sulian Does

[code]

instead of

[code]

fix it for you?

[2019-08-20 13:16] papb commented on #11338
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

Also, is an OR with eleven fields really minimal to reproduce the issue

[2019-08-20 13:16] #11338 closed

[2019-08-20 13:32] papb commented on #9035
@wertlex Are you using mysql as well, or other dialect?

[2019-08-20 13:37] binarymee opened #11340 "Bulk update updatedAt"
I am trying to set updatedAt manually for bulkRecords, since I am relying on it to show some information.

[code]
The expectation is, it will update updatedAt for all the records that match the condition. But it is not happening.

On debugging I found this line
https://github.com/sequelize/sequelize/blob/master/lib/model.js#L3207-L3212
If there are no other field changes and the value array has on

[2019-08-20 14:49] mmmmmrob commented on #11288
An interesting workaround is to inject a `literal` as an attribute:

[code]

Maybe a nicer way to do this would be inject a `literal` join. Is there any way to do that?

[2019-08-20 16:22] bsapot commented on #10832
We ran into the original issue mentioned by @play2010dk as well and solved it. The number of prepared statements is controlled by the mysql2 library. The mysql2 lib uses a lru cache to cache the prepared statements. The default number of cached statements is 16,000 per connection.

See the documentation on prepared [statements](https://github.com/sidorares/node-mysql2/blob/0c422dd9d88a211015ddf4fc

[2019-08-20 16:24] wertlex commented on #9035
Postgres. This is what it is looks like:
[code]

And this is SQL query generated:
[code]

I cannot attach real queries at the moment, but I believe idea is quite clear.
Not sure why nested `SELECT` is chosen to filter task fields instead of top level `SELECT`.
This is somehow affected by `hasMany` relation, because without it field filter is moved to top level `SELECT`

[2019-08-20 16:31] packlikez commented on #11288
Another way is set duplicating false every include then a normal order. It will join everything first then order maybe impact the performance in some case.

[2019-08-20 16:49] chaitanya11 commented on #11021
I totally agree with @chrisjhoughton , implementation of data api needs only `Model,QueryGenerator, AWS SDK` modules, other modules from `sequelize` were not necessary to make database communication.

[2019-08-20 18:08] papb commented on #9035
@wertlex Do you get an error like @wddd or are you just getting a wrong (but valid) query?

[2019-08-20 20:01] psalz commented on #11326
Thanks @sunwukonga , that indeed appears to be the culprit. I did some more testing and it turns out that if you ensure that the `@babel/plugin-transform-typescript` plugin runs before `@babel/proposal-class-properties`, everything works fine ([Babel REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECyCeBhcVoG8BQ1oFt4DEBLAUxABMBCAL

[2019-08-20 20:18] shawnventi commented on #10901
@jhc1982 What was your problem? I am facing something similar.

[2019-08-20 22:11] streetgainer commented on #10476
A clean fix is here... https://github.com/philikon/ReactNativify/issues/4#issuecomment-498726530

[2019-08-21 01:10] KowalskiTom commented on #11021
I don't think there needs to be a hard fork. I would think you just need to
override the connection methods.

On Tue, Aug 20, 2019, 12:49 PM Chaitanya Garikipati <
notifications@github.com> wrote:

[2019-08-21 01:12] netochaves commented on #10397
@janmeier I would like to work on this

[2019-08-21 01:47] papb commented on #10397
Hello @lizzzp1 @netochaves it's great to see more people interested in helping Sequelize. Any help is much appreciated. Also @lizzzp1 sorry we took so long to reply...

@netochaves - I look forward to see a PR from you! You can start whenever you want. If you need help/guidance, let me know.

@lizzzp1 With him working on this, is there any other issue you would be interested in helping with?

[2019-08-21 01:51] papb commented on #11340
Duplicate of #11183

[2019-08-21 01:51] #11340 closed

[2019-08-21 01:58] mdarveau commented on #10819
You are right that CLS used to be a pain when alternate versions of Bluebird resulted in CLS context lost in unexpected ways. I've been debugging this and contributing to fixing such issues in the past. However, as others mentioned, everything went fine when I switched to `cls-hooked`.

Coming from a java world where it's standard to register transactions in a `ThreadLocal` (~equivalent to CLS fro

[2019-08-21 02:11] papb commented on #8019
No idea...

--------

**Suggested workaround**

[code]

@everyone If the above workaround is not enough for any of you, please let me know!

[2019-08-21 02:15] papb commented on #8019
Here is a SSCCE for this issue:

[code]

[2019-08-21 02:17] papb commented on #10832
@bsapot Thanks a lot for sharing this solution.

As I understand, you managed to workaround the issue successfully with the above, right?

[2019-08-21 02:18] netochaves commented on #10397
Hey @papb thanks for the quick reply, so actually i'm thinking i'll be needing your help because i'm new with sequelize. First things first, i want to divide this issue in 2 PRs, one for the set method and one for the add method.

As i understood, the proposal is to make the custom set method be able to place multiple items at once, and the same with add but the add method don't delete the items.

[2019-08-21 02:24] papb commented on #10397
Great!

The key thing about this feature, for both methods (`set` and `add`), is allowing passing raw objects (i.e. plain javascript objects) that don't exist in the database yet. In other words, passing things that don't have IDs. I thought I should clarify this to you, because setting/adding multiple things *that already exist in the database* is already possible (and quite easy): just pass the

[2019-08-21 02:25] papb commented on #10819
@mdarveau I agree.

[2019-08-21 02:27] bsapot commented on #10832
Yes, this seems to have fixed the issue the first person was having which is the problem we had. We deployed it to production earlier today and it is working well.

[2019-08-21 02:55] netochaves commented on #10397
Nice! I get this now. But, how i'll know wich items to unassociate? cause i don't have keys to look, i'll delete the entire model?

for example the @marbuser model
[code]
i'll have to Unassociate all them when set new items with `setProducImages`.

[2019-08-21 03:45] play2010dk commented on #10832
Thank you very much.Before that, I had to set 'max_prepared_stmt_count' to a very big value and restart my MySQL service periodically.

[2019-08-21 04:00] gokulsiteminder commented on #10943
Is this similar to this SO post? https://stackoverflow.com/a/37604261

[2019-08-21 04:30] sushantdhiman commented on #11316
Fixed by https://github.com/sequelize/sequelize/pull/11327

[2019-08-21 04:30] #11316 closed

[2019-08-21 04:36] sushantdhiman commented on #11319
We can optionally support passing `options.lock.of` an `Association` object just like `Model`. So for association it will use that association's given name

[2019-08-21 04:39] sushantdhiman commented on #11339
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-08-21 04:39] #11339 closed

[2019-08-21 04:43] sushantdhiman commented on #11336
Rejected, we discussed this in previous issues extensively.

IIRC I introduced that feature because I needed it in one of my projects. Now I suggest for those cases you can just add an extra column, with scopes you should be able to handle that.

[2019-08-21 04:46] sushantdhiman commented on #11325
I think we should detect and throw early if such mismatch is detected by `VIRTUAL` attribute dependencies. This wont be a breaking change as we want to exclude attributes as original request specifies

[2019-08-21 05:26] wertlex commented on #9035
@papb exactly the same. Generated query is incorrect seems relies on field which is not in `SELECT` clause

[2019-08-21 07:32] Jigar-Freightwalla opened #11342 "Unable to findAll with distinct on and order"
I have a model `Model` which has fields `type` and `date_field`. I am attempting to find all entries having distinct value of `type` , ordered descending by the `date_field` and having type value in the specified array of values.

Thus for the following input:

[code]

And for type values in `[ 'a', 'b', 'c' ]`, the expected output is:

[code]

Code:
[code]

Expected (Postgres) query:
[code]

**To

[2019-08-21 08:59] BartusZak commented on #8050
Is there some way to use RAW Query as scope?

[2019-08-21 10:35] chaitanya11 commented on #11021
@KowalskiTom  we need to override Transactions, Sequelize initialisation (constructor), where username, host, password and some other vars are required. We need to override Query, and we need to override how to handle things like getting version (which will execute a query before executing each user query), etc...
And limitation from aws side as well like pagination after 1MB or 100 records of dat

[2019-08-21 11:56] GSKryachko commented on #11319
Can you give me an example of how to use this ```Association``` object? I cannot find it in the documentation.

[2019-08-21 12:02] sushantdhiman commented on #11319
`Association` https://sequelize.org/master/class/lib/associations/base.js~Association.html
Some examples https://sequelize.org/master/manual/models-usage.html#eager-loading

Example

[code]

[2019-08-21 12:03] sushantdhiman commented on #11319
You can pass this in include instead of model

[2019-08-21 12:45] #11336 closed

[2019-08-21 15:25] tonyguinta commented on #10982
Hi, sorry for the delay in responding.

My workaround was to roll back to Sequelize 4.41.2 and Tedious 3.0.1, which still returns a full datetime string for DATEONLY data types, but at least it returns it in the correct timezone.

[2019-08-21 15:40] 09wattry commented on #7665
I tend to use ```if result.length > 0 return result[result.length - 1]``` I feel it's cleaner then ```if result[0] return result[0];```

[2019-08-21 15:41] A7madXatab commented on #11103
you can also try install @types/sequelize, and then import it in your file

`
const Sequelize= require('@types/sequelize')
`

[2019-08-21 16:01] arnaudbesnier commented on #11320
Hi @papb
Thanks for your response.
I tried to test on a minimal SQLite configuration.

### Context
With the same model configuration (described above) and the following table configuration with SQLite:
<img width="636" alt="Screenshot 2019-08-21 at 17 57 44" src="https://user-images.githubusercontent.com/664261/63447943-3bfd0e80-c43d-11e9-9163-bb19511948a3.png">

### Result
I can create records wi

[2019-08-21 16:53] fboechats commented on #11297
Should we create another method or can we let `findByPk` receive more than one parameter??

[2019-08-21 17:40] prionkor commented on #11233
@papb what about old installations? I have deleted node modules then `npm install` & `npm upgrade` I still have old lodash. Any ideas?

[2019-08-21 18:14] derakhshanfar commented on #7884
as @btroo and @mickhansen said, This issue happened to count of concurrent transactions is greater than your pool.max. I'm trying to describe it in a simple way, Let's see what happens:
**What is the connection pool?**

**what is concurrent transactions?**
in a simple way, if you are trying to run some CRUD command in a nested transaction, it means you are using concurrent transactions. let's assu

[2019-08-21 18:35] JayAndCatchFire commented on #2586
If this is worthy of a separate ticket, let me know and I'll go open one.  I'm not 💯 about whether what I'm about to describe is the same as what's described in this ticket as this ticket has been around for 5 years.

I'm having an issue where with cascading deletion in cases where the child model is set to paranoid but the parent model is not.

Here's the scenario I've got:

[code]

Note that the

[2019-08-21 19:51] esskar commented on #7826
@overflowz has this been addressed?

[2019-08-21 19:52] papb commented on #11297
@fboechats Hello. I think it's better to create a new method, `model.findByPks()`.

[2019-08-21 19:54] overflowz commented on #7826
@esskar haven't played with it for a long time now and last time I remember it was not resolved for me :)

[2019-08-21 19:57] papb commented on #10832
Since the above is technically a workaround, I will leave this open for now

[2019-08-21 19:58] jedwards1211 commented on #7169
[this is causing problems with `dataloader-sequelize`](https://github.com/mickhansen/dataloader-sequelize/issues/88), either `ModelManager.forEachModel` should not be public API, or the toposorting for schema creation should be done in a separate internal method.

[2019-08-21 20:36] papb commented on #7169
@jedwards1211 Can you (or someone else) post a SSCCE/MCVE/reprex for OP's error?

[2019-08-21 20:40] papb commented on #11233
@prionkor Weird... Do you have a `package-lock.json` file? Try deleting that too. Also, can you post the `sequelize` entry in your `package.json`?

[2019-08-21 20:44] papb commented on #11342
Can you please test with latest sequelize version, so we can know if the problem was already fixed at some point?

[2019-08-21 20:49] papb commented on #8050
@bradisbell Stale bot was disabled some time ago :)

[2019-08-21 20:49] papb commented on #8050
As for this feature request, this looks super complicated to me, how would this work in nested includes for example? Does not look trivial. I could be wrong though...

[2019-08-21 21:28] papb commented on #11320
Thanks! Can you please post the generated SQL for the postgres case?

[2019-08-21 21:30] papb commented on #2586
@JayAndCatchFire Please open a new issue (and link to this one as a related issue), I think it's better.

[2019-08-21 21:34] papb commented on #7665
Fixed by #9248

[2019-08-21 21:34] #7665 closed

[2019-08-21 22:02] schester44 commented on #7395
+1 any idea on how to make this work?

[2019-08-21 23:15] cullanshewfelt commented on #5396
@riemannzeta How did you end up solving this? I'm having a similar issue...

[2019-08-22 00:23] papb commented on #11164
Duplicate of #7395

[2019-08-22 00:23] #11164 closed

[2019-08-22 00:23] papb commented on #7395
#11164 was a duplicate of this.

[2019-08-22 00:25] papb commented on #5396
Didn't the comments by mickhansen and riemannzeta above work for you?

[2019-08-22 00:25] papb commented on #5396
I will reopen this as a docs issue

[2019-08-22 04:34] Jigar-Freightwalla commented on #11342
@papb - Hi, unfortunately that is not a trivial task in my case since there are too many breaking changes to be able to switch to the latest sequelize version and test out the problem. Would you have links to any (dummy) sequelize project that uses the latest sequelize version ?

[2019-08-22 06:35] arnaudbesnier commented on #11320
In v4, working case, it is fine:
[code]

In v5, the error happens during the SQL query generation so the SQL is not really generated nor run/logged. Here is the error (as presented in the issue description):
`Named bind parameter "$dev" has no value in the given object`

[2019-08-22 07:12] okabamac commented on #11014
Please were you able to solve this? My connection is established but when I run migration it tells the address is not found

[2019-08-22 10:11] HKFiliatix commented on #7284
@papb For example: I use raw query to make stream, and then build model instances in stream transformation manually.
I just want stream + getters / setters / toJSON of my ORM.

[2019-08-22 11:30] fboechats commented on #11297
@papb Sure, I will try to make a PR with this feature

[2019-08-22 12:18] createthis commented on #10717
I put something together to reproduce this. It would be super useful to provide bug reporters with a basic SSCCE environment for this sort of thing in the future. It is fairly time consuming to create one from scratch. Something like a jsfiddle would be ideal.

In my particular case, this happens because of the change in the behavior of the `underscored` attribute in v5+. See https://github.com/se

[2019-08-22 12:52] dewaleolaoye commented on #6898
I'm having this same issue now and i can't figure how to fix it

[2019-08-22 12:53] netochaves commented on #10397
So @papb i create a failing test
[code]
Is this the right scenario?

[2019-08-22 13:15] TiagoCunhaF commented on #9560
Thanks swamy!

[2019-08-22 13:42] NoamWe commented on #6225
I am having the same problem.
It's 2019 perhaps there's a fix for that already?

[2019-08-22 13:46] papb commented on #6225
@NoamWe Can you please try OP's patch and see if it works for you?

[2019-08-22 14:19] arty-name commented on #11325
I also have a use case that is very similar to what @jayarjo describes in the first comment. It would be very nice to have the possibility to exclude certain attributes from the resulting dataset while having them available for virtual getters.

[2019-08-22 15:40] papb commented on #10397
You're in the right track, but, first of all, I would suggest testing with `create` rather than `build`, because this way it becomes a stronger test (of course, in this case don't forget to handle promises correctly)

Also, there are a few mistakes:

* You have a typo, `thunbmail` should be `thumbnail`
* Instead of `product.set({ ProductImage: [ // ...` you should be doing `product.setProductImage

[2019-08-22 15:41] papb commented on #10397
Here is a suggestion of failing test for you:

[code]

[2019-08-22 15:55] MarianyFerreira commented on #5602
Up https://github.com/sequelize/sequelize/issues/5602#issuecomment-477148412

[2019-08-22 16:05] cullanshewfelt commented on #5396
@papb Never mind I figured out my issue. I was trying to make calls in a .map or .forEach which was acting wonky. Once I switched over to promises it started working. Took my a while to figure that out though!

[2019-08-22 16:13] MarianyFerreira opened #11345 "How to [sequelize.literal('COUNT(DISTINCT(col))', 'col_count']"
Version: "sequelize": "^5.9.0"

I need implement this query using sequelize

[code]

try 1
[code]
try 2
[code]

try 3
[code]
Any solution?

`models.sequelize.literal('COUNT(DISTINCT(col4)) as col4_count')` or `[models.sequelize.literal('COUNT(DISTINCT(col4)), 'col4_count')],` does not work `col4_count` is `undefined`

[2019-08-22 18:42] JayAndCatchFire opened #11346 "Unexpected result of onDelete cascade for mixed paranoid and not paranoid models"
## Issue Description
I'm having an issue with cascading deletion in cases where the child model is set to paranoid but the parent model is not.  In that case, paranoid is not respected on the child model for the cascading deletion.

### What are you doing?

[code]

For a particular Author with one or more Books associated with it, I'm calling `.destroy()` on the Author instance.

### What do you e

[2019-08-22 19:07] Seigo commented on #3759
I'm using Sequelize v5.10.3

And this worked for me:

[code]

[2019-08-22 20:14] papb commented on #5396
@cullanshewfelt Ok! I will still leave this open as a docs issue anyway.

[2019-08-22 20:21] papb commented on #11320
@arnaudbesnier Ah, ok!

[2019-08-22 21:34] alignsoft commented on #10940
https://sequelize.org/master/manual/querying.html

[2019-08-22 22:01] NicolasCaous commented on #10347
I'm dying for this feature. :cry: Is someone implementing it?

[2019-08-22 22:15] NicolasCaous commented on #10347
Don't know if it is a dumb thing to do, but would this feature also include streams for large BLOBs?

Let's say we have a row with a blob column containing 5MB of data. I wanted to stream it to better performance. Should this become a new issue?

[2019-08-23 03:22] netochaves commented on #10397
Looks nice, should not be `to.be.an('array)` instead of `to.be.an.array`?

[2019-08-23 07:50] thomaslwq opened #11347 "Dialect support for Oracle"
## We are using sequelize as an ORM in our project,but now we are using oracle,but I can not find any support for oracle officially.

[2019-08-23 09:30] cyrilchapon commented on #10347
@NicolasCaous I think so. This is pretty different as it does not involve cursor

[2019-08-23 09:59] sushantdhiman commented on #11347
https://github.com/sequelize/sequelize/pull/7123#issuecomment-398294798

[2019-08-23 09:59] #11347 closed

[2019-08-23 10:02] sushantdhiman commented on #11346
`3.35.1` is not supported

[2019-08-23 13:16] MarianyFerreira commented on #11345
Solution:
[code]

[2019-08-23 13:20] #11345 closed

[2019-08-23 13:27] jonesmac commented on #10252
Ironically, I was doing the tutorials and I saw the same error when I forgot to return:
`queryInterface.bulkInsert('Users', fields, {});` was supposed to be
`return queryInterface.bulkInsert('Users', fields, {});`.

Not really clear from the error but hope it helps someone.

[2019-08-23 13:31] fboechats commented on #11297
@papb Can I get some help on how to debug the method a created?? Tried using the vscode debug tool, but didn't work as expected.

[2019-08-23 15:42] papb commented on #11297
@fboechats It usually works for me, I place some breakpoints and navigate through it. Can you be more specific?

[2019-08-23 15:43] papb commented on #10397
Oops, precisely :+1:

[2019-08-23 15:47] fboechats commented on #11297
@papb Sure, it got some errors. I guess it's because I'm running mysql on docker. So now I'm trying to use Mocha tests to debug.

[2019-08-23 16:08] gabegorelick commented on #10997
It would be nice if this was documented in https://github.com/sequelize/sequelize/blob/master/docs/upgrade-to-v5.md, especially if a fix may take a while.

[2019-08-23 17:55] papb commented on #10940
After further investigation, it seems that `LIKE ANY` is supported in Postgres only, since the `ARRAY` datatype is itself PG only. What SQL query were you expecting instead? Are you sure this should work in MySQL?

For this you can use `Op.or`, for example, I believe.

[2019-08-23 17:56] tmont commented on #10966
I've run into the same issue with MySQL using `Sequelize.literal`, it sets the local model instance value to `{ val: 'whatever' }`. Seems like the actual value is not being propagated back to the local instance. Not sure if that would even be possible to resolve without actually issuing another query to get the result of the server-computed value (e.g. an increment like `Sequelize.literal('someCol

[2019-08-23 19:00] papb commented on #11345
Thanks for sharing your solution!

[2019-08-23 19:06] papb commented on #11297
@fboechats To work on this feature, which is not dialect-specific, I think you should just use sqlite instead, it is so much easier...

[code]

[2019-08-23 19:11] papb commented on #11346
Does this happen in latest Sequelize as well?

Regardless, as sushantdhiman said, you're using an old version that only receives security patches now, any chance you could upgrade to latest sequelize?

[2019-08-23 19:24] papb commented on #10347
@NicolasCaous I think that deserves a separate issue indeed, please open one and link it here.

@cyrilchapon Thanks for all the input so far :grimacing: I see you (and others) have been asking about "a direction", can you be more specific? If there is anything I can answer to help you get started it would be great. But I am pretty sure you understand the topic better than I do :+1:

By the way, I

[2019-08-23 19:24] fboechats commented on #11297
@papb I opened a PR with some initial idea and simple tests.

[2019-08-23 19:26] papb commented on #10347
Also, I have another question, does [contra's comment on the other issue](https://github.com/sequelize/sequelize/issues/2454#issuecomment-470669708) work for you?

[2019-08-23 19:26] papb commented on #2454
I will close this in favor of #10347.

[2019-08-23 19:26] #2454 closed

[2019-08-23 20:44] contra commented on #10347
@papb FYI - that code is pretty old, the most recent version is here: https://github.com/staeco/iris-ql/blob/master/src/util/export.js (iris-ql is a layer on top of sequelize that supports streaming via this function)

[2019-08-23 20:50] papb commented on #10347
@contra Excellent, thank you!

Yes I agree, the API should be agreed first. I asked @cyrilchapon to suggest one (for `find`, `create`, `update`, etc), if you could suggest one as well that would be great!

[2019-08-23 20:56] contra commented on #10347
Find All:

[code]

Find And Count All:

[code]

Create:

[code]

Create:

[code]
Update:

The use case for this would just be updating records by ID? IMO this could be left out.

[code]

[2019-08-23 21:01] papb commented on #10347
@contra Thanks! Can you add the preparation and usage parts as well, i.e., a simple way to use the `stream` and how `newModels` / `modelUpdates` were defined?

[2019-08-23 21:16] contra commented on #10347
@papb Updated

[2019-08-23 21:20] Dlas1212 opened #11349 "Adding a column after a specified column"
## Issue Description

### What are you doing?

I am trying to add a column to my table after a specified column.

### What do you expect to happen?

Example If i got [title - locations - slug ] I want to add in the column 'salary' and place it between title and locations.

### What is actually happening?

The column just gets added to the end of SQL table

[code]

### Additional context
Add any ot

[2019-08-23 21:56] JayAndCatchFire commented on #11346
This is for work and the team is pretty serious about "stable" versions of dependencies.  I could try this myself just to see if it's fixed in more recent versions, but I doubt I'll have time to test it in the near future.

[2019-08-24 05:36] papb commented on #11349
Can you post which SQL query was generated and what SQL query did you want instead?

[2019-08-24 11:40] epyx25 opened #11351 "findOrCreate transaction"
## Issue Description

I am using Sqlite 3 (4.0.6) with Sequalize (4.38.0). Models are Tournament what hasMany Season (unique index year and tournamentId). Here is the flush class:

[code]

And here is how I use it in my test:

[code]

I expect one tournament and two seasons (with year 2011 and 2012) to be created, but only one season is created, with the year 2012. The flushSeason method runs twic

[2019-08-24 15:00] netochaves commented on #11297
Hi @fboechats if you're still trying to debug the test, you can do it with `inspect-brk` flag, and use `debugger` to create a breakpoint.

[2019-08-24 16:45] BartusZak commented on #7541
@subatomicglue I'm facing similar issue, but I do have `id` column.

SQL returned 2431 rows but sequelize merged them to 456 :(
When I use `{raw: true}` it returns all records correctly but `virtual` columns definitions is not working..

![image](https://user-images.githubusercontent.com/16143176/63640319-f93a7100-c69e-11e9-9706-16d44a0c0d46.png)

[code]

[code]

[code]

[2019-08-24 16:55] papb commented on #11351
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-24 16:55] #11351 closed

[2019-08-24 21:30] marcpre opened #11352 "Sequelize bulkCreate() saves previous day"
## Issue Description

### What are you doing?

I am trying to save the following array of json in my db:
[code]
When saving the above array with `bulkCreate()` it looks like the following in my mysql db:
[code]
My sequelize definition looks like the following:
[code]
Any suggestions why the previous day is saved instead of the exact given date?

### What do you expect to happen?

I would like to s

[2019-08-24 21:57] papb commented on #11352
This looks like a timezone issue, have you considered this?

Sequelize allows configuring the timezone in the constructor options

[2019-08-24 22:48] papb commented on #11296
Oops! For some reason I missed your issue among the others. I usually look at issues much faster than these 17 days... Sorry!

Now, as for the issue, we really need more info. You were too succinct. Please elaborate on what you mean, showing examples of situations in which you didn't get what you wanted, and so on.

[2019-08-25 03:36] alxmcr opened #11353 "Hook beforeBulkCreate with Bcrypt: Don't change the password with a hash"
## Issue Description

### What are you doing?

I have a User's seeder where I'm generating multiples User's objects (name, username, password, email, and role), also I'm trying to hash passwords for every User's object.

**models/User.js**

[code]

**seeders/20190825022226-demo-user.js**

[code]

**Run npm command**

[code]

### What do you expect to happen?

I want all users created by a seeder t

[2019-08-25 07:12] #11315 closed

[2019-08-25 11:10] StefanFeederle commented on #4124
This is still an issue.
@sushantdhiman Can you please reopen this?

[2019-08-25 14:53] papb commented on #11353
Hello, calling `bulkInsert` does not trigger the `beforeBulkCreate` hook, please try calling `bulkCreate` instead and let me know. Should work.

[2019-08-25 14:58] papb commented on #4124
I noticed this problem when investigating another issue, I was already aware of this but didn't know there was an issue for it!

[2019-08-25 15:01] papb commented on #4124
By the way: I noticed that the value returned by `destroy` depends on the dialect. I would like to consider this more of a docs issue than a bug. Any objections? I think normalizing the behavior across all dialects, although ideal, would require extra queries... Perhaps a compromise can be achieved... I am having some ideas... Stay tuned!

[2019-08-25 15:31] sm2017 commented on #11296
Currently I cannot provide you code to reproduce issue ( if you need let me know)

In sequelize we have 2 way to set parameters , binding and replacement

I see that , we I use sequelize models to generate query, sometimes it generate queries with replacement method , like

[code]

I want force sequelize always bind parameters, like

[code]

Or

[code]

[2019-08-25 15:34] alxmcr commented on #11353
Hi @papb! Thanks for your message!

I've changed `bulkInsert `for `bulkCreate`, but unfortunately, I have another error:

`ERROR: queryInterface.bulkCreate is not a function`

This is my code modified:

[code]

Please, can you help me with this problem? I'll appreciate your help.

[2019-08-25 15:38] papb commented on #11296
Thanks. I would like to see an example that generates each case please!

[2019-08-25 15:40] papb commented on #11353
You have to use the model itself instead of `queryInterface`. Import your model in the migration file and call `user.bulkCreate`

[2019-08-25 18:14] lucastaliberti commented on #10142
Hey, @papb sorry for the delay.
Here is an MCVE in codesandbox. Please let me know if you need anything else.

https://codesandbox.io/s/sequelizeissue10142-vqozc

[2019-08-25 19:15] alxmcr commented on #11353
@papb I've changed `queryInterface` for `User`, but unfortunately I have another error:

`records.map is not a function`

Now, my code is:
**seeders/20190825022226-demo-user.js**

[code]

Please, can you help me with this problem? I'll appreciate your help.

[2019-08-25 21:17] papb commented on #11353
Can you please post full stacktrace?

[2019-08-25 22:42] alxmcr commented on #11353
Of course, no problem.

[code]

and the npm log is:

[code]

[2019-08-25 23:28] papb commented on #11353
I was not able to reproduce... Can you create a GitHub repository that I can clone and run some command to see your problem?

[2019-08-26 04:10] bradennapier opened #11355 "Create & Lock"
## Issue Description

This may just be me not understanding the general flow of everything properly, but wanted to make sure I am doing this right.  I spent just over an hour trying to read through the source as well as searched github issues & stackoverflow. It doesn't seem like there's any way to create and lock instantly when creating a new row.

I have a table `Accounts` with a unique column `

[2019-08-26 04:14] jpollard-cs opened #11356 "typings could be improved when executing queries with QueryTypes.RAW"
## Issue Description

The current definition for the `query` method overload looks like this:

[code]

this means you end up with an error whenever attempting to check `results[0].length`

this could instead use a tuple:

[code]

### Is this issue dialect-specific?

- [x] No. This issue is relevant to Sequelize as a whole.
- [ ] Yes. This issue only applies to the following dialect(s): XXX, YYY, Z

[2019-08-26 06:50] NoamWe commented on #6225
@papb thank you so much for replying.
I'm pretty new to node.js so sorry if this question is stupid.
1. if I go and change code in the node_modules directory, I won't be able to use it in production, and that's a problem for me. Or am I wrong?
2. I searched the OP's code in here: node_modules/sequelize/lib/dialects/abstract/query-generator.js and could not find it.
I am using sequelize 5.16.0. per

[2019-08-26 07:37] BartusZak commented on #5193
the same problem here? anyone?

[2019-08-26 08:20] artjoms-faltins commented on #8920
`return` does not influence on error appearance. The issue still exist in  "sequelize": "^4.42.0", "sequelize-cli": "^5.4.0"

[2019-08-26 10:17] EdByrnee commented on #5193
The best workaround is to not use sequelize

[2019-08-26 13:29] papb commented on #11356
Can you post a code snippet that doesn't compile currently, and that you would like to see compiling?

[2019-08-26 13:35] papb commented on #6225
Don't worry, feel free to ask anything! If it's easy to respond that's better for me, not worse :grimacing:

You're right (you could make some dirty hacks but I don't recommend that). When I asked this, the goal was just to see if it works, by no means it shall be a permanent solution. Once you tell me that it works we shall proceed to work out a real fix.

Hmm, looks like the code was refactored,

[2019-08-26 13:36] jpierrep commented on #5193
And what do you recommend instead??

*Jean Pierre Peña S**.*
Ingeniero Civil Informático | Universidad de Valparaíso, Chile

Cel:  +56 9 59651256
E-mail:  jpena.suazo@gmail.c <jean.pierre@inversionesodin.cl>om

El lun., 26 ago. 2019 a las 6:18, Ed Byrne (<notifications@github.com>)
escribió:

[2019-08-26 13:43] papb commented on #5193
@jpierrep @EdByrnee @BartusZak @jembach @masonjwhite @AmbroiseVuaridel @Relequestual @marcelorl - Can some of you please try the PR created by pateketrueke (#9384) and see if it fixes the problem for you?

You can try it by using `npm install https://github.com/json-schema-faker/sequelize/tarball/bugfix/merge_nested_associations`.

[2019-08-26 13:46] papb commented on #8920
@SvemirskiHod Can you open a new issue about this?

[2019-08-26 13:46] papb commented on #8920
@artjoms-faltins Does the problem happen with sequelize v5 as well?

[2019-08-27 01:14] Akila1928 commented on #2839
Does sequelize support MSSQL geometry?

[2019-08-27 02:25] renatosistemasvc opened #11357 "Erro with electron:build"
I am trying to install sequelize with vue and vue-cli-plugin-electron-builder.

Everything works fine when I run npm run electron: serve

![image](https://user-images.githubusercontent.com/15252973/63735963-ee770c00-c857-11e9-89ca-1dcfe404434d.png)

but when I run the npm run electron: build command. Prints the error when I open the system:

![image](https://user-images.githubusercontent.com/15252

[2019-08-27 04:52] sm2017 commented on #11296
@papb , for simplicity I reproduce it using sqlite dialectic (I am using postgres)

[code]

In the above mentioned code ,  findByPk generate replacement parameter

[2019-08-27 05:00] billxinli opened #11358 "Typing incorrect for finders for rejectOnEmpty"
## Issue Description

The finder options for `rejectOnEmpty` accepts a boolean (throws a generic Sequelize error) or an Error object, throws that instance of error.

However, the typings only exposes `boolean`

https://github.com/sequelize/sequelize/blob/master/lib/model.js#L1671

https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L567

### What do you expect to happen?

Ideal

[2019-08-27 07:53] alemarcha commented on #9379
Any update about this? I have the same issue when I try to update my instance after a build is made because of that instance have isNewRecord property set to true when I built.

[2019-08-27 12:48] #11357 closed, assigned to nobody

[2019-08-27 17:30] cheskayang opened #11362 "bulkCreate missing fields value"
## Issue Description
On a table we have a property defined on the model called **customDescription**, which is mapped to the column 'description' in the sql table.

The tricky thing is we also have a virtualProp called 'description' defined on the model.

What happened here is that when using bulkCreate, the sequelize library first maps all fields defined in the model to the actual fields in the s

[2019-08-27 20:06] amites opened #11363 "MySQL undo migration fails to remove column if no foreign keys"
## Issue Description

When running `npx sequelize-cli db:migrate:undo` migration fails to run `queryInterface.removeColumn` where there is not a foreign key associated with the column

### What are you doing?

[code]

### What do you expect to happen?

Migration undo would run removing columns

### What is actually happening?

[code]

### Additional context
Cross compiled from typescript

Code has

[2019-08-27 20:56] a88zach opened #11364 "Update maps returned instance to the wrong model"
## Issue Description

When multiple models are wired up to the same table. The model's static update method can incorrectly map the returned instance to the wrong model

### What are you doing?
[code]

### What do you expect to happen?

The updated instance should be an instance of Bar

### What is actually happening?

The updated instance is an instance of Foo

### Additional context
The root cau

[2019-08-27 21:31] carloshmm opened #11365 "dollar sign required to inform that field is from an included model."
I'm trying to search for a field that comes from a included model:
Example:
[code]
The query value is set to:
`id: mallId, '$app.partner_id$': hash`

I found out about the dollar sign requirement reading these answers from:
https://stackoverflow.com/a/56858118
https://stackoverflow.com/a/56240135

I wasn't able to find associated documentation about this, is it available or not? If not, I think it

[2019-08-28 13:40] ghost opened #11366 "this.lib.Connection is not a constructor"
## Issue Description
I'm getting the following error when trying to connect to SQL Server using mssql & tedious.
this.lib.Connection is not a constructor

### What are you doing?
I'm not sure what all I should submit so i'll include my package.json and some sample code for trying to create my connection.

package.json
[code]

[code]

### What do you expect to happen?
Before anyone bashes me I just

[2019-08-28 16:59] NikhilNanjappa opened #11367 "Sequelize translation of DATEDIFF query"
## Issue Description

I use the npm module `sequelize`. I'm trying to basically find all the records from a table which is going to expire **and also which got expired** (referring to the `expiresAt` column) from 30 days of today.

I used the query `SELECT DATEDIFF(expiresAt, CURDATE()) FROM TableName` and I get the results as expected. The issue is that, I'm not able to translate that query into

[2019-08-28 18:35] #11366 closed, assigned to nobody

[2019-08-28 21:52] knoxcard opened #11369 "Cannot read property 'includes' of undefined"
[code]

[2019-08-28 22:34] knoxcard commented on #11369
Nevermind, problem on my end...

[code]

[2019-08-28 22:35] #11369 closed

[2019-08-29 01:14] alxmcr commented on #11353
Of course @papb! No problem. I'm so sorry for my delay in my response.  This [my repo](https://github.com/alxmcr/login-passport-jwt/tree/sequelize-bcrypt-v1) with SQLite configured. The branch is `sequelize-bcrypt-v1`. I have two commands: `npm run migrate` and `npm run filldb`

Please, can you help me with this problem? I'll appreciate your help.

[2019-08-29 02:46] amites commented on #11363
👍 updated the original issue with the workaround -- the original `await` method is straight out of the docs -- suspect it's actually how bluebird is handling an empty set but didn't nail down root cause

[2019-08-29 02:47] mikebfox commented on #6423
This is such a dumb change. Holy fuck!

[2019-08-29 03:25] papb commented on #11364
@a88zach I guess it might make sense... But have you considered just using multiple names scopes instead?

[code]

[2019-08-29 04:11] #11358 closed

[2019-08-29 04:16] sushantdhiman commented on #11349
https://sequelize.org/master/class/lib/query-interface.js~QueryInterface.html#instance-method-addColumn

We support passing `after` as 4th argument options. This is only supported for MySQL.

[2019-08-29 04:16] #11349 closed

[2019-08-29 04:20] sushantdhiman commented on #11363
https://sequelize.org/master/class/lib/query-interface.js~QueryInterface.html#instance-method-removeColumn

`removeColumn` only accepts 3 arguments, you are passing 4 arguments to it. It does not need `{type: Sequelize.TEXT}`

[2019-08-29 04:20] #11363 closed

[2019-08-29 04:21] sushantdhiman commented on #11358
:tada: This issue has been resolved in version 5.17.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.17.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-29 04:24] sushantdhiman commented on #11364
Interesting usecase, possible fix will be to remove https://github.com/sequelize/sequelize/blob/398ae59354973348d49d12a08bda2c07bdd7514e/lib/query-interface.js#L1040 altogether and have `Model` class set `options.model` whenever using `queryInterface.bulkUpdate`

[2019-08-29 04:29] sushantdhiman commented on #11353
I think your haven't read documentation. `User.bulkCreate('User', generateUsers(10), {});` wont work because it accepts array in first argument

https://sequelize.org/master/class/lib/model.js~Model.html#static-method-bulkCreate

Read reference on how to use a given method and adjust your code accordingly

[2019-08-29 04:29] #11353 closed

[2019-08-29 05:59] RanjithRanaRudra commented on #11103
Thanks , it works if we use

const { Sequelize } = require('sequelize');
instead of

const Sequelize = require('sequelize');

[2019-08-29 07:11] heekyu opened #11370 "table name pluralize error (staff)"
## Issue Description

word 'staff' 's plural format is also 'staff'
but sequelize change this name to 'staffs'

'staff'

'apples'

### What are you doing?

[code]

### What do you expect to happen?

_I wanted Foo!_

### What is actually happening?

_The output was Bar!_

[code]

### Additional context
Add any other context or screenshots about the feature request here.

### Environment

- Sequeliz

[2019-08-29 11:56] sulian commented on #11103
It works

[2019-08-29 12:34] papb commented on #6423
Related: #11225

[2019-08-29 13:01] papb commented on #11370
Please open this issue on [dreamerslab/node.inflection](https://github.com/dreamerslab/node.inflection). In the meantime you can force the name of the table to be `staff` by using the explicit table name declaration

[2019-08-29 13:01] #11370 closed

[2019-08-29 13:53] a88zach commented on #11364
@papb, that, indeed, would solve the issue for the example I gave above.  However, that is not my real use case as it's a bit more complicated.

We publish a shared npm package that exposes our data repositories and domain models that are derived from the sequelize models.  This package is then consumed in our api and client projects so that the domain models can be used consistently throughout ou

[2019-08-29 16:21] papb commented on #11364
@a88zach Thanks for the detailed response. Looks complicated indeed. Well, I agree with you, if `update` is the only one acting differently regarding this, it should be changed.

Can you try sushantdhiman's suggestion above and tell us if it works?

[2019-08-29 17:16] GhostGLR commented on #11103
It also gets intellisense partly working, but (for me) intellisense is still not working within functions such as create() or ...

[2019-08-29 18:26] papb commented on #11103
@GhostGLR Can you show a SSCCE/MCVE/reprex where `const { Sequelize } = require('sequelize');` does not give correct intellisense for `create`?

[2019-08-29 19:36] papb commented on #10754
Closing in favor of #11225

[2019-08-29 19:36] #10754 closed

[2019-08-29 19:40] papb commented on #10710
@cminardi Does the monkeypatch above work for you?

[2019-08-29 19:46] papb commented on #10470
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-08-29 23:49] bradennapier commented on #11365
I actually ran into this yesterday and ended up having to comb through stack overflow, old documentation which does mention it, etc.

It is mentioned in the docs but it isn't very clear or prominent.

https://sequelize.org/master/manual/models-usage.html#top-level-where-with-eagerly-loaded-models

[2019-08-30 00:26] papb commented on #11365
@bradennapier Nice find!! This answers my question from above: it deserves to be documented (more explicitly)

[2019-08-30 03:01] #11356 closed

[2019-08-30 03:14] sushantdhiman commented on #11356
:tada: This issue has been resolved in version 5.17.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.17.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-30 06:36] ubreddy opened #11371 "SequelizeConnectionError: authentication failed for user "admin": too many failed login attempts"
## Issue Description
Occasionally Sequeliize starts throwing loging errors on postgre connections...
the same user id and password work when connected again from a different machine...

SequelizeConnectionError: authentication failed for user "appserveruser": too many failed login attempts

### What are you doing?

[code]

### What do you expect to happen?

Connection to work all the time.

### Wh

[2019-08-30 06:43] GhostGLR commented on #11103
I Did This:
![1](https://user-images.githubusercontent.com/45856848/63998718-04febb00-cb17-11e9-9b6f-fcc12f897db8.png)
![2](https://user-images.githubusercontent.com/45856848/63998719-05975180-cb17-11e9-9b67-9ebec4c0ac42.png)
![3](https://user-images.githubusercontent.com/45856848/63998720-05975180-cb17-11e9-8458-17fe3b0d6cc1.png)

Thanks For Helping!

[2019-08-30 06:46] GhostGLR commented on #11103
Thanks it worked.

[2019-08-30 07:01] ubreddy commented on #11371
This issue occurs when there is a connection limit set on the user id and the poolsize exhausts that limit.

[2019-08-30 07:01] #11371 closed

[2019-08-30 07:41] sjagoe commented on #7180
Google CloudSQL for postgresql does not support maintenance windows for read replicas: https://cloud.google.com/sql/docs/postgres/replication/tips#read-replica

The result of this is that we had the read replica go through maintenance during a high traffic time, resulting in an outage.

[2019-08-30 15:11] papb commented on #11103
I have changed this to a docs issue. This just has to be better explained in our tutorials.

[2019-08-30 16:36] w-etc opened #11372 "Adding missing createRoles association method for HasMany relationship"
## Issue Description

### Is your feature request related to a problem? Please describe.
I have a OneToMany relationship between a Post and Comments. I noticed that this relationship provides me with the following methods:

[code]

In a particular use case that I have, I also need a `createRoles` method, which is not provided.

### Describe the solution you'd like
I'd like the `hasMany` relationsh

[2019-08-30 20:54] papb commented on #11372
I agree. Thanks for the request.

[2019-08-31 11:16] #11276 closed

[2019-08-31 11:26] sushantdhiman commented on #2084
Fixed by https://github.com/sequelize/sequelize/pull/11095

[2019-08-31 11:26] #2084 closed

[2019-08-31 11:36] sushantdhiman commented on #11276
:tada: This issue has been resolved in version 5.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-31 12:27] vanthome commented on #11276
thx!

[2019-08-31 14:57] alxmcr commented on #11353
Thanks @papb and @sushantdhiman for your help!

I resolved my problem! Yes, I wasn't passing the parameters correctly to the bulkCreate method, I'm so sorry. Now, my code is like this:

[code]

And It works!.

This is a screenshot from DB Browser for SQLite:

![image](https://user-images.githubusercontent.com/8689897/64065600-5b363180-cbdd-11e9-9aa3-8266147a6ab9.png)

**Passwords encrypted!** 😃

T

[2019-08-31 16:38] shanegibney commented on #9410
What is the correct syntax for the line starting Level_id: sequelize.literal(".....

[code]

Removing that line, everything works fine.

I get the error from Express.js,

`ReferenceError: Sequelize is not defined`

Task.js does import Sequelize and it also creates the model.

Task.js

[code]
I am using a MySQL DB.

Any help would be greatly appreciated,

Thanks

[2019-08-31 17:01] jedwards1211 commented on #9410
@shanegibney
* `Sequelize` undefined in your express route file, not in `Task.js`.  You need `const Sequelize = require('sequelize')` in the file that defines your express route.
* You probably also need parentheses around the subquery like
[code]

[2019-08-31 17:42] shanegibney commented on #9410
@jedwards1211 That works thank you. I Both needed to require sequelize again and the brackets exactly as you suggested. It would be easier to use id instead of level_id as you say. Thanks again, much appreciated.

[2019-09-01 07:29] pallatee commented on #8726
Still nothing on this?

[2019-09-01 18:13] norrodev opened #11374 "Weird behaviour with bulkCreate updateOnDuplicate option used inside include"
## Issue Description

### What are you doing?

I am trying to create and associate a Many-To-Many related object B during creation of object A, however if an object B exists to just associate object A with the already existing object B in one atomic bulkCreate call (I do not actually require the bulk part of bulkCreate, but was not able to find a way to do it with normal create. Upsert does not al

[2019-09-02 07:03] JamesJansson commented on #10202
My suggestion would be to convert this line:
https://github.com/sequelize/sequelize/blob/d776d7a54478b2bab7d35db8ff99aafad63cbd9e/lib/model.js#L3241

to
`return this.runHooks('afterBulkUpdate', instances, options).then(() => {`

And update the hooks function accordingly. However, this will definitely cause a breaking change. If I were to do such a pull request, what is the likelihood that it would

[2019-09-02 09:59] JohnRostislavovich commented on #11185
Have the same problem

[2019-09-02 10:11] AlexBykovMinsk commented on #9605
Same problem. The issue is actual for now

[2019-09-02 10:27] xiabaiyang opened #11375 "the value of createdAt and updatedAt is 0000-00-00 00:00:00"
## Issue Description
After upgrading from v4 to v5, when the create function is called, the createdAt and updatedAt field is displayed 0000-00-00 00:00:00。
I checked this problem and found out that the problem is in the upgrade code of the v5.0.0-beta.8 version.

From
[code]
To
[code]

### What are you doing?

[code]

### What do you expect to happen?

I want the record to show the result as 2019-

[2019-09-02 13:16] dewaleolaoye commented on #6898
Okay, it was caused by an empty file in the models folder.
Sequelize is trying to import a file that isn't a model.

[2019-09-02 13:59] papb commented on #6898
Hi everyone, as a side note, `sequelize.import` will probably be deprecated soon (of course the CLI will be updated accordingly). Just so you know.

[2019-09-02 15:34] papb commented on #11375
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-09-02 15:36] papb commented on #10202
@JamesJansson would it work only for postgres? Other dialects would have `instances` set to undefined?

[2019-09-02 15:50] packlikez commented on #11288
But we still need order in include

[2019-09-02 15:57] packlikez commented on #11288
When I order with literal it's work but when I use [Model,'DESC'] it's put order only the outside

[2019-09-02 21:01] MarceloAplanalp commented on #311
Any news about this feature request? Are you planning to introduce it in the near future?

[2019-09-03 00:07] JamesJansson commented on #10202
@papb You're right. Fundamentally, you could check the mode an behave accordingly. We're probably at the edge of what would be considered functionality useful for a cross-platform ORM. What is the general opinion of how Sequelize treats platform-specific functionality?

[2019-09-03 00:12] JamesJansson commented on #10202
Maybe to allow backwards compatibility we could use the following format
`return this.runHooks('afterBulkUpdate', options, instances).then(() => {`
at
https://github.com/sequelize/sequelize/blob/d776d7a54478b2bab7d35db8ff99aafad63cbd9e/lib/model.js#L3241

[2019-09-03 02:11] jpollard-cs opened #11376 "typings for `IncludeOptions.include` should accept `Includeable | Includeable[]`"
## Issue Description

typings for `IncludeOptions.include` should accept `Includeable | Includeable[]`

### What are you doing?

Upgrading to Sequelize 5 doing something like this will no longer compile in TypeScript as it is not assignable to `Includeable[]`

[code]

### What do you expect to happen?

`include` should accept `Includeable | Includeable[]` - not sure if there are some other complex

[2019-09-03 02:30] jpollard-cs opened #11377 "typings for `FindAttributeOptions` incorrect"
## Issue Description

The typings for `FindAttributeOptions` appear to be incorrect. They do not work as expected with the Sequelize `Literal` type.

### What are you doing?

Upgrading to Sequelize 5 doing something like this will no longer compile in TypeScript`

[code]

### What do you expect to happen?

`attributes` should accept `[Literal, ...string[]]` or similar (not sure on the specifics he

[2019-09-03 07:15] wata-lb opened #11378 "typings for PoolOptions.evict is not defined"
## Issue Description
The typings for PoolOptions.evict is not defined.

### What are you doing?
Upgrading to Sequelize 5 doing something like this will no longer compile in TypeScript`

[code]

### What do you expect to happen?

PoolOptions in sequelize.d.ts, define evict:number

### What is actually happening?
[code]

### Environment

- Sequelize version: 5.18.0
- Node.js version: v8.16.0
- Opera

[2019-09-03 10:01] #11378 closed

[2019-09-03 10:31] yoshiya0503 commented on #11225
[My Workaround Plan]

[1] first of all
[code]

[2019-09-03 10:31] yoshiya0503 commented on #11225
[My workaround plan]

[2019-09-03 10:44] serge1peshcoff commented on #11225
For those stumbled upon this issue, here's how I've fixed it:
1) converted timestamps to lowercase manually, like this:

[code]

2) converted all the foreign keys to lowercase like this:

[code]

[2019-09-03 11:51] Palpie opened #11380 "MSSQL newsequentialid() default value"
I have a uniqueidentifier column with sequential ID:s using `newsequentialid()` to get the value. How can I use this when inserting with sequelize?

I've tried using it as a defaultValue:

    id: {
        type: 'UNIQUEIDENTIFIER',
        primaryKey: true,
        defaultValue: sequelize.literal('newsequentialid()'),
    }

But that is used in the insert statement which is not allowed and the MS

[2019-09-03 12:24] Palpie commented on #11380
If I add `autoIncrement: true` the insert works, but then the id is null afterwards.

[2019-09-03 14:22] daviddelusenet commented on #2572
I'm now also running into this easy :(

[2019-09-03 15:58] sturdynut commented on #2577
@papb - I will do my best to do up a PR soon.

[2019-09-03 16:01] jeremyputeaux commented on #11285
I experimented the same problem today. Any progress on this issue?

[2019-09-03 18:08] a88zach commented on #11364
@papb, the suggestion above is to make a change in the sequelize source code.  I'm not set up right now, nor have the bandwidth to make/test changes to the source code.

[2019-09-03 18:11] LittleSaya commented on #7197
My choice is writing and wrapping raw queries to mock the functionality of view,  though I still think it'd be better if there is an official support for it.

[2019-09-04 00:14] waypar opened #11381 "Typescript issue with date in where"
## Issue Description
Date types are not accepted as an option in a findAll where.

### What are you doing?

[code]

### What do you expect to happen?

tsc should compile the file without issue.

### What is actually happening?

tsc complains that a Date is not assignable to `WhereAttributeHash`
I feel like `WhereValue` should contain Date, but I assume it is not there for a reason?

[code]

### En

[2019-09-04 01:41] mavrick opened #11382 "schema for index breaks for v5.18.0"
## Issue Description
https://github.com/sequelize/sequelize/pull/11274 - breaks use of defining indexes manually as per https://sequelize.org/master/manual/models-definition.html#indexes

### What are you doing?

[code]

Rolling back to `5.17.2` fixes issue.

### What do you expect to happen?

Executing (default): CREATE INDEX "test_slug_idx" ON "public"."test" ("slug")

### What is actually happe

[2019-09-04 03:09] ralexandr commented on #10975
It seems i have same problem =/

[2019-09-04 07:26] gabooh commented on #9905
Docs are still outdated about this, it's really misleading, I've just ran into the same issue, using notNull: true as per the docs details.

[2019-09-04 07:37] sarangnx opened #11383 "A way to specify join type."
## Issue Description

### Is your feature request related to a problem? Please describe.
I'd like to have an option to specify full outer join rather than left outer join in `includes`

### Describe the solution you'd like
Something like this would be nice to have:

[code]

### Describe alternatives/workarounds you've considered
The only workaround/alternative I have found is to write raw queries.

[2019-09-04 12:00] mysuf commented on #120
@papb Unfortunately, that project is not maintained for some time and looks dead..

[2019-09-04 12:46] ustun commented on #7240
@sushantdhiman This should be re-opened I think.

[2019-09-04 13:37] sushantdhiman commented on #11380
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-09-04 13:37] #11380 closed

[2019-09-04 13:46] papb commented on #120
@mysuf Hmmm... That's unfortunate... So perhaps there is no up-to-date workaround then.

[2019-09-04 13:47] papb commented on #11383
Thanks for the report, I am also not aware of a better workaround than raw queries for now. If someone else knows a better workaround, please share!

[2019-09-04 13:49] papb commented on #9905
@gabooh I am currently working on improving the docs, stay tuned!

[2019-09-04 13:55] papb commented on #10202
@JamesJansson I think feature is acceptable, even if it works only for postgres, provided that it does not break compatibility. So I would agree to providing `instances` as a new last argument in the hooks (which shall be undefined for other dialects). What do you think?

[2019-09-04 13:56] papb commented on #11285
@jetaimefrc You can subscribe by clicking the button

![image](https://user-images.githubusercontent.com/20914054/64261229-95b40d00-cf02-11e9-9cad-802fabccf452.png)

@jeremyputeaux No progress that I know of

[2019-09-04 14:00] papb commented on #7197
@LittleSaya Have you tried [sequelize-views-support](https://github.com/abelosorio/sequelize-views-support)?

[2019-09-04 14:05] papb opened #11384 "Add some more packages to the docs resources section"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

I found three repositories that look useful to be included in the [resources section of the docs](https://sequelize.org/master/manual/resources.html):

* https://github.com/abelosorio/sequelize_replace_enum_postgres
* https://github.com/abelosorio/sequelize-views-support
* https://github.com/abelosorio/sequel

[2019-09-04 14:08] papb commented on #11384
The last one will not be needed once #10441 gets merged

[2019-09-04 14:10] papb commented on #2572
Hi everyone, is this really still an issue? Doesn't `DataTypes.DATEONLY` solve the problem?

[2019-09-04 14:18] LittleSaya commented on #7197
@papb I'm using MySQL and sequlize-views-support's doc says it only supports PostgreSQL so I didn't try it.

[2019-09-04 15:42] papb commented on #7197
@LittleSaya Ah, I see! Ok.

[2019-09-04 15:46] papb commented on #311
@MarceloAplanalp There is no plan from maintainers to tackle this in the near future, but if any contributor is willing to help, that would be great. Perhaps @scott-wyatt is working on it, I don't know

[2019-09-04 15:48] scott-wyatt commented on #311
I'm fairly back logged at the moment, but I'm fairly certain it can be done.  There is already multiple primary key support for most of Sequelize, add it to associations is tricky, but doable.

[2019-09-04 15:50] papb commented on #11364
@a88zach I understand, if later you have the time for it let us know.

If someone else is willing to check it as well, it would be great.

[2019-09-04 16:26] papb commented on #9605
Hello, can anyone please convert OP's SSCCE into a failing test case?

- Fork the sequelize repository
- Add one commit on top of master that adds a failing test
- Create a PR just adding the failing test (so I can clearly see it) - you can name the PR 'failing test for 9605'
- Ping me there and link to this very comment

Thanks!!

[2019-09-04 17:40] jpollard-cs commented on #11377
@papb @sushantdhiman does `status: understood` label indicate I should move forward with a fix? Should I just go ahead with `[Literal, ...string[]]` or is there more this type definition should support?

I should be able to get to this next week.

[2019-09-04 19:05] duncanmapes commented on #11330
+1

[2019-09-04 19:08] LucasBadico opened #11386 "Migrations with sql raw scripts"
## We want to build migrations with raw sql

### Migrations with anything more then sql files.
We want to use the migration interface of sequelize to run raw sql migrations. So everyone speak the same language across the company. DBAs, QAs, DEV in others stacks then js.

Everyone today already speak SQL.

### Solution
A new subset of intelligence on sequelize for understanding sql files in migrati

[2019-09-04 19:12] ccemeraldeyes commented on #7631
This is still an issue as of version 5.18.0

[2019-09-04 19:13] ccemeraldeyes commented on #7631
'UPDATE "candidate_applications" SET "user_id"=\'some-uuid\',"updated_at"=\'2019-09-04 19:03:07.718 +00:00\' WHERE (uuid_generate_v4() OR "user_id" = \'some-uuid\')',

[2019-09-04 19:46] ccemeraldeyes commented on #10710
Same issue, for now getting by with `findOrCreate` but will need a real `upsert` soon.

[2019-09-04 19:52] papb commented on #10710
@ccemeraldeyes Does the monkeypatch above work for you?

[2019-09-04 19:58] ccemeraldeyes commented on #10710
I mean, I'm sure it would result in the correct code, but no, forking the library doesn't work for us.

[2019-09-04 20:16] mdcoon commented on #11090
What exactly should be in the list for updateOnDuplicate property? I tried above Object.keys method but there is no static "attributes" on my model class. There is, however, MyModel.prototype.rawAttributes. I tried using that but it looks like it adds all columns as "EXCLUDE" in the update set. Is that supposed to happen? I don't want them excluded, I want them updated. Should I only add the prima

[2019-09-04 20:37] cheapsteak commented on #10710
@ccemeraldeyes I wonder if @papb might be asking to confirm whether the monkeypatch works so that they can divert more effort into implementing it into the main code if it does work?

But yeah I wouldn't label this as having an "Existing workaround", monkey patching js files in node_modules is not really a workaround that most people can deploy

[2019-09-05 01:13] papb commented on #11386
This totally makes sense.

Nice!! Did you know that the migration library behind sequelize-cli ([umzug](https://github.com/sequelize/umzug)) [already supports this](https://github.com/sequelize/umzug#configuration)?

[![image](https://user-images.githubusercontent.com/20914054/64303919-b57a1e00-cf60-11e9-9f69-06a26c828b83.png)](https://github.com/sequelize/umzug#configuration)

So it is probably e

[2019-09-05 01:13] papb commented on #11386
I will migrate this issue to the sequelize-cli repository though

[2019-09-05 01:18] papb commented on #10710
Precisely!!! Thanks!

Hmmm I agree that it is a grey area but I'd still consider a workaround to be honest, even though super ugly...

Regardless, as @cheapsteak explained, if someone confirms that it really works then we shall take a look into creating a PR. Or better, if anyone can go ahead and create the PR that would be much better.

[2019-09-05 01:28] papb commented on #11377
Hello! `status: understood` means that the problem described by the issue was understood by maintainers. This is useful because most issues lack information, or we are waiting for a response, or we are not sure it is a real issue, etc. Issues labeled `status: understood` are the ones for which PRs are welcome.

Hmmm, after taking a deeper look, I have a question:

[code]

Are you sure the code you

[2019-09-05 06:04] gabooh commented on #9905
That's awesome, thank you :)

[2019-09-05 07:13] si4dev commented on #10010
I'm running into the same issue. I don't like to "hardcode" the alias of the table. I cannot find many reasons why not but maybe it is changing later although most tables names are not changing. However in sequelize the alias name is known. So maybe a solution is to allow the col() method on the model itself. This line Sequelize.col('name') will result in an ambitious column. Currently to be solve

[2019-09-05 08:17] AlexBykovMinsk commented on #9605
@papb FYI: In my case the issue takes place, when I include models with @HasMany relations.
I solved my issue by setting "separate" flag to true
{code}
include: [
                {
                    model: Offer,
                    as: "offers",
                    required: false,
                    separate: true,
                },
                {
                    model: DealFund,

[2019-09-05 09:20] Palpie commented on #7689
This is still a problem when using UUID as primary key and the value is generated by the database, for example using `NEWSEQUENTIALID()` as default value in Microsoft SQL Server.

[2019-09-05 10:18] Palpie opened #11387 "Support for Microsoft SQL Server NEWSEQUENTIALID()"
## Issue Description
When working with an MSSQL database you can have sequential UUID using NEWSEQUENTIALID() as default value. This doesn't seem to work with create() in sequelize. The table is generated successfully using:

    id: {
        type: 'uniqueidentifier',
        primaryKey: true,
        defaultValue: Sequelize.literal('newsequentialid()'),
    },

But when I try to insert using seq

[2019-09-05 12:00] papb commented on #10010
Hello @si4dev, I like what you are proposing. Can you please open a new feature request and fill the template accordingly? (And link to this issue as a reference)

[2019-09-05 12:05] papb commented on #11387
Hello! Thanks for the detailed request. It makes sense to me.

One question: what SQL query would you like sequelize to have produced instead? Is it the following?

[code]

Just to make sure we are in the same track (also by the way I am not very familiar with MSSQL)

[2019-09-05 12:31] frlinw opened #11388 "Regression (5.17.2 -> 5.18.0): bug in aggregation with alias"
## Issue Description

Before v5.18.0, it was possible to do some aggregation using alias name directly.
(Probably related to https://github.com/sequelize/sequelize/commit/3fcb2d2)

Question: is there an alternative official way to do the following request without using alias explicitly?

### What are you doing?

[code]

### What do you expect to happen?

It works until 5.18.0

### What is actually

[2019-09-05 12:32] papb commented on #7631
Duplicate of #10710

[2019-09-05 12:32] #7631 closed

[2019-09-05 12:42] papb commented on #11388
Did you enable the new `{ minifyAliases: true }` option?

[2019-09-05 13:42] papb opened #11389 "Document the existence of the beforeCount hook"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

The [hooks manual](https://sequelize.org/master/manual/hooks.html) does not mention the beforeCount hook.

### If possible: Provide some suggestion on how we can enhance the docs

Mention it.

### Additional context
Add any other context or screenshots about the issue here.

## Issue Template Checklist

### I

[2019-09-05 13:50] zaubara commented on #4387
Doesn't work for me:
`await User.update({
        'json_field.something': true
      }, {
        where: {
          id: user.id
        }
      })`
It writes correctly to the json_field.something, but deletes all other fields in postgresql. That would make life a lot easier.

[2019-09-05 14:10] tudor33sud commented on #4387
@zaubara  I am using @dylanlingelbach 's option and works fine for me to update JSONB columns atomically. In my case, I need to update an array object -> push a new object into it. How I am doing that is that first I create the JSON object
`const newOutput = {property:'value'}`

Then, what you need to do is using something similar to this
     **const updatedTask = await task.update({

[2019-09-05 14:11] frlinw commented on #11388
@papb no, I didn't change anything. If aliases are not minified if there is no opt-in, the issue could be a side effect of this PR. I can confirm at least it works in 5.17.2 but not in 5.18.0

[2019-09-05 15:08] tzohpilotl commented on #7116
This only works for Postgres as per the docs

[2019-09-05 15:28] papb commented on #11388
@frlinw Yeah I thought so but just wanted to make sure. The thing is, you put **Minified alias issue** in the title but the issue itself is only related to minification in the sense that it was the feature which introduced the bug. I will rename it to reduce confusion.

[2019-09-05 15:30] papb commented on #11388
One more thing, you posted a lot of code, is all of that really needed to reproduce the issue? Can you shorten it? Also, you have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it), please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) for it, t

[2019-09-05 15:38] frlinw commented on #11388
Initially it was a question more than an issue, because I'm aware the direct use of aliases is not really a public thing so I wanted a supported way to access aliases (as I thought it was an alias issue).
I guess the issue is because of the `group` property, probably wrongly scoped.
I'll try to post a simple repro

[2019-09-05 15:38] papb commented on #7116
Hello @tzohpilotl, if you are still experiencing an issue like this one please open a new one an link to this one, thanks!

[2019-09-05 15:44] nestorvanz opened #11392 "Add types for primaryKeyAttributes into Model class"
Please add `primaryKeyAttributes` to Model class to allow access to primaryKeyAttributes from TypeScript without errors.

File: sequelize/types/lib/model.d.ts
[code]

[2019-09-05 17:32] Matiyeu commented on #11233
PR is necessary, I have deleted my package-lock.json and that doesn't seem to work.. update please :)

[2019-09-05 17:35] ccemeraldeyes opened #11393 "association helper methods do not appear to be created."
**PROBLEM**

*Note: I cannot tell if this is a docs issue, a bug, or user error.*

I have read through other seemingly-related bug reports (#7738, #6187, #10955) and lots of documentation and cannot find an answer.

My question is basically identical to #10955. I have defined associations on my models but when I try to call `course.getCoursePaths()`, I get an error that `getCoursePaths()`is not a

[2019-09-05 17:49] ccemeraldeyes commented on #10955
@ashishsanjayrao why did you close this? I'm having the same issue.

[2019-09-05 19:18] jeffleus opened #11394 "Add support for schema() method on models in mysql dialect"
## Issue Description
Model has a schema() method that should allow multi-tenant design but it is not supported for the mysql dialect.  The schema is prepended to the tableName with dot notation, \`Schema.Table\`, in the generated SQL.  But for this to work with mysql it would need to wrap the schema and table separately in tick marks, \`Schema\`.\`Table\`.

### Is your feature request related to a

[2019-09-05 20:43] TheJaredWilcurt opened #11395 "Cancel transactions"
## Issue Description

### Is your feature request related to a problem? Please describe.

We have a large paginated table on the frontend that the users can type into to filter results. As they type we send new requests and cancel the previous ones using Axios.

* https://github.com/axios/axios#cancellation

This will kill the request on the frontend, meaning the browser stops trying to get the da

[2019-09-05 23:18] ccemeraldeyes commented on #10710
That monkeypatch does not work for me as I'm on 5.18.1. I get `TypeError: s.replace is not a function`

[2019-09-06 00:32] ccemeraldeyes commented on #10710
I'm at a roadblock on this. I've spent a couple hours but don't think I can justify more right now. The biggest issue I'm running into is where exactly the function gets evaled. It gets into the `whereItemQuery` as a string of the function, so there's not a way to differentiate (besides an exact match) between it an an actual string literal. For example, the case referenced above creates the liter

[2019-09-06 02:40] TakanashiOuken commented on #3885
Having the same issue here.
Guess I will have to give up raw

[2019-09-06 04:07] cjancsar opened #11396 "Test Transactions"
It is extremely common to want to run tests in an isolated way. How do you run each test in an isolated transaction?

Is there any modern update to this pattern described here: https://github.com/sequelize/sequelize/issues/4823

[2019-09-06 05:51] prionkor commented on #11233
I had to delete both `package-lock.json` & `node_modules` to update lodash to latest. OMHO there should be a commit bumping the version of lodash, In case people are using automated tools in CI to upgrade dependency which doesn't delete `package-lock.json` & `node_modules`.

[2019-09-06 08:02] Jigar-Freightwalla commented on #11144
@papb
This would be the direct Postgres query:
[code]

[2019-09-06 09:34] Palpie commented on #11387
Yes, just like that. The output will be the full inserted row, including the generated UUID.

[2019-09-06 12:57] papb commented on #10955
Hmm, `Location.getUsers` seems wrong (assuming `Location` is the model) since the `getUsers()` method is not static, it is executed on a model instance. Were you also trying to call it statically, @ccemeraldeyes?

[2019-09-06 12:59] papb commented on #11144
Thanks, I don't have time to look into it right now though, will do later

[2019-09-06 13:05] Jigar-Freightwalla commented on #11144
@papb Thank you for the prompt response.

[2019-09-06 13:06] papb commented on #11233
This is really weird guys, it's not that I don't believe you, but it really should work. The caret (`^`) exists exactly for this kind of purpose. The very existence of [semver](https://semver.org) and everything wouldn't make sense otherwise. It really has to work this way.

If you aren't doing anything wrong, this is probably a bug with npm then. By the way, please update to the latest npm ([v6.1

[2019-09-06 13:08] papb commented on #10710
@ccemeraldeyes Thank you for investigating it further! I will remove the label then. Thank you!

[2019-09-06 14:07] Matiyeu commented on #11233
I updated npm to 6.11.3, deleted `node_modules` folder, deleted `package-lock.json` nothing is happening, npm audit continue to fail..

[2019-09-06 14:59] cyrilchapon commented on #10347
## API

@papb I don't have much time to expand on every questions over there (sorry for that).
I'll focus on the blocking one :

@papb

@sushantdhiman

@contra

There is a slight difference between @sushantdhiman 's and @contra 's APIs : the Promise versus the sync stream gather.

I'd like to highlight that iris-ql from @contra is only working on PG atm, and for this to work `const stream = Model.

[2019-09-06 15:05] antoine-pous opened #11397 "Models are not well type checked"
## Issue Description
Create a Model and set `allowNull: null` don't throw an error. Setting up to `allowNull: 'hello world'` works too.

### What are you doing?
Something completely dumb

### What do you expect to happen?

Throwing an exception when i put wrong parameters type values.

### What is actually happening?

Nothing, the library don't care about what we do

### Additional context
Nope

#

[2019-09-06 15:37] cyrilchapon commented on #10347
Trying to answer to myself

Sequelize's documentation says

I assume `pg`, `mysql2`, `mariadb`, `sqlite3`, `tedious` are the right places to search for that.

⚠️This is all about **reading** data

### Postgres
Apparently, [`pg`](https://github.com/brianc/node-postgres) with a plugin [`pg-query-stream`](https://github.com/brianc/node-pg-query-stream) (through [`pg-cursor`](https://github.com/brianc

[2019-09-06 15:50] cyrilchapon commented on #10347
For insertion :

- PG has [`pg-copy-stream`](https://github.com/brianc/node-pg-copy-streams) which uses a `COPY TO` query with a readable stream... but this sounds more like a "hack", doesn't it ?
- Mariadb [has this feature at its core](https://www.npmjs.com/package/mariadb#insert-streaming)
- Mysql [has this feature at its core](https://github.com/sidorares/node-mysql2/blob/master/documentation/

[2019-09-06 15:55] bsienn commented on #4074
I specifically want this functionality for my generic function, as I get list of columns to include and optional list for exclude and want to pass that to findAll method. I don't see any documentation for this. How could this be achieved?

[2019-09-06 16:44] contra commented on #10347
@cyrilchapon I have to disagree with your assessment that my stream example is synchronous - what happens under the hood of the stream can be whatever you want. The PG example implemented in iris-ql is not synchronous, it needs to grab a connection and execute a query to get a cursor before it can start emitting data events. If anything fails while grabbing a connection or getting the cursor, an e

[2019-09-06 16:59] cyrilchapon commented on #10347
@contra, I never said your stream is synchronous. I said your stream **creation** is synchronous.

[2019-09-06 17:42] ccemeraldeyes commented on #10955
nah, in my case the method was just named wrong lol
You're probably right that that was @ashishsanjayrao 's issue though

[2019-09-06 17:42] ccemeraldeyes commented on #11393
d'oh.

it's getCourse_path.

[2019-09-06 18:57] ccemeraldeyes commented on #10503
@papb I disagree that documentation on transactions is sufficient now. I was still assuming that single operations would have their own transactions by default. I would strongly suggest adding disclaimers in multiple places saying that without some kind of manual intervention, sequelize uses ZERO TRANSACTIONS.

[2019-09-06 19:12] dead commented on #10982
https://github.com/sequelize/sequelize/blob/555dbe1f0110ec423190ce31dcd912f936f63368/lib/dialects/mssql/data-types.js#L130

Changing to:
[code]

Fix this issue to me.

[2019-09-06 19:28] dalisoft opened #11398 "Array-typed field contained Schema Table fails while Sync"
## Issue Description

### What are you doing?

#### `models/Order.ts`

[code]

#### `connection/mysql.ts`
[code]

### What do you expect to happen?

Just success sync, nothing more

### What is actually happening?

[code]

### Additional context
Add any other context or screenshots about the feature request here.

### Environment

- Sequelize version: `v5.16.0`
- Node.js version: `v12.9.1`
- Opera

[2019-09-06 19:54] contra commented on #10347
@cyrilchapon Creation of both promises and streams is synchronous so it isn't really relevant to the conversation IMO. Streams and promises are both asynchronous resolvers at their core, construction of either is "synchronous" so having a promise that returns a stream is superfluous. Just trying to clarify here because your statements suggested that returning a stream somehow limits it to only pos

[2019-09-06 20:23] papb commented on #11233
@Matiyeu Let's debug this further. Please change the sequelize entry in your `package.json` to:

[code]

And see if you can get the audit to pass. The above is a direct link to the tarball generated by the PR #11233 which I rejected.

[2019-09-06 20:34] papb commented on #10503
@ccemeraldeyes Ok. I will do this very soon. Thanks!

[2019-09-06 20:41] papb commented on #11393
@ccemeraldeyes I struggled with this in the past as well :man_facepalming: thanks for reminding me of this. You probably agree with this behavior is ugly, right? I'll reopen this as a feature request to allow proper casing of this kind of thing.

[2019-09-06 20:47] papb commented on #11398
Your code is too long to be a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)). Is all that really needed to reproduce the issue?

[2019-09-06 20:57] papb commented on #10982
@dead Hmm... While you're at it, can you test two other things as well?

**Test 1** - Removing the [extended DATEONLY class](https://github.com/sequelize/sequelize/blob/555dbe1f0110ec423190ce31dcd912f936f63368/lib/dialects/mssql/data-types.js#L128) entirely (also removing [here](https://github.com/sequelize/sequelize/blob/555dbe1f0110ec423190ce31dcd912f936f63368/lib/dialects/mssql/data-types.js#L2

[2019-09-06 21:09] ccemeraldeyes commented on #11393
@papb ty! I saw that in the docs in some examples camelCase is the expectation for field names so I guess that's on us. Although none of the examples use multi-word field names! But yes, it would be great to convert entirely to camelCase for these methods :)

[2019-09-06 23:12] dalisoft commented on #11398
@papb Thanks for quick response, i am reduced snippet.

[2019-09-07 00:54] lschnoller commented on #5481
This is an issue that MUST be addressed! It's insane not to be able to select a table with a count on associated tables. A very simple query like the one below cannot be achieved with sequelize:
SELECT s.id, s.name, cc.id, cc.name, bu.id, bu.name, COUNT(sc."customerId") FROM subscriptions s LEFT OUTER JOIN "subscriptionsCustomers" sc ON s.id = sc."subscriptionId" AND sc.status = 1 LEFT OUTER JOIN

[2019-09-07 05:41] sushantdhiman commented on #11396
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-09-07 05:41] #11396 closed

[2019-09-07 07:09] sushantdhiman opened #11400 "V6: Use better-sqlite3"
Thinking about using `better-sqlite3` for SQLite database, mainly for supporting 64bit Integers. Their benchmark looks great as well

https://github.com/JoshuaWise/better-sqlite3/issues/262

[2019-09-07 07:59] #11382 closed

[2019-09-07 08:14] sushantdhiman commented on #11382
:tada: This issue has been resolved in version 5.18.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.18.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-07 08:45] dalisoft commented on #11398
@papb Online linter shows this error
![](http://joxi.ru/823RdG4C9YEPlm?d=1)

So, this is related to Array for MySQL

[2019-09-07 08:59] Musigwa opened #11401 "Making allowNull a Function that Has Access to this Context"
## Issue Description

I've been using sequelize with Nodejs, and I loved it's flawless functionality and support of various databases. I especially am a huge fan of customizing the model validation functionality, but I thought that if there may be a way to define `allowNull` as a function that can access `this` context, it would surely help to conditionally validate the model.

### Is your feature

[2019-09-07 13:25] dalisoft commented on #11398
Oww, sorry, Array only for Postgres, i tried to use this on MySQL. My fault. Thanks for help and response.

[2019-09-07 13:25] #11398 closed

[2019-09-07 19:55] papb commented on #11400
Completely agreed!!

[2019-09-07 20:03] SimonSchick commented on #11397
You didn't provide an explicit example, also if you want type safety, use typescript, we are not going to add runtime type assertions to every possible input.

[2019-09-07 20:34] papb commented on #4074
@bsienn Please open a new docs issue if you are having problems with the docs.

[2019-09-07 20:37] #11397 closed

[2019-09-07 20:40] papb commented on #11401
I had this same problem in the past, it can be done already. See #9143 and [here](https://sequelize.org/master/manual/models-definition.html#per-attribute-validators-and--code-allownull--code-).

[2019-09-07 20:40] #11401 closed

[2019-09-07 20:42] papb commented on #11395
Putting Sequelize aside for a moment, once a query is sent to a database, how can it be canceled?

[2019-09-07 20:45] papb commented on #11394
Hello, thanks for the detailed description. When you say it's a MySQL only issue, is it because this feature already exists for the other databases, or something else?

Thanks! That's great!

Nice. I shall help you :grimacing: I am a bit time constrained though, so I might have some delays between replies.

[2019-09-07 20:46] papb commented on #11394
The first thing I would like to ask:

* Please show a code snippet on how you currently try to do things and they don't work
* If your feature adds a new option, please show a code snippet on how things will be done after your feature is implemented

[2019-09-08 02:37] walter-garcia commented on #8785
https://sequelize.org/master/manual/models-definition.html#configuration

[2019-09-08 04:57] thearabbit opened #11403 "How to return simple result of all methods `.create, findAll, .....` (async/await)?"
I base on `Meteor JS`.
I used `async/await`.
How to get the simple/raw result of all methods `create, findAll, .....`
Example:
[code]
Server log

![image](https://user-images.githubusercontent.com/4495160/64483621-ba282600-d22f-11e9-8005-d705e544218a.png)

[code]
Please help me

[2019-09-08 06:52] sushantdhiman commented on #11403
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-09-08 06:52] #11403 closed

[2019-09-08 07:51] thearabbit commented on #11403
Very thanks for your reply.

[2019-09-08 07:51] Musigwa commented on #11401
Thanks, @papb I was able to implement it.

[2019-09-08 09:50] AmbroiseVuaridel commented on #10503
@papb Thanks !

[2019-09-08 11:19] sushantdhiman commented on #8275
Seems to be working on latest master

[code]

[code]

[2019-09-08 11:19] #8275 closed

[2019-09-08 11:44] #9035 closed

[2019-09-08 11:58] sushantdhiman commented on #9035
:tada: This issue has been resolved in version 5.18.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.18.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-08 17:50] nainkunal933 commented on #11392
Hi, Can I work on this issue?

[2019-09-08 18:00] papb commented on #11392
@nainkunal933 Sure! Let me know if you need help.

[2019-09-08 23:44] nainkunal933 commented on #11392
@papb I am working on the issue and I have two questions:

1) I have started the database containers using `docker-compose up postgres-95 mysql-57 mssql` but the tests are failing for mariadb. Contributing.md does not suggest any username or password for the database.

![Snip20190908_8](https://user-images.githubusercontent.com/31940639/64496102-5f55f500-d256-11e9-9ab2-d724b837f1a9.png)

2) I have

[2019-09-09 01:02] papb commented on #11392
@nainkunal933

For question 1 - I will investigate later. In the mean time, try to configure Travis CI in your fork to run the tests, should work.

For question 2 - I don't expect anything else. Feel free to open the PR!

[2019-09-09 02:58] oychao commented on #8754
+1

[2019-09-09 05:43] ashutoshpw commented on #7884
In pool settings just keep the minimum count to about 2 to 4.
This solved the issue for me.

[code]

[2019-09-09 11:58] dead commented on #10982
@papb
**Test 1** - It worked.
**Test 2** - Didn't work, the parsed date was in invalid format.

[2019-09-09 12:13] papb commented on #10982
@dead Nice! Can you submit a PR with my first suggestion?

[2019-09-09 13:05] edatoprak opened #11407 "I can't fetch data using sequelize model with same id from mysql database"
Hello,
I have one datagrid table. I can retrieve the data from my database with vuex. I'm bringing data from two tables to this datagrid. One is the product table, the other is the product description table. For a product in my product table, there are two separate rows with two identical ids in the product description. I'm using the sequelize model (orm). But when I bring the data into my datagri

[2019-09-09 13:32] cjancsar opened #11408 "Transactional Tests"
## Issue Description

### Is your feature request related to a problem? Please describe.
It is extremely common to want to run tests in an isolated way (regardless of the testing framework used). Sequelize should have a way to wrap test cases in transactions so that after each test is transactions are rolled back so DB state is not changed. This is a very common pattern in more mature solutions (i

[2019-09-09 14:16] jpollard-cs commented on #11377
To be honest I've just been upgrading from 4 to 5 and not really questioning the code (the upgrade has been pretty brutal due to our reliance on `sequelize-typescript`) 😄
Not sure on the reasoning behind this weird bit of code - I'll look into it. Either way it does seem like your suggested approach, with an alias, would be fine. I think I may have misinterpreted the typings here. I'll close for n

[2019-09-09 14:16] #11377 closed

[2019-09-09 18:49] cjancsar commented on #5765
Is there an example of this working anywhere?

[2019-09-09 20:50] jeffleus commented on #11394
So I created a gist that provides a simplified view of how I am using the library with MySQL.  It uses a single simplified entity to run a query so I can show what is happening.  I am using the logging option to output the sql commands generated because this shows where the issue lies.  The gist can be found here [https://gist.github.com/jeffleus/ef846b6dbdd6498ee93451bf047f820a](https://gist.gith

[2019-09-09 22:17] astrO1 opened #11411 "Timestamp inserting wrong date on database Postgres"
## Issue Description
I have an application that makes a simple insert, but when I insert Sequelize stores a wrong date to my database
### What are you doing?

[code]

This is the log that is showing to me

[code]
### What do you expect to happen?

I'm expecting that in my database store a createdAt date like this **'2019-09-09 19:06:59.825 -03:00'** like the select above

### What is actually happ

[2019-09-10 08:51] heekyu opened #11412 "Not crash on startup when connect ECONNREFUSED"
## Issue Description

Sequelize version : 5.8.12

on initializing sequelize,
if database server is not running, app crashes.
I want not to crash and want to run well even after late database server up.

But node process terminates with follwing error
[UnhandledPromiseRejectionWarning: SequelizeConnectionRefusedError: connect ECONNREFUSED 127.0.0.1:5432]
at connection.connect.err (/Users/heekyu/med

[2019-09-10 09:32] Rednas83 opened #11413 "Possibilty to define UID for MSSQL"
## Issue Description
Looking at the documentation it is currently not possible to define you're own id for the dialect "MSSQL", because it is automatically generated only.

### Describe the solution you'd like
Add support for defining custom id for the dialect "MSSQL"

[code]

## Issue Template Checklist

### Is this issue dialect-specific?

- [ ] No. This issue is relevant to Sequelize as a whole

[2019-09-10 10:09] ketavchotaliya commented on #7268
@predescu Model.decrement function not found, Can you tell me what are the sequalize version?

[2019-09-10 10:29] snax4a commented on #9651
I have same issue, when I do .findOne and include hasMany model it is generating only one SQL query with LEFT OUTER JOIN but when I will add limit parameter to include object it is making two queries one for the source model and one for the target model - both queries are correct and return data but sequelize gives me empty data for the included model

[2019-09-10 10:55] Hammza1 opened #11414 "Combine Two or more queries using UNION DISTINCT In sequelize."
## Issue Description
Sequelize support of the UNION DISTINCT Operation

### Is your feature request related to a problem? Please describe.
I am trying to perform two queries at once time, but I do not find any support in sequelize docs.

### Describe the solution you'd like

[code]

### Why should this be in Sequelize
Short explanation why this should be part of Sequelize rather than a separate pa

[2019-09-10 11:21] delikatessa commented on #10625
adding `{type: Sequelize.QueryTypes.UPDATE}` as `options` param fixed this for me

[2019-09-10 12:37] sebikeller commented on #10625
As I have written in the problem report, but with other methods like `bulkInsert` the correct type is added when calling the method.

[2019-09-10 13:48] sushantdhiman commented on #11407
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-09-10 13:48] #11407 closed

[2019-09-10 14:11] Jigar-Freightwalla opened #11415 "Incorrect ordering for a findAll operation on a scoped model with predefined order"
### What are you doing?

I have a Model `TheModel` with a scope `scoped` containing `order` , say `order1`.
On invoking a findAll with an `order`, say `order2`, the resulting order is `order1`, `order2`

[code]

### What do you expect to happen?

Resulting order: `field1` `ASC`, `associatedModel1`.`foo` `ASC`
(This was the actual order using sequelize version 3.30.4)

### What is actually happenin

[2019-09-10 14:47] welderprog commented on #7879
Em 2019 estou com esse problema para escrever no banco (post, put)
Para escrita corre no SQL Server "yyyy-mm-dd hh:mm:ss)
SQL Server, Tedious, Sequilize

[2019-09-10 15:12] tareqtms opened #11417 "Sequelize model is trying to insert null where value is not null"
## Issue Description

### What are you doing?

[code]

### What do you expect to happen?

It should insert with `showId = 3` and `tagId = 3`.

### What is actually happening?

It's sending to database, `showId = null` and `tagId = null`.

_The output was: (Note that `show_id` is equivalent to `showId`, as it is an underscored model)

[code]

### Additional context
Add any other context or screensh

[2019-09-10 16:35] HansHammel commented on #9328
still an issue

[2019-09-10 17:12] 702pjc commented on #8017
+1

[2019-09-10 17:50] acarl commented on #11395
Canceling a running query is definitely possible in at least postgres.
There is an existing issue to support this for the node-postgres package.
https://github.com/brianc/node-postgres/issues/753

[2019-09-10 21:40] hlongvu commented on #7673
Also interested in this. Will this feature be added?

[2019-09-10 22:47] myrewin commented on #7673
I need this badly now, any hope ?

[2019-09-11 11:35] akaRem opened #11420 "Incorrect typing in query-interface.d.ts for postgres"
Sequelize version 5.18.4

Defining trigger using `sequelize.getQueryInterface().createTrigger(...)`
I have error in typings while using correct types expected in js:

`fireOnArray` must be one of insert, update, delete, truncate, while in typings it's declared as object.

here are refs with extracted snippets:

https://github.com/sequelize/sequelize/blob/master/types/lib/query-interface.d.ts#L528

[2019-09-11 14:14] Shahor commented on #7180
@sjagoe I was just looking into using read replicas when I found this issue...

Do you know maybe if Sequelize is able to evict a connection from a read pool whenever it goes down, and just keep trying to reconnect and promote it back again when it comes up again?

[2019-09-11 14:52] kezzico commented on #5828
make sure quoteIdentifiers is set to true

```new Sequelize(..., { quoteIdentifiers: true })```

[2019-09-11 16:14] geoffreak opened #11421 "Regression in 5.18.x - "Unknown structure passed to order / group" when grouping by include (MySQL)"
## Issue Description

Something broke with the 5.18.x releases that caused a regression in the group by behavior. I am now getting `Unknown structure passed to order / group` errors while trying to get some aggregates while grouping by an included model.

### What are you doing?

I have boiled down a working code example that demonstrates this issue.

[code]

[code]

### What do you expect to happ

[2019-09-11 18:09] AndreiPanasuk opened #11422 "Error processing include elements"
An error occurs when generating a request when processing calculated attributes include elements in module lib/models.js, line 591
currently
`include.originalAttributes = this._injectDependentVirtualAttributes(include.attributes);`

should be
`include.originalAttributes = include.model._injectDependentVirtualAttributes(include.attributes);`

[2019-09-11 18:20] todd opened #11423 "SELECT Queries Strip Leading Underscore from Column Names"
## Issue Description

I have a model that includes a column wrapped in two underscores (`__machina__`). Performing a `SELECT` including this column appears to strip the leading underscore, which halts the query and throws an error. This worked in V4, so this appears to be a new issue in V5 (I'm on 5.18.4).

### What are you doing?

[code]

### What do you expect to happen?

For the query to succee

[2019-09-11 18:54] brandonw commented on #10424
I ended up abandoning this approach, because eliminating the pooling of connections had a very noticeable performance impact, even using pgbouncer.

[2019-09-11 19:20] todd commented on #11423
Ok, tracked this down. Here's the relevant block: https://github.com/sequelize/sequelize/blob/master/lib/model.js#L1140-L1142

Digging in deeper, it looks like the inflection library is stripping that leading underscore if `underscored` is set to `true` in your model definition. Setting a `field` override to the desired column name in the column definition got me back up and running, but I'm not s

[2019-09-11 19:21] jeffleus commented on #11394
I am a newbie to PR contribution to open source.  So, engaging a project as big as sequelize is a little daunting.  Anyway, I am keen to jump in and address my issue.  So, I forked the repo, installed Docker Desktop, and ran the mysql test suite using the Docker environment.  And, I fail a big chunk of tests when I set the "schemas:true" attribute on the mysql dialect supports object, [here](https

[2019-09-11 20:56] vanthome commented on #11276
@sushantdhiman

v5.18.2 Regression partially reverts previous fix #11274 for me. This seems not to be covered by the test I have introduced. The problem is that schemas are not attached for implicit joins now.
What shall we do? Should I propose a new test for this? Or can we revert to my solution?

[2019-09-12 01:33] masterl opened #11424 "sequelize instance does not have a Model field (import docs)"
## Issue Description

The [import docs](https://sequelize.org/master/manual/models-definition.html#import) present a wrong code:

[code]

### What was unclear/insufficient/not covered in the documentation

The problem here is that there is no field called `Model` on the `sequelize` instance.

### If possible: Provide some suggestion on how we can enhance the docs

Throughout the docs, `sequelize`

[2019-09-12 02:26] cjancsar commented on #3276
This is no longer the case (2019)

[2019-09-12 05:46] sushantdhiman commented on #11276
New PR with tests will do

[2019-09-12 10:17] Hammza1 opened #11425 "Error: Dialect needs to be explicitly supplied as of v4.0.0"
## Issue Description

### What are you doing?

[code]

### What do you expect to happen?

_I wanted Foo!_

### What is actually happening?

_The output was Bar!_

[code]

### Additional context
Add any other context or screenshots about the feature request here.

### Environment

- Sequelize version: XXX
- Node.js version: XXX
- Operating System: XXX
- If TypeScript related: TypeScript version: XX

[2019-09-12 21:21] snax4a opened #11426 "Warning about incorrect timezone passed to connection"
## Issue Description
Sequelize v5.18.4 gives me this warning when i pass this in my configuration options ```"timezone": "Europe/Warsaw"```
"Ignoring invalid timezone passed to Connection: Europe/Warsaw. This is currently a warning, but in future versions of MySQL2, an error will be thrown if you pass an invalid configuration option to a Connection"

### What are you doing?
I just try queries with

[2019-09-13 06:40] charles-dejager opened #11427 "Issue on query-generator upsertQuery"
## Issue Description
In query-generator.js on line 457 the test for clauses.length returns true, but the clauses element is an array with the first element being a null.
`
   if (clauses.length === 0) {
      throw new Error('Primary Key or Unique key should be passed to upsert query');
    } else {
`

  console.log of clauses gives [null, {...}]

### What are you doing?
`
VariantData

[2019-09-13 09:16] Shahor commented on #7180
I ended up implementing this myself in my code base by modifying `sequelize.connectionManager.config.replication` by giving it a `Proxy` to the original object.

In a `setInterval` I will check for the status of the different replicas and just mark them as alive or not, and the proxy will return the array of read replicas dynamically based on that marker.

Until sequelize supports this out of the

[2019-09-13 15:01] contra commented on #7180
@Shahor Can you post the code so people can use it as a workaround?

[2019-09-13 17:07] Shahor commented on #7180
Well, it might require a bit of fine tuning on your side, but it looks like this

[code]

[2019-09-13 22:41] webdev778 commented on #11013
@jingsam, PERFECT!, I love your solution very much.

[2019-09-13 22:50] rainabba commented on #7075
IndividualHooks did help me work around this, but it did so by destroying the bulkCreate behavior and causing 1 insert for each record. I'm looking into query-generator.js. It looks like bulkInsertQuery() doesn't have the tmp table logic included in insertQuery (based on hasTrigger). Can anyone confirm this before I start on a PR? There already a branch addressing this?

[2019-09-13 23:23] k98kumar commented on #9074
@EyePulp
I'm using v5.x, but when I use the hooks, I get:
`Error: Unrecognized datatype for attribute "pgeRating.hooks"` with
[code]
Instead I used the addHook function:
[code]
Assuming I used the addHook function correctly, I still got DECIMAL numbers in string format. Am I forgetting to do something or did I not set addHook up correctly?

[2019-09-13 23:40] jayragshukla opened #11428 ""String cannot represent value" issue"
## Issue Description
I'm trying to have ssl connection with postgress hosted on cloud using sequelize but consistently getting "String cannot represent value" error.

### What are you doing?

Plugins used:
node: 8.10
"pg": "^7.8.0",
"pg-hstore": "^2.3.2",
"sequelize": "^5.7.5"

// connect sequelize
const dbconf = {
      host: process.env.PG_DB_HOST,
      port: parseInt(process.env.PG_DB_PORT),

[2019-09-14 00:09] fauker commented on #11411
Same here.

[2019-09-14 12:15] fredcalvez commented on #9354
issue still exist

[2019-09-14 16:13] drc-tjuszczyk commented on #8920
Also seeing this with ENUMs and postgres. Does anybody know what the actual issue is?

[2019-09-14 19:19] papb commented on #8920
@drc-tjuszczyk Can you please open a new issue filling the template and linking to this issue?

[2019-09-14 19:22] papb commented on #11424
Thanks! I will fix this while I'm making the other docs changes.

[2019-09-14 19:24] papb commented on #11423
Definitely not the desired behavior! Thanks for the report. I will close this in favor of #11225

[2019-09-14 19:24] #11423 closed

[2019-09-14 19:26] papb commented on #11225
By the way sorry guys I am taking long to look at this. Haven't had much time, thanks for the patience, stay tuned! Also rest assured that I will not consider this 'done' until every "sub-issue" listed in the first post is properly addressed.

[2019-09-14 19:29] papb commented on #11413
I didn't understand. I think this is a misunderstanding. Doesn't the following work?

[code]

I'm pretty sure the above should work. If it doesn't please clarify the problem and I will reopen the issue.

[2019-09-14 19:29] #11413 closed

[2019-09-14 19:34] papb commented on #5765
@cjancsar

Hmmm, this is weird, let me suggest a workaround for now:

[code]

[2019-09-14 19:37] papb commented on #11412
Hello, this is the expected behavior. I don't think we will be adding support for this directly in Sequelize. If you want to wait for the server automatically, you should create your own code to handle this, perhaps using a tool like [wait-on](https://github.com/jeffbski/wait-on), [wait-for](https://github.com/eficode/wait-for) or [wait-for-it](https://github.com/vishnubob/wait-for-it) (or roll yo

[2019-09-14 19:37] #11412 closed

[2019-09-14 19:42] papb commented on #9651
@rsispal Thanks for the detailed report and for providing a SSCCE. Unfortunately I don't have time to look into it right now...

Can you please post all those links you think are related? Thanks

[2019-09-14 19:47] papb commented on #5471
I disagree. It is difficult (relatively)... Doing nested updates is definitely nontrivial because deciding whether the nested objects are new or just changed from one that already exists is nontrivial. To me, at least.

If anyone is willing to submit a PR that would be great. However, before doing that please make sure you define what behavior are you exactly going to implement and let me know so

[2019-09-14 19:50] papb commented on #11414
Please fill the issue template completely

[2019-09-14 19:50] #11414 closed

[2019-09-14 19:53] papb commented on #11415
[The docs](https://sequelize.org/master/manual/scopes.html#merging) claim that

Therefore I fully agree with you that the scope order should have been overwritten. This is a bug.

[2019-09-14 20:00] aecorredor commented on #11178
Having the same issue here.

When I do something like:

[code]

I get `Type 'true' is not assignable to type 'LOCK | { level: LOCK; of: typeof Model; } | undefined'.`

[2019-09-15 00:35] papb commented on #11425
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

When

[2019-09-15 00:35] #11425 closed

[2019-09-15 01:08] rnicholls opened #11430 "HasOne BelongsTo Stop Nesting of Response"
## Issue Description

I am pretty new to sequelize but I have 2 models that are  HasOne and BelongsTo. I am trying to get them to act like a normal left join. So that the data from both tables are merged.

sequelize makes them nested.

Right now it makes the final response look like this:
`"results": {
    "id": 3113,
    "title": "",
    "original_title": "",
    "synopsis": "",
    "videos": [

[2019-09-15 01:28] papb commented on #11430
Please just use stack overflow for this. Good luck.

[2019-09-15 01:28] #11430 closed

[2019-09-15 01:29] rnicholls commented on #11430
Haven't gotten any real traction on it so was hoping here would garner a better response.

[2019-09-15 01:48] papb commented on #11430
As a suggestion, your SO question can be improved. You haven't posted a real [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)). It is also missing from this issue, where you posted some migrations but not a fully self-contained code.

[2019-09-15 03:44] warapitiya commented on #11081
Looks like [FindOrCreateOptions](https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L667) is missing [IncludeOptions](https://github.com/sequelize/sequelize/blob/master/types/lib/model.d.ts#L384) extend.

[2019-09-15 05:50] rsispal commented on #9651
All the details are available in the original post, including the cycle links.

I’ve stopped using Sequelize now because of this and how ambiguous parts of the docs are.

That said, I’m sure others above can continue to assist

[2019-09-15 07:42] scottsj opened #11431 "Property 'getDatabaseName' does not exist on type 'Sequelize'."
## Issue Description

Trying to call `getDatabaseName` using Sequelize with Typescript however the method is not declared in `sequelize.d.ts`

### What are you doing?

[code]

### What do you expect to happen?

Function already declared

### What is actually happening?

TS Compile error
(other methods like getDialect are declared and work fine)

### Environment

- Sequelize version: `sequelize@5.1

[2019-09-15 14:01] PeledYuval opened #11432 "Postgres - bulkCreate with updateOnDuplicate fails when one of the model's primary key fields' name is different from its column name"
## Issue Description
bulkCreate with updateOnDuplicate throws error when one of the model's primary key fields has a different name from its DB column name.

bulkCreate generates the field names in the: `ON CONFLICT (column1...)` part of the query by looking at: `this.primaryKeys.fieldName` which is the model's field name, instead of looking at `this.primaryKeys.field` which is the DB's column nam

[2019-09-15 14:49] papb commented on #9651
Oops, you are right, sorry about that!! Thank you very much.

[2019-09-15 15:02] papb commented on #11431
Thanks for the report.

Awesome!! Please do. Also, I recommend you take a look on these PRs to see how we prefer typings PRs to be done:

* https://github.com/sequelize/sequelize/pull/11115/files
* https://github.com/sequelize/sequelize/pull/11379/files

As you can see, it's easy :grimacing: Thanks!!

[2019-09-15 15:03] papb commented on #11432
Hello! Thank you very much!!

[2019-09-15 15:04] papb commented on #11432
I noticed this problem also exists for SQLite.

[2019-09-15 15:24] PeledYuval commented on #11432
Thanks, I didn't notice that!

You're right, AbstractQueryGenerator contains the following code:
[code]

How would you like to proceed?

[2019-09-15 15:54] Xilesun opened #11435 "Destroy records with many to many relationship does not delete the records in through Table"
## Issue Description

The Association part of the doc is really misunderstanding. How to delete a record with many to many relationship and the record in through table at the same time?

### What are you doing?

I am trying to destory some records with many to many relationship and the following are the codes:

The models

[code]

The destroy code:

[code]

### What do you expect to happen?

userF

[2019-09-15 16:36] hasib2008 commented on #5792
@leemalmac I face the same problem can you please tell me how to solve this

**Product Model**

var mysql = require('../config/db2');
const Sequelize = require('sequelize');

var Product = mysql.define('product', {
    name: {
        type: Sequelize.STRING,
        allowNull: false
    },
    product_code:{
        type: Sequelize.STRING,
    },
    unit_id:{
        type: Sequelize.INTEGER,

[2019-09-15 18:07] papb commented on #11435
Hello!

I agree! I am currently working in heavily improving the whole docs. Stay tuned.

Now, for your question: from your description, the only thing that happened and you didn't expect is:

Just to make sure I understand: since the record itself was deleted, this guide-folder relation becomes invalid, right? Therefore you think the guide-folder record should be deleted as well, is this correct?

[2019-09-15 18:52] hugekoala commented on #11415
Would like to contribute and work on this issue.
I am new to open source contributions and on this project as well.
So If understand correctly - The correct path to solution would be to just return the srcValue.

[2019-09-16 00:18] papb commented on #11415
Hi @hugekoala, thank you!! I will comment on your pull request.

[2019-09-16 00:33] Xilesun commented on #11435
@papb Thanks for replying.

Right. Actually, I try to find an easy way to do things like this:

Users and folders have many to many relationship, folders and articles also have many to many relationship. When a user delete a folder, the record in two through tables (userFolder, guideFolder) and the record in Folder table are deleted, as well as all records in Guide table which belong to the folder

[2019-09-16 07:23] leemalmac commented on #5792
Hi, I don't work on the project anymore, I don't have details, but I do
remember I did as was suggested in this comment
https://github.com/sequelize/sequelize/issues/5792#issuecomment-214254513

I used a separate file to import all models and define relations there

On Sun, 15 Sep 2019 at 18:37, Md Hasibur Rahamam <notifications@github.com>
wrote:

--
--
Best regards,
Nodari Lipartiya

[2019-09-16 10:07] joaoe opened #11438 "MS SQL showTablesQuery() returns VIEWs"
## Issue Description
In the MS SQL dialect, `showTablesQuery()` returns a query that selects both tables and views.
This affects among others, sequelize-auto which uses showTablesQuery() to retrieve the list of tables for which to generate models. And Sequelize does not like when models exist for VIEWs.

### What are you doing?

[code]

### What do you expect to happen?

PASS in testcase. No VIEWs

[2019-09-16 12:42] Jasenkoo opened #11440 "Sequelize v5 ignoring pool min option?!"
## Issue Description

Recently I used sequelize v4.44.3 and updated to 5.18.4. In my sequelize configuration, I've set

[code]
The problem is that on v4 sequelize keeps at least 10 connection and on v5 only 2.

### What are you doing?

**dbConfig.js**

[code]
**in the singleton**
[code]

Executing following command in pgAdmin I noticed the issue

[code]

### What do you expect to happen?

_To have

[2019-09-16 15:41] hmtuapp commented on #9295
I have this same problem, I'm running a seeder that creates N records and Sequelize drops me an unique identifier error N times, one for every record created on the seeder, what can I do to avoid this?

[2019-09-16 20:49] papb commented on #11422
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

When

[2019-09-16 20:49] #11422 closed

[2019-09-16 20:52] papb commented on #8776
Thanks, @dboune!

@ashymanel92 Does the suggestion by @dboune above work for you?

[2019-09-16 20:54] papb commented on #7110
@tzs007 What about [the suggestion by tvl83 above](https://github.com/sequelize/sequelize/issues/7110#issuecomment-346712066)? Does it work for you?

[2019-09-16 20:55] papb commented on #11427
Hello, thanks for the report! You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

Please try v5 instead, v6 is still alpha.

[2019-09-16 21:00] papb commented on #11426
Hello, thanks for the report. However, I am a bit confused, do you get this warning only for `Europe/Warsaw` or do you get it for whatever value you put there?

[2019-09-16 21:03] papb commented on #11428
Please [learn to format your issue using Markdown](https://guides.github.com/features/mastering-markdown/) and fill the issue template completely.

[2019-09-16 21:03] #11428 closed

[2019-09-16 21:04] snax4a commented on #11426
I got it for all the values, I tried with different timezones.

Yes it might be an issue with mysql its just strange that changing timezone works.

[2019-09-16 21:37] papb commented on #11426
I confirmed this is not on sequelize: [here](https://github.com/sidorares/node-mysql2/blob/c460c0fe9c9b47282f573801f6e883913752916f/lib/connection_config.js#L70)

[2019-09-16 21:37] #11426 closed

[2019-09-16 21:47] papb commented on #7075
I will reopen this since it is still an issue.

Hi @rainabba! Thanks for being willing to help. If you can create a PR, that would be great!! Please look at PRs [7095](https://github.com/sequelize/sequelize/pull/7095/files) and [7096](https://github.com/sequelize/sequelize/pull/7096/files) before starting, perhaps you can use some of those ideas. Thanks! Let me know if you need further help.

[2019-09-16 21:51] papb commented on #11411
Hello! You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

Also, a few more things:

Have you double-checked the timezone c

[2019-09-16 21:52] papb commented on #9354
There is a lot of code posted here, separated in multiple comments, code someone please provide a complete [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-09-16 21:54] papb commented on #5792
@hasib2008 If you are still experiencing an issue please open a new one, fully filling our template. Also, please learn to [format your code appropriately with Markdown](https://guides.github.com/features/mastering-markdown/).

[2019-09-16 21:55] papb commented on #9295
@hmtuapp None of the suggestions above worked for you?

[2019-09-16 21:56] papb commented on #11440
Thank you for the detailed report, I will try to reproduce it soon

[2019-09-17 00:03] msheep opened #11441 "hooks beforeQuery and afterQuery are not supported on ts"
Hi, I want to use beforeQuery and afterQuery hooks on my typescript project but I found they are not included in the hooks.d.ts. I noticed that hooks.js contains these functions.

BTW, could I know why beforeDisconnect and  afterDisconnect are auto called even it is not disconnected? Thank you!

[2019-09-17 00:44] papb commented on #11441
Understood, thanks for reporting!

Can you please open a new issue showing with a SSCCE an example of this happening?

[2019-09-17 00:51] msheep commented on #11441
Of course

[2019-09-17 00:58] msheep opened #11442 "beforeDisconnect and afterDisconnect are auto called when it is connected"
Hi, could I know why beforeDisconnect and afterDisconnect are auto called even it is not disconnected? Thank you!
![501568681848_ pic](https://user-images.githubusercontent.com/3865432/65003051-06631c80-d93a-11e9-9b93-d8959a8a660f.jpg)

[2019-09-17 03:28] Nogias9x commented on #3403
I'm using Sequelize 5.8.11.
[code]
This query work if limit = undefined, else I got "SequelizeDatabaseError: Unknown column 'blabla' in 'on clause'".
If I add `subQuery: false`, it works, but incorrectly paginate with limit != undefined.
I think this issue shoul be re-open because it makes the query result unpredictable.

[2019-09-17 07:17] ashishsanjayrao opened #11443 "Trying to eager load associated objects using 'include' for a belongsToMany relationship"
## Issue Description
I have a model called Experience, which has a belongsToMany association with the model Category through ExperienceCategory table. For an experience, I'm trying to fetch the Experience details with the Categories it belongs to. Some I'm using include: `[{model: model.Category}]` to achieve this. Now, the association is working and it is fetching the categories correctly, but th

[2019-09-17 08:03] bclark-systech commented on #11417
Having the same problem. I did find a workaround by passing in the fields option. Not sure if this is a bug or a feature.

[code]

[2019-09-17 09:14] DevZaid commented on #8263
in my case @kcsoderstrom solution fixed my issue

[2019-09-17 10:37] #11443 closed

[2019-09-17 11:49] flashspys opened #11445 "createFunction wrongly inserts BEGIN and END"
###  Issue Description
The createFunctions adds BEGIN and END between the function code, which leads to a SQL error.

### What are you doing?

[code]

### What do you expect to happen?

The generated SQL should be:

`CREATE FUNCTION timetz_subtype_diff(IN x time with time zone, IN y time with time zone) RETURNS float8 AS $func$ SELECT EXTRACT(EPOCH FROM (x::time - y::time)) $func$ language 'sql' S

[2019-09-17 13:51] papb commented on #11445
Thanks for the report, but this is a duplicate of #11312, so I will close this one.

[2019-09-17 13:51] #11445 closed

[2019-09-17 13:53] papb commented on #11443
Hello, looks like you found a solution already, can you post a short explanation for it, in case others have the same problem in the future? Thanks

[2019-09-17 14:13] Jeff-Tian commented on #1533
Same issue on plain sequelize@5.18.4.

[2019-09-17 16:42] papb commented on #1533
@Jeff-Tian Can you please open a new issue, filling the template, reporting this bug?

[2019-09-17 16:56] lhenriquelpc commented on #7110
The problem with these solutions is that they give a database wise configuration. :(
In my case, such as the issue's, I would like to configure only a specific model to have charset as charset: 'utf8mb4' and collate: 'utf8_general_ci'.

Can anybody help?

[2019-09-17 17:04] papb commented on #7110
Ah, I understand. Thanks! I will reopen this.

[2019-09-17 17:05] papb commented on #11442
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-09-17 17:05] #11442 closed

[2019-09-17 17:08] papb commented on #10158
Sorry to take so long!!

Can you try the following workaround and see if it works?

[code]

[2019-09-17 17:56] ashishsanjayrao commented on #11443
Sure. It was just an overlook from my side. I had set `raw: true` in the query, which gave me multiple instances of Experience. After I removed it, I got the Categories in the form of an array for each Experience.

When I posted the bug here, I typed out the query instead of copying and pasting it from my code and never imagined that that could be the problem.

Hope this helps somebody in the futu

[2019-09-17 20:27] ElliottJRo commented on #10158
@papb thanks for looking at this. This workaround is what I ended up using, sorry I didn't comment on this ticket after using the workaround.

The workaround does pass the test but it's not really a valid fix since it bypasses validation hook and does the check on the `set` hook. Ideally, the validations would be run before it is converted to whatever the end format is. Thoughts?

[2019-09-17 20:33] papb commented on #10158
@ElliottJRo Thanks for the fast reply! Hmmm, I think it is debatable, perhaps it is better to add an option to choose?

[2019-09-17 20:44] ElliottJRo commented on #10158
ah actually, I ended up changing the type to `DataTypes.BIGINT` ie:
[code]

which I guess makes the most sense since I am technically attempting to set the attribute as an int.

hmm so I think the main problem I had was: it was very hard to debug why the value passed into the validate function was being converted when I didn't have a `set` mutator.

[2019-09-17 20:50] papb commented on #10158
I see. I will label this as a docs issue for now, the possibility of changing the behavior or adding an option to choose can be left for a little later.

[2019-09-17 23:22] nabeards commented on #8553
Is this something that may still be happening?

[2019-09-18 01:49] papb commented on #8553
@nabeards The feature was not implemented yet. If you are willing to submit a PR that would be great!

[2019-09-18 03:31] Nogias9x commented on #3403
Thank you for reopening this @papb

[2019-09-18 05:06] AbhiSivaprasad opened #11446 "Schema name has '$' which is recognized as a bind parameter"
## Issue Description

$ in schema name breaks creates.

### What are you doing?

I am trying to run a simple create where the schema name is unchangeable as 'x$y'

### What is actually happening?

The create is failing:

 - Named bind parameter "$y" has no value in the given object.

If I escape the $ using $$ then all read queries will fail.

- [x] I think this problem happens regardless of the d

[2019-09-18 05:42] dodderjs opened #11447 "Sequelize.where col not null"
## Issue Description

Can't query col is not NULL with Sequelize.where function.

### What are you doing?
Write a select query with the following where state.

[code]

### What do you expect to happen?

The first one is for not getting `literal replacements` error but it's a different topic.
Second and the third object should generate the same `id IS NOT NULL`.

### What is actually happening?

Th

[2019-09-18 06:24] mranon0007 commented on #8775
has the feature been added yet?

[2019-09-18 07:32] imikemiller commented on #9328
I am seeing this problem even when explicitly defining `foreignKey` using camelCase.

[2019-09-18 08:01] bclark-systech opened #11448 "Deleting single instance removes multiple records"
## Issue Description

When destroying a many to many through instance, multiple records where removed. It appears the where clause that was originally used to find the instance, is then used to delete. Problem is, if your where query matches many records, and only want to delete one, they are all deleted.

This is the intermediate table linking the tables together. I also noticed I could not acces

[2019-09-18 08:40] flashspys commented on #11312
I could make the merge request. Would be the solution to remove the insertion of `BEGIN` and `END` and to leave this to the function author (what would be the best solution imho), or to make this dependent from the language used in the query? Or to make a new option?

[2019-09-18 09:56] rusekr commented on #3781
Fixed this by not installing pg-native module and sequelize config:
[code]
Made some research about performance drawbacks and found nothing.

[2019-09-18 11:31] papb commented on #11312
Hello @flashspys, that is great!

If I understood correctly, this problem does not happen in other language choices, therefore I think this is a bug of the `"sql"` language usage. I think the correct fix for this is to check if the language is `"sql"` and if so, do not insert `BEGIN` and `END` in the resulting query.

[2019-09-18 11:33] papb commented on #11446
Duplicate of #11320

[2019-09-18 11:33] #11446 closed

[2019-09-18 11:36] papb commented on #11448
Hello! You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-09-18 11:37] papb commented on #8775
@mranon0007 @2586 is still open, so no.

[2019-09-18 11:39] papb commented on #11447
Hello! You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner.

[2019-09-18 11:40] papb commented on #11447
Also:

I would like to know more about this, can you open another issue about this please? Thank you very much!!

[2019-09-18 13:04] HopefulLlama commented on #8315
What happened here?

[2019-09-18 13:24] talyssonoc opened #11449 "findByPk doesn't consider rejectOnEmpty when parameter is null or undefined"
## Issue Description

### What are you doing?

I'm running a `findByPk` query that may receive a `null` as argument with the `rejectOnEmpty` option set to true:

[code]

### What do you expect to happen?

I expected that Sequelize would throw a `SequelizeEmptyResultError` since this query will never return a value.

### What is actually happening?

It returns `null`.

### Additional context

I see

[2019-09-18 13:50] jeremybalog commented on #9354
There is only 2 comments with my code at the top and it's the same instance--it is the complete code.

[2019-09-18 15:52] AbhiSivaprasad commented on #11320
Is there any update or workaround for this if you can't remove '$' from schema name?

[2019-09-18 16:01] papb commented on #8315
@HopefulLlama Can you be more specific?

[2019-09-18 16:04] HopefulLlama commented on #8315
Sorry, I guess I should have been to begin with.

Is the Promise library still planned to be replaced?
What happened with the pull request talked about in this thread?

[2019-09-18 16:09] papb commented on #9354
@jeremybalog I know, it may be complete from your point of view but it is not an SSCCE, for example in one block of code you define a `SequelizeInstance` and on the other you do `sequelize.define` which makes it clear that it is not an SSCCE. Your code also refers to some environment variable, etc. An SSCCE is not only self-contained but minimal as well. Another example: I am pretty sure that most

[2019-09-18 16:11] papb commented on #8315
@HopefulLlama Yes, it is still planned to be replaced, but this probably won't happen in the very near future because maintainers are busy with other priorities now.

[2019-09-18 16:12] papb commented on #11449
Thanks for the report, I don't have the time to look into it right now but will do later. Feel free to ping me if it looks like I am taking too long.

[2019-09-18 16:54] bclark-systech commented on #11448
After doing more testing and reading through source code, it appears this is not really a bug. I resolved the issue by adding the id field into model definition. I missed that part in the docs.

[2019-09-18 17:37] erikaperugachi commented on #9516
I know the reason of this fix... maybe you are call any transaction where sequelize const is called twice in different files. This happens to me

[2019-09-18 17:37] kvidzibo opened #11450 "Limit breaks the query"
## Issue Description
If I add a limit parameter to the query it breaks.

### What are you doing?
I am trying to get all the items which do not have certain action

[code]

### What do you expect to happen?
I expected it to limit my results

### What is actually happening?

it throws an error

[code]

### Additional context

### Environment

- Sequelize version: 5.18.4
- Node.js version: 12.10
- Op

[2019-09-18 18:27] papb commented on #11448
@bclark-systech Wait, if I understood the problem correctly, I don't want this issue to be closed, even though you found a solution, the behavior is very weird. I will try to reproduce later, and will tag this appropriately as a bug or docs issue.

[2019-09-18 19:11] ph55 commented on #9354
@papb
To reproduce the issue you just need to:
* Create 2 MySQL databases in same connection (db1, db2)
* Try to make relation from model in db1 to model in db2 (db1.user -> db2.country)

You will see it's not possible. Because of https://github.com/sequelize/sequelize/issues/9354#issuecomment-435033394

[2019-09-18 20:02] bclark-systech commented on #11448
In the docs it says

https://sequelize.org/master/manual/associations.html#belongs-to-many-associations

I had already created my through tables manually, with a primary key, once i added the code below to my model, then everything worked as expected.
[code]

[2019-09-18 21:05] papb commented on #11448
I see! Thanks!! I will still leave this as a docs issue to see if I can further improve it :+1:

[2019-09-19 01:02] papb opened #11451 "Make public, document and standardize the API of the `queryInterface.showAllTables` method"
Currently the `queryInterface.showAllTables` method is marked as `@private` and therefore does not appear in the auto-generated docs. The jsdoc placed on it deserves improvement as well.

https://github.com/sequelize/sequelize/blob/d5e4a10f4e8dc1e37fe46678f04bbfa66b1299cc/lib/query-interface.js#L407-L421

Its API is also inconsistent across dialects:
* Some dialects return an array of strings (tab

[2019-09-19 01:20] joaoe commented on #11451
All RDBMSs support schemas. Sqlite does not. So for sqlite perhaps: a) keep old behavior to break less existing code using sqlite databases currently b) return `{schema:null}` to normalize the API. I don't have any strong opinions.

[2019-09-19 01:21] joaoe commented on #11451
Feature request: extend `showAllTables()` to accept a `schemaName` as argument and list only tables for that schema.

[2019-09-19 01:55] papb commented on #11451
@joaoe Thanks!! I prefer something like option `b`, but instead of returning `{tableName:...,schema:null}` I think simply returning `{tableName: 'abc'}` is better (no schema at all)

[2019-09-19 05:28] sushantdhiman commented on #11432
https://github.com/sequelize/sequelize/pull/11434

[2019-09-19 05:28] #11432 closed

[2019-09-19 05:35] dodderjs commented on #11447
Hello,

Just copy and past it to the `getWhereConditions` unit test in `test/unit/sql/where.test.js` file:

[code]

Correct me if I'm wrong but it should pass.

[2019-09-19 05:37] #11438 closed

[2019-09-19 05:50] dodderjs opened #11452 "Error: Support for literal replacements in the `where` object has been removed."
## Issue Description

### What are you doing?
Just copy and past it to the `getWhereConditions` unit test in `test/unit/sql/where.test.js` file and run `test-unit-mysql`:

[code]

### What do you expect to happen?

Correct me if I'm wrong but it should pass.

### What is actually happening?

Get an error:
`Error: Support for literal replacements in the `where` object has been removed.`

[code]

##

[2019-09-19 05:51] dodderjs commented on #11447
https://github.com/sequelize/sequelize/issues/11452

[2019-09-19 05:51] sushantdhiman commented on #11438
:tada: This issue has been resolved in version 5.19.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-19 05:53] sushantdhiman commented on #11151
Fixed by https://github.com/sequelize/sequelize/pull/11267

[2019-09-19 05:53] #11151 closed

[2019-09-19 05:53] sushantdhiman commented on #10067
Fixed by https://github.com/sequelize/sequelize/pull/11267

[2019-09-19 05:53] #10067 closed

[2019-09-19 06:03] sushantdhiman opened #11453 "v6: make documentation mobile friendly"

[2019-09-19 06:11] DrTerr commented on #6148
I just encountered same issue.
Hack using result.count.length is not acceptable solution as it can easily return very large set, halting a server for a moment to parse it, only to count entries in array.
It seems that sequelize must wrap group by queries with sum query.
I use group by as part of filtering process and for deduplication and it broke counting of findAndCountAll.
If there is a way to

[2019-09-19 06:23] uhuaha commented on #11312
This sounds very good to me. Thank you guys!

[2019-09-19 08:06] soufian044 commented on #11151
I'm still seeing the same issue with the "?" in the logs for the UPDATE
using the latest version 5.19.0

![image](https://user-images.githubusercontent.com/10144036/65225178-f0ce2e00-dac4-11e9-8fa5-b7ec489b33ee.png)

[2019-09-19 08:15] efkan commented on #11127
When using `findAll` with `raw: true` option, if there is only one record is found, result object will be a JSON object instead of a JSON **array**.

I think it can be evaluated together with the issue above.

|Environment|Value/Version|
|-----------|-----------|
|Database | PostgreSQL|
|Sequelize | ^5.9.4 |
|Node| v10.16.0|
|OS| Windows 10|

[2019-09-19 08:23] sushantdhiman commented on #11151
@soufian044 You will need to pass `logQueryParameters: true` to your Sequelize constructor options to enable parameter logging

[2019-09-19 10:12] anuj9196 commented on #4074
@bsienn it is there in the doc: https://sequelize.org/master/manual/querying.html#attributes

read it briefly.

[2019-09-19 12:11] nithishjv commented on #10278
Has there been any momentum on this? Do we have a workaround to use ltree with Sequelize?

[2019-09-19 12:30] papb commented on #11447
@dodderjs I will take a look into it later.

[2019-09-19 12:48] LiZhouYang5612 opened #11455 "update sequelize v5 cannot use sequelize-comment"
These Sequelize methods will generate SQL fragments that then include (starts with) comments that look like this:
`/* DEBUG: Running a SELECT command. */ SELECT ...
/* DEBUG: Running an INSERT command. */ INSERT INTO ...
/* DEBUG: Running an UPDATE command. */ UPDATE ...`
I want to print some useful information，such as the project name。
It can easily locate sql information to which project in our

[2019-09-19 12:51] papb commented on #6148
I will reopen this as a docs issue.

@DrTerr Can you clarify what you mean with this?

[2019-09-19 12:54] papb commented on #11455
Closing this as a [sequelize-comment issue](https://github.com/bennadel/sequelize-comment/issues/5).

[2019-09-19 12:54] #11455 closed

[2019-09-19 12:54] soufian044 commented on #11151
@sushantdhiman  thank you, i would suggest to update the [API Reference for the Sequelize constructor](https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor).

[2019-09-19 12:58] DrTerr commented on #6148
@papb Problem is simple, I wanted a raw query from findAll(excluding limits order and offsets) so I could wrap it in count sub query as a workaround. Since regular count doesn't work for group by cases and will return an array of counts instead if group by is present.
It would be great if count all grouped rows would be an option for count query.

I already found a workaround, but it required goin

[2019-09-19 12:58] sushantdhiman commented on #11151
@soufian044 It will automatically update in 24 hours

[2019-09-19 13:08] DrTerr commented on #6148
Just to expand on what I said.
Current behavior of "group" option for "count" method is not ideal for my case, but that is related to how I am using group by option, which I use with "having" option for one to many nested "and" search.
If I could access generated query for findAll, it would be easy to wrap it in sub query so I could return actual count of rows or having an option for that in "coun

[2019-09-19 13:23] geyuqiu commented on #607
@terraflubb @sdepold We do have to save boolean as bool and not as tinyInt for some use cases in Sqlite. But currently it is saved as tinyInt although defaultValue: false (and not 1 or 0)

[2019-09-19 13:25] geyuqiu commented on #607
https://github.com/sequelize/sequelize/issues/10288

[2019-09-19 13:41] geyuqiu commented on #607
Is there any work around to achieve Boolean for CREATE TABLE?

[2019-09-19 14:46] harpcio commented on #2325
I have a lot of problems with PostreSQL vs MySQL compatibility.
This is working for both.

[code]

[2019-09-19 14:49] harpcio commented on #8746
I have a lot of problems with PostreSQL vs MySQL compatibility.
This is working for both.

[code]

[2019-09-19 14:51] harpcio commented on #222
I have a lot of problems with PostreSQL vs MySQL compatibility.
This is working for both. Maybe will help someone.

[code]

[2019-09-19 15:44] cyrilchapon commented on #3781
`delete pg.native` doesn't work for me, neither does the `native: false` inside the options

[2019-09-19 16:27] papb commented on #3781
@cyrilchapon Are you sure you are applying [this](https://github.com/sequelize/sequelize/issues/3781#issuecomment-522198459) before anything else runs, i.e., in the first line of your entry point?

[2019-09-19 16:37] papb commented on #6148
I see, thanks! I don't have time to look further into this right now though, glad that you found a workaround. If you want to submit a PR in which you add a new feature like a `wrapSum: true` or something, we could look into it I guess!

[2019-09-19 19:15] CovertIII commented on #9489
I got this working with Postgres. As noted above use the `dialectModule` option when initializing Sequelize v5 like so:

[code]

To get past the `undefined of indexOf` error add this to the webpack config:
[code]
See these related issues:
https://github.com/brianc/node-postgres/issues/1187
https://github.com/serverless-heaven/serverless-webpack/issues/78

[2019-09-19 19:23] cressie176 opened #11458 "Mapping a column/field to the same name in a query causes the field to be omitted"
## Issue Description
Mapping a column/field to the same name in a query causes the field to be omitted from the response.

### What are you doing?
[code]

### What do you expect to happen?

The `title` field should have been mapped.

### What is actually happening?

The `title` field was deleted from the output

[code]

### Additional context
We can work around by removing columns that do not need

[2019-09-19 19:44] jpvanoosten commented on #11432
The `upsertKeys` array is emptied when the model contains a composite key since the length of the fields array of the `compositeKey` object will be of size > 1 (which causes this filter to skip it).

https://github.com/sequelize/sequelize/blob/3a6006930eda19e608342f4eee1bf3f1de4e8609/lib/model.js#L2705

My model looks like this:
[code]
In this case, the `model.uniqueKeys` object only contains a si

[2019-09-19 23:01] jeffleus commented on #11394
A little food poisoning wiped me out last week.  I will pickup this work again in the next couple of days.  But I did get a chance to look back through the commit history on the mariadb dialect.  There is an explicit comment by @rusher that he noted the implementation for schemas in MySQL is probably incorrect.  But he did not modify this because it would be a breaking change.  However, since he w

[2019-09-20 05:36] RahmatAliMalik5 commented on #8041
I have the same issue. I have updated the `sequelize` and it solved my problem...

[2019-09-20 07:18] DrTerr commented on #6148
Yes, adding an option such as "wrapSum" should be relatively straight forward. I am right now using Sequelize 4, but I don't think those core parts are much different from 5. As it is mostly about updating a code path of count function to instead of using an "aggregate" it would generate use similar query to "findAll" but instead it would omit same parameters as count operation.
Minor issue I see

[2019-09-20 08:46] cyrilchapon commented on #3781
@papb pretty sure, but not confident.
This is in a unit-test environement.

I'll double check

[2019-09-20 08:52] cyrilchapon commented on #3781
Just a word. This issue is 4,5 years ago.
I think one could expect a little more than an obscure an not-always-working workaround to fix an issue on a ORM, IMHO. Just to say