[2021-12-23 10:12] ephys commented on #13811
Yes that's an issue that occurred during the TypeScript Migration. You're right though: completely avoid importing from `sequelize'/types/*` (or `sequelize/lib`). Only ever import from `sequelize` and things should work fine.

[2021-12-23 10:12] #13811 closed

[2021-12-23 10:18] ephys commented on #11777
I think we can close this with the recommendation to move away from `sequelize.import` and use native import instead. Wdyt @WikiRik?

[2021-12-23 10:19] ephys commented on #13793
Duplicate of https://github.com/sequelize/sequelize/issues/13784, let's continue there

[2021-12-23 10:19] #13793 closed

[2021-12-23 10:23] ephys commented on #13545
@MrNickGreene / @hohoaisan could either of you create a [SSCCE](https://github.com/papb/sequelize-sscce) to help us investigate this issue?

[2021-12-23 10:52] WikiRik commented on #11777
Sounds good!

[2021-12-23 11:00] zainiazhr14 commented on #13784
It Work Thank You Very Much

[2021-12-23 11:04] #13784 closed

[2021-12-23 13:38] cmelendez opened #13816 "Sequelize v6.12.0+ is throwing an Error when using a moment.js object in date fields"
## Bug Description

Sequelize is throwing an `Invalid value` error when using a `moment.js` object in `DATETIME` fields to do date comparisons. Additionally, when using a Moment object to set a date, the date value is set to `0000-00-00 00:00:00`

This is happening since v6.12.0.

[code]

### What do you expect to happen?

Moment objects should be accepted for date comparison, creation, etc. as us

[2021-12-23 14:24] pedroassis opened #13817 "Replacements break with unrelated user provided data"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)
https://github.com/HandleCollections/sequelize-sscce
## Bug Description

When using replacements with user provided data we get errors when users input the colon symbol.

This happens because the user string is injected into the sql which later is parsed by s

[2021-12-23 14:28] #11777 closed

[2021-12-23 14:29] fncolon commented on #13816
Hello, just adjust and created the fix in #13818, thanks for the issue.

[2021-12-23 14:51] lerryjay commented on #10557
adding `distinct: true` worked for me

[2021-12-23 14:57] pedroassis commented on #13817
We might be able to simply improve the regex not to match anything enclosed by quotes.

I was sure this wouldn't work, but someone more experienced with the sequelize usage might know better.

[2021-12-23 16:04] Jamie0 commented on #10858
This issue had been plaguing us for a while (it was happening often on launch). After firing the app up with a debugger, I noticed a 10 second idle period following a DNS resolution.

It turns out that Node's built-in DNS module will only handle 1 DNS lookup at a time, and queues the rest.

Combining this bottleneck with an I/O bottleneck of modules instantiating (require-ing a lot of files), it o

[2021-12-23 16:16] ephys opened #14303 "[RFC] Unification of `createdAt`, `updatedAt`, and `deletedAt`"

[2021-12-23 16:25] ephys commented on #13773
So yes let's just go for the addition or .attr to avoid needlessly introducing breaking changes :)

[2021-12-23 18:50] ephys opened #14298 "[RFC] Decorators"
This is a long one, bear with me.

I'd like to bring built-in support for decorator based model declaration in Sequelize. It's one of the main arguments I've seen in favor of using TypeORM over the years and I think it would help reduce the boilerplate of creating a new model.

I am not going to lie, a lot of this is very inspired by `sequelize-typescript`, with some differences.

## Prior art

-

[2021-12-23 23:13] Oblivionburn commented on #13783
While, I originally opened this issue for sqlite3 and I'm not getting errors about that now, so I'll consider this case-closed.
Final solution: make sure some variation of "Visual C++ build tools" is installed for Visual Studio.

[2021-12-23 23:13] #13783 closed

[2021-12-24 00:07] #13645 closed

[2021-12-24 07:28] amitrana-dev commented on #13753
Up

[2021-12-24 10:03] JacquesMironneau commented on #10552
@askynet mine was to do another request with the id of the included field to get virtual fields through it.

[2021-12-25 10:07] WikiRik commented on #13649
Reopened, @fncolon can you still take a look at the comment below?

[2021-12-25 10:08] WikiRik commented on #10937
Hi! Was this an answer to the question, or an elaboration to the original question?

[2021-12-26 13:42] vipr0 opened #13826 "MySQL SET data type support"
I want to use [MySQL SET](https://dev.mysql.com/doc/refman/5.7/en/set.html) type in my application but I can’t find information in Sequelize documentation if this data type is supported.
What is possible solution to add column with set data type to my model using Sequelize?

[2021-12-26 14:53] WikiRik commented on #13826
The datatype SET is not supported yet. I have marked this issue as a feature request

[2021-12-26 20:37] themobiusproject opened #13828 "Comparisons against UUIDs in postgres"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**[Here](https://github.com/themobiusproject/sequelize-sscce) is the link to the SSCCE for this issue:**

### What do you expect to happen?

[code]

### What is actually happening?

[code]

### Environment

- Sequelize version:

[2021-12-26 21:53] joaoe commented on #13791
Hi.
I'm running node.js 16 and have a checkout of the latest commit from the main branch.

I'm debugging unit tests that were failing due to a "@@" operator, and I see the whole QueryGenerator.OperatorMap is reduced to `{undefined:"@@"}`. In `lib/dialects/abstract/query-generator.js` the line `const Op = require('../../../operators');` returns an object with a `default` property instead of all the

[2021-12-27 00:07] #13677 closed

[2021-12-27 00:31] faiwiz opened #13829 "Sequelize splits when using nested/raw = true."
Hello, I am using raw:true, nested:true for following conditions which breaks into multiple records without nested/raw it's works, here is an example...

			userModel.findAll({
				nested:true,
				raw:true,
				includes:[ordersModel]
			});

			Result
			{
				users:{
					{
						user_id:1,
						orders:{
							{
								order_id:1
								...,
							},
						}
					},
					{
						user_id:1,

[2021-12-27 06:02] ShawnZhangxxx opened #13830 "use SUM function int value is converted to string"
Question : my table live_statistic   column  duration_time is int type  , but convert to string type  when using SUM(duration_time)

My code:
;(async () => {
            let queryStr = `SELECT jj_uid  , SUM(duration_time) as total_time  FROM live_statistics WHERE start_time >= '2021-12-01 00:00:00' AND start_time < '2021-12-02 00:00:00'  GROUP BY jj_uid ` ;
            let paramArr = [];

[2021-12-27 12:41] mithunmumbai commented on #12806
in my case a small change in config.json. to change the password from integer to string.

[2021-12-27 15:21] ephys commented on #13791
Just ran `build.js` and the output for `operators.ts` (`/dist/lib/operators.js`) looks like this (which is the intended output):

<img width="587" alt="Screenshot 2021-12-27 at 16 19 11" src="https://user-images.githubusercontent.com/1280915/147485003-62a997e1-5318-4aa6-9f98-72971eaf0330.png">

What steps did you take to get your output?

[2021-12-27 18:54] #13816 closed

[2021-12-27 20:22] garikfreedomyan commented on #7110
I spent a lot of time to figure out how to make only one column case sensitive, and finally I found a solution, here is the solution:
`
User.init(
  {
    id: {
      type: DataTypes.STRING({ binary: true }),
      primaryKey: true,
    },
    name: {
      type: DataTypes.STRING,
      allowNull: false,
    },
  },
  {
    sequelize: database,
    tableName: 'users',
    timestamps: false,
  }
);

[2021-12-27 20:26] rajivharlalka opened #13833 "postgres .save() not able to detect change in Array fields"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

Changes in array fields are not getting detected and hence does not update database

### SSCCE

[code]

### What do you expect to happen?

I wanted the array to get updated in the table of database

### What is actually happening?

No c

[2021-12-27 20:29] sdepold commented on #13816
Could you please give it a try and see if it a try for you?

[2021-12-27 22:36] joaoe commented on #13791
Hi @ephys
I found the problem.
I checked out the tip of the main branch and ran `npm install`.
`npm` looks at package.json, namely `esbuild@^0.14.1`, and installs whatever latest version is after `0.14.1` which currently is `0.14.8`.
I recalled that `yarn` seems to be what you are using, so I ran `yarn install`. that one looks at `yarn.lock` which has version `0.14.1` locked in.

Version`0.14.1` o

[2021-12-28 02:26] PythonCoderAS opened #13835 "Typescript: Extend order by/group by to use attribute key names"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

### Is your feature request related to a problem? Please describe.

No.

### Describe the solution you'd like

For the types, I wish that the key names would be a valid type on the `group` and `order` fields for `findAll()`, since I c

[2021-12-28 04:22] cmelendez commented on #13816
Hi @sdepold, thanks for the fix but shouldn’t this change be included in v6 instead of v7? It’s a breaking bug/change that will affect anyone upgrading a minor version that’s using momentjs (my guess is it could be a significant number).
Just keep in mind that this bug can also silenty set dates to 0000-00-00 without throwing an error (the error is thrown only when selecting/searching).

Thanks.

[2021-12-28 08:53] sdepold commented on #13816
Correct. There is also a new v6 bugfix version.

[2021-12-28 09:07] #13668 closed

[2021-12-28 11:44] creativefctr commented on #12515
This is a bad one. @WikiRik any news on a fix? What about the PR by: @brianschardt

[2021-12-28 12:09] WikiRik commented on #12515
Interesting that this still occurs, @brianschardt made a PR [#12516](https://github.com/sequelize/sequelize/pull/12516) which was merged as https://github.com/sequelize/sequelize/pull/13345 in v6.6.4. See also [this test in v6.12.3](https://github.com/sequelize/sequelize/blob/v6.12.3/test/integration/model/bulk-create.test.js#L650-L710)

@creativefctr  Can you confim that this is not fixed yet in

[2021-12-28 12:12] ephys commented on #13833
Changes are detected when you assign something to a property. Because you push to `student_instance.certificates`, `student_instance.certificates` is not reassigned and the change is not detected.

You can force Sequelize to acknowledge the change by doing `student_instance.changed('certificates', true)`

[2021-12-28 12:17] ephys commented on #13828
I suppose we could cast this automatically :)

In the meantime you can cast it manually:

[code]

let me know if it worked.

[2021-12-28 12:23] ephys commented on #13791
Good catch, we'll do that :)

[2021-12-28 12:50] WikiRik commented on #13835
Not sure if you have any experience with updating types, but this is where the types for findAll() are defined; https://github.com/sequelize/sequelize/blob/main/types/lib/model.d.ts#L1795-L1859

[2021-12-28 12:52] WikiRik commented on #13830
Is this the same as https://github.com/sequelize/sequelize/issues/10533 ?

[2021-12-28 13:11] PythonCoderAS commented on #13835
I've viewed the types myself, but ran into one problem. If the user does not define any additional types (such as making a model without supplying the attributes), how would I have the fallback type be `string`?

[2021-12-28 16:13] creativefctr commented on #12515
@WikiRik sorry, my bad. I did know this was fixed because it was open. After an update the issue was resolved.

[2021-12-28 16:41] WikiRik commented on #12515
No worries, thanks for informing me this was still open. Seeing that it is indeed resolved I'll close this issue.

[2021-12-28 16:41] #12515 closed

[2021-12-28 18:52] Seblor commented on #12889
The workaround does not seem to work for me. Possibly because I am using a composite index.

Here is my model:

[code]

[2021-12-28 22:28] joaoe commented on #11774
For MSSQL, the best way is to use the `COL_LENGTH` builtin function. Example:
[code]

[2021-12-28 22:39] joaoe opened #13838 "Clarify supported Microsoft SQL Server versions"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

In `.github/workflows/ci.yml:200` there is the line
[code]

In `lib/dialects/mssql/index.js:63` there is the line
[code]
In the documentation, there isn't a referenced minimum version
https://sequelize.org/master/manual/dialect-specif

[2021-12-28 22:51] WikiRik commented on #13838
Let's support the oldest referenced version, which in my opinion is indeed 2014 (version 12).
We've been using tedious 8.3.0 for a while, but we do not have a policy on which versions of tedious are supported. Maybe it's best to remove that one from https://github.com/sequelize/sequelize/blob/main/docs/manual/other-topics/dialect-specific-things.md since we have a version mentioned as optional dep

[2021-12-29 01:53] joaoe commented on #13838
@WikiRik sure, I think I have the time these day. I think the supported MS SQL Server versions should be mentioned in the docs too, so people don't have to dig through the code.

[2021-12-29 03:15] AfonsoDev commented on #13792
I'm having the same problems, did you find any solution?

[2021-12-29 08:14] WikiRik commented on #13838
Agree. You can put it in that file or in the README + docs/index (or both). Now it refers to version 6.0.0 of tedious, which in my opinion is not needed.

[2021-12-29 08:17] alex-jss commented on #12449
@sdepold Since version `6.12.0-beta.3` this does not work anymore, because removed `lib\dialects\abstract\query-generator\helpers`.
Can you add official cross schema support for MS SQL?

[2021-12-29 10:19] ephys commented on #13791
esbuild version has been locked https://github.com/sequelize/sequelize/pull/13836/files

[2021-12-29 10:34] WikiRik commented on #13791
This is also part of the latest release (v6.12.4)

[2021-12-29 10:40] uzair004 commented on #8183
What's use of `cascade: true` if it cannot truncate tables with foreginkey reference ? It should be able to do it

[2021-12-29 12:06] WikiRik commented on #13792
findByPk(1) is used in various of our integration tests, also for postgres (for example [here])(https://github.com/sequelize/sequelize/blob/main/test/integration/dialects/postgres/dao.test.js#L1035-L1161). Same with findOne({ where: { id: 1 }}) (for example [here](https://github.com/sequelize/sequelize/blob/main/test/integration/data-types.test.js#L467-L487))

Can you make a [SSCCE](https://github

[2021-12-29 12:27] WikiRik commented on #13772
Upon initial analysis, this is due to the string with the dollar sign being one of the fn arguments. Will have to investigate further, but I can reproduce this error.

[2021-12-29 12:43] Reddemonfox commented on #12961
Any update on this? I am using

"sequelize": "6.12.4"
"sequelize-typescript": "2.1.1"
"sequelize-cli": "6.3.0",

[2021-12-29 12:43] renovate[bot] opened #13844 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency eslint-plugin-jsdoc to v37.4.2
 - [ ] chore(deps): update dependency tedious to v8.3.1
 - [ ] chore(deps):

[2021-12-29 14:03] WikiRik commented on #12449
Are you importing that directly?

@kwanhs sorry for not getting back to you earlier. Can you try to rebase your fork on the main branch and open a Pull Request to this repository?

[2021-12-29 16:32] alex-jss commented on #12449
Before yes, now it is not possible with version `6.12.0-beta.3`

[2021-12-29 18:07] sdepold commented on #12449
Could you paste your code?

We usually don't recommend requiring specifics files from the code base since it is likely to break. We usually only ever guarantee the exposed properties to remain the same but it's sort of up to us to put the code in whatever file we like. Recently we have started to migrate some files to typescript and hence moved stuff around a bit.

[2021-12-29 18:59] knoid commented on #12603
Same problem here, this is happening since typescript v4.3.2. I've read the [release notes](https://github.com/microsoft/TypeScript/releases/tag/v4.3.2) but nothing stands out to me.

[2021-12-29 19:36] ephys commented on #12603
The fields disappearing looks like a duplicate of https://github.com/sequelize/sequelize/issues/10579 (with potential solution https://github.com/sequelize/sequelize/issues/10579#issuecomment-691129626)

The rest I'm unsure about and can't help without a SSCCE or a repo we can look at and find what's wrong

[2021-12-29 19:41] bach942 commented on #13372
I know this discussion hasn't been commented on in a while, but I would advocate for day.js. Date-fns is great, but it can't handle timezones like moment and moment-timezone does. I just tried to convert all my moment objects over to Date objects and using date-fns to handle the manipulation part and it became a nightmare (Once your string is converted to a Date object it now has the server timezo

[2021-12-29 19:42] bach942 commented on #13372
Also if you want I could see how it goes and make a PR with the migration to day.js?

[2021-12-29 19:46] knoid commented on #12603
@ephys You can find an example here: https://github.com/knoid/sequelize-test-12603

All I did was a typescript project where index.ts is a copy of [ModelInit.ts](https://github.com/sequelize/sequelize/blob/main/types/test/typescriptDocs/ModelInit.ts).

[2021-12-29 19:48] ephys commented on #13372
What about sticking with moment until native Temporal is shipped? Sounds like a lot of work for something that's going to be migrated again soon after.

[2021-12-29 19:51] ephys commented on #10579
I'm reopening to document the workaround (see https://github.com/sequelize/sequelize/issues/10579#issuecomment-691129626).

Note that this is regarding the issue with babel. If you're experiencing the issue with a different transpiler, please open another bug report with all the necessary information.

[2021-12-29 19:55] bach942 commented on #13372
@ephys I can get on board with the Temporal Proposal, but I didn't know what kind of time frame it was going to be on. My goals was to just help migrate from moment, which has been deprecated for a while to something more supported and stable.

[2021-12-29 20:15] ephys commented on #12603
So the warning `PostgresSQL does not support 'INTEGER' with LENGTH, UNSIGNED or ZEROFILL. Plain 'INTEGER' will be used instead` is correct. The example uses mysql which supports unsigned integers while your example uses postgres, which does not. It's just a warning and removing `.UNSIGNED` removes the warning.

Not specifying `await sequelize.sync()` is not incorrect. You should avoid it in produc

[2021-12-29 20:23] ephys commented on #13372
I agree, we can't know how long it's going to be. And I'm not pro using the polyfill before Temporal gets unflagged in at least some engines (just in case). I suppose Dayjs (or alternative lib) it is

[2021-12-29 20:25] WikiRik commented on #13372
Hearing this I think day.js would be better then. Looking forward to see a PR with the migration. Temporal would be nice but I don't think we can really use it until the end of 2022 (or later)

[2021-12-29 20:26] ephys commented on #13833
Closing as answered. Let us know if it still doesn't work.

[2021-12-29 20:26] #13833 closed

[2021-12-29 20:29] knoid commented on #12603
ok, I may have skipped some explaining. This is the output I get by running `npm start`.

[code]

The line that says `undefined undefined undefined` is [line 218](https://github.com/knoid/sequelize-test-12603/blob/main/index.ts#L218) where it's trying to access `newUser`'s properties and it just gets undefined for every one. It then fails on the following line because `createProject` is also undef

[2021-12-29 20:32] ephys commented on #12603
Hmm sorry I missed something I changed during my tests.

Set `"target": "esnext",` to `"target": "ES2021",`

[2021-12-29 21:32] sdepold commented on #13372
👌 @ dayjs

[2021-12-29 21:45] knoid commented on #12603
That's interesting! You can see my [latest commit](https://github.com/knoid/sequelize-test-12603/commit/ff85f0cd47c5998b0fdad8c9d5500ed82b31fb78) with the appropriate changes. I didn't know about this `declare` keyword. Now it all works. Thanks!

[2021-12-29 22:48] ephys opened #13864 "Documentation links broke"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

Documentation links from search engines (and likely more) broke after the main branch rename.

Eg. https://sequelize.org/master/manual/model-basics.html

I'm not sure if that's the case but given main is V7, it's possible that https://sequelize.org/main/manual/model-basics.html is displaying the V7 version of

[2021-12-30 00:33] fncolon commented on #13864
If we access it through https://sequelize.org/master/ it will redirect you to the `main` branch

I'm go with: adds a redirect from `/master` to `/main`

[2021-12-30 00:35] fncolon commented on #13864
The problem here is https://sequelize.org/master/manual/model-basics.html we don't get redirected in the `/master` URL  subpath

[2021-12-30 01:09] #11904 closed

[2021-12-30 05:42] smuralimohan commented on #13792
Hello @AfonsoDev
No. no solution yet. I have switched to TypeORM after trying several options like Sequelize, Knex+Bookshelf, Knex+Objection etc etc..

[2021-12-30 07:00] alex-jss commented on #12449
@sdepold @WikiRik
You can see an [example](https://github.com/alex-jss/examle-sequelize-csdb-mssql) of how it works

[2021-12-30 07:58] sdepold commented on #13864
Should be back in a moment. I have now removed any hint on a master or main branch from the docs and only stated that we have v7 as the latest version. it will however build a main and master directory secretly based on the main branch and hence links from google or whatever should hopefully still work

[2021-12-30 07:59] sdepold commented on #13864
the version picker in the header would be nice indeed. I can have a look into that, too. It's depending on the v5/v6/v7 branches however, so I'll have to push a change to those branches

[2021-12-30 08:11] sdepold commented on #13864
Seems to work now

[2021-12-30 08:34] ephys commented on #13864
Yep, it's back. Thanks :) I'll keep it open for now to see about adding a version switch

[2021-12-30 09:12] ephys commented on #13770
More on this: it's unlikely that Model.init is going away, however Sequelize.define is going to stay too. If you want to improve the output typing of Sequelize.define to implement what you have in mind, feel free to open a PR :)

[2021-12-30 09:20] ephys commented on #11032
We're updating the documentation to explain how to resolve this (https://github.com/sequelize/sequelize/pull/13861).

TL;DR: use `declare` on your public class fields.

[2021-12-30 09:22] ephys commented on #11675
@jaismith Have you tried using `declare` on your fields? (even with tsc/ts-node).

[2021-12-30 09:47] samrui opened #13865 "sequelize pool doesn't take effect in dialect "mssql""
## Issue Creation Checklist

[ √] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description
I created a sequelize pool with max 3, min 0, idle 30000.
Then I trigger 100  query concurrently, I found sequelize pool created connection and close connection immediately.
It doesn't use existed connection. It created about 100 connecti

[2021-12-30 10:22] ephys commented on #12695
I've opened a PR to document esm replacements. https://github.com/sequelize/sequelize/pull/13866

please let me know if this resolves it for you

[2021-12-30 11:01] ephys opened #14300 "[RFC] How to fix the incompatibility with Public Class Fields"
*Yet another RFC because this would be a large change. Promise at some point I'll start writing actual code instead of just describing how it could work*

## The Problem

There is an incompatibility in Sequelize between [Public Class Fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Public_class_fields) & Sequelize attributes.

I've documented it in greater details

[2021-12-30 11:28] mariusa commented on #12695
Thank you @ephys , yes, looks good!

I'm using sequelize on an 100% ESM project and it works fine, except sequelize-cli migrations, which still use `require`.
Hoping that https://github.com/sequelize/cli/pull/982 will solve it.

[2021-12-30 13:06] sdepold commented on #13864
Version picker has landed.

[2021-12-30 13:06] #13864 closed

[2021-12-30 18:36] PythonCoderAS opened #13871 "Typings for the `Model.count()` method are inaccurate"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

The TypeScript typings indicate that whenever the `group` option is provided to the `Model.count()` function, then an object will be returned with variable string keys containing numbers. However, what is actually returned is an array of

[2021-12-30 19:53] mmahalwy commented on #13770
yeah @ephys i figured, because itd be a breaking change, but i do think that's the biggest limitation to Sequelize becoming fully typed. I know Sequelize borrows a lot of inspiration from Rails/ActiveRecord, and as the Ruby world embraces typing, we will see gems like this become first class: https://github.com/chanzuckerberg/sorbet-rails. Generating the types and methods from the db schema instea

[2021-12-30 20:17] WikiRik commented on #13772
This is due to https://github.com/sequelize/sequelize/pull/11606. Not sure if this is something we can fix properly, but there is a workaround in the form of [sequelize.literal()](https://sequelize.org/v6/class/lib/sequelize.js~Sequelize.html#static-method-literal)

So you can use
[code]

[2021-12-31 06:14] uzair004 commented on #8981
link shows 404 error.

[2021-12-31 06:27] uzair004 commented on #8183
There exist a `removeConstraint()` method on `queryInterface` class. try using

`await sequelize.queryInterface.removeConstraint(
      "your_table_name",
      "your_constraint_name_here"
    );`

 However, It wasn't working for me, throwing no constraint found error.

 So get away with using Raw Sql query.
 `sequelize.query(
      "ALTER TABLE your_table_name DROP CONSTRAINT your_constraint_name

[2021-12-31 13:25] WikiRik commented on #8981
Yes, query-interface.js is now here; https://github.com/sequelize/sequelize/blob/7f57a0d7f6cde2006df865ae7f5bb10eab7fb3af/lib/dialects/abstract/query-interface.js but in which line it was fixed I would not be able to find quickly. Are you still experiencing a similar issue?

[2021-12-31 16:43] uzair004 commented on #8981
First of all your documentation link is still not working, in fact 70% google too searches doc links in google shows 404 error.

I tried using `sequelize.queryInterface.removeConatraint` It didn't work, while raw query did work even though they are suppose to do same thing

[2021-12-31 16:54] jeremypatrickdahan commented on #11161
I used this workaround :
[code]

You can then call your softDelete on your model or model instance, and it will trigger an update hook with the deleted_at properly set and the soft_delete boolean in the options.

[2021-12-31 17:45] shreyansh-zazz commented on #12595
+1

[2021-12-31 18:04] shreyansh-zazz commented on #12595
I tried the following and its working for me:

[code]

[2022-01-01 00:06] #13733 closed

[2022-01-01 11:23] sdepold opened #13875 "Add scope to CLI project"
Release new version of CLI under @sequelize/cli and (optionally) remove sequelize-cli as exported binary

[2022-01-01 18:14] fncolon commented on #13865
Merged!

[2022-01-01 18:14] #13865 closed

[2022-01-02 17:46] mytharcher opened #13882 "Date properties in result of .toJSON() stay as a Date instance, but not string"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

The code of [line 4457](https://github.com/sequelize/sequelize/blob/main/lib/model.js#L4457) in `model.js` is using `_.cloneDeep`. And the `Date` type will not be convertet to string as it should be in JSON format (in which `Date` is not

[2022-01-02 19:12] ephys commented on #13882
This works as expected. `toJSON` isn't designed to be called by anything else than `JSON.stringify`. It's perfectly normal for `toJSON` to return something that's not one of the primitives JSON supports. `Date` has a toJSON method. `JSON.stringify(jane)` will produce the proper output.

[2022-01-02 19:35] ephys commented on #13724
This does not look like a sequelize issue, you're using `numbers` outside their safe integer range

[code]

JavaScript is unreliable when it's unable to properly represent the number:

[code]

You need to use js [bigints](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) or strings instead.

[code]

[2022-01-02 19:45] ephys commented on #12695
Merged https://github.com/sequelize/sequelize/pull/13876

[2022-01-02 19:45] #12695 closed

[2022-01-02 19:45] ephys commented on #11675
Merged https://github.com/sequelize/sequelize/pull/13877

[2022-01-02 19:45] #11675 closed

[2022-01-02 19:46] ephys commented on #11032
Merged https://github.com/sequelize/sequelize/pull/13877

[2022-01-02 19:46] #11032 closed

[2022-01-02 19:46] ephys commented on #11494
Done in https://github.com/sequelize/sequelize/pull/13877

[2022-01-02 19:46] #11494 closed

[2022-01-02 19:46] ephys commented on #12603
Closed by https://github.com/sequelize/sequelize/pull/13877

[2022-01-02 19:46] #12603 closed

[2022-01-02 19:46] ephys commented on #10579
Closed by https://github.com/sequelize/sequelize/pull/13877

[2022-01-02 19:46] #10579 closed

[2022-01-02 20:02] ephys commented on #13789
Sorry, marking your issue as invalid. Please follow the issue template and provide a SSCCE or runnable code example so we can better help you with the issue you're encountering

[2022-01-02 20:02] #13789 closed

[2022-01-02 20:11] ephys commented on #13781
I don't think `query` supports an `attributes` option, and if it did, it's likely going to be an array of attributes to include and not going to support `exclude`

[2022-01-02 20:43] ephys commented on #8981
@uzair004 documentation url breakage was resolved https://github.com/sequelize/sequelize/issues/13864

If you're still experiencing this issue (the removeConstraint issue), can you open a new bug report with your SSCCE so we can investigate?

[2022-01-02 21:02] ephys commented on #13774
I'm closing this issue due to lack of information. It can be reopened if you provide the following information:

- Your sequelize version, as well as which dialect & dialect version you're using.
- A SSCCE that replicates your issue: https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md#opening-an-issue-to-report-a-bug - it should be as minimal as possible while replicating your bug, it

[2022-01-02 21:02] #13774 closed

[2022-01-02 21:24] ephys commented on #13871
You're right, the typing should be an Array of `{ groupKey: groupValue,  }`

[2022-01-02 21:31] nicoabie commented on #2586
I had a new years idea and created this package to try a solution for this issue using triggers.
I believe it is a good idea as entity hooks shouldn't know (in my opinion) about other entities.
And It is also possible that SQL engines use triggers behind the scenes or some similar mechanism to achieve the cascades.

https://www.npmjs.com/package/sequelize-paranoid-cascade

It is in development but

[2022-01-02 22:06] hayksaryan commented on #2586
@nicoabie Of course, using cascading deletes is a matter of personal choice, and having a solution to keep using them is great (although I am a bit worried about performance of your solution on large datasets).

But I'd like to bring the focus on a bigger question:
**Should we delete any data from the database at all?**

- Storage is getting cheaper and cheaper.
- A lot of times we may physically

[2022-01-02 22:16] ephys commented on #2586
If you're from the European Union or have customers from the European Union, the right of erasure means you'll have to hard delete some data, not just soft delete. (disclaimer: not a lawyer).

[2022-01-02 22:17] haykerman commented on #2586
@nicoabie Of course, using cascading deletes is a matter of personal choice, and having a solution to keep using them is great (although I am a bit worried about performance of your solution on large datasets).

But I'd like to bring the focus on a bigger question:
**Should we delete any data from the database at all?**

- Storage is getting cheaper and cheaper.
- A lot of times we may physically

[2022-01-02 22:19] haykerman commented on #2586
@ephys Agreed. That kind of data can be an exception and may be handled separately.

[2022-01-02 22:50] nicoabie commented on #2586
Here we are talking for a solution to the unsupported cascade deletes in paranoid mode (meaning setting the deletedAt field)

One solution proposed was to use hooks which IMHO will be getting more responsibility than they should.

The proposed approach is to automatically creating triggers when running migrations to emulate the cascade in paranoid mode.

Is there any other way to do this that isn'

[2022-01-02 23:09] hayksaryan commented on #2586
Well, my solution is to not have a solution at all for this specific problem. Because deleting related data might be out of the scope of the ORM library,  considering it being an application's own architectural problem.

[2022-01-02 23:10] haykerman commented on #2586
Well, my solution is to not have a solution at all for this specific problem. Because deleting related data might be out of the scope of the ORM library,  considering it being an application's own architectural problem.

[2022-01-03 02:05] mytharcher commented on #13882
Thanks for your explanation. But the name of this API still makes confusion (at least for me). Could its name be considered to have a change to `toJS()` (like in MobX)? Personally I think it will match the intention of design. And the `toJSON()` API could be provided for converting to primitives JSON object.

[2022-01-03 02:14] nicoabie commented on #2586
@haykerman I truly do not understand what you are saying. "my solution is to not have a solution at all for this specific problem" the whole point of this thread is to find a solution for this problem.
"Because deleting related data might be out of the scope of the responsibilities of an ORM library" we would not be deleting any data because it is paranoid mode (soft delete) and it won't be respon

[2022-01-03 08:03] ephys commented on #13882
`Model#toJSON` has been implemented to support `JSON.stringify()`, as such it can't be renamed because it's a [standard function name](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#tojson_behavior).

`Model#toJS` already exists as `Model#get` (returns all attributes)

[2022-01-03 09:02] joaoe opened #13886 "MS SQL fail upset with primary key + composite index"
## Issue Creation Checklist

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** LINK-HERE

[code]

### What do you expect to happen?

No, fail; upsert to run as expected.

### What is actually happening?

Fails with
[code]

### Additional context

There are

[2022-01-03 09:14] #13871 closed

[2022-01-03 09:15] ephys commented on #13886
This works as expected. `upsert` needs a unique or PK attributes to be able to find the row that should be updated if it already exists.

If you're not providing either, just use `create` instead of `upsert`

[2022-01-03 09:42] ephys commented on #13886
Going to unassign myself, I initially misread part of the code sorry 😅.

However you're right. Other dialects seem to handle this case properly but mssql does not.

Can you work on a PR for this? :)

[2022-01-03 10:06] haykerman commented on #2586
I have read the thread and I am well aware of the problem, as I've been investigating it for more than a month now.

What I am proposing is implementing deletion logic for related tables in application code, not on database level, because it's business logic. It's neither ORM's nor DB's responsibility to implement/contain this kind of business logic (imo, though this is debated). It's preferable t

[2022-01-03 11:03] joaoe commented on #13886
I have the fix ready.

[2022-01-03 14:08] 09abhishek commented on #311
Any upcoming support for the composite PK and FK in the sequlize?

[2022-01-03 15:06] YBrown-OTO commented on #13365
Please re-open this issue. I encountered the same problem.

[2022-01-03 15:15] ephys commented on #13365
@YBrown-OTO Looks like this PR is relevant https://github.com/sequelize/sequelize/pull/13045

[2022-01-03 15:58] Fardenz opened #13889 "dialect specific column identifiers reference error"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** [LINK-HERE](https://github.com/papb/sequelize-sscce/pull/211)

### What do you expect to happen?

When having a sequelize scope and querying some entity, the include works as

[2022-01-03 16:09] YBrown-OTO commented on #13365
Thanks @ephys,
I encountered the problem via queryInterface.addColum using Umzug.
Could be related to [#11634](https://github.com/sequelize/sequelize/issues/11634) as well.
RCA could be: [#13045](https://github.com/sequelize/sequelize/pull/13045)
The [workaround](https://github.com/sequelize/sequelize/issues/11742#issuecomment-947469433) suggested by @RossVertizan in [#11742](https://github.com/se

[2022-01-04 06:43] uzair004 commented on #8981
documentation url is still broken

[2022-01-04 07:15] Reddemonfox commented on #12961
there is some issue with the equate in the model.js i found in the following path
in function sync where we are checking for existing foreign keys, there we are actually checking for  foreignKeyReference.referencedTableName === references.model

here references.model is an object, there we need to check for references.model.table or references.model.tableName

file path in the node modules is
node

[2022-01-04 08:12] uzair004 opened #13893 "queryInterface.removeConstraint() not removing table constraint"
## Issue Creation Checklist

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

[code]

### What do you expect to happen?
[code]
     this line of code should be able to remove constraints from "ordered_items" table with name "CK_unique_order_item"

### What is actually happening?

throwing error: "No cons

[2022-01-04 08:15] uzair004 commented on #13893
@ephys I have created this issue related to removeConstraint , hope it will clearify what problem I am facing

[2022-01-04 08:52] ephys commented on #12961
@Reddemonfox would you be willing to open a PR with this?

[2022-01-04 08:58] sdepold opened #13894 "Choice of dialect"
In v7, we want to have the following way of choosing the dialect to be used:

[code]

See https://github.com/sequelize/sequelize/pull/13798

[2022-01-04 08:59] sdepold opened #13895 "Add scope to Umzug project"
Release new version of umzug under @sequelize/umzug.

Q: Do we want that given, that umzug is theoretically independent from sequelize?

[2022-01-04 09:02] ephys commented on #13895
I'm always down for scoping because it gives me confidence regarding who developed the package.

On the other hand, people could take it as a sign that it only works with sequelize.

I'd still do it, but be clear on the npm page that this works with other solutions too?

[2022-01-04 09:12] sdepold opened #13896 "Default to snake_case for table and column names"
Historically, Sequelize has always been using CamelCase for table names and column names. Looking into the industry "standards", it seems that the majority prefer snake_case however making queries easier to read and also allowing to remove quotes in pg for example.

Example:

JS/TS:
[code]

Database:
[code]

[2022-01-04 09:13] ephys commented on #8981
@uzair004 can you post the documentation url that's broken?

[2022-01-04 09:27] uzair004 commented on #8981
for instance, clicking this one shows 404 error. so are many google searches results

[2022-01-04 09:48] ephys commented on #8981
That's not a documentation link, it's the source code. `master` branch was renamed to `main`, & query-interface was moved to https://github.com/sequelize/sequelize/blob/7f57a0d7f6cde2006df865ae7f5bb10eab7fb3af/lib/dialects/abstract/query-interface.js

The documentation urls listed in google search did break but #13864 should have resolved it. If you do still have a google search result that still

[2022-01-04 09:48] John-H-Smith commented on #11400
Any Updates?

[2022-01-04 09:50] ephys commented on #11400
@John-H-Smith we're thinking about doing it for v7 https://github.com/sequelize/meetings/issues/7

[2022-01-04 10:45] th1nkful opened #13897 "Update not using camelCase field names to snake_case for instance.update() call"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** https://github.com/papb/sequelize-sscce/pull/213

### What do you expect to happen?

I expected the query to work update the row

### What is actually happening?

I get an error

[2022-01-04 10:55] DScheglov commented on #10566
Hey, @WikiRik

Happy New Year!

Is any updates on the issue? )

[2022-01-04 12:23] moontechAnkit commented on #9806
Still not working.

[2022-01-04 12:52] microvn commented on #13724
I have tried with BigInt many times. Result is still error. It just doesn't error for String.

Along with that test, we tried with version before 6.6.5. It's work well.

[2022-01-04 15:09] ephys commented on #394
I'd like to propose an alternative approach to what has been proposed so far for the Query Builder

Instead of designing it as something separate for raw queries, I've built it on top of `Model.find{One,All}`. The goals being:

- Have feature parity between the two systems.
- Improve support for writing sql literally:
	- Being able to bind parameters in literals.
	- Being able to use Attribute nam

[2022-01-04 15:40] ephys commented on #13724
I've just tested your SSCCE and one thing does crash (the logging. We'll fix that), the rest works as expected:

- `124594734759940096` is out of range for js number, changed it to `124594734759940096n`
- Subsequent runs of your SSCCE fail because ID `124594734759940096` already exists as you don't reset the DB between runs. Fixed by adding `force` parameter to `sequelize.sync`.
- Setting `data.in

[2022-01-04 17:27] shayonj opened #13901 "Support dropping index CONCURRENTLY in Postgres"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

Support drop index [`CONCURRENTLY`](https://www.postgresql.org/docs/9.1/sql-createindex.html) in postgres. Postgres has the ability to add or drop an index `CONCURRENTLY`. This operation tends to be safer and more reliable in produc

[2022-01-04 21:30] shayonj opened #13905 "Support adding a NOT VALID to foreign key constraint in Postgres"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

Postgres has the ability to add `NOT VALID` to a foreign key constraint. When added, it skips the long check on a table. In certain cases this can be a desirable and more reliable way of adding constraints on large production database

[2022-01-04 22:25] WikiRik commented on #13905
Sounds good, looking forward to the PR!

[2022-01-04 23:39] jlmbrt opened #13906 "Typescript error when passing a ModelOptions argument in Sequelize.define method"
## Issue Creation Checklist

[ x ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

This is my first bug reporting, I hope i do it right !
*(Oh, and sorry for my english, I try to do my best )*

## Bug Description

Bug is related to the definition of the `define` method of the `Sequelize` class :
the `options` argument of type `ModelOptio

[2022-01-05 00:07] #13662 closed

[2022-01-05 07:32] erikpols commented on #13801
still an issue

[2022-01-05 08:44] ephys commented on #13801
Sequelize needs you to assign something to `map.data` to detect changes. Solution is to call `map.changed('map', true)` to force the model to consider that field dirty.

[2022-01-05 08:44] #13801 closed

[2022-01-05 09:10] ephys commented on #13906
This does look like an oversight. Seems like you've already figured out the solution. Would you mind sending a PR?

[2022-01-05 09:17] ephys commented on #13662
stale bot closed this but I still want to give you a response: the error arises in `expertise.controller.ts` so it looks like an issue in your code?

Nonetheless it's going to be difficult to help with without a SSCCE (https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md#opening-an-issue-to-report-a-bug) which replicates the issue.

[2022-01-05 09:21] ephys commented on #9806
Given how complex the method to define a function looks I think it'd be easier to just run a raw query:

[code]

I don't think sequelize can really provide anything to make this easier

[2022-01-05 10:35] ephys commented on #11247
This is a know issue. Sequelize can't currently detect that change. You need to use `Model#changed('urls', true)` ; or ,as you did, reassign (`product.urls = urls;`).

I don't consider it a bug but it's still something I'm looking into resolving as it pops up often.
I've opened a discussion here https://github.com/sequelize/meetings/issues/16 regarding changing how we detect changes.

[2022-01-05 10:35] #11247 closed

[2022-01-05 12:43] prabhatCH commented on #8216
Same problem here still in 2021.... :(
Any plans to fix this?

[2022-01-05 12:56] ardaorkin commented on #11637
is there anyone who succeeded to solve the issue?

[2022-01-05 14:10] ephys commented on #11637
I don't know if such a feature is going to be added to sequelize unless a dialect starts supporting arrays of foreign keys.

I would recommend using a through-table. Or, if you really want to use an array of FKs, https://github.com/sequelize/sequelize/issues/11788 is the issue about being able to define custom joins.

[2022-01-05 16:05] microvn commented on #13724
Hi @ephys
`// You can delete this code block if you have included a link to your SSCCE above!
'use strict';

// Require the necessary things from Sequelize
const { Sequelize, Op, Model, DataTypes } = require('sequelize');

// This function should be used instead of `new Sequelize()`.
// It applies the config for your SSCCE to work on CI.
const createSequelizeInstance = require('./utils/create-sequ

[2022-01-05 16:11] snapre commented on #12488
Also facing the same issue with using SQLite/Sequelize, it's can lead to ```upsert``` failed.

[2022-01-05 16:43] ephys commented on #13724
You're right. There is a bug. If the `id` is `>= 71999999999999991`, calling `save` does not seem to work anymore

Passing as either a string or a bigint doesn't change.

Here is the updated sscce that demonstrates that:

[code]

[2022-01-05 16:52] ephys commented on #13724
Parameters are passed as-is to `mysql2`'s `Connection.execute` so I don't think this is a sequelize issue as much as a mysql2 issue?

log of parameters right before being passed to `mysql2`:

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/1280915/148256622-9d565743-55ca-4c46-a1d1-d629b1384568.png">

[2022-01-05 22:14] jlmbrt commented on #13906
Thank you !
I wanted to be sure it was only that and not a bigger problem. I am not (yet) a Sequelize expert ;)

PR is sent

[2022-01-05 23:30] nawlbergs commented on #7634
Could not get `order: [[Sequelize.literal('CourseLesson.order'), 'ASC']]` with my models

i had to look at the actual sql getting generated by sequelize to get this to work... and needed to do:
```[ Sequelize.literal("`Lessson->CourseLesson`.`order`"), 'asc'],```

This seems like a hack... and breakable. (im on v5)

[2022-01-05 23:46] ericyd commented on #13896
My understanding is that the [`underscored`](https://sequelize.org/v6/class/lib/model.js~Model.html) property is for. When `true`, this property uses snake_case for the database columns and camelCase in the ORM. Since JS convention is camelCase I think this is the preferred method if you want to use snake_case in the DB

[2022-01-06 00:04] ericyd commented on #13562
This doesn't feel like a Sequelize bug or issue to me. This is just not how the SQL `LIKE` clause works. If you're query looks like this

Given a table like this

[code]

if your query is this
[code]

it will not find results because no text matches that string.

A simple solution is to replace all spaces in your search query with `%` symbols, e.g.

[code]

but keep in mind this will only work if

[2022-01-06 00:46] AaronMBMorse opened #13912 "defaultValue: DataTypes.UUIDV4 not honored"
## Issue Creation Checklist

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** LINK-HERE

[code]

### What do you expect to happen?

It should be creating the uuid on the record creation.

### What is actually happening?

It doesn't create a uuid and the f

[2022-01-06 01:38] ngocmobilefolk commented on #13724
@ephys I tried to execute the query that Sequelize passes to Mysql directly by console. The query was executed well. So I don't think this issue belongs to Mysql. :(

[2022-01-06 03:51] #13901 closed

[2022-01-06 07:16] silencej commented on #11583
https://stackoverflow.com/a/5987838/6191913
SQLite 2021-03-12 (3.35.0) now supports DROP COLUMN.

Shall we update this accordingly?

[2022-01-06 08:11] ephys commented on #7634
@nawlbergs using a literal is always going to be easily breakable yes

Have you tried ordering using the association as a parameter?
Something like `[Lesson.associations.CourseLesson, 'order', 'ASC'],` ? (just guessing your field names)

([source](https://sequelize.org/master/manual/model-querying-basics.html#ordering))

[2022-01-06 08:14] ephys commented on #13896
It is what that property is for, the idea for v7 would be to turn it on by default to follow sql conventions. Could still be turned off if you'd rather have camelCase names in the database.

[2022-01-06 08:18] ephys commented on #13562
I agree that this is not a sequelize issue. `LIKE` isn't designed to search by keywords.

For postgres this might be of use to you: https://www.postgresql.org/docs/9.5/textsearch-intro.html
I don't know how other dialects support this use-case.

[2022-01-06 08:22] Mrbeyond commented on #13562
@ericyd Thanks for your answer, my question was more like how to do I do it, not a a bug.

Thanks a lot, I was able to get around it by splitting the search words and chained the or statement in the array.

[2022-01-06 10:38] ephys commented on #13906
I think it's also related to https://github.com/sequelize/sequelize/pull/13890, which hasn't been released on v6 yet

[2022-01-06 10:49] ephys opened #13913 "Improve sequelize-sscce"
Current SSCCE template has a couple of issues that we should resolve to make testing & creating SSCCE smoother:

- Fix `log` crashing when encountering a `bigint`.
- Add docker containers for each dialect for local testing.
- Add a script to test for each dialect, for local testing.
- Remove the .js files and only include the .ts files, to reduce confusion as to which one you should be editing.

[2022-01-06 11:01] #13906 closed

[2022-01-06 13:52] ephys commented on #13436
@e-e-e can you check if this is still an issue after PR https://github.com/sequelize/sequelize/pull/13890?
It should have fixed it.

[2022-01-06 16:05] ericyd commented on #13562
in general I'd recommend Stack Overflow for this use case, rather than a GitHub issue. In this case, there isn't anything missing from the documentation, it's a question on your specific implementation details. Regardless, I'm happy that your issue is resolved and I'd recommend that this issue be closed

[2022-01-06 16:09] #13562 closed

[2022-01-06 16:12] ericyd commented on #13912
I don't believe this is the intended use of DataTypes. `defaultValue` is supposed to take a function or a value which returns the literal data type you are looking for. [DataTypes.UUIDV4](https://github.com/sequelize/sequelize/blob/287a9a1684b6cd3dfcf7d19fedad4b6be3e626be/lib/data-types.js#L664) is simply a class - it represents the _data type_ of a UUIDV4, not the actual data (e.g. a literal UUID

[2022-01-06 16:16] ephys commented on #13912
They're special types meant to be used as default values :) (see https://sequelize.org/master/manual/model-basics.html#uuids)

Not sure why it's not working. I'll take a look

[2022-01-06 16:20] ephys commented on #13912
I ran the SSCCE and it worked as expected.
Can you create a SSCCE using https://github.com/papb/sequelize-sscce that replicates your issue?

[2022-01-06 16:31] ephys commented on #13771
This should have been resolved by https://github.com/sequelize/sequelize/pull/13795 which aliased `/lib` to `/dist/lib`. You still should not import anything from `/lib` yourself though.

Can you confirm that this is resolved @zainiazhr14?

[2022-01-06 16:33] ephys commented on #13003
We're working on this for v7. See https://github.com/sequelize/sequelize/issues/13894

[2022-01-06 16:37] ephys commented on #13764
PR welcome

[2022-01-06 16:40] ephys commented on #13522
You can fix this by setting `registeredAtIp` to `number` in `IUserAttributes`

[2022-01-06 16:46] ephys commented on #12746
`Model.bulkCreate` / `Model.create` are simply not designed for this scenario.

Instead of using `Model.create(model)`, use Model#save()`.

We could add a `Model.bulkSave(models[])` static method however. But it's a non-negligible amount of work. PR Welcome.

[2022-01-06 17:03] ephys commented on #8019
I'm collecting Data regarding how to support choosing how a type is represented in JS.

This is what it currently looks like: https://gist.github.com/ephys/50a6a05be7322c64645be716fea6186a#support-for-alternative-js-types

[2022-01-06 17:15] ephys commented on #13435
Have you tried the following?

[code]

[2022-01-06 17:53] krishnaglick commented on #3957
It's 2022 and this is still relevant.

[2022-01-06 18:12] KZTN commented on #4387
Simple and elegant solution. Thanks

[2022-01-06 18:35] cirosantilli commented on #11400
I reproduce their 10x faster benchmarks in my project when migrating from better-sqlite3 to sequelize 5, It is amazing!!

Make sure to compile with that log limiting options maxed out if possible to prevent log truncation: https://github.com/JoshuaWise/better-sqlite3/issues/306

[2022-01-07 02:37] jerrywang1981 commented on #10318
another root cause could be Array.prototype.find was overwritten by other packages, e.g. the package 'collections' would overwrite Array.prototype.find and change the function signature. if you have same error message, and package 'collections', try to uninstall package 'collections' to see if it works.

[2022-01-07 04:33] karansharma2237 commented on #2517
[code]
i am try to forgot password logic in that case  i want isUnique(validation) not checked that time. but other validation i need  there is option to skip other field. its always ask email is already  taken

[2022-01-07 07:43] ephys commented on #13817
This is definitely a bug. PR welcome if you can :)

In the meantime, you could try using `bind` instead or `replacements`

[2022-01-07 07:50] ephys commented on #13808
We don't have enough information to help you with this, please provide a [SSCCE](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md#opening-an-issue-to-report-a-bug) that replicates your problem.

Are you trying to join two tables that are in different databases (as in servers) or different schemas?
The former is not supported, you need to implement it in your business logic.
The lat

[2022-01-07 08:23] codecnmc commented on #13808
Yeah, I try to join two tables in  different schema in same serve, not  distributed server schema.
This module is under development just depend on one table in other schema,but this table is important , Create in same schema will huge tables and disorder in schema.
I‘m noob coder , I don't know this issue is useful or necessary.
Thank you for reply

[2022-01-07 10:02] ephys commented on #13769
We're encountering issues with `esdocs` in PR https://github.com/sequelize/sequelize/pull/13815

I've been researching alternatives, given `esdocs` hasn't been updated in 4 years, and I think `docusaurus` + `docusaurus-plugin-typedoc` could be a nice solution.

[2022-01-07 11:21] ephys commented on #13769
Did a small test and it works well enough. Still needs polish:

<img width="967" alt="image" src="https://user-images.githubusercontent.com/1280915/148536734-3987438b-d3d3-4361-bdf3-a89561ea2579.png">

[2022-01-07 11:28] shayonj commented on #13905
Is it possible for this feature https://github.com/sequelize/sequelize/pull/13910 and https://github.com/sequelize/sequelize/pull/13903 to be released as part of V6?

[2022-01-07 11:54] WikiRik commented on #13905
I've put them in the v6 project so we'll try to include them in a future v6 release, thanks for your message!

[2022-01-07 13:40] alvaroaac commented on #2996
This is invalid syntax. What would be the purpose of 'id' ?

[2022-01-07 15:01] hugo-aviles-signpost commented on #13527
Hi @Androz2091 just curious in your tsconfig.json is your "target" set it to "ESNEXT"? If yes change it to "ES2021" and the issue should be fixed.
Hope this could help any other person with the same issue.

[2022-01-07 16:36] ephys commented on #13527
The documentation has been updated to explain why it fails & how to make it work with TypeScript:

https://sequelize.org/v6/manual/model-basics.html#caveat-with-public-class-fields

[2022-01-07 17:25] laratutoteam commented on #407
[✅✅ SOLVED DATE FORMAT ONLY QUERY✅✅](https://laratuto.com/date-format-in-mysql/)

[2022-01-07 17:59] laratutoteam commented on #407
Date format in mysql to use when seeing or editing new rows in the database https://laratuto.com/date-format-in-mysql/

[2022-01-07 20:31] lachieh commented on #13372
`day.js` is a good direct replacement for `moment.js` because it has the same api signatures, and if minimizing changes is the goal, then that is the right decision. I see a couple of comments comparing the library size, and just want to add some more information around that before a decision is finalized.

`day.js` gets imported as a whole package, whereas `date-fns` is a collection of individual

[2022-01-07 21:07] WikiRik commented on #13372
You raise a good point. I think that we can also do it in two steps. First minimize the changes and move to day.js so we are using a maintained library. And afterwards refactor to a smaller library if we notice that we do not use as many features

[2022-01-08 07:04] Feverqwe opened #13920 "Sequelize.set mariadb supported too"
Hi! Please add mariadb here too, thx!

https://github.com/sequelize/sequelize/blob/e161014d8116826a68b0fbdf740b0e21f52b4394/lib/sequelize.js#L669

Now I use it like this:
[code]

[2022-01-08 14:03] ephys commented on #13920
PR welcome :)

[2022-01-08 23:02] razvanwaz opened #13923 "Sequelize AND Condition on hasMany association"
## Issue Creation Checklist

[ #] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

A clear and concise description of what is this issue about.

If applicable, you can add some code. In this case, an SSCCE/MCVE/reprex is much better than just an isolated code snippet.

**I'm using Sequelize and I have 2 models (Artic

[2022-01-09 10:16] #13920 closed

[2022-01-09 10:35] ephys commented on #13923
This looks like a job for a subselect (https://stackoverflow.com/questions/8824561/select-rows-with-multiple-tags-is-there-a-better-way).

You can use `Sequelize.literal` to pass a subselect to `where`.

[2022-01-09 11:45] heroic commented on #12973
@WikiRik Added!

[2022-01-09 12:07] 14thchief commented on #12990
1. Check that you do not have files in models directory that are not exporting anything.
2. Check that your exports are functions with same parameters as the instance it is being called in the require statement.
In any case like mine, I had empty files in my models directory. require(...) is not a function simply because the index logic is iterating over and importing files that do not export anyt

[2022-01-09 15:23] #13923 closed

[2022-01-10 00:00] joaoe commented on #13886
Just a heads up. During the week I have work and family to tend to, so I leave my github contributions for the weekends. I~m working on another PR, then I get to this one.

[2022-01-10 00:52] joaoe commented on #13838
@WikiRik Hi. Shall we perhaps bump support to MS Sql 2017 for v7 ? Even MS themselves no longer support anything below that with their mainstream support. Hence, Sequelize does not need to claim support for versions 2012, 2014 if we can't test that in the pipeline.

[2022-01-10 01:00] WikiRik commented on #13838
Yes, seeing that there are no official Docker images for 2012 and 2014 I think we can go ahead and bump support to 2017. Can you add that to your PR by updating the [Migrating to v7 document](https://github.com/sequelize/sequelize/blob/main/docs/manual/other-topics/upgrade-to-v7.md) and other references in the docs? Maybe it might be good to make a separate PR for that since we normally squash com

[2022-01-10 08:46] serlapteff commented on #2996
[code]
This worked for me.

[2022-01-10 11:30] hadasafelman opened #13931 "Retry only for specifc queries like select (get)"
## Issue Creation Checklist

I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

add to retry object
the option to do retry for only specific kind of quires

### Is your feature request related to a problem? Please describe.

when I run transaction with insert query -
the sql query run well, but we get reconnect error

[2022-01-10 17:07] adeeb1 commented on #13330
I'm glad I found this thread. I wanted to leave a comment that this also caused huge issues for me because the documentation is wrong. In some places it states that a camel-cased column name (ex: `userId`) is used but it clearly looks for pascal casing (ex: `UserId`).

In my situation, I had `userId` and `interestId` keys on my `UserInterests` join table. I had to define my associations like this:

[2022-01-10 17:29] adeeb1 opened #13932 "The naming schema for the many-to-many relationships join table is read as pascal casing by default, not camel casing"
## Issue Creation Checklist

- [X] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

The written documentation and the code examples are inconsistent in the casing of foreign keys regarding associations. The documentation shows camel casing, while the

[2022-01-10 17:34] sdepold commented on #13372
Discussed in our Monthly Sequelize sync:

Let's do the drop-in replacement with day.js. Given it's only 2kb in size, we will stay with it till the Temporal API is available.

[2022-01-10 17:39] bach942 commented on #13372
@sdepold yeah I can fill the PR.. When I do make the PR should I tag you @sdepold?

[2022-01-10 17:45] sdepold commented on #13372
Nice one :) Yes please ping me or add a link to the PR here :)

[2022-01-10 18:22] ajoshi08 commented on #10447
I am also runing into the same issue, is there any update on this ?

[2022-01-10 20:38] joaoe commented on #13838
Can you please not do that with my PR ? I always rebase and cleanup my branches before merging.

[2022-01-10 20:47] trgwii commented on #3924
This is not a bug with sequelize. This is caused by globalizing req and res every time a request comes in (_req, _res), and then responding to "whichever request arrived last" whenever you have an async result from DB, which is clearly problematic, as DB queries can complete out-of-order.

This is probably also why he experienced some timeouts, since requests can be skipped as well.

[2022-01-11 00:43] faiwiz commented on #13829
@github-action please remove stale label.

[2022-01-11 03:50] code2nd commented on #12889
Facing the same issue.

[2022-01-11 06:20] #13169 closed

[2022-01-11 06:50] gaurav16694 commented on #13537
Hey i am seeing this issue
looks like some issue with the libarary

[2022-01-11 06:57] gaurav16694 opened #13938 "Cannot read property 'destroy' of undefined"
Hello We are having this issues when using replication
const sequelize = new Sequelize('database', null, null, {
  dialect: 'mysql',
  port: 3306,
  replication: {
    read: [
      { host: '8.8.8.8', username: 'read-1-username', password: process.env.READ_DB_1_PW },
      { host: '9.9.9.9', username: 'read-2-username', password: process.env.READ_DB_2_PW }
    ],
    write: { host: '1.1.1.1', user

[2022-01-11 07:48] EgorCloud commented on #13537
@gaurav16694 So I already found a solution (workaround). It is required to indicate the version of the database.
[code]

[2022-01-11 07:50] EgorCloud commented on #13938
Hi, @gaurav16694.
Try to set `databaseVersion` in options object

[2022-01-11 08:42] gaurav16694 commented on #13938
Hi @EgorCloud i am not sure where to put databaseVersion as i am gettng this error while compilation
[code]

[2022-01-11 09:07] Arrow2702 commented on #13537
@EgorCloud : The Sequelize version is 6.8.0 and when we try to add databaseVersion it throws us an error : **Object literal may only specify known properties, and 'databaseVersion' does not exist in type 'Options'.** I checked in the interface of options and it does not contain the databaseVersion.

[2022-01-11 09:57] EgorCloud commented on #13938
Hi, @gaurav16694.
So, I spent a lot of time looking for this.
https://github.com/sequelize/sequelize/blob/v6/lib/dialects/abstract/connection-manager.js#L246

[2022-01-11 09:59] EgorCloud commented on #13537
Hi, @Arrow2702.
You should look at the sources for this project. https://github.com/sequelize/sequelize/blob/v6/lib/dialects/abstract/connection-manager.js#L246
I recommend disabling the check for the line / file where the connection code is written

[2022-01-11 10:07] EgorCloud commented on #13938
[code]

[2022-01-11 10:42] WikiRik commented on #13829
Hi! Can you update the issue with the bug report template so we have more information to help you? You can find the template here; https://github.com/sequelize/sequelize/issues/new?assignees=&labels=&template=bug_report.md&title=

[2022-01-11 10:44] WikiRik commented on #13537
I am reopening this issue so the required databaseVersion can be documented in the docs and in the types

[2022-01-11 10:45] WikiRik commented on #13938
I will close this issue in favor of https://github.com/sequelize/sequelize/issues/13537

[2022-01-11 10:45] #13938 closed

[2022-01-11 11:01] gaurav16694 commented on #13537
Hello @WikiRik what is the current solution to the problem
we are not able to add databaseVersion during Sequalize initialization?

[2022-01-11 11:02] gaurav16694 commented on #13938
Hello @WikiRik what is the current solution to the problem
we are not able to add databaseVersion during Sequalize initialization?

[2022-01-11 11:33] WikiRik commented on #13537
@gaurav16694 if you are using TypeScript and get the same error as above you can disable checks for the line/file where you initialize Sequelize like @EgorCloud suggested in a previous comment. I will update the TypeScript typings so databaseVersion is included

[2022-01-11 11:57] GolgothaAksanti commented on #11706
this worked for me. Thanks.

[2022-01-11 12:52] InclinedScorpio commented on #10879
import {Sequelize} from "sequelize" will give error! I am still facing this issue, has anyone found solution?

[2022-01-11 13:05] WikiRik commented on #10879
Please create a new bug report including a SSCCE as per the instructions here; https://github.com/sequelize/sequelize/issues/new?assignees=&labels=&template=bug_report.md&title=

[2022-01-11 18:22] ephys commented on #13829
Specifically it's crucial that you include a [SSCCE](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md#opening-an-issue-to-report-a-bug) that replicates your issue

[2022-01-11 18:30] ephys commented on #13932
If your attribute is camelCase, underscored is false, and you end up with the column name for that attribute being PascalCase, that's a bug.

What do your models & associations look like?

[2022-01-11 18:38] adeeb1 commented on #13932
I am using TypeScript and migrations.

User model

[code]

Interest model

[code]

UserInterest model

[code]

Associations (declared in a separate file)

[code]

UserInterest migration (can provide other migrations if needed)

[code]

Code that causes an error:

[code]

[2022-01-11 18:40] ephys commented on #13931
You can already control retry per-query but there isn't a way currently to do it per queryType.
You could disable retry globally then only enable it on relevant queries.

I think we could change the interface of `RetryOptions` to something that accepts more filtering parameters:

[code]

PR welcome

[2022-01-11 18:44] ephys commented on #13932
You set modelName to `User`, in the documentation modelName is `user`.

This is the reason why your generated column was called `UserId` and not `userId`.

We can fix the documentation by specifying that the attribute name will be generated using `modelName + 'Id'` (PR welcome).

Question is: do we want to lowercase `UserId` to enforce camelCase instead of PascalCase for the attribute/column, even

[2022-01-11 18:53] ephys commented on #13649
If I understand correctly, the unique index is not being created properly and only checks type instead of type+chat_id?

Could you try creating a [SSCCE](https://github.com/papb/sequelize-sscce) that replicates your issue?

[2022-01-11 18:57] adeeb1 commented on #13932
Thank you for the clarification. This helps a lot, and I didn't notice it because other examples in the documentation use `User` as the model name.

This would be really helpful. Since JavaScript attributes usually follow camel casing, I didn't expect pascal casing to be specified for the column name.

It doesn't seem many others have had a big problem with the current behavior. Perhaps we can sta

[2022-01-11 18:59] ephys commented on #13893
Can you log what query removeConstraint executes?
Like this:

[code]

[2022-01-11 19:00] ephys commented on #13912
Considering solved, let me know if we should reopen

[2022-01-11 19:00] #13912 closed

[2022-01-11 22:30] joacub commented on #13641
is there any advance on this ?

[2022-01-12 07:05] ephys commented on #13641
I don't think anyone is working on this at the moment.
Unless someone else is interested is implementing this, your best chance at seeing this implemented would be to send a pull request.

[2022-01-12 07:07] #13436 closed

[2022-01-12 07:09] #13882 closed

[2022-01-12 07:12] ephys commented on #13882
Considering resolved. Let us know if we should reopen.

[2022-01-12 07:19] ephys commented on #13781
Confirmed that `Sequelize#query` does not support an `attributes` options. Options are passed as-is to Dialect#Query which is the reason why using `attributes` causes a crash.

Solution is to simply not pass `attributes` to `Sequelize#query`.
This option doesn't really make sense in `query` as you're already writing the SQL yourself. What was your reason for using it?

[2022-01-12 07:27] ephys commented on #13724
I'm going to close this issue now that https://github.com/sidorares/node-mysql2/issues/1483 has been created.

If it turns out it was, in fact, a Sequelize bug, let us know and we'll reopen.

[2022-01-12 07:27] #13724 closed

[2022-01-12 09:19] hadasafelman commented on #13931
are u going to add this?
if so when u think u will be able to do it?

[2022-01-12 09:22] ephys commented on #13931
It's not on my personal backlog, but feel free to open a PR that implements it and we'll review & merge it

[2022-01-12 11:48] sm2017 opened #13941 "Connection pool and replica"
I have a master-slave postgres setup, if a slave goes down, and sequelize have many ECONNREFUSED error

Why it don't use others replicas?

[2022-01-12 12:11] ephys commented on #13941
Please don't delete our [issue template](https://github.com/sequelize/sequelize/blob/main/.github/ISSUE_TEMPLATE/bug_report.md). We need information to properly help you such as library versions, and what your setup looks like and how it is configured.

[2022-01-12 12:11] #13941 closed

[2022-01-12 16:30] Shahor commented on #11660
Is `useMaster` still supported?

It gives an error when using typescript because the typings don't seem to define the option, is it just an issue with typings? Or are there plans to remove support for this?

It is quite convenient to being able to force `useMaster` when you want to reload data outside a transaction for instance.
This becomes especially handy in servers where the query resolution i

[2022-01-12 17:24] WikiRik commented on #11660
At this time, there are no plans to remove the support for `useMaster` in the next major release.

Which version of Sequelize are you using? useMaster is defined for GetConnectionOptions and Poolable in the latest version

[2022-01-12 17:39] sm2017 opened #13944 "Connection pool and replica"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

I have a master-slave postgres setup, if a slave goes down, and sequelize have many ECONNREFUSED error

Why it don't use others live replicas?

### Additional context

N/A

## Issue Template Checklist

### Is this issue dialect-specific

[2022-01-12 17:45] WikiRik commented on #13944
Hi! Unfortunately this does not give us more information as the previous issue you created. Could you use the bug report template to update this issue (or feel free to create a new one using the bug report template); https://github.com/sequelize/sequelize/issues/new?assignees=&labels=&template=bug_report.md&title=

[2022-01-12 20:40] PythonCoderAS commented on #10858
I think this is one of the causes. When the internet for my server failed, DNS lookups to external addresses would hang indefinitely. I suspect that when the pool tried to make a new correction during this hanging, it would timeout and crash.

[2022-01-13 04:58] 1365436742 commented on #12982
You can try it to solve

dialect: 'mssql',
  dialectOptions: {
    options: {
      "encrypt": false
    }
  }

[2022-01-13 07:47] sm2017 commented on #13944
@WikiRik it is not a bug
I think it's a missing feature

Let me explain more, we have master node A and slave nodes B, C, D. When all are up and working everything is ok, but assume node B goes down, the sequelize connection pool manager tries to connect to the node B in ⅓ probably and as it's down it failed with ECONNREFUSED error and not tried other nodes. I expected that as long as a read node

[2022-01-13 08:43] ephys commented on #13830
Closing in favor of https://github.com/sequelize/sequelize/issues/10533 then :)

[2022-01-13 08:43] #13830 closed

[2022-01-13 12:05] ephys commented on #12716
Is this still an issue with the latest v6? We had a few TS changes since this was first opened.

[2022-01-13 12:06] vanthome commented on #12716
Good point, will need to check it as I'm using an older fork. Wil let you kow.

[2022-01-13 12:26] ephys commented on #12716
Just tested with the latest sequelize and it worked without type errors:

![image](https://user-images.githubusercontent.com/1280915/149329926-a46c810f-e557-4cab-bcea-5ef1aa34ff05.png)

I think it was fixed by https://github.com/sequelize/sequelize/pull/13890

I'll close but let us know if it turned out to still be an issue

[2022-01-13 12:26] #12716 closed

[2022-01-13 12:30] robertrossmann commented on #12716
Thanks, I'll take a look at this once we get the time for an upgrade attempt. Awesome! ❤️🎉

[2022-01-13 15:43] nicoabie commented on #394
That is true but it does not always work.
For example I have a use case were I need to check that all find queries contain certain where clause (multi tenant database)

For that I created a hook but I couldn't access the sequelize instance from there so I have to hack it like this
<img width="589" alt="image" src="https://user-images.githubusercontent.com/2797992/149360457-f7c7b700-dcd1-4508-9453-

[2022-01-13 15:59] shakedlokits commented on #11788
This is a key issue for us as well, is there a resource/planning on this feature?

[2022-01-13 18:38] mateusluizfb commented on #686
+1 here, currently I'm using a solution similar from the ones commented above

[2022-01-13 18:51] WikiRik commented on #686
Reopening this issue, would be nice if somebody could make a PR with a solution similar to posted above and some tests so we can include this in sequelize

[2022-01-13 20:05] a-hamadneh commented on #9489
What happens when you add it?

[2022-01-13 20:40] ephys opened #14301 "[RFC] Terminology change in v7"

[2022-01-13 21:16] mateusluizfb commented on #686
Cool!! I'll if I can do something

[2022-01-13 21:26] manhertz commented on #12523
This is still a problem even with v6.13.0. Just example `sequelize.fn('JSON_CONTAINS', 'fieldname', value, '$')`
still generates $$ as path into the final sql query so it is failing.

[2022-01-13 22:02] WikiRik commented on #12523
Yes, a workaround is to use [sequelize.literal()](https://sequelize.org/v6/class/lib/sequelize.js~Sequelize.html#static-method-literal). I assigned myself to #13772 which is a similar issue, but I will close that one in favor of this.

[2022-01-13 22:03] WikiRik commented on #13772
Closed in favor of #12523

[2022-01-13 22:03] #13772 closed

[2022-01-14 03:21] smuralimohan commented on #13792
Any updates on this one please? This is a serious bug.

[2022-01-14 08:44] WikiRik commented on #13792
Hi @smuralimohan
Since I have not had a response on my previous message no work has been done yet. Could you make a SSCCE or a PR with a failing test so we can debug this issue?

[2022-01-14 09:00] liorsion commented on #10857
This issue presents an even bigger problem when using TypeScript - we can't tell the compiler which field name is used because it changes..

[2022-01-14 09:09] ephys commented on #10857
I'm trying to understand this issue a bit better. Is the issue:

1. That you want to use `created_at`, `user_id` on the JS side, but sequelize generates camelCase,
2. or that you want to use `createdAt`, `userId` on the JS side, but have `created_at`, `user_id` on the database side.

[2022-01-14 13:27] cmelendez commented on #13816
A bit late but just confirming that the fix is working properly. We are using v6.13.0.

Thanks a lot!

[2022-01-14 14:42] klausXR commented on #13655
@mickhansen is this possible?

[2022-01-14 15:19] ephys commented on #13655
@klausXR I don't understand your request. Can you go into more details regarding what you're trying to do?

[2022-01-14 18:36] garrett-gottlieb opened #13949 "hasMany and belongsTo with same target/source doesn't fill in foreign key for `sourceInstance.createTargetModel()`"
## Issue Creation Checklist

[X] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** [LINK-HERE ](https://github.com/papb/sequelize-sscce/pull/215)

### What do you expect to happen?

A Bar to be created that is associated with Foo.

### What is actually happeni

[2022-01-14 19:24] Marco-Veio commented on #12741
I'm having the same issue. Also, I noticed that it also removes the "not null", "auto increment" and "unique" attributes.

[2022-01-15 03:29] cincodenada opened #13952 "Husky throws away my commit message if it doesn't like it"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

I'm all for good commit messages, and in fact consider myself a champion of them. But if I write a commit message that `commitlint` doesn't like, Husky gives me an error and then _throws away my commit message_, with no guidance about how

[2022-01-15 07:11] miladmeidanshahi commented on #10857
Hi @ephys absolutely number 1 :)

[2022-01-15 08:07] #13952 closed

[2022-01-15 08:27] ephys commented on #13952
Thank you :) Let us know if husky ever implements it upstream too

[2022-01-15 09:06] ephys commented on #10857
@miladmeidanshahi Thanks!

For clarity's sake, in the following text when I say:
- attribute, I mean the JavaScript name,
- column, I mean the Database name.

So by default Sequelize will generate camelCase attributes and snake_case column ([actually that second part is not the default yet](https://github.com/sequelize/sequelize/issues/13896)) names because we consider it to be the standard naming

[2022-01-15 09:26] ephys commented on #12741
@Marco-Veio on which version of Sequelize are you?

[2022-01-15 10:13] cincodenada commented on #13952
Will do! I still need to figure out where best some mitigation might fit upstream - it may be better placed with commitlint - but I do plan to see what I can get in place up there. Thanks for the quick merge on this end in the meantime!

[2022-01-15 15:30] WikiRik commented on #12291
Yes, we can indeed close this issue. If people are interested in how we divide the donations over the team members they can look to https://github.com/sequelize/meetings/tree/main/analyse-contributions

[2022-01-15 15:30] #12291 closed

[2022-01-15 15:34] fncolon opened #13955 "Node 18 support?"
https://nodejs.org/en/about/releases/

Node 18 will release in a short time, we need update ci pipeline according to it.

[2022-01-15 15:35] fncolon commented on #13955
Let me see if you guys find out if this is important and interesting @WikiRik (should be master for handling this kind of thing)  @sdepold @ephys

[2022-01-15 15:36] ephys commented on #13955
It won't be released for another 4 months, we have time :)

[2022-01-15 15:38] fncolon commented on #13955
Yup, just keep it on note

[2022-01-15 15:44] WikiRik commented on #13955
I'll hijack this issue for a similar discussion; do we only want to support LTS versions or also the current versions? So do we want to include Node 17 already and move to Node 18 once that comes out or do we want to wait until Node 18 is in an LTS state (which is in October 2022)? If we choose to only support LTS versions I think we should close this issue and store this (and similar) information

[2022-01-15 15:47] fncolon commented on #13955
Decreasing open issues should be my point too now 😄 , and we can move this discussion to keep maintainers remember about it, thanks!

[2022-01-15 15:47] #13955 closed

[2022-01-15 15:49] ephys commented on #13955
I vote to only officially support LTS, but to document it

[2022-01-15 15:50] fncolon commented on #13955
+1 for LTS, reason why package-support PR does.

[2022-01-15 16:11] Marco-Veio commented on #12741
@ephys The dialect I'm using is sqlite.
I tried with these 2 versions:
 - Sequelize CLI [Node: 16.13.0, CLI: 6.3.0, ORM: 6.9.0]
 - Sequelize CLI [Node: 16.13.0, CLI: 6.3.0, ORM: 6.13.0]

Btw, the attributes I mentioned are only removed from the id column, maybe because it's the primary key (not sure).

[2022-01-15 16:32] sdepold commented on #13955
From the current readme:

Sequelize follows Semantic Versioning and the official Node.js LTS schedule. Version 7 of Sequelize officially supports the Node.js versions ^12.22.0, ^14.17,0, ^16.0.0. Other version might be working as well.

Does that suffice?

[2022-01-15 16:36] WikiRik commented on #13955
Yeah, for the end-users this would indeed suffice. But for maintainers it might be nice to have a list of the various support policies (Node, TypeScript and the database versions of the dialects) and a nice checklist what to do if any of those need to be updated

[2022-01-15 17:58] martineso commented on #12741
I solved the issue by working around the `queryInterface.removeColumn` and implementing my own logic following the guidelines in the sqlite docs.

[code]

## Note that the code above is using internal APIs which are available in **Sequelize v5** and may not work in newer releases.

[2022-01-15 20:58] WikiRik commented on #13913
@papb Thanks again for transferring the SSCCE repo to the organization!

[2022-01-15 22:53] sezanzeb commented on #13771
I'm having this issue with v6.13.0

Locally it works though, running node v14.17.6

In a docker container running node:12.16.1-buster it fails with this error:

[code]

[2022-01-15 23:00] sezanzeb commented on #13771
Can reproduce locally via `nvm install 12.16.1` and running my tests with this version.

[2022-01-15 23:08] ephys commented on #13771
That's because at the beginning of the typescript migration, files were moves from /lib to /lib/dist
It wasn't considered a breaking change at the time because files in /lib were considered internal. They still are but we've decided to freeze v6 and continue these changes in v7 to avoid further non-semver-major breaking changes.

We've since added a workaround using node's exports field, but it re

[2022-01-16 04:24] LivingInLimbo commented on #3417
`raw:true` worked for me (trying to return a COUNT and a SUM), blows my mind that exclude: ['id'] doesn't actually work

[2022-01-16 12:31] WikiRik commented on #13895
@mmkal since you are the umzug man, do you agree with scoping umzug?

[2022-01-16 12:45] WikiRik commented on #13792
I see that you've submitted a small SSCCE here; https://github.com/sequelize/sequelize-sscce/pull/203 but that passes for the non-TS tests (the TS tests fail for an issue unrelated to the SSCCE). So therefore I will close this issue unless we have enough information to reproduce that this is an issue.

This extra information can be submitted in this ticket and then we can reopen it.

[2022-01-16 12:45] #13792 closed

[2022-01-16 12:50] WikiRik commented on #13913
I just added run the Actions for the first time and the TS checks are broken, something in the `ts-prep` script. So that also needs to be looked into

[2022-01-16 14:37] mmkal commented on #13895
Thank you for @ing me - I’d missed this. IMO it shouldn’t be scoped - even with a notice in the readme it doesn’t feel like an accurate reflection of its relationship with sequelize. Sequelize is a feature rather than a fundamental piece of it or its “scope”. And I think that’s one of umzug’s strengths. Misrepresenting it in the scope of the package risks incentivising decisions in future that to

[2022-01-16 22:05] guths commented on #3908
thanks a lot, I took a long time to find you aswear.

[2022-01-17 10:41] InclinedScorpio opened #13964 "Problem with creating Transaction with locking giving no Read access to other transaction | Docs not clear"
I have checked everywhere, on every blog and StackOverflow and this issue is not mentioned anywhere. Even asked my own question but no one literally knows and not even docs mention this clearly.

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

I have created a transaction in sequelize and want to lock a table ti

[2022-01-17 10:49] InclinedScorpio commented on #13964
Additional Context:

Even before transaction is getting committed, I am sending another read request with another transaction and it's getting successful. The lock doesn't get acquired till transaction is commited.

[2022-01-17 10:53] ephys commented on #13964
I'm not the most familiar with all the different Transaction options but there is a `{ type: 'EXCLUSIVE' }` option that may be what you're looking for?

[2022-01-17 12:08] InclinedScorpio commented on #13964
Yes tried exclusive, it doesn't work.

[2022-01-17 15:36] InclinedScorpio commented on #13964
I can see in docs -
1. "types" are mentioned like => `UPDATE`
2. "Isolation Level" are mentioned like => SERIALIZABLE
- Both can be done while creating transaction.

But, while creating table it's also mentioned we can use -> Lock: t1.LOCK...
3. lock: t1.LOCK.UPDATE

Can someone please explain the difference btw these 3?
I have read complete docs multiple times, I would appreciate an easy example.

[2022-01-17 18:00] Marco-Veio commented on #12741
Thank you very much for sharing your solution, @martineso! I changed it a bit and made it work in the newest version.

[2022-01-18 02:02] papb commented on #13913
Cool! By the way, when I first created papb/sequelize-sscce, we didn't have the [`dev` folder](https://github.com/sequelize/sequelize/tree/main/dev). Months later, I finally decided to rework executing things locally from the main repo itself, and created the `dev` folder. By then, it crossed my mind that perhaps papb/sequelize-sscce would not even be really necessary anymore. Although it is still

[2022-01-18 02:38] papb commented on #12523
Hi @stevecreswick, sorry for taking long, I haven't been active on GitHub last year, thankfully new great maintainers stepped in and Sequelize is moving forward without me now. Thanks for your patience so far, please wait a little more, the new maintainers will look into it at some point.

As soon as this becomes the only issue, certainly we can find people to help you (even myself possibly).

So,

[2022-01-18 08:16] Fardenz commented on #13889
Hi, this is still an issue for me.
[In this SSCCE](https://github.com/Fardenz/sequelize-sscce/blob/22ca675af112a44363844f895bbde9c4684e1f03/src/sscce.js) you can see how just by importing another entity the query is malformed and crashes the program.

[2022-01-18 09:58] SylvainLeDEV commented on #9653
i thank you for your answer !

[2022-01-18 11:00] yassersharaf commented on #11130
I have a similar issue. I try to find records after a specific timestamp but I get nothing though if I run the same query in phpmyadmin I get the expected result

    SELECT
        user_types.id,
        user_types.name,
        user_types.created_at,
        user_types.updated_at
      FROM user_types
      WHERE  user_types.deleted_at IS NULL
      AND (user_types.created_at >= '2022-01-17 10:3

[2022-01-18 11:48] ephys commented on #13913
I personally like the sequelize-sscce better. It's lightweight (cloning sequelize can take a while), and we keep a history even if the user deletes their local fork. Plus the CI lets us gives us some info without having to run it locally :)

[2022-01-18 12:55] martineso commented on #12741
I am glad it was helpful to you, @Marco-Veio.

[2022-01-18 13:12] selvesandev commented on #3493
Jan 18, 2022

![image](https://user-images.githubusercontent.com/21096850/149943773-1fb83ce4-04a9-4bfc-a4a1-cbea7a9a2b27.png)

[2022-01-18 13:59] WikiRik commented on #3493
Nope, feel free to submit a PR that fixes this issue. We're happy to help with that if you need assistance when working on it

[2022-01-18 14:01] WikiRik commented on #12741
If one of you could make a PR for this we would really appreciate it :)

[2022-01-18 16:42] abhiburk commented on #12971
When using **limit** and **offset** Unknown column in ............ where clause

[2022-01-18 19:19] InclinedScorpio commented on #13964
If someone knows, please tell me in easy words so I can update the docs and mention all that in easy language. I don't want anyone else to look for the same thing again for days.

[2022-01-18 23:21] Jopchumba commented on #13808
@codecnmc that's indeed awesome,as for now you may need to include it your business logic

[2022-01-19 00:07] #13800 closed

[2022-01-19 00:33] th1nkful commented on #13897
Is there anything I can do here to help? I would be more than happy to help but have no idea where to start. Seems like another part of the sequelize codebase was working based on the fact that before the linked commit, the where attributes were mutated.

[2022-01-19 03:46] hgbao commented on #11415
Hi, this issue has been here since 2019. Related issue: https://github.com/sequelize/sequelize/issues/10914. This is a critical bug but I cannot find any good workaround to resolve this. Do we have update on this?

[2022-01-19 04:01] rbWies commented on #13886
I'm currently experiencing this as well; thought I had something in the options object wrong, but it apprears to be a bug. I appreciate an upcoming fix!

[2022-01-19 09:47] ephys commented on #13897
If cloning causes an issue, it must mean some part of the code was relying on a side-effect which is very annoying :/

A good starting point would be to open a PR with a failing test. But the next step is figuring out which part of the code fails, which is going to take some time unfortunately.

[2022-01-19 11:02] ephys commented on #12971
Adding `limit` turns the query into a subQuery to ensure `limit` only impacts how many users are returned.

Adding `subQuery: false` could solve your issue, but this is indeed a bug as even when using a subQuery, $references$ to joined tables should still function.

[2022-01-19 11:07] ephys commented on #13800
It's likely that this issue did not get prioritised because it didn't follow the contributing guidelines.
If you want, you can [try again](https://github.com/sequelize/sequelize/issues/new?assignees=&labels=&template=bug_report.md&title=), but take the time to properly fill in the requested information, and format your code in a readable way. The more useful information we have, the more likely so

[2022-01-19 12:32] mypipsen commented on #13432
Still relevant

[2022-01-19 14:18] ghost opened #13972 "mysql prepared statement runaway on model update"
## Issue Creation Checklist

- [X] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

[code]

### What do you expect to happen?

An update call should not create a prepared statement if not all provided values are parameterized.

### What is actually happening?

When an update call is made with a WHERE clause

[2022-01-19 22:50] lededje commented on #13949
6.12.x is a exciting wack-a-mole when it comes to types.

[2022-01-19 23:28] th1nkful commented on #13897
In the application I'm getting the issue, there is a primary key added when the table is created by a migration:

[code]

Just to add to the context, the model looks like this:

[code]

[2022-01-19 23:32] th1nkful commented on #13897
I can't see anything specific in the documentation, what would the best place for the test be? Happy to write one up.

Would the Foo/Bar representation from the SSCCE be the better use in the test or something closer resembling what I am actually using?

[2022-01-20 07:46] martineso commented on #12741
I will get to it this weekend.

[2022-01-20 10:38] ephys commented on #13897
Currently your SSCCE fails with `parameter "id" has invalid "undefined" value` because you're removing the primary key of your model in it. If you can update your SSCCE to make it fail with the proper error, I can turn it into a test :)

[2022-01-20 10:43] ephys commented on #13949
It's getting better. I'd like to see them fully fixed too :) Although most of the improvement is being done in v7 as we're migrating the whole codebase to TypeScript.

I don't think this issue is type-related though. As I understand it this issue is about association `creation` methods not populating the foreign key.

[2022-01-20 10:49] ephys commented on #13972
That sounds reasonable to me. By default, we should only used prepared statements if there are no inlined parameters in the query. Maybe provide options to control the creation of prepared statements too.

[2022-01-20 12:01] teb111 commented on #13361
i have this same issue, But this didn't work

[2022-01-20 14:50] franciscopessoa commented on #4585
Thanks @mickhansen, I was having problems bringing in data that related to a bridge table, and the separete solved my problem by creating this query in a subquery.

[2022-01-20 21:33] mprevdelta opened #13978 "When SQL errors occur, add 'message 'to DEBUG log or DatabaseError"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

When SQL errors occur, make the 'message' property describing the error available.

### Is your feature request related to a problem? Please describe.

When invoking Sequelize methods that create errors, the 'message' attribute of t

[2022-01-20 21:55] metehus commented on #13365
Can confirm this is happening

[2022-01-21 00:06] #13690 closed

[2022-01-21 07:34] UmerMIB opened #13982 "Reorder Migrations Page"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

In [migrations page](https://sequelize.org/master/manual/migrations.html) how to generate migration

### If possible: Provide some suggestions on how we can enhance t

[2022-01-21 09:55] WikiRik commented on #13982
Hi! Feel free to make a PR with the suggested order

[2022-01-21 10:04] ephys commented on #13288
I have a PR in progress for this https://github.com/sequelize/sequelize/pull/13983

[2022-01-21 10:54] th1nkful commented on #13897
That error is only for v5, the issue exists in v6 (I hadn't tried v5 as the app was built for v6)

Looking at the SSCCE logs for v6 tests (not TypeScript ones) I am getting the correct error.

[From the MySQL 5.8 (v6)](https://github.com/sequelize/sequelize-sscce/runs/4865814144?check_suite_focus=true) results:
[code]

Appears to be the same across all dialects in v6 tests

[2022-01-21 10:59] nishibata opened #13984 "Query while connected to MySQL, get the rare error "Connection lost: The server closed the connection"."
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

When I use Sequelize's Pool and run a query on a MySQL connection, I rare get an error. The error is "Connection lost: The server closed the connection".

The error cannot be avoided by using the retry.

### What do you expect to happen?

[2022-01-21 12:03] WikiRik commented on #13809
Does this happen on the latest release as well? v6.13.0 as of writing

[2022-01-21 13:26] fkursun commented on #9605
is there any update on this?

[2022-01-21 13:26] ephys commented on #13897
Oh that's my bad, I didn't realise the SSCCE was still testing v5 too. Definitely something fishy going on in v6 here

[2022-01-21 13:31] ephys commented on #9605
I'm don't think it's possible to make `LIMIT` return the right number of items without using a subselect when a JOIN is involved.

[2022-01-21 13:36] fkursun commented on #9605
well the reason I disable the subquery is that I get an error(Unknown column 'user.first_name' in 'order clause) when I don't disable it. Basically I want to order by another model's property but it does not allow me to do it unless I disable subquery. And it returns missing data when I disable

[2022-01-21 13:51] ephys commented on #9605
@fkursun Could you open an issue (if you don't already have one) with what your query looks like, what the generated SQL is, and what you'd expect it to be?

Related PR to clarify how `limit` works: https://github.com/sequelize/sequelize/pull/13985

[2022-01-21 14:05] Shahor commented on #11660
I am using sequelize 6.6.5.

It seems that typescript is having it properly so I think I might just have missed something in my codebase.
Sorry about that 😓

[2022-01-21 14:44] cirosantilli commented on #13809
Thanks for looking into this, it is fixed on v6.13.0, sorry I didn't test with a newer version when reporting earlier :-)

[2022-01-21 14:44] #13809 closed

[2022-01-21 14:45] WikiRik commented on #13809
No worries, good to hear that the issue is fixed!

[2022-01-21 19:41] nicoabie commented on #1830
Here there is a solution for Sequelize 6.9.0

[code]

[2022-01-21 21:13] nicoabie commented on #1830
@papb I think you can close this issue and update the documentation.
It appears `mapToModel` and `model` attributes in query options do nothing.

[2022-01-22 02:27] marcusleandro commented on #8172
I am facing the same issues, I am opening a Thread the runs queries against the db with lock and skipLock options, but in the end lot of connection stay in idle state forever :(

![image](https://user-images.githubusercontent.com/12412974/150621344-0380d2b7-e453-45ad-9006-02af65bf1e81.png)

![image](https://user-images.githubusercontent.com/12412974/150621316-f0d00fae-52be-4cb7-aa66-5fe34810cb4f.p

[2022-01-22 10:02] cirosantilli commented on #7104
Until doc links break again: https://sequelize.org/master/class/lib/model.js~Model.html#static-method-hasMany

[2022-01-22 10:40] WikiRik commented on #7104
If you are using v6, you can also use this one; https://sequelize.org/v6/class/lib/model.js~Model.html#static-method-hasMany

[2022-01-22 17:26] pforprince commented on #8444
Two points to note:
1. Has Many relationship should come before the BelongsTo
2. BelongsTo should also contain the foreign Key option with same key as in hasMany

[code]

This worked for me

[2022-01-22 18:15] ephys commented on #12449
Unfortunately we can't include that workaround as-is as it assumes and special cases the dbo schema but any other schema name could be used.

Maybe this can be resolved by adding a mssql-only `database` option to specify the database, as without it, `schema: 'SomeDatabase.dbo'` would be ambiguous and could be interpreted as both `[SomeDatabase].[dbo]` and `[SomeDatabase.dbo]`

[2022-01-22 18:25] ephys commented on #13978
We could use the new [`Error#cause`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/Error) option, that'd improve the error output for users on node >= 16.9.0

[2022-01-22 18:30] ephys commented on #11415
Not yet. We're stretched pretty thin. There is a PR https://github.com/sequelize/sequelize/pull/11436 but it's out of date. If someone wants to open a new PR with the fix & unit test we can merge it

[2022-01-22 18:39] ephys commented on #13432
This doesn't sound like a bug. Custom validators will be called every time a model will be updated - including when calling bulk updates.

Simply check whether the values your validator depend on are present before using them.

[code]

[2022-01-22 19:21] ephys commented on #13889
In your SSCCE, I think your `on` clause in your default scope should have been:

[code]

otherwise you'll end up with `bar.name2 = bar.name2`

---

As for the actual issue. I think we could fix this in `Model._validateIncludedElement` + `Model._injectScope`: References to the scope owner's table could be transformed:

[code]

would becomes

[code]

[2022-01-23 02:30] amauryplayero commented on #12528
I am having the same issue

[2022-01-23 12:53] walidmaouche commented on #12990
in my case i replaced
this code
`const model = require(path.join(__dirname, file))(
            sequelize,
            Sequelize.DataTypes
        );  `
with this :
`const model = require(path.join(__dirname, file)).default(sequelize, Sequelize.DataTypes);`

tell me does it work?

[2022-01-23 14:28] ephys commented on #12528
Looking into sequelize-cli's source code, `use_env_variable` must be the name of the environment variable, as a string. So to fix the above example:

[code]

[2022-01-24 02:59] bharukarupesh11 commented on #11469
I've tried using the same but it has worked only in 1 direction for me i.e. at the time of writing to the database. **But, while reading from the database it is still reading the timezone incorrectly.**

I've even referred to this link https://stackoverflow.com/questions/47367893/sequelize-reads-datetime-in-utc-only but still facing an issue while reading from the database in IST('Asia/Calcutta')

[2022-01-24 04:21] abhishek-ravikumar-kulkarni opened #13997 "renameColumn fails if the the column has a keyword function as its default value - MySQL"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description
The renameColumn function fails to construct a valid query string if the column has a keyword function as its default value.

### SSCCE

**Here is the link to the SSCCE for this issue:** LINK-HERE

[code]

### What do you expect to happen?

[2022-01-24 05:56] asingh04 opened #13998 "QueryInterface API doc is not found(404) when going through Sequelize V4 documentation"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description
In the v4 documentation of Sequelize, I was going through the "Migration" page where I found the link to the queryInterface API doc. When clicking on that link I got a 404 error (the page was missing)

### What was unclear/insufficient/n

[2022-01-24 06:27] amundsen-roald opened #13999 "ambiguous error in node16"
## Issue Description

### What are you doing?

I'm trying to join one-to-many like this:

- model

[code]

- query
[code]

### What do you expect to happen?

maybe the SQL would be given like:

[code]

### What is actually happening?

actually I get:

[code]

and there is an error like:```Column 'md_id' in field list is ambiguous.```

### Additional context

I think the empty alias is the reason w

[2022-01-24 09:32] andrejleitner opened #14000 "Type errors in database errors code"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** N.A.

### What do you expect to happen?

Typescript compilation to work smoothly.

### What is actually happening?

There are some type errors from `sequelize` codebase:

[code]

[2022-01-24 09:47] WikiRik commented on #13998
Hi! You can use  https://sequelize.org/v4/class/lib/query-interface.js~QueryInterface.html

Not sure if we really want to fix it since the documentation is generated based on the code of v4 and we'd rather not touch that anymore. I'll discuss it with the team

[2022-01-24 09:51] WikiRik commented on #13999
Which SQL dialect are you using?

[2022-01-24 09:59] amundsen-roald commented on #13999
standard SQL

[2022-01-24 09:59] amundsen-roald commented on #13999
standard SQL

[2022-01-24 10:20] WikiRik commented on #13999
Sorry, let me rephrase that question. Which kind of database dialect are you using? Postgres, MySQL, SQLite, etc.

[2022-01-24 10:23] amundsen-roald commented on #13999
It's mysql 😅

[2022-01-24 12:30] amundsen-roald commented on #13999
I used the eggjs framework and found out that the original egg-sequelize problem caused, thanks !

[2022-01-24 12:58] #13838 closed

[2022-01-24 13:29] fkursun opened #14001 "limit with subQuery: false returns missing data"
### What are you doing?
I would like to order my query by association's column which is `user`. This is `Creative` model

[code]

And this is the function

[code]

If I delete `subQuery = false`, it throws an error saying: `Unknown column 'user' in 'order clause'`. If I set `subQuery = true` it works but returns missing data. Let's say I need to see 6 results, but it returns 3 results.

### What d

[2022-01-24 14:35] ephys commented on #13432
Because that would completely destroy your application's performance. It would require running a select during your bulk update, which could select a very large amount of data.

If your constraint validation depends on more than one field, using [check constraints](https://www.postgresql.org/docs/9.4/ddl-constraints.html) would be much safer and efficient.

If you really want to select data before

[2022-01-24 15:03] faraz9x commented on #10239
distinct: true works but remember, your query must include an @Index column

[2022-01-24 15:05] ephys commented on #14000
This problem does really exist but it's weird it went unreported. Maybe it was shadowed by `types/lib/errors.d.ts` which wasn't deleted.

The fact that tsc is reporting errors in /lib for end-users is also an issue. That's likely due to tsc not being able to map `/lib` to `/dist/lib` yet

I think we should move `/lib` to `/src` & make `/lib` the folder for runnable code again, like it was before.

[2022-01-24 15:13] WikiRik commented on #13999
Ah, so this is not something we can fix?

[2022-01-24 15:54] toddbaert opened #14003 "Recent changes to not call overloaded model functions are a breaking change"
This change: https://github.com/sequelize/sequelize/commit/b253d8ed63c91bc2c7143f07806554b5a5ac67eb avoids calling overloaded functions internally. I understand why it was undertaken, but this effectively breaks the way some users (and even other libraries) use Sequelize with 6.14.x.

Specifically, I believe [sequelize-typescript](https://github.com/RobinBuschmann/sequelize-typescript) to be broke

[2022-01-24 16:30] WikiRik commented on #14000
Can you make a separate PR for this?

[2022-01-24 17:35] Kraicheck commented on #13432
individualHooks indeed seems like it would do the trick. Thanks!
I know this will impact performance but that's not really an issue in my application.

[2022-01-24 20:22] guilhermealvesc commented on #10240
Is the problem solved at newer versions? I'm currently using 6.3.5 and still facing it

[2022-01-24 22:11] chiragsoni81245 commented on #7606
This Works for me 🙌

[2022-01-25 00:07] #10937 closed

[2022-01-25 01:50] mecoepcoo commented on #13999
It maybe problem with `egg-sequelize`, but i have no idea.

I have the same problem with egg & `egg-sequelize` (used sequelize: ^6.0.0). I run the same code in nestjs & `@nestjs/sequelize` and the problem is gone.

[2022-01-25 02:03] joaoe commented on #13964
How does your code look like ?
Do you just want to lock the whole table outright ? In MS SQL use the TABLOCK table hint, or in other dbs, use the SERIALIZABLE isolation level and then query the whole table (perhaps a SELECT COUNT(0)). I haven't tested this.
Lock read and modified rows ? Use SERIALIZABLE isolation level
Lock modified rows only ? Use READ_COMMITED isolation level
What database engin

[2022-01-25 03:32] amundsen-roald commented on #13999
Yes, I had problems when I used the ```egg-sequelize``` dependency, but no problems with ```@nestjs/sequelize```, it just works !

[2022-01-25 04:18] abhishek-ravikumar-kulkarni commented on #13997
@WikiRik Any updates for this?

[2022-01-25 08:58] InclinedScorpio commented on #13964
@joaoe Hi, Thanks for the response. I am using postgres and have started using SERIALIZALE isolation which as you mentioned will lock the entire table till transaction is completed 👍

But, I am still unaware of the concept I have questioned above, i.e:

[2022-01-25 09:01] InclinedScorpio commented on #13964
If you can explain me the difference btw these (Not in 1 line or minimum words, it would be better with an example). Then I can go ahead and update the docs :)

[2022-01-25 09:46] WikiRik commented on #13999
Okay, I will close this issue then since it's not on our end. Feel free to submit a bug report if you find the issue for egg-sequelize. Do note that because of #14003 this issue might be fixed in sequelize v6.14.1

[2022-01-25 09:50] amundsen-roald commented on #13999
Okay, I will pay attention to that issue, thanks. 😃

[2022-01-25 10:45] frankgo81 commented on #6423
createdAt  : 'created_at', // will define attribute created_at on Model
        updatedAt : 'updated_at' , // will define attribute updated_at on Model
        deletedAt: 'deleted_at'  ,

        tableName: 'user',
        paranoid: true, //soft deleted
        timestamps: true, // 自动维护时间戳 [ created_at、updated_at ]
        underscored: true, // 不使用驼峰样式自动添加属性，而是下划线样式 [ createdAt => created_at ]

[2022-01-25 10:45] frankgo81 commented on #6423
this is how to fix

{

, {
 createdAt  : 'created_at', // will define attribute created_at on Model
        updatedAt : 'updated_at' , // will define attribute updated_at on Model
        deletedAt: 'deleted_at'  ,

        tableName: 'user',
        paranoid: true, //soft deleted
        timestamps: true, // 自动维护时间戳 [ created_at、updated_at ]
        underscored: true, // 不使用驼峰样式自动添加属性，而是下划线样式 [ c

[2022-01-25 10:58] WikiRik commented on #14003
We've reverted this PR for v6. Thanks for notifying us!

[2022-01-25 10:58] #14003 closed

[2022-01-25 11:24] #14000 closed

[2022-01-25 11:26] ephys commented on #13997
I don't think anyone from the team has had time to look into this yet, however if you know how to fix this issue, we'll gladly accept a PR

[2022-01-25 14:23] ephys commented on #14003
Thanks :)

[2022-01-25 14:32] pedroassis commented on #13817
@ephys A similar issue happens on bind as well. If you have a `$` anywhere it tries to replace it. I'll try to see if I can come up with a PR

[2022-01-25 14:36] Alko89 commented on #7664
I have the same issue when trying to update the model without the dataValue that has the getter set. You can solve this by checking if the value is defined or not.
But I do wonder why is this being called since I'm just updating without using `returning` for update.

[2022-01-25 15:44] nishadcptn commented on #4553
Is there any way to implement a custom sort in sequelize. Based on list like
`[
'Aluminum',
'Copper',
'Silver',
'Gold',
'Titanium'
]`

[2022-01-25 20:11] MichelFonseca1024 opened #14013 "How to update with relationships"
I managed to do the insert with relationships, but I can’t update. In the [documentation](https://sequelize.org/v6/manual/creating-with-associations.html) it shows how to create with relationships, however it doesn't say how or if it is possible to update.

* sequelize v 6.6

[2022-01-25 20:34] ephys commented on #14013
The `Model#save`, `Model.update`, and `Model#update` methods are not aware of associations, but you can call `save` on the associated entity itself

[2022-01-26 04:13] reediculous456 commented on #7240
This is an issue in postgre as well. Sequelize has the `autoIncrementIdentity: true,` value that allows you to use the `GENERATED BY DEFAULT AS IDENTITY` DDL, but you cannot use `GENERATED ALWAYS AS IDENTITY` because .save tries to update the id property and the database rejects it

[2022-01-26 10:50] asingh04 commented on #13998
@WikiRik is it possible to add a redirection then? I don't know how GitHub pages work.

[2022-01-26 12:04] joaoe commented on #13886
@ephys Most dialects use the INSERT ON CONLIFCT statement to implement upsert, using the common code in abstract/query-generator.py.
But DB2 and MSSQL use a MERGE statement and each of those dialects have their own code to generate the MERGE statement even though the code is very similar and could be shred. The DB2 code also has the same bug.
I think the best is for these dialect to share the same

[2022-01-26 13:43] o-zoaiter-alpha commented on #5563
or maybe in 2022 ?!

[2022-01-26 13:55] ephys commented on #5563
It's unlikely it's going to be implemented in Sequelize Core. But we're opening the ability to create new dialects so third parties can create implement own.

[2022-01-26 22:00] alikhanoitan commented on #9940
@scottmay2020 I don't know what exactly the `subQuery` field does (will have a look later) but this solved the same issue described here. I tried almost the whole day. Thanks!

[2022-01-27 05:25] macroramesh6 commented on #10839
It's not resolved yet. Any workaround?

[2022-01-27 08:51] ephys commented on #10839
Postgres 9 is not supported by Sequelize. We only support versions that are still officially supported by postgres https://www.postgresql.org/support/versioning/

The only solution I can offer is to either update your database to postgres >= 10, or use an older version of sequelize and the pg library.

[2022-01-27 15:06] sdpanteon commented on #11715
Has anyone got an answer?

I want to use sequelize model syntex only not the raw query.
I am facing the same problem and do not understand what to do.

[2022-01-27 15:23] WikiRik commented on #11715
Did the [guide on subqueries](https://sequelize.org/master/manual/sub-queries.html) not give you sufficient help?

[2022-01-27 15:30] #13895 closed

[2022-01-27 15:36] sdpanteon commented on #11715
@WikiRik

Absolutely, I have been checking that documentation for two days now still it does not solve my problem.
I need to create a subquey at join table, just like above mentioned example not into selection attribute or at where filter.

And, Sequelize does not support sequelize.literal syntex with eager load (join) syntax.

Expected query result:
[code]

The sequelize I have prepared so far:
[

[2022-01-27 15:45] ephys commented on #11715
Related issue: https://github.com/sequelize/sequelize/issues/11788

[2022-01-28 06:52] FergusonSean opened #14024 "Consider a more declarative model format and streamlined initialization"
## Issue Creation Checklist

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

### Is your feature request related to a problem? Please describe.

When integrating sequelize into a project there doesn't seem to be a simple clean way of setting up for non trivial database schemas. Once you get into 10's of tables

[2022-01-28 09:26] ephys commented on #14024
I agree, that's a problem I'd like to solve too.

https://github.com/sequelize/meetings/issues/15 is a related issue even if it focuses on a declarative API, there are also bits of an imperative API.

Notably, `loadDirectory` is instead called `registerModels` and accepts a glob or an array of Models.

As for the rest of the imperative API, I'd stick with current methods but delay the initializati

[2022-01-28 10:45] ephys commented on #13886
If it's not too complicated I'd instead move the common code to a couple of utility functions that both dialect would call

[2022-01-28 16:15] bartdorsey opened #14025 "findByPk's entry in the API documentation does not indicate that null is a valid return type"
## Issue Creation Checklist

[X] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

The API documentation for findByPk shows this type definition:
`async findByPk(param: number | string | Buffer, options: object): Promise<Model>`

This indicates that t

[2022-01-28 16:24] ephys commented on #14025
Source of the issue: https://github.com/sequelize/sequelize/blob/main/lib/model.js#L1983

[2022-01-28 17:03] tuankiet116 commented on #7856
running version 6.1.13 still has this issue. Is there any answer?

[2022-01-28 18:19] kmlbdh commented on #4124
till 2022, there is no solution for this issue! I think working with this library is wasting time!

[2022-01-28 19:29] ephys commented on #4124
@kmlbdh Keep in mind that the maintainers of this library are working on it for what is basically free. If you really need this feature, you could open a PR and/or help review an existing one instead of making comments that are demotivating for the people that put in the work to improve this library.

[2022-01-28 20:31] jorgeLopezClikalia commented on #1808
and now?

[2022-01-28 21:06] FergusonSean commented on #14024
That rfc solves most of my concerns. Although the heavy use of decorators makes me sad for a few reasons I do think it covers the needs I'm bringing up. My only gripes with it are that decorators are unlikely to be released and adopted especially soon. It also seems to me like this would be a relatively smaller change to the api surface. That being said I don't maintain this library and I apprecia

[2022-01-29 00:05] #13591 closed

[2022-01-29 11:08] Hydrock commented on #9295
Thanks a lot, thanks to the ideas above I solved this problem. As a result, I got the following:

**Model:**
`
module.exports = (sequelize, DataTypes) => {
  const Course = sequelize.define(
    'course',
    {
      title: {
        type: DataTypes.STRING,
        allowNull: false
      },
      subtitle: {
        type: DataTypes.STRING,
        allowNull: false
      },
      image: {
        t

[2022-01-29 20:50] alex-jss commented on #12449
@ephys This is a good decision.  But unfortunately I can't figure out how to do it.  Hope someone can add this solution.

[2022-01-29 21:16] ANTGOMEZ opened #14028 "Runtime.UnhandledPromiseRejection -- SequelizeConnectionError: this.lib.Connection is not a constructor, when running a query"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description
Using this code, I receive the error below:

const AWS = require('aws-sdk')
var Sequelize = require('sequelize');
var tedious = require('tedious')

exports.exec_sql_cmd = async function(conn_store, cmd)
{
  const sequelize = new Sequeliz

[2022-01-29 21:18] c0dezer019 commented on #1464
How many years later and this is still a bug.

[2022-01-30 00:08] nlukic97 commented on #13151
@nhattien015 here is what an error looks like when we have the **id** field defined in a User model, but not an id submitted in the **create:** method.

![image](https://user-images.githubusercontent.com/56925545/151681748-0b62448d-7315-47de-9429-32260d6a29e0.png)

[2022-01-30 13:51] WikiRik commented on #13745
This is happening, so I'll close this

[2022-01-30 13:51] #13745 closed

[2022-01-30 14:24] LubosD opened #14030 "Sequelize forgets cascade rules in belongsToMany if timestamps is true"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue:** https://github.com/LubosD/sequelize-sscce/blob/master/src/sscce.js

### What do you expect to happen?

I want Sequelize to correctly set ON DELETE CASCADE rules on ArticlePrice

[2022-01-30 15:07] alex-jss commented on #12449
@ephys
Will add.
Using postgresql, you do not need to specify an additional database, just write the name of the schema.  I think that for mssql it would also be more correct not to write the database name additionally.

[2022-01-30 18:49] ephys commented on #12449
@alex-jss do you mean that you don't specify the database name at all and postgres infers in which database the table is?

[2022-01-30 18:58] alex-jss commented on #12449
@ephys Yes

[2022-01-30 19:03] ephys commented on #12449
If not specifying the schema in mssql doesn't work I think that's on the database's end and not sequelize

[2022-01-30 20:47] ephys commented on #14028
`dialectModule` can't be a string, its value must be the dialect module itself

[2022-01-30 21:40] ANTGOMEZ commented on #14028
Thanks.

Now that error is gone but I get this error message: "SequelizeConnectionError: Failed to connect to [ip address]:1433 in 15000ms"

My call looks like this:
const sequelize = new Sequelize('TableauTest', user, pwd, { dialectModule: tedious, dialect: 'mssql', dialectOptions: { options: { encrypt: false }}, host: 'ip address'})

Do I need another option?

From: Zoé ***@***.***>
Sent: Sunday

[2022-01-31 00:41] rbWies commented on #13886
Thank you!

I'm trying to install the specific fork and getting an error

"npm ERR! package.json Non-registry package missing package.json: https://github.com/joaoe/sequelize/tree/mssql_fix_upsert.
npm ERR! package.json npm can't find a package.json file in your current directory."

I have a package.json in my directory... haven't been able to figure this out through research yet. I know it's not

[2022-01-31 10:07] daniel-j-h commented on #12423
I am not on Sequelize 6 because it's a major version change from 5 and therefore would require us re-writing our app.

It is definitely an issue with Sequelize 5 with the examples and use-cases outlined in the original post above.

[2022-01-31 11:03] #14025 closed

[2022-01-31 11:16] ephys commented on #12423
We don't support Sequelize 5 anymore. However the breaking changes in v6 are pretty minor: https://sequelize.org/master/manual/upgrade-to-v6.html

[2022-01-31 11:52] gu-nogueira commented on #13224
Well, probably not the best implementation, but i kinda solved this problem using `beforeCreate` hook in my sequelize model and getting UUID with crypto, like this:
[code]

[2022-01-31 11:58] ephys commented on #13224
In theory you don't have to use a hook, `DataTypes.UUIDV4` works, just not in migrations.

I think we could use `uuid_generate_v4()` in postgres instead

[2022-01-31 13:00] lucafrancescato commented on #7060
This worked, however I had to place the @output parameter in the exact order where the output parameter was expected by the stored procedure, e.g.:
`const results = await sequelize.query('DECLARE @out AS int; EXEC stored_procedure_name :param1, :param2, @out output, :param4; SELECT @out AS result;', { replacements: { param1: value1, param2: value2, param4: value4 }, type: QueryTypes.SELECT });`

[2022-01-31 14:20] rbWies commented on #13886
I manged to get it functioning; it looks like it was some build weirdness surrounding node-gyp and the fact that python was not installed on my system...

Upsert works! It's creating a PK "id" starting at 1000000000 and incrmenting from there, instead of taking the last highest value already in the column. Is that behaviour you coded in, or should I look elsewhere?

This lets me move on with devel

[2022-01-31 16:33] Kraicheck commented on #13432
@ephys, `individualHooks` actually doesn't have an impact on this.
I've tried and verified in the source code; validation happens on the generic version with the default values regardless of the value for `indivualHooks`.

[2022-01-31 17:30] ephys commented on #13432
I can't verify this right now but: is it possible that it's running the validation twice? Once on the object that's passed to `Model.update` and once for each model being updated?

[2022-02-01 00:32] joaoe commented on #13886
That's unrelated with sequelize I think. Either you are passing that value somewhere, or the identity of that clumn is being initialized to 0.

To reset the identity value of a column to the lowest value possible (1 if the table is empty), run this

[code]

[2022-02-01 00:33] joaoe commented on #13886
I have family, job and life in the way. I can spend some time on such projects during weekends or holiday.

[2022-02-01 00:34] joaoe commented on #13886
@ephys  Ok, then I have a plan. I'll do the task once and I'll do it properly.

[2022-02-01 00:56] kevin-bermudez commented on #8441
I have this same need using sequelize

[2022-02-01 11:29] Abhimishra2424 commented on #348
driverid, orderid :: This is table cloum how  can we write in Sequelize  ?

[2022-02-01 11:44] alihamza-datics commented on #9555
@EirikFA  did you find any workaround for this? if yes please share it

[2022-02-01 20:36] jdharvey-ibm opened #14038 "sequelize types import files outside of 'dist' dir, causing downstream tsc issues"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

Typescript builds are failing on projects using sequelize when the typescript project has certain strict typechecking options enabled in its `tsconfig.json` file.

The root cause is the changes to the `types/index.d.ts` file introduced

[2022-02-01 20:44] kishanio commented on #12630
Hey there. I have been trying to compile sequalize inside capacitor by embedding nodejs mobile. Is this the right approach? Just wondering since you have already got past this part.

[2022-02-01 21:02] WikiRik commented on #14038
I'm assigning @ephys to this since they have been working on this. About the setup for testing, I think running `yarn test-typings` (or `npm run test-typings`) would be good enough for this.

[2022-02-01 22:25] jdharvey-ibm commented on #14038
Okay cool. I'm definitely happy to help out in any way that I can. I can reliably reproduce it in my local environment, which is great for testing. I just don't want to step on anyone's toes because it does look like there's some work being done to prevent type duplication across the project. I'll see if I can clone the repo and get those test-typing tests running in the mean time.

[2022-02-01 23:10] ephys commented on #14038
This is more issues arrising due to workaround to repair issues with the initial TS migrations :/

I think we could solve this by merging the `types` & `lib` folders. We then copy .d.ts files to dist & emit typedefs for ts files.
And then we npmignore /lib & /types

[2022-02-01 23:22] WikiRik commented on #14038
Other, more radical, option; if this is causing all these issues maybe we should revert the initial TS things for v6? With the changes we've done after it would cause quite some conflicts but it would solve this

[2022-02-02 01:00] abrain opened #14039 "Wrong type for unique property in QueryInterface.createTable()"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

In `Sequelize.define()` it is possible to pass a string or an object to the `unique` property instead of a boolean like so:
[code]

Here is the TypeScript definition fo

[2022-02-02 09:46] ephys commented on #14038
We could transpiles .ts files in /lib to js & copy the emitted typings to /types in the v6 branch

[2022-02-02 11:27] raheshit opened #14041 "Sequelize conflict between Sync and Migrations"
When I invoke sequelize.sync() sequelize create database in mysql name like Article,Book. But I invoke sequelize db:migrate sequelize create database in mysql name like Articles,Books. How to avoid this problem?

[2022-02-02 15:38] Mohamed-Taher-Ali commented on #5907
i found a solution GOD welling @Neefay
you can use sequelize.literal in order statement so you can just pass the name of new calculated field

[2022-02-03 09:04] afzalIbnSH commented on #5173
What worked for me;
[code]

[2022-02-03 10:24] WikiRik commented on #7673
Hi all! I think that we can accept PRs for this but it's not a priority for the current maintainers to implement this ourselves.
So feel free to make a PR for this. Preferably this would not only be for postgres, but also mysql and mssql as per https://github.com/sequelize/sequelize/issues/7673#issuecomment-364335413

[2022-02-03 10:26] WikiRik commented on #12961
@Reddemonfox feel free to submit a PR with this fix

[2022-02-03 16:07] iamakimmer commented on #13425
@eyalroth is there any consideration on setting the connection pool idle property in sequelize with this flag? We have a similar issue and want to reduce wait_timeout, but if there are idle connections in the connection pool, would it inadvertently close those as well?

[2022-02-03 17:43] hmarat commented on #10857
@ephys Thanks, worked as expected :))

[2022-02-03 19:21] klausXR opened #14048 "HasMany's set method tries to leave orphaned rows in the database"
## Issue Creation Checklist

[X ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

[code]

### What do you expect to happen?

If I have specified in code that `userId` is not nullable, I would expect `jane.setAddresses([addr2])` to unassociate and destroy the `addr1` row

### What is actually happening?

Seq

[2022-02-03 19:38] eziz-hudayberdiyev commented on #12321
When using many-to-many relationship mixins need to be declared with `BelongsToMany...`. Change your code with below:
`HasMany...<TModel, TModel['id']>` => `BelongsToMany...<TModel, TModel['id']>`

[2022-02-03 20:33] ephys commented on #12321
I agree, this does not seem to be a bug. You're using `HasMany` types, but your association is a `BelongsToMany` one.

[2022-02-03 20:33] #12321 closed

[2022-02-03 23:42] anthonyorona opened #14050 "2 identical DBs using the same Model definitions. An expected query to the first initialized DB actually queries the last initialized DB."
## Bug Description

I have 2 databases, DB1 and DB2, and they both have identical schemas.

      const sequelizeDB1 = new Sequelize(
        'DB1',
        process.env.USERNAME,
        process.env.PASSWORD
      );

      const sequelizeDB2 = new Sequelize(
        'DB2',
        process.env.USERNAME,
        process.env.PASSWORD
      );

    const modelsDB1 = {
       sequelize: sequelizeDB1,

[2022-02-04 02:04] anthonyorona commented on #14050
I will mark this as resolved. Someone else may have this issue in the future. This was my solution:

  const sequelizeDB1 = new Sequelize(
    'DB1',
    process.env.USERNAME,
    process.env.PASSWORD
  );

  const sequelizeDB2 = new Sequelize(
    'DB2',
    process.env.USERNAME,
    process.env.PASSWORD
  );

const modelsDB1 = {
   sequelize: sequelizeDB1,
   Items: sequelizeDB1.define('items',

[2022-02-04 02:04] #14050 closed

[2022-02-04 07:20] hardzeichyksiarhei commented on #14038
Hi! Same problem, project doesn't compile in strict mode.
![image](https://user-images.githubusercontent.com/11542402/152488014-f22d0e88-8925-4455-962a-a91ae194de5c.png)

[2022-02-04 07:34] Kraicheck commented on #13432
No, validation only runs once; for the object built from the passed properties.
Afterwards the individual objects are retrieved, the individual hooks are run and if those have a different impact for the different objects, update is run on those individual objects but validation is disabled as it's assumed to have already run.

[2022-02-04 08:34] ephys commented on #13432
I see. That could have been intended but if `indivualHooks` is used, I think it makes more sense to run validation on each instance one by one.

Changing it in v6 could break some users but we're actively working on v7 right now so if someone wants to open a PR to change the behavior in v7 (main branch), we can include it before the first stable release

[2022-02-04 08:37] ephys commented on #14038
We'll have a fix soon, I'm merging our existing TS PRs first before changing our build process. Only [one](https://github.com/sequelize/sequelize/pull/14017) left.

[2022-02-04 08:40] ephys commented on #14050
I don't have the important part of your code so I can't say for sure, but given the behavior you're experiencing I think you were calling `.init` on the same class twice. `.init` mutates the class, it does not return a new one. A model can only be used by one sequelize instance at a time. If you call `.init` twice, the last call will be the one taken into account (that could be changed to reject a

[2022-02-04 08:42] liorsion commented on #5481
I can try to help solve this, the issue is with this line, but it's not clear why it's needed:

      if (options.attributes && !options.raw && this.primaryKeyAttribute && !options.attributes.includes(this.primaryKeyAttribute) && (!options.group || !options.hasSingleAssociation || options.hasMultiAssociation)) {

[2022-02-04 11:39] WikiRik commented on #12741
@martineso did you get around to making the PR? If you need any help, feel free to let us know :)

[2022-02-04 15:11] WikiRik commented on #12700
Hi @armellarcier
Can you check if this is fixed on the latest v6 release?

[2022-02-04 15:12] WikiRik commented on #13086
@thomasmost not sure if you remember if you gave this a shot, but if you did would be nice so we can close this issue

[2022-02-04 15:43] ephys commented on #12700
It's not fixed because whether this is a bug is debatable

Similarly to https://github.com/sequelize/sequelize/issues/13432, when using static methods like `upsert`, `update`, etc.. `beforeValidate` is not being called with the model that's really being updated.

Instead, `upsert` creates a fake model with the values it received from the method call and gives that fake model to `beforeValidate`.
I

[2022-02-04 15:48] mschipperheyn opened #14051 "FullText support syntax incorrect for MySQL"
## Issue Creation Checklist

[x ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

Since Sequelize 6.5.0, there is FullText support, but it is based on Postgres which uses a completely different syntax from MySQL.
We used a hack before to get this working on MySQL, but, with the new version, that hack doesn't work anym

[2022-02-04 16:16] WikiRik commented on #14051
So if I understand correctly you want the match operator to work for MySQL as well? Since I think that using Sequelize.literal() should still work in the latest version

[2022-02-04 17:01] martineso commented on #12741
I am sorry, it was a bit hectic for me the last couple of weeks. This weekend I will have more time on my hands. I will let you know if I have any questions @WikiRik regarding the PR process.

[2022-02-04 18:42] WikiRik commented on #12741
No worries, thanks for the update!

[2022-02-04 18:58] hardzeichyksiarhei commented on #14038
Thanks!:)

[2022-02-04 21:23] jamaica474 commented on #12950
Having same problem. In my app I'm consecutively connecting to 2 databases, and it looks like latter connection overwrites former one. As soon as second connection is established queries to the first one stop working

[2022-02-04 21:43] njavilas2015 opened #14053 "omitHook"
good morning I find myself working with this incredible library in my microservice system and I observe that there is no way to omit a universal hook. There is a possibility that you might consider adding an option to skip a specific hook I will give a very used use case in my little service

the hooks works fine when I call the destroy function
example controller

[code]

Model example
[code]

[c

[2022-02-04 21:59] WikiRik commented on #12950
I think this issue is related; https://github.com/sequelize/sequelize/issues/14050

[2022-02-04 22:05] anthonyorona commented on #14050
@ephys Thanks I figured that out. It might be helpful for new users to prefer the factory, I used sequelize-cli to generate my Models as ES6 classes but using the factory is now my preference

[2022-02-04 22:51] jamaica474 commented on #14050
@ephys I'm having the same problem. 2 databases on 1 physical server, and I need data from both databases in one run.
I am calling init and after reading the doc it's still not clear how do I use define to solve this issue.
architecture is as follows:
Models are defined as classes.

[code]

Then there is "init" method that initiates sequelize and returns instance to abstraction layer

[code]

Then

[2022-02-04 23:12] anthonyorona commented on #14050
@jamaica474 When you call AnalyticsAnalyticsStatus.init(...) you are calling the static initializer on the class. In ES6 classes resolve to an object prototype for model instances. So what happens is that when you call AnalyticsAnalyticsStatus.init(...)  a second time, you are calling the static init method, and this mutates a property on the Model class. To use it as sequelize.define(...) factory

[2022-02-04 23:14] anthonyorona commented on #14050
https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-method-define

[2022-02-04 23:30] jamaica474 commented on #14050
@anthonyorona  thank you, this makes sense. And would you know by any chance how do I make relations work with factory? Following code returns error: 'Posting.hasMany called with something that's not a subclass of Sequelize.Model'
[code]

[2022-02-05 00:34] ephys commented on #14050
You can still use classes / `Model.init` in a way that works like `Sequelize#define`. Actually `Sequelize#define` calls `Model.init` under the hood:

[code]

[2022-02-05 00:40] thotasairam commented on #11288
I spent hours on this. Workaround that worked for me is,

`order: [['includeTable1', 'includeTable2',  'column', 'ASC']]`

This is three nested query. My query looked like
`table.findAll(include: {..., as: includeTable1, include: {..., as:includeTable2}}, order: [['includeTable1', 'includeTable2',  'column', 'ASC']])`

[2022-02-05 00:54] #13288 closed

[2022-02-05 01:32] ephys commented on #11250
There have been a lot of improvements to the typescript typings since this issue was first opened.

I think `FindOptions.attributes` is still pretty loose. Is there anything else that could be improved in our typings?

[2022-02-05 01:42] ephys commented on #10750
The issues with static Models being rejected were likely fixed by https://github.com/sequelize/sequelize/pull/13890

Looking through the thread, I'm not sure there is anything left unaddressed. Can we close this issue?

[2022-02-05 01:51] ephys commented on #10690
We could include `@types/validator` in our dependencies

`@types/bluebird` is not needed anymore since v6 moved to native promises.

We won't remove the type definitions from the published bundle. They're a tiny part of the code and help non-typescript users too (some intellisense implementations like webstorm's exploit these typings)

[2022-02-05 01:58] ephys commented on #7865
It's not in the guides part of the documentation but it is present & explained in our jsdoc. Should become visible on the website once we're done with https://github.com/sequelize/sequelize/pull/13914

[2022-02-05 11:58] akash87 commented on #12671
This is actually a bug.

We don't want to return any data from parent table, its only used for joining child table.

but if we do attributes : [], it doesn't return on sequelize response. The query returns all the data.

if we use raw:true, it works but the response is not usable.

[2022-02-05 12:06] akash87 commented on #13311
if you remove raw:true, it will not work.

[2022-02-05 12:08] ephys commented on #12671
In terms of SQL, you can't do a join without specifying any column to select, it would be a syntax error. So it makes sense that you'd have to specify at least one attribute

[2022-02-05 12:16] akash87 commented on #12671
@ephys - that is incorrect. We can join tables and not choose to query from them ( I am not talking about main table, but the nested join tables). Especially when you're trying to aggregation operations. If you include data, you have to use group by as well.

[2022-02-05 12:29] ephys commented on #12671
Ah no you're right, I was completely wrong there.
Then it's something we could look into for v7

[2022-02-05 12:46] NoMercyLS opened #14055 "Frequent and unexpected ECONNRESET"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

After successful connect to database and started data-transfer connection-manager throwing ECONNRESET

### Sequelize provider pool configuration
[code]

### What do you expect to happen?

Data was successfully handled, no occasional err

[2022-02-05 15:04] kuritz opened #14056 "Clarification on `pg` version constraints"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

In #12158 there is a long running thread of folks detailing how node 14 breaks `pg@<8.0.3`. There are various posts by people claiming to have fixed the issue by updating `pg` past this version, while running `sequelize@^4.0.0 || 5.0.

[2022-02-05 16:25] evanrittenhouse commented on #11734
@papb would love to take this on if it's still an issue.

[2022-02-05 20:36] WikiRik commented on #11734
@evanrittenhouse not sure if it's still an issue but feel free to research this and if it's an issue feel free to submit a PR to fix this. Thanks in advance for helping with the development of sequelize!

[2022-02-05 20:40] quocvu commented on #4578
Hi all,
I have done all that and it works great, except for one thing.  How can add a method to the model while its code reference another model?
For example, let's say I have a User model, which has many Bookmark objects.  I want to overwrite the createBookmark() method to include some logic before I add the bookmark.  Thus I might need to import another model if the logic needs to query a third

[2022-02-05 21:09] evanrittenhouse commented on #14048
@WikiRik I can take a look at this!

[2022-02-06 06:34] kusmpth commented on #11161
Seems like a typical Javascript project. dead project in the Javascript space :disappointed:

[2022-02-06 07:56] khanisak commented on #1944
DId you find out solution for this issue?

[2022-02-06 09:14] Fantast416 opened #14057 "> > During running sequelize migration I got"
DId you find out solution for this issue?

_Originally posted by @khanisak in https://github.com/sequelize/sequelize/issues/1944#issuecomment-1030772009_

[2022-02-06 09:16] Fantast416 commented on #1944
I havn't find any solution since, my solution is to reduce the character number of the field name.

[2022-02-06 09:16] WikiRik commented on #14057
Hi! There is no need to open a new issue for this comment, you can discuss this in #1944

[2022-02-06 09:16] #14057 closed

[2022-02-06 16:26] MadaShindeInai commented on #11014
"development": { ... "host": "localhost" .... }. - solved my problem

[2022-02-06 18:30] lensbart opened #14061 "TypeScript docs out-of-sync?"
Hello,

On https://sequelize.org/v7/manual/typescript.html#usage there is a code example with the following comment at the top:
[code]

However, when looking through the Sequelize code on GitHub, the corresponding file (https://github.com/sequelize/sequelize/blob/main/types/test/typescriptDocs/ModelInit.ts) seems out-of-sync with the docs. Specifically, both `InferAttributes` and `InferCreationAtt

[2022-02-06 21:13] ephys commented on #14061
They are. I don't quite know how to publish the docs. @sdepold?

[2022-02-06 21:24] WikiRik commented on #14061
Should happen with every release, as per https://github.com/sequelize/sequelize.org/blob/master/.github/workflows/main.yml but there is a command there to trigger it manually as well

[2022-02-06 22:16] WikiRik commented on #14056
#12300 upgraded pg to version 8, but there were no specific updates to support this upgrade. Therefore pg@>8.0.3 should be safe to use in sequelize v5. But since we are only supporting security fixes in sequelize v5 I do not think we will update earlier manuals. I will however look into the issue for Node 14 and see if we need to specify that pg@>8.0.3 should be used for the next major release of

[2022-02-06 23:32] WikiRik commented on #14061
Looked into it a little bit more, seems to be that the dispatch needs to happen from the default branch (main) and therefore the v6 releases did not pick it up. So a manual trigger should do it, I'll try it in a few moments.
For future info; as per https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event, the access token requires the `repo` scope but if you need a Mainta

[2022-02-07 01:51] ephys commented on #14061
Thanks for looking into it :)

[2022-02-07 04:22] juanvictorbascopecastro commented on #4708
Probe con varias soluciones y resulta que lo estaba haciendo mal: la solucion es:
return Company.create({
    Address: { street: 'street1' }
  }, {
include: [{
                association: Address,
            }]
  })

O si quieren crear Address seria de la siguiente manera.

return Address.create({
     street: 'street1' ,
company: {}
  }, {
include: [Company]
  })

si no les funciona esq deben p

[2022-02-07 06:37] nishibata commented on #13984
I used a transaction for my query. But an error occurred. However, it is a rare error as well. Out of hundreds of thousands of requests, there is about one chance of failure.
[code]

MySQL timeout setting is 8 hours. User requests are sent incessantly for 24 hours. So, there is little chance of a timeout from MySQL.
Is Sequelize's operation to destroy idle connections safe?
I don't know the cause,

[2022-02-07 07:06] sdepold commented on #14061
The main branch should actually not trigger the build but rather the release of a new version. Should we release a new v7 alpha?

[2022-02-07 07:17] sdepold commented on #14061
Ah it seems that I didn't include the pinging of the docs repo on the v6 branch. Will fix that :)

[2022-02-07 08:35] sdepold commented on #14061
We just released a new v7 version and updated the docs based on it. I think this should be fine now :)

[2022-02-07 08:35] #14061 closed

[2022-02-07 10:32] ephys commented on #14061
Nice, thanks!

@lensbart if you're using sequelize v6 (since v7 is currently in beta), https://sequelize.org/v6/manual/typescript.html is the documentation you're looking for :)

[2022-02-07 10:34] JanFellner commented on #14038
soon === undefined in typescript 😎 you have a rough timeline for it :)
(otherwise just fixing the typseript issue itself would heal the pain)

[2022-02-07 11:49] siyb opened #14062 "The searchPath setting is not quoted by sequelize, which prevents schemas with "-" from being used"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

[code]

Should quote the schema, corresponding line:

https://github.com/sequelize/sequelize/blob/9de6dc43af7d15bfe7f50c5c688650cc3f7939fd/lib/dialects/postgres/query-generator.js#L20

### What do you expect to happen?

I wanted schemas c

[2022-02-07 13:48] ekr3peeK commented on #7240
+1 for this feature - we also use generated columns in MariaDB, and at the moment I see no way of mapping them to a Sequelize model.

[2022-02-07 18:14] leandroluk commented on #4291
raw:true not return nested json correctly

[2022-02-07 18:33] Bhuvnesh875 commented on #11669
i would like to work on this issue, but a little guidance of how to start would be appreciable. :)

[2022-02-07 20:01] phil714 commented on #7344
This is still a problem in sequelize v6 and v7, any updates on this issue ?

[2022-02-07 20:46] JerrySievert opened #14066 "Allow for `->>` operator on single paths for JSONB (postgres)"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

When using postgres, allow for a JSONB query to executed using the `->>` operator, rather than `#>>` when there is a single path.

### Is your feature request related to a problem? Please describe.

In our use case, we are typically q

[2022-02-08 02:52] mschipperheyn commented on #14051
Actually no. On 16.15.1, I get an error:

[code]

[2022-02-08 05:25] mansa-dev commented on #7988
Still and issue

[2022-02-08 06:32] InclinedScorpio commented on #956
Hi, with this code how can I dynamically toggle the SSL requirement? It just says rejectUnauthorized. Is there any way in sequelize to do it?

[2022-02-08 10:17] ephys commented on #7988
@mansa-dev which version of sequelize, mysql2 (the npm package) and mysql (database) are you using?

[2022-02-08 11:24] #14038 closed

[2022-02-08 11:51] WikiRik commented on #14066
For this relatively easy performance gain, I would say that it's better to have this by default. Since it might break some people's indexes it would be good to consider it a breaking change and add it to the v7 alpha.
Looking forward to your PR!

[2022-02-08 16:47] LeonardSSH commented on #12889
@Seblor try:
[code]

Works for me.

[2022-02-08 16:57] Seblor commented on #12889
@LeonardSSH Wouldn't that create 3 unique indexes ?

What I need is to have a single index that is based on the 3 fields.

[2022-02-08 17:23] LeonardSSH commented on #12889
@Seblor ![x](https://i.imgur.com/8SrQWys.png) Also works with only single index:
[code]

[2022-02-08 17:27] Seblor commented on #12889
@LeonardSSH I don't see the difference with the code snippet I posted.

It works, but throws an error when synchronizing with `{alter: true}`, which is the current issue.

[2022-02-08 17:32] LeonardSSH commented on #12889
I use `alter: true` too and it works perfectly.

My env:
[code]
[code]

[2022-02-08 19:49] thomasmost commented on #13086
@WikiRik apologies. I'd moved on to a different project in November and this slipped my mind.

I've got the old project bootstrapped though, so I think I should be able to test this week! Thank you!

[2022-02-08 19:52] kuritz commented on #14056
Thanks, @WikiRik ! Let me know if theres anything I can help with.

[2022-02-08 20:02] WikiRik commented on #13086
Awesome! Thanks for your work on this

[2022-02-08 21:22] thomasmost commented on #13086
Thank you for the reminder!

[2022-02-09 00:07] #13893 closed

[2022-02-09 00:07] #13649 closed

[2022-02-09 07:12] jeyashree-n opened #14072 "If it is possible to fetch some particular field all the time"
I have a doubt If it is possible to fetch some particular field all the time or in all the fetch without mentioning the attribute name in all the fetch.

If there is any way to fetch automatically that field all the time?

Example:
Table Name: member
Field: id, name, email, address, mobile number,..., etc.

In this, if I put member.findAll({ attributes: ['id','name'] }) alone then the "email" fiel

[2022-02-09 09:22] pjcjonas opened #14077 "Serverless Package Fails to build"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

Building under normal circumstances does not cause issues. However when packaging with Serverless Framework within a workspace the following issue is observed:

[code]

### Additional context

![image](https://user-images.githubusercont

[2022-02-09 09:26] ephys commented on #14077
We just published a fix :) https://github.com/sequelize/sequelize/releases/tag/v6.16.1

[2022-02-09 09:26] #14077 closed

[2022-02-09 09:37] pjcjonas commented on #14077
Testing it now, this is amazing news!

[2022-02-09 09:45] pjcjonas commented on #14077
@ephys Awesome, I can confirm its working as expected! Thx for sorting this out!

[2022-02-09 13:55] KreativJos opened #14078 "Mssql - Comment on column throws errors @model.sync"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

The following line does not work:
https://github.com/sequelize/sequelize/blob/f69d76108d15d5ee4a94ae5f425faac665f8edce/src/dialects/mssql/query-generator.js#L276

`this.quoteIdentifier` should be `this.quoteTable`

This only occurs when

[2022-02-09 15:42] gsogol commented on #10424
We have the same issue and are trying to set the max connection to 1 and using RDS Proxy and currently in process to see but seeing the exact same issue, connections through the roof. #YouHadOneJob :(

[2022-02-10 00:06] #13829 closed

[2022-02-10 00:06] #13781 closed

[2022-02-10 03:20] qld-cf commented on #7509
webpack add
externals: ['pg-hstore'],

[2022-02-10 03:30] manojmula commented on #14055
I face similar issue in my daily work , I think the issue is not on the networking side. its on the software side. when you are passing the query , you are giving undefined or null values(mostly in where condition variables).If I am not clear , please let me know.

[2022-02-10 03:33] manojmula commented on #14053
I have found a stackoverlow on similar question , see if it can help you , or else please let me know.here is the link : [https://stackoverflow.com/questions/20707199/how-to-ignore-hooks](url)

[2022-02-10 06:56] khanisak commented on #1944
`'use strict';

module.exports = {
  up: async (queryInterface, Sequelize) => {
    await queryInterface.addColumn("invoice_service_administration", "id_service_administration", {
      type: Sequelize.INTEGER,
      allowNull: false,
      after: "id_subscription"
    });
    await queryInterface.addConstraint("invoice_service_administration", {
      type: "FOREIGN KEY",
      name: "invoice_id_

[2022-02-10 10:18] vidurb opened #14083 "API reference section link broken for v6 & v7"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

The `API Reference` section of the docs is breaking for v7 and v6. v5 and prior work fine.

[2022-02-10 15:57] brano543 opened #14086 "[BUG] Unable to reacquire connection on socket drop when using pg-native"
Hello,

we have been experiencing issues in cloud every single time when ALB rebooted and all connections in the cluster were terminated.

I have analyzed the code and found that the issue occurs for everyone who is using pg-native and it is due to this line in the code
https://github.com/sequelize/sequelize/blob/main/src/dialects/postgres/query.js#L88

However if socket drops, the error which is

[2022-02-10 16:19] arecaps opened #14088 "Mariadb migration can not create nullable timestamp column"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description
Although for other datatypes, such a varchar, the default for MariaDb is Allow Null is true, but for timestamps it is false and it is handled differently, see  [the documentation](https://mariadb.com/kb/en/timestamp/#automatic-values) and

[2022-02-10 18:57] KreativJos commented on #13383
This is an issue for me as well, in the case of mssql rowversion.

[2022-02-11 00:00] pbstriker38 commented on #12390
Can this be reopened? Shouldn't MariaDB behave like Postgres, where bigints are returned as strings.

[2022-02-11 02:25] fierysolid opened #14092 "API Reference Docs Broken"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

### What was unclear/insufficient/not covered in the documentation

The api reference docs are broken entirely, all versions

### If possible: Provide some suggestion on how we can enhance the docs

The api reference docs are broken ent

[2022-02-11 04:12] deam91 opened #14093 "wkx module not found inside a Lambda function"
## wkx module not found inside a Lambda function

## Bug Description

Using sequelize v7 runs an error inside a Lambda function with arm64 or x86_64 architectures saying

The wkx package is already installed as a dependency. I am using Nodejs 14.x. I follow up the exact same steps like in the [sequelize docs getting started section](https://sequelize.org/v7/manual/getting-started.html)
Also goes t

[2022-02-11 05:14] ElSamhaa commented on #6662
@sdepold @janmeier Can we reopen this pls?

[2022-02-11 07:39] NoMercyLS commented on #14055
To be honest, we also faced a similar problem, the solution was really obvious(just validation)
But now we have 'clear' queries
Like this:
`
2|hub           | [2022-02-11T10:32:54.334] [ERROR] DayInfoRepository - DatabaseError: read ECONNRESET
2|hub           |  ├─╼ name: SequelizeDatabaseError
2|hub           |  ├─╼ parent: Error: read ECONNRESET
2|hub           |  ├─╼ original: Error: read ECONN

[2022-02-11 09:20] #14092 closed, assigned to nobody

[2022-02-11 10:01] fierysolid commented on #14092
Yup totally a duplicate of the ticket that was created after it

[2022-02-11 10:07] ephys commented on #14092
I'm confused, that ticket was created on `2022-02-10T10:18:57Z` and this one was created on `2022-02-11T02:25:51Z`. The other one is older. But even then, would it matter? The point of de-duplicating is to centralize the conversation, it doesn't matter which one came first

[2022-02-11 11:47] #14083 closed

[2022-02-11 11:53] jfbloom22 commented on #4146
I am also running into this issue. Was a pretty massive waste of time for my team before we tracked this thread down. Adding {subQuery: false} Seems to be working.
why is this issue closed?  Isn’t this a poor workaround for an obvious bug?

[2022-02-11 12:33] ephys commented on #4146
Is the remaining issue the same as the one in https://github.com/sequelize/sequelize/issues/9940?

[2022-02-11 12:42] ephys commented on #14088
Could be fixed easily by always adding `NULL` is `allowNull` is true or undefined here https://github.com/sequelize/sequelize/blob/491ff159cda4aab72bad558fce533fc98e09ae7f/src/dialects/mysql/query-generator.js#L373

[2022-02-11 12:46] ephys commented on #14053
Can't promise this will be implemented, your best shot would be to open a PR

If this were to be implemented, I think an API that mimics `attributes` would be nice:

[code]

[2022-02-11 12:52] ephys commented on #14078
Could you provide a SSCCE that replicates your issue? https://github.com/sequelize/sequelize-sscce

[2022-02-11 12:58] ephys commented on #14001
The query data having the "wrong" limit is expected since `subQuery` is needed to properly limit only one table without limiting its associations

Column references in `Sequelize.literal` not working is also expected since it's selected differently when `subQuery` is set and the column reference should be updated accordingly (which sequelize can't do automatically as you're using literal)

The ann

[2022-02-11 13:02] ephys commented on #7344
Is this the same issue as https://github.com/sequelize/sequelize/issues/4146 ?

[2022-02-11 13:07] ephys commented on #4578
We have plans to improve this in a future release https://github.com/sequelize/sequelize/issues/14024

[2022-02-11 13:12] jfbloom22 commented on #4146
That looks like a different issue. What I am running into is that the sorting is applied after paging. I am expecting the sort to happen before paging.

For example: If I have it paged to 20 items I see the sort start over every 20 items.  a - d on the first page and then more a - d on the second page. In order to find all the items starting with A I have to go through all the pages.

This is eith

[2022-02-11 13:16] ephys commented on #4146
Sounds like the ORDER BY is being generated outside the sub-select, which would cause it to run after pagination.
I haven't tested but I'll re-open. Can't promise when a fix will be available unfortunately :/

[2022-02-11 13:28] enkopvand commented on #13242
I think you might need to use the domain specific login, in the documentations here: https://sequelize.org/v7/manual/dialect-specific-things.html

[2022-02-11 13:33] KreativJos commented on #14078
That would be a lot of work for such a simple issue.
Debugger shows the value of 'table':
![image](https://user-images.githubusercontent.com/20839414/153599796-60fb9d0d-9a73-4f0b-9c04-9a9c86238a67.png)

Stack:
https://github.com/sequelize/sequelize/blob/f69d76108d15d5ee4a94ae5f425faac665f8edce/src/dialects/mssql/query-generator.js#L123
https://github.com/sequelize/sequelize/blob/f69d76108d15d5ee4a

[2022-02-11 13:43] enkopvand commented on #13242
I think you might need to use the domain specific login, in the documentations here: https://sequelize.org/v7/manual/dialect-specific-things.html

I have a a DB on a domain called server.com\x2016 which I can connect perfectly to with tedious and doing:

[code]

with Sequelize I need to do the following to connect:

[code]

I hope this helps you.

[2022-02-11 13:51] ephys commented on #14078
I somehow understood this as adding a comment on the table name, which confused me.
If any comment on a mssql column causes a crash like this, it should be easy enough to replicate!

I see you checked that you were willing to work on it. Would you mind opening a PR with the fix and a test?

[2022-02-11 13:54] KreativJos commented on #14078
Ah, I see I was not explicit indeed.
A PR with the fix is easy enough. I would not know how to create a test, but I can find out how - I'd guess it should be in this file:
https://github.com/sequelize/sequelize/blob/main/test/unit/dialects/mssql/query-generator.test.js

[2022-02-11 14:02] ephys commented on #14078
I think so too. What's weird is that it looks like there already is a passing test for it https://github.com/sequelize/sequelize/blob/main/test/unit/dialects/mssql/query-generator.test.js#L96

I'd recommend first trying to replicate the issue in a test before fixing

[2022-02-11 14:43] WikiRik commented on #14053
Agree with the API as proposed by @ephys
In my opinion this would be a nice addition, if somebody is willing to work on this

[2022-02-11 15:10] LeonardoZivieri opened #14098 "Virtual column enhancement"
## Issue Creation Checklist

[X] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

### Is your feature request related to a problem? Please describe.

No, this feature will not resolve a problem, but will enable you to filter the result based on a virtualized column.

### Describe the solution you'd like

When you i

[2022-02-11 15:28] WikiRik commented on #13931
@ephys might be nice to reopen this issue?

[2022-02-11 23:04] njavilas2015 commented on #14053
![image](https://user-images.githubusercontent.com/47610140/153682172-3753f7f6-f435-4a29-bea5-8069d8cd7065.png)
check the destroy method options api but the hooks field is a boolean
![image](https://user-images.githubusercontent.com/47610140/153682399-4e9805c2-13f6-4f94-8284-741b200c40dd.png)

[2022-02-12 03:51] charliechensz commented on #7940
add the following code to config/config.json  ：
``
    "define": {
      "id": false,
      "freezeTableName": true,
      "createdAt": false,
      "updatedAt": false
    }
``
![code1](https://user-images.githubusercontent.com/45444203/153695590-1e5d8820-a2e9-4bc8-8097-4c60f92eb56d.png)

[2022-02-12 22:18] Pointy opened #14104 "Link to Sequelize constructor docs in "Getting Started - Connections" section is a 404 (v7)"
## Issue Creation Checklist

[ x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Issue Description

In the first part of the "Connections" section in the v7 tutorial docs, there's a link for full documentation for the Sequelize constructor. Unfortunately, that link results in a 404.

Specifically here: https://sequelize.org/v7/manual

[2022-02-12 22:50] WikiRik commented on #14104
Since v7 is still in alpha, the v6 documentation should still suffice for now; https://sequelize.org/v6/class/src/sequelize.js~Sequelize.html#instance-constructor-constructor

We'll still look into the issue and update you when it's fixed

[2022-02-12 23:16] Pointy commented on #14104
Oh OK, thanks. I did not realize that v7 is alpha; on the main page of the website it just says "Latest".

[2022-02-13 22:27] deam91 commented on #14093
Solved! I missed the package.json inside the lambda code and the Node.js14.x runtime was using esmodule instead of commonjs :( Thanks!

[2022-02-13 22:27] #14093 closed

[2022-02-14 02:22] #14028 closed

[2022-02-14 03:35] zbjy opened #14107 "Comments on columns do not take effect when synchronizing models"
![image](https://user-images.githubusercontent.com/19985529/153796182-9a7b8cc4-b6ac-4986-b54e-c77c85f129ba.png)

model.sync({ alter: true })

[2022-02-14 10:36] lifaith commented on #13056
fuck doc

[2022-02-14 15:45] mschipperheyn commented on #14051
@WikiRik

[2022-02-14 16:15] arecaps commented on #14088
@ephys Can we just change that
https://github.com/sequelize/sequelize/blob/491ff159cda4aab72bad558fce533fc98e09ae7f/src/dialects/mysql/query-generator.js#L373 to ?
[code]
I can open a PR if that is all that needs to be done.

[2022-02-14 21:37] clarencedesmarais opened #14113 "Executing (default): SELECT 1+1 AS result looping indefinitely"
## Description

I've recently enabled logs (locally) on my project for sequelize and I'm noticing this log :

`Executing (default): SELECT 1+1 AS result`

This log is non-stop (infinite loop).

I've checked online to see what could be the cause but I am not quite sure.

See thread here : https://stackoverflow.com/questions/63611772/sequelize-does-not-creating-a-table-shows-this-result-executing-de

[2022-02-14 22:47] yocontra commented on #7673
@WikiRik Is the syntax I proposed in my PR acceptable? If so, it can be reopened or redone on latest and support for other drivers can be added.

[2022-02-15 02:14] #14107 closed

[2022-02-15 06:37] jking6884 commented on #120
Is there no intention to add this functionality which seems almost expected in similar solutions by today's standards?

[2022-02-15 09:03] dudek-igor commented on #10347
Still open 😭

[2022-02-15 10:59] eugenestepanyuk opened #14114 "Incorrect operation of the Op.or"
[✔] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description
I'm trying to use [Op.or] to execute a query
[code]
, but it doesn't work correctly, for some reason it throws out the fields **'$User.web_roles_id$'** and **'$User.id$'** that I want to use in comparison.

### What do you expect to happen?

That should run the follow

[2022-02-15 16:08] PedroCostaMudey opened #14115 "Sequelize - Order By before Include"
I have a main table where I join other tables based in an id (is not a FK nor PK).

I use include with this other tables and everything works fine.

Problem is that I want to order the main table by create_at before doing any includes.

I can do this easy with mysql I just do a sub query in the main table and order by create_at and then I join the other tables.

I need this because the other table

[2022-02-15 16:27] mmfKupl opened #14116 "When "dialectOptions" has "query_timeout" for postgresql dialect - Connection terminated unexpectedly error apear"
## Issue Creation Checklist

[x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

create PostgreSQL connection with following options:
[code]

then when run next code
[code]
"Query read timeout" appeared immidiatly.
But then after 30s - 1m next error appears and destroys my server:
[code]

### What do you expect to hap

[2022-02-15 16:45] dor6-deepcred opened #14118 "postgres dialect does not minify all join aliases causing identifier already taken error (because postgres truncates)"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE
tried to do a SSCCE:
https://github.com/sequelize/sequelize-sscce/pull/221

in the SSCCE it minifies when too long for some reason in my real world case it did not

so here is my real word case:

[code]

### What do you expect

[2022-02-15 17:55] tonypee commented on #1830
DId anyone ever find how to do this? It seems a pretty core feature when using custom queries. It would be great if the documentation could show an example of nested models being parsed

[2022-02-15 19:26] KrisLau commented on #4858
Does anyone know of a similar solution for `tedious`?

[2022-02-15 19:38] ChadHelbling commented on #8803
This is a bit old but we ran into this; our current work around is to persist the _previousDataValues in the beforeUpdate hook and pass it down to the afterUpdate hook. This is pretty janky solution though. I would expect the _previousDataValues to be maintained if individualHooks = true or returning = true but that doesn't seem to be the case. I have a potential fix that I will open a PR for.

Th

[2022-02-16 08:13] ubeid commented on #4291
@leandroluk I'm looking  into another issue currently but just stumbled upon this

[code]

It should do the job

[2022-02-16 08:23] dor6-deepcred opened #14121 "`separate: true` for many to many associations"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Feature Description

### Is your feature request related to a problem? Please describe.

when including a one to many association you can pass `separate: true` to do this in a different query, this is great because when we have such relationship when we

[2022-02-16 08:34] ephys commented on #14053
The change is not too hard but a lot of code needs to be changed in many different files.
The "runHooks" function is located here https://github.com/sequelize/sequelize/blob/main/src/hooks.js#L94

But the code deciding whether the hook should or shouldn't run is duplicated in many places, such as here: https://github.com/sequelize/sequelize/blob/main/src/model.js#L1813

Best solution IMO would be

[2022-02-16 08:37] ephys commented on #13931
Yup! I think it's a good task for newcomers if someone wants to give it a try

[2022-02-16 08:39] medAmineRg opened #14122 "does Sequilize support ternary relationships?"
Does Sequilize support using associations in which participates three models ? eg :

Role
Permisssion
Menu

How to handle such associations using Sequilize ORM since it's never mentioned on the official documentation ?

[2022-02-16 08:59] ephys commented on #13056
Please refrain from making this kind of comment

However you are right that it is missing from the JSDoc.
It's documented in our [typescript typings here](https://github.com/sequelize/sequelize/blob/main/src/model.d.ts#L564), this should be improved once https://github.com/sequelize/sequelize/pull/13914 is complete

[2022-02-16 09:11] lifaith commented on #13056
thx

[2022-02-16 09:11] lifaith commented on #13056
thx

[2022-02-16 09:24] ephys commented on #14088
It should be! But we should also add an integration test to ensure NULL can be inserted in a nullable TIMESTAMP table with mariadb

[2022-02-16 09:26] ephys commented on #14122
Do you mean something like a [Many-To-Many](https://sequelize.org/v6/manual/assocs.html#many-to-many-relationships) relationship? Otherwise what you want is likely multiple [One-To-Many](https://sequelize.org/v6/manual/assocs.html#one-to-many-relationships) relationships

[2022-02-16 09:31] ephys commented on #4858
If you're still experiencing this with Sequelize 5, you should update to Sequelize 6. Sequelize 5 is not maintained beyond security fixes anymore.
I can't guarantee this is fixed in Sequelize 6 but I have not personally encountered it since

[2022-02-16 09:43] medAmineRg commented on #14122
yes many to many relationship between 3 models?

[2022-02-16 09:46] ephys commented on #10347
Purely because having different return types based on parameters is a typing nightmare, I think we should go with the [initial suggestion of `Model.findAllStream()`](https://github.com/sequelize/sequelize/issues/2454#issuecomment-60128989)

But nevertheless, I personally don't have the bandwidth to take on such a large feature right now. If someone wants to open a PR to implement streaming, it's w

[2022-02-16 10:00] ephys commented on #14113
That's a query Sequelize runs to test that the connection to the database works (https://github.com/sequelize/sequelize/blob/491ff159cda4aab72bad558fce533fc98e09ae7f/src/sequelize.js#L895)

You should see it once, but if it runs multiple times, it's possible that there is an issue with the connection to the database, as failed queries will be retried under certain circumstances.

Calling `sync` is

[2022-02-16 10:01] medAmineRg commented on #14122
like  how l can translate a ternary assocation in sequilize?

[2022-02-16 10:02] ephys commented on #14122
Many-To-Many are between 3 models as one of them need to act as the through-table (https://en.wikipedia.org/wiki/Many-to-many_(data_model))

[2022-02-16 10:11] medAmineRg commented on #14122
in my case l have a many to many relationships between three models: role, permission and menu so they gonna generate a new entity ROLE_PERMISSION_MENU where id_role and id_menu and id_permission gonna be its primary key @[ephys](https://github.com/ephys)

[2022-02-16 11:10] WikiRik commented on #8803
Reopening now that #14120 will fix this issue

[2022-02-16 11:24] WikiRik commented on #14114
Thanks for the bug report! It looks like this is something that should work. Can you make an [SSCCE](https://github.com/sequelize/sequelize-sscce) or failing test(s) in a PR for this issue so we can look into this?

[2022-02-16 13:16] WikiRik commented on #120
This is what https://github.com/sequelize/sequelize-auto adds right?

[2022-02-16 13:19] WikiRik commented on #14118
Hi! The SSCCE is not complete. Can you use the [sequelize-sscce](https://github.com/sequelize/sequelize-sscce) repo to provide us a complete one?

[2022-02-16 13:19] ephys commented on #14104
esdoc is failing on `sequelize.js` because it doesn't support a recent-ish syntax we use.

https://github.com/sequelize/sequelize/pull/13914 fixes this, I need to move forward with it

[2022-02-16 13:20] #14115 closed, assigned to nobody

[2022-02-16 13:26] WikiRik commented on #14051
Thanks for the ping. Unfortunately, I haven't had the time yet to look into this. Feel free to see if you can create a PR for this

[2022-02-16 13:39] ephys opened #14125 "Typings for `Model.init` complains if foreign keys are missing"
## Bug Description

In the following example, the `UserId` is automatically added by `WalletModel.belongsTo(UserModel)` and therefore does not need to be added to the `WalletModel.init()` call.

Sequelize's typings does not know this, so `WalletModel.init()` complains that `UserId` is missing.

[code]

### Environment

- Sequelize version: 6.16.1
- Node.js version: 16
- If TypeScript related: Type

[2022-02-16 14:09] #14122 closed

[2022-02-16 14:09] medAmineRg commented on #14122
my bad

[2022-02-16 14:40] RubberDuckShobe commented on #3885
Any updates on this? Looks like this has been a problem for nearly 7 years now.

[2022-02-16 17:46] jking6884 commented on #120
@WikiRik I believe sequelize-auto is trying to do the exact opposite.

The functionality this thread is talking about is similar to django framework and so many other frameworks which are mentioned in this thread.

The way it works in Django, for instance, you define (or make changes to) your model file and then you run a command like:
`python manage.py makemigrations`

This command will read all

[2022-02-16 18:52] Taqiarzoo commented on #9605
Did anyone find the solution
Subquery:false allow us doing deeply nested filter
I want to apply like operator on nested modal but without Subquery:false sequelize give bad field error
Also with Subquery:false on modal involving has may relationship give wrong data when apply limit

separate: true solve the Limited data problem and give all the Data applied limit

But in that case top level where c

[2022-02-17 01:04] lauri108 commented on #1490
@cjroth found [updated docs](https://github.com/sequelize/sequelize/blob/e99c67cfaed0389265fd810031a304e9985c1811/docs/manual/core-concepts/model-basics.md#uuids) on this.

In your model, use

[code]

The older docs say do `defaultValue: Sequelize.UUIDV4` but that's incorrect. Use `defaultValue: DataTypes.UUIDv4` instead.

[2022-02-17 01:44] snitin315 opened #14129 "v6.14.0+ breakes existing model types"
## Issue Creation Checklist

[ ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

**Here is the link to the SSCCE for this issue: https://github.com/opencollective/opencollective-api/pull/7142

[code]

### What do you expect to happen?

No typescript errors for v6.13.0 and before.

### What is actually happe

[2022-02-17 08:39] eugenestepanyuk commented on #14114
https://github.com/sequelize/sequelize-sscce/compare/main...eugenestepanyuk:patch-2

[2022-02-17 09:09] ephys commented on #1490
`Sequelize.UUIDV4` is an alias of `DataTypes.UUIDV4`, but yeah stick to DataTypes

However, `DataTypes.UUIDV4` cannot be used in migrations, it can only be used in Model.init or sequelize.define. This is because `DataTypes.UUIDV4` is handled in JavaScript, not SQL.

[2022-02-17 11:51] nichita-pasecinic commented on #6408
6 years later

[2022-02-17 13:42] dor6-deepcred commented on #14118
@WikiRik the problem is I'm not sure how to recreate this problem.
all I know that the include I posted under SSCCE caused it

[2022-02-17 13:42] dor6-deepcred commented on #14118
the problem is I'm not sure how to recreate this problem.
all I know that the include I posted under SSCCE caused it

[2022-02-17 15:44] nicoabie commented on #1830
https://github.com/sequelize/sequelize/issues/1830#issuecomment-1018806069

[2022-02-17 18:04] tonypee commented on #7197
@exos How did you go with this? Im interested in view support for mysql

[2022-02-17 20:36] radcapitalist commented on #13508
Was the underlying problem just that you had not defined the junction table model?  Because I have a junction table model defined and I am getting this same error when I add a **belongsToMany** association on either side.

[2022-02-17 21:52] clarencedesmarais commented on #14113
Thank you very much. That unblocked me today :)

My issue was that I had a monitoring function in my code (within a lib) that was periodically performing a check on this authenticate function to see if the connection was alright (which it was).

Closing this issue !

[2022-02-17 21:52] #14113 closed

[2022-02-18 00:49] lauri108 commented on #13224
Summary of the solution here, to bump it up in search results for using a UUID as a primary key in Postgres.

For example, for an entity called Product, create your migration like this:

[code]
"use strict";
const { Model } = require("sequelize");
module.exports = (sequelize, DataTypes) => {
  class Product extends Model {
    static associate(models) {
      // associations
    }
  }
  Product.in

[2022-02-18 08:56] ephys commented on #13224
I agree support for the native version would be nice. Maybe an extra data-type `DataTypes.UUIDV4.NATIVE`?

We'd need to look into which dialects support generating UUIDs and how.

I also think we should warn when a js-based default value is used in `queryInterface.createTable`

[2022-02-18 09:56] ephys commented on #13372
It's not perfect but since Moment is not going to change anymore it may be fine. We could detect something is a moment object by doing this:

`theObject.constructor.name === 'Moment' && theObject._isAMomentObject`

And, if a specific method needs to be called on it, check whether it exists first:

`theObject.constructor.name === 'Moment' && theObject._isAMomentObject && 'format' in theObject`

But

[2022-02-18 10:55] eldimious commented on #7993
Is there any news on this issue, cause still have the same issue on postgres + sequelize 6.16.1?

[2022-02-18 11:26] HyopeR commented on #8140
Hello. I ran into this issue recently on an ongoing project. And if you are working with postgresql here is a temporary solution you can use.

I will exemplify on this query

**Let's take advantage of Postgre sql functions**

[2022-02-18 14:35] collierrgbsitisfise opened #14136 "Define replication config in beforeConnect hook is not working"
## Define replication config asynchronous

**There is cases when application receive  necessary configs asynchronous. In such cases hooks are used to setup necessary values**

[code]

### What do you expect to happen?
On read(select) queries should be used read replica

### What is actually happening?
Looks like replication ignored at all when we mutate config using beforeConnect hook.

From my in

[2022-02-18 16:29] ephys commented on #14136
I don't think that's something we should support, it sounds unsafe.

Instead you should delay the creation of the sequelize instance to after your configuration is ready.

If you're using ES Modules, or can migrate to ES Modules, Top Level Await would let you do just that.

If you're using a framework, it's likely that the framework has something built-in for this (e.g. nest proposes https://docs.

[2022-02-18 18:17] GAURAV1-ui commented on #11669
I would like to work on this issue.

[2022-02-18 22:20] bramey commented on #4553
if anyone still needs this as I did, using separate true you can do things like this

`
include: {
        model: OtherModel,
        separate: true,
        order: [
          ['createdAt',  'DESC']
        ],
        limit: 1
      }
`

[2022-02-19 06:52] gwilki2 opened #14139 "Using 'mssql' dialect and Model.removeAttribute('id') with no alternate PK, findOne query still tries to use Order by 'id' default, resulting in failure."
## Issue Creation Checklist

[ x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

Sorry, I'm new to Sequelize and your sscce helper module, but I'm fairly confident on this bug issue and I've updated your starter SSCCE to resemble my code.  I'm simply trying to create a model that models an existing table that does no

[2022-02-19 10:00] soryy708 commented on #13372
`theObject.constructor.name === 'Moment'` may introduce a breaking change.
Some users use a bundler (like Webpack) on the back end to make the bundle size small, to save costs on bandwidth and storage. Another use case would be to use something like babel for access to modern ECMAScript features, while still targetting odler NodeJS releases.
The problem is that webpack/babel may mangle the names (

[2022-02-19 14:57] ufhy opened #14141 "ConnectionManager.getConnection was called after the connection manager was closed!"
## Issue Creation Checklist

[ x ] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description
Running some simple query (MySQL) for SELECt and INSERT without any model

### SSCCE

**Here is the link to the SSCCE for this issue:** LINK-HERE

[code]

### What do you expect to happen?

Expected to insert multiple rows in mysql using

[2022-02-19 15:17] ufhy commented on #14141
damn i was wrong
this is my reference..

https://stackoverflow.com/a/38362312

[2022-02-19 15:17] #14141 closed

[2022-02-20 00:36] akash87 commented on #12671
Not stale

[2022-02-20 11:16] ephys commented on #13372
That's true. and checking `_isAMomentObject` alone is not enough imo.
Then we may as well drop moment support altogether. I have plan on implementing something that lets users serialize/deserialize a datatype to their JS type of preference which could bring back this kind of support in a different way (https://gist.github.com/ephys/50a6a05be7322c64645be716fea6186a#support-for-alternative-js-types)

[2022-02-20 11:37] soryy708 commented on #13372
Why was Sequelize coupled to Moment in the first place? What is the functionality we're talking about dropping support of?

[2022-02-20 11:39] collierrgbsitisfise commented on #14136
@ephys Ok, thanks ! In case it's expected behavior I am closing this issue

[2022-02-20 11:39] #14136 closed

[2022-02-20 12:10] ephys commented on #13372
Probably because it used to be the most popular way of handling dates in JS when this was introduced.

The functionality in question is the ability to assign a moment object to an attribute, having it be serialized and saved to the database just like if it were a Date object. (you could also use them in `where` I believe)

[2022-02-20 12:20] WikiRik commented on #14048
Hi @evanrittenhouse sorry for not responding earlier. Would be nice if you could take a look into this :)

[2022-02-20 12:32] WikiRik commented on #11669
Feel free to work on this! I would recommend starting with writing some tests so you can see if this is still present in the main branch.

[2022-02-20 22:43] WikiRik commented on #14056
As per https://node-postgres.com/#version-compatibility you should use pg@>=8.2.x with Node >=14.x. I have made a PR to reflect this for the next major release (v7).

[2022-02-21 06:02] hasan-hashtagged commented on #13771
The issues are still there. I cloned the repo and tried running tests against mysql db. The test file test/integration/data-type.test.js still uses ```require('sequelize/lib/data-types')```. Is the migration still in progress? Also, in the package.json file, the entry points still contain lib.

[2022-02-21 08:37] ephys commented on #13771
If you cloned the sequelize repo, you need to run `yarn build` before running tests
`/lib` still exists, it's the build output of `/src` (https://github.com/sequelize/sequelize/pull/14068)

It's normal for the entrypoint to be in `/lib` as we need to expose the JS version of the codebase, not the TS one.

What this thread is about is that users should not try to import anything from `/lib` themsel

[2022-02-21 08:37] #13771 closed

[2022-02-21 09:09] ephys commented on #14118
Thank you :)
Definitely something we should resolve, as it's the only way to workaround aliases max length

Not strictly related but we may want to take inspiration from TypeORM here https://github.com/typeorm/typeorm/pull/3514/

[2022-02-21 09:15] #14056 closed

[2022-02-21 15:15] Angrigo commented on #7534
still an issue sequelize 6.12.5

[2022-02-21 17:33] bach942 commented on #13372
I think it would be good to decouple Sequelize from Moment (has to be a date object or string to save), but also I didn't want to break functionality or change the roadmap if this was something that the team wanted to keep.

[2022-02-22 01:27] nsychev opened #14150 "SQL field name used instead of property name in conflictFields"
## Issue Creation Checklist

- [x] I have read the [contribution guidelines](https://github.com/sequelize/sequelize/blob/main/CONTRIBUTING.md)

## Bug Description

### SSCCE

[code]

### What do you expect to happen?

I expect request like `INSERT INTO "user" ("user_name") VALUES ($1) ON CONFLICT ("user_name") DO UPDATE SET "user_name" = EXCLUDED."user_name" RETURNING "user_name";`

### What is ac

[2022-02-22 01:36] nsychev commented on #14150
Also I think #13723 broke something, and now I can't manage default value to behave normally, so that's why I had to set `conflictFields`.

In my model I have primary key `id` and composite unique index (`a`, `b`). `Model.upsert({a, b, smth}, {fields: ['smth']})` generates query with `ON CONFLICT ("id")` (which of course fails).

[2022-02-22 08:10] nishantc7 commented on #13065
Any Updates?

[2022-02-22 10:44] ephys commented on #13065
https://dev.mysql.com/doc/refman/8.0/en/json.html

Looks like we can enable default JSON values for mysql 8

[2022-02-22 11:13] obernardovieira commented on #6408
Hi,
ever since my last post, I tried some different things and as of today, I have many includes working. [Here's an example](https://github.com/impactMarket/backend/blob/main/packages/core/src/services/ubi/community.ts#L784). I think there's a very specific issue when doing M:N, but can't remember anymore. For most cases, it's really a question of getting the associations right. I remember I've s

[2022-02-22 14:09] WikiRik commented on #14150
@AllAwesome497 are you able to look into this?

[2022-02-22 14:53] aperkaz commented on #13184
For future reference, the error goes away when passing an empty object as parameter: `dbConnection.sequelize?.drop({})`

[2022-02-22 15:16] ephys commented on #13184
Looks like a bug in the sequelize dialect caused by this line:
https://github.com/sequelize/sequelize/blob/main/src/dialects/postgres/query-interface.js#L240

[2022-02-22 20:05] PabloRosales commented on #12158
Had the same issue, no error or any message, updating the `pg` package worked for me while upgrading to Node 16.

Code had:

```await database.authenticate();```

This is on a legacy app with Sequelize 4. A google search took me here.

[2022-02-23 04:17] pinxue commented on #9057
still an issue

"sequelize": "^6.15.1"

Workaround: (tested only with postgresql)

1. @jsanta 's workaround:  give uniqe an name in model, like `email: { type: DataTypes.STRING, allowNull: false, unique: 'user_email_uni', validate: { isEmail: true }` , this fix syntax error about UNIQUE
2. disable drop while altering: `model.sync({ alter: { drop: false }, force: false })` , this fix syntax error a

[2022-02-23 08:41] eugenestepanyuk commented on #14114
@WikiRik
please tell me when i will get an answer to my problem or how can i know the solution?

[2022-02-23 08:58] ephys commented on #14114
The problem isn't fixed yet but I found a workaround that works: use `where()` instead of the POJO syntax.
Something like this:

[code]

[2022-02-23 10:38] WikiRik commented on #14114
Thanks for looking into this @ephys
Since there is a workaround that's not too much work I think it's best to just leave this for now and fix it with #14020 for the v7 release.

@eugenestepanyuk please confirm if the workaround did actually fix this issue for you

[2022-02-23 13:56] eugenestepanyuk commented on #14114
yes, thx, this workaround works
now i found one more workaround

[code]

I will hope that you will be able to solve the problem without auxiliary properties

[2022-02-23 14:29] jamesderrick commented on #12919
Similar issue for me, but without sequelize and with newer versions of the packages.
I'm using node v16.13 and tedious v14.3
The error I get is "Security token could not be authenticated or authorized"
I can connect to the Azure SQL DB using Azure Data Studio and I am using the exact same credentials that I use for that within my nodeJS application
My config follows the same setup as the original

[2022-02-23 14:44] jamesderrick commented on #12919
My apologies, came here via a link and didn't realise it was sequelize specific.

[2022-02-23 18:13] potatosenior commented on #5570
Is there a way to use `raw: true` in `findAll` without diplicated results?

[2022-02-24 09:00] enkopvand commented on #7930
This is still an issue.

[2022-02-24 09:26] mariusa opened #14157 "model.update() doesn't handle affectedRows == null"
https://github.com/sequelize/sequelize/blob/ac6bc26fc2e40fc0b0d9aa9c27195e621d7f753b/src/model.js#L3388

On an update I get the useless error
[code]

Using postgres, so affectedRows always exists. I'm assuming the issue is with the update fields, but there's no db error shown.
Sequelize should check if `affectedRows == null` and show update details/errors. Help users understand why it failed.

[2022-02-24 10:27] ephys commented on #14157
Do you have an example query that causes this crash? It would help us narrow it down :)

[2022-02-24 10:27] ephys commented on #5570
You'd have to handle it manually afterwards as the point of raw is to give you what we receive from the database as-is

[2022-02-24 11:31] mariusa commented on #14157
Sure. I see it happens only when both `returning` & `plain` are set, when there are no updated rows:

``
 await person.update({ phone: '123' }, { where: { email: 'a@a.com' }, returning: true, plain: true })
[code]

[2022-02-24 15:28] ephys opened #14161 "Tests are flaky again"
This issue aims to document the various tests that fail randomly on the CI.

https://github.com/sequelize/sequelize/runs/5320675964?check_suite_focus=true
[code]

https://github.com/sequelize/sequelize/runs/5155830293?check_suite_focus=true

[code]

https://github.com/sequelize/sequelize/runs/5152023145?check_suite_focus=true
[code]

https://github.com/sequelize/sequelize/runs/5156282992?check_sui

[2022-02-24 15:54] ephys commented on #14161
Looks like we sometimes have an issue when installing obdc: https://github.com/sequelize/sequelize/runs/5321167027?check_suite_focus=true

[code]

@markdirish I think you're the most qualified to take a look at it if you can :)

[2022-02-24 16:05] WikiRik commented on #14161
I also have these DB2 tests written down that are flaky;
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-02-24 18:30] wejesuss commented on #7277
+1 It would be pretty nice if that was possible, is there any workaround currently?

[2022-02-24 19:24] armordog commented on #4858
I'm using Sequelize 6 with the 'postgres' dialect (Redshift).
And it still returns a JS Date (with the timezone screwed up) no matter what I do.
I've tried
 - setting the column type to _anything_ else (eg: `STRING`)
 - `pg.types.setTypeParser`...
 - an `afterConnect` hook that replaces the `DATE` type with a `CustomData` class that overrides `parse`

Can anyone tell me how to get Dates from a Red

[2022-02-24 20:35] WikiRik commented on #7277
@ephys this might be of interest to you

[2022-02-24 20:47] ephys commented on #7277
if we do implement this, I'd propose following the way we currently implement enums:

[code]

[2022-02-24 22:10] evanrittenhouse commented on #14048
@WikiRik sounds good. I am a little new to open-source contributing - is there somewhere I should check first in the codebase?

[2022-02-24 22:21] WikiRik commented on #14048
If you're talking about this issue specifically; I haven't really taken a look at this so I wouldn't know right now what would be the best file to start with. But looking at the description https://github.com/sequelize/sequelize/blob/main/src/associations/has-many.js#L320-L382 might be a good start.

If you're talking about how to contribute, we have some guidelines here; https://github.com/sequel

[2022-02-24 22:36] evanrittenhouse commented on #14048
@WikiRik excellent, will jump on this tonight after work - thank you for the help! Very excited.

[2022-02-25 01:56] snitin315 commented on #14129
Fixed in #14146

[2022-02-25 01:56] #14129 closed

[2022-02-25 06:45] pyrozhok commented on #7344
I think this issue has been fixed in v7.  The problem was with count using findAndCountAll with includes when I tried set **where** clause.

I added `required: true` to the nested include according to the [documentation](https://sequelize.org/v7/manual/eager-loading.html) (check section **Using findAndCountAll with includes**)

`RouteView.findAndCountAll({
    limit,
    offset,
    attributes: [

[2022-02-25 08:47] geeofree commented on #3095
https://github.com/sequelize/sequelize/issues/3095#issuecomment-750913269

Thank you! This worked for my situation. Can't believe this isn't documented however.

[2022-02-25 08:59] ephys commented on #14129
Happy to hear it worked 🎉

[2022-02-25 10:39] ephys commented on #4858
@armordog If you're using `DATE` instead of `DATEONLY`, then it's unrelated to this issue.
It's weird that using DataTypes.STRING returns a Date. If you open another issue that replicates the bug in question, we can take a closer look at it

[2022-02-25 10:45] ephys commented on #7277
I also need to say that given my current backlog I don't know if/when I'll have time to work on this.

If someone is willing to work on a PR for this, this is a good starting point: https://github.com/sequelize/sequelize/blob/491ff159cda4aab72bad558fce533fc98e09ae7f/src/dialects/abstract/query-interface.js#L216