[2019-07-12 19:28] papb commented on #11182
Shouldn't you be doing `this.setDataValue('signature', buf.toString());` instead?

[2019-07-12 20:09] papb commented on #11186
Actually I didn't really understand your problem... What is the matter of having the same models?

[2019-07-12 20:13] ado-astpos commented on #11186
The database schema are the same so I would need the same models to apply

[2019-07-12 20:47] papb commented on #11186
I don't see why this prevents you from using what I suggested:

Can you try it? Not *2 configs and 2 database model folders* but just one config and one database folder, with the only difference being the two Sequelize instances above.

[2019-07-12 20:49] ado-astpos commented on #11186
This way I only get one instance of each database, I need multiple instances of the second database because I need to connect to different IPs at different times.

[2019-07-12 20:54] papb commented on #11186
Ah, I get it now... I don't know how to help then, unfortunately... I actually don't have experience with using Sequelize with multiple connections (I tried to help with general ideas but now I think I can't really help further)... Good luck! Hopefully someone else will show up to help.

[2019-07-12 21:00] ado-astpos commented on #11186
No worries, thank you for your time and effort!

[2019-07-12 21:02] jamelling opened #11187 "Model.update() returns different results when individualHooks is true and false"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define a model with a TEXT data type and an instance of that model
2. Run an update on the model setting the text field to the same value with individualHooks set to true
3. Examine the results of the promise. The first value should be a number that is equal to 0, the second should be an array with the created mode

[2019-07-12 21:54] ado-astpos commented on #11186
Found a temporary solution...

[code]

I call this function on every route and it seems to create a new instance of my second database while still associating all models.

Any thoughts?

[2019-07-13 04:01] furick1 opened #11188 "Sequelize Migration with Transaction"
How can I convert the following to a transaction because when running it through local Postgres I got a failure that the column can't be added because it already (still) exists.  It looks like the prior remove is not completing before the add runs.  It is necessary to do the remove and then add because there isn't an alter that will support changing certain attributes. I know we will lose data in

[2019-07-13 10:47] knoxcard commented on #11173
It's already in the docs...http://docs.sequelizejs.com/manual/models-usage.html
[code]

[2019-07-13 13:00] PKCheap opened #11189 "A way to apply a main query limit while filtering the whole result set."
**Is your feature request related to a problem? Please describe.**
I cannot figure out how to apply proper pagination with a filter string. For my filter string to apply to includes, I need to use "subQuery: false". However, this will also apply my limit to the cartesian joins brought in with the include object.

**Describe the solution you'd like**
There may already be a solution - it's probably

[2019-07-13 13:25] sm2017 commented on #11173
How to use in addIndex?

[2019-07-13 20:07] papb commented on #11188
Hello, thanks for using sequelize.

For questions like this, please use StackOverflow.

By the way, now that I read your question anyway, here is the answer:

1. Transactions do work with migrations, but your problem has nothing to do with migrations.

2. Your problem is due to a misunderstanding of how Promises work. You are dispatching the `removeColumn` and `addColumn` queries in parallel. You

[2019-07-14 01:20] malyzeli commented on #2541
@escobar5 not sure where the problem is in your case, but the following code works for me.

I prefer using association aliases but it should work with model reference as well.

[code]
[code]

[2019-07-14 01:34] malyzeli commented on #2541
I would like to know if there is any way to configure this behaviour globally for whole Sequelize instance, or at least for any given association, so you don't have to specify it in every single query.

When defining new models, you can use `defaultScope` to hide attributes you don't need, but unfortunately that is not possible when defining associations, since apparently `scope` means something d

[2019-07-14 01:47] papb commented on #2541
@malyzeli What do you mean by "*since apparently `scope` means something different there...*"?

[2019-07-14 02:40] maksimsemenov opened #11190 "findOne and findByPk does not pass all the options to the hooks"
## What are you doing?

I'm trying to pass some app context to the `beforeFind` hook through options in `findByPk` and `findOne`:
[code]
In both cases, in `beforeFind` hook I'm getting only some default options:
[code]
But when I pass the same prop to the find all, the context object is passing through:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models with `beforeFind` hoo

[2019-07-14 14:03] ricklang commented on #11182
After further testing, it looks like the problem is the length of string. I changed column to STRING type. I did the update from GraphQL playground and got error
[code]
when the signature string is around 3950 chars long.
[code]
I am using
[code]

and here is my GraphQL resolver:
[code]

There is no problem when reading the long string back from the database.

[2019-07-14 14:07] PKCheap commented on #11189
I was able to get the correct result set using:

`req.db.User.findAll({
            include: [
                {
                    model: req.db.Report,
                    as: "Reports"
                }, {
                    model: req.db.Role,
                    as: "Roles"
                }
            ],
            order: [
                (() => {
                    switch(req.query.so

[2019-07-14 15:07] passion0470 opened #11191 "Error when adding count attribute after joining table"
Hi. I do not know how to do it.
Your framework and ORM use express and sequelize.
On the bulletin board, when I call the list, I want to create an API that adds a property that counts the number of comments.
We try to join the reply (comment) table to the post table, count the number of comments in each post, add the attribute, and return it as json at API call.
However, when I call the API from t

[2019-07-14 17:05] SimonSchick commented on #11190
I don't think we are making any guarantees about what non standard properties are passed on, therefor I wouldn't consider this a bug but rather a feature request.

[2019-07-14 19:50] furick1 commented on #11188
Thanks for the .then @papb  .  Transaction

[2019-07-14 19:50] #11188 closed

[2019-07-14 22:34] #10715 closed

[2019-07-15 00:20] Josephu commented on #10832
I have also found this issue, and the root cause seem to be that sequelize does not parameterize variables when you use `Op.x`. As an example, below is a query that had this issue:
[code]
And by using Sequelize debug mode, I see:
[code]
So after I change to:
[code]
What I see from debug log is:
[code]

Interesting you'll notice that even after the change, `max_adults` still has a static value insi

[2019-07-15 01:35] sepans commented on #5551
Hello,

Is `include.on` still not supported for `belongsToMany` relations or am I doing something wrong bellow?

For my models I have:
[code]

And in query I have:
[code]

But still not getting the `deleted` part. I get:
[code]

where I want to get something like:
[code]

[2019-07-15 06:25] tizzyapunkt commented on #5471
Is there any news on that? Whilst create + save with associations is possible as stated by the docs the following is stilll not possible, right?

[code]

The above code does not persist the new token data.
When logging out the model, I can see `_changed: { tokens: true }`, so the change is basically recognized but not persisted.

Do I miss something or is persisting and updated-previously-fetched

[2019-07-15 06:41] ricklang commented on #11182
Looks like increase the tedious packet size could solve the problem.
[code]

But I don't know how it will affect the perfornance. Also whether I can set it just on a query by query basis.

[2019-07-15 08:03] polaroi8d commented on #7884
@joshua-turner are u successfully migrated to v5 and find everything perfect? Do you have any experience with the v5?

[2019-07-15 08:23] lancedikson commented on #7884
We have upgraded to v5 and seems like it helped for some reason. But it was such a shot in the dark.

[2019-07-15 09:57] alexeykush commented on #9747
+1

[2019-07-15 11:24] mickaelw commented on #120
up

[2019-07-15 11:47] satheeshnatarajan commented on #10622
But `associate` not working while using this method

[2019-07-15 15:28] papb commented on #10622
Thanks for this issue. I was planning to do this for a while already... I really think this would help. I will try to get into this in a few days.

[2019-07-15 15:45] fiftin commented on #5828
Does exit other solution for this problem?

[2019-07-15 19:17] papb commented on #120
@murbanowicz @Luomusha @botaniQQQ @mickaelw Please check [sequelize-auto-migrations](https://github.com/flexxnn/sequelize-auto-migrations) as brud said.

[2019-07-15 19:47] MatthewHerbst commented on #10239
This is not a stale issue.

[2019-07-15 20:06] papb commented on #11182
Was the error thrown from `context.db.Staff.findByPk(input.where.staffId)` or from `currRecord.update(input.data)`?

[2019-07-15 20:49] papb commented on #5828
@fiftin You should explicitly specify the foreign key on both ends:

[code]

Or not specify it at all.

Are you looking for a different solution? I don't think that exists.

[2019-07-15 20:55] papb commented on #10767
@DavidGamote Can you create a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

[2019-07-15 21:36] papb commented on #10768
Hello, thanks for reaching out to help, welcome to Sequelize :grimacing:

Sorry that your issue wasn't looked at sooner.

The `sequelize.import` feature is actually on the works to be removed (see #10892) - the idea is that usual `requires` should be enough. In this case, you should be able to customize them with whichever flexibility you would like. Of course, this would require an update on the

[2019-07-16 01:27] ricklang commented on #11182
If I set the packet size to 32768 in the connection options, then the problem will be solved. It doesn't make sense to me. Why the packets are not re-assembled at the server side when the packet size is 4096 (default). And clearly the packets are re-assembled at the client side all the time.

[2019-07-16 01:28] ricklang commented on #11182
It looks like the problem with tedious. I file a new issue there.
[tedious issue 923](https://github.com/tediousjs/tedious/issues/923).

[2019-07-16 06:06] jbauerrfid opened #11196 "SSL Certificate issue on documentation page"
## SSL Certificate issue on documentation page

The documentation page on https://docs.sequelizejs.com/ returns an invalid SSL certificate

SSL Labs reports "Certificate name mismatch"

See also:
* https://www.ssllabs.com/ssltest/analyze.html?d=docs.sequelizejs.com
* https://www.ssllabs.com/ssltest/analyze.html?d=docs.sequelizejs.com&ignoreMismatch=on&latest

[2019-07-16 06:17] sarifconrati commented on #11103
It works if you import `const Sequelize = require("sequelize").Sequelize` in the main connection file where you make connection to your database.

[2019-07-16 07:33] jetaimefrc opened #11197 "Update an element in array - postgres"
I'm a newbie and I don't know how to update an element in an array.

![Screen Shot 2019-07-16 at 14 30 45](https://user-images.githubusercontent.com/24296018/61274636-67edfa00-a7d6-11e9-8a1e-b7d7e6626c17.png)

I have a model have array status, now I want to update 1 of them with my params. So, please, anyone can help me!

[2019-07-16 09:40] matthias62 opened #11198 "sequelize error for mariaDB queries which use WITH statements"
Hello

The following RAW query produces an ER_NO_DB_ERROR despite of fully qualified table names.
The problem just happens if the query contains WITH statements. With a remote mariaDB server instead of a local mysql Server a different error is produced "UNKNOWN_CODE_PLEASE_REPORT" with errno 2003 and sqlMessage: "Lost connection to backend server"

The Raw query should execute without explicit USE

[2019-07-16 11:32] papb commented on #11198
Please format your code with markdown js-triple-backticks next time, like this:

[code]

Result:

[code]

[2019-07-16 11:33] papb commented on #11196
Thanks for reporting. Hopefully this will be fixed soon.

@sushantdhiman Can you take a look?

[2019-07-16 11:37] papb commented on #11197
For questions like this, please use [Stack Overflow](https://stackoverflow.com/). You can use the `sequelize.js` tag for your question. Good luck!

[2019-07-16 12:09] LaurentVB commented on #10962
Hi @felamaslen

I'm experiencing the same issue, but I'm not sure your expected generated SQL query is correct as it will first limit the suppliers to 10 results, then join, then apply the condition on the joined table, meaning that if none of the originally selected 10 suppliers happen to match the condition, your result set will be empty, although you could still have had valid results with othe

[2019-07-16 12:32] felamaslen commented on #10962
I think you're right, and I'd hazard a guess that my PR doesn't handle the
above case properly.

On Tue, 16 Jul 2019, 13:09 Laurent VB, <notifications@github.com> wrote:

[2019-07-16 12:53] matthias62 commented on #11198
Additional comments:

- The above mentioned problems are bound to mariaDB columnstore engine tables.
- The test statement above is using the WITH sql statement. Together with a columnstore table
that forces the application to apply the USE database statement - even with fully qualified table names. With normal SELECT without the WITH statement that is not necessary.
- The next columnstore related

[2019-07-16 12:55] papb commented on #11191
Hello. Can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)? In a way that we can easily reproduce your problem. Thanks.

Also, screenshots are better than nothing but next time please provide the code and data as formatted text (with markdown triple-backtick formatting).

[2019-07-16 12:56] papb commented on #11187
Thanks for reporting this. Hopefully we will be able to take a look soon.

[2019-07-16 12:59] papb commented on #11022
Fixed by #11115

[2019-07-16 12:59] zeagord opened #11199 "Support windows authentication for MSSQL Sever"
**Is your feature request related to a problem? Please describe.**

Current sequelize module doesn't support sql server windows authentication which is preventing the usage in several environments.

**Describe the solution you'd like**
Option to use Windows Authentication in some environments

**Why should this be in Sequelize**
Short explanation why this should be part of Sequelize rather than a

[2019-07-16 13:00] papb commented on #11198
If I understood correctly, this is a problem with both mysql and mariadb, although the error messages are different? Is this correct?

[2019-07-16 13:03] papb commented on #11014
Can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)? Perhaps a gitlab repo where you can use docker-compose to show the problem?

[2019-07-16 13:51] maksimsemenov commented on #11190
@SimonSchick should I recreate the issue as a feature request?
This feature is very important for using Sequelize in serverless environment (AWS Lambda): in those environments we can rely on a global variable/state to inject some session data (like user id) into sequelize hooks, because it can be shared between multiple function invocations.

[2019-07-16 14:19] reezer commented on #10463
This is not just related to typeValidation cases. This is a fixed minimal example (id missing in the above):

[code]

[2019-07-16 16:43] malyzeli commented on #2541
@papb I'm pointing out that the term `scope` represents different functionality in the context of associations than what it means in model definition...

### In model definition context

[code]

*source: documentation on [Scopes](http://docs.sequelizejs.com/manual/scopes.html)*

Setting `defaultScope` here means that `Project.findAll()` queries will include `WHERE active = true` by default. Queryi

[2019-07-16 18:24] Dakkers commented on #2554
still not fixed 😭

[2019-07-16 20:03] malyzeli commented on #11123
I'm also in need of `GENERATED` columns support, since defining column as `autoIncrement` does not automatically prevent explicit value insertion, which can cause problems...

See those two questions and aswers on Stack Overflow for detailed explanation:
- [Postgres autoincrement not updated on explicit id inserts](https://stackoverflow.com/questions/9108833)
- [PostgreSQL serial vs identity](http

[2019-07-16 20:07] malyzeli commented on #11123
@mztnnrt please consider renaming the issue to something like "Support GENERATED columns in model definition" so it's explicit and hopefully also more visible.

[2019-07-16 20:32] papb commented on #11123
@mztnnrt @malyzeli Hello, thanks for this.

@malyzeli You said:

But you can actually do it only once by setting up [global hooks](http://docs.sequelizejs.com/manual/hooks.html#global---universal-hooks), right?

[2019-07-16 20:45] papb commented on #10999
Thanks for reporting! I will fix it soon.

Thanks for the info. I questioned myself what would be the best way to do it. What are you suggesting though? That having an *Index* entry above *Getting Started* would be better?

You're right, I will see what can be done about that.

[2019-07-16 20:49] papb commented on #11001
You probably mean [this line](https://github.com/sequelize/sequelize/blob/6e0b13762bfdeac80b3acd580e75f68985c211bd/types/lib/model.d.ts#L1910), right?

This is a good idea. Hopefully someone will be able to take this soon.

[2019-07-16 21:41] AlexVanHell opened #11200 "UpdateOptions interface does not have "paranoid" option property"
## What are you doing?

I'm using Sequelize with typescript and I realized that the second argument of `Model.update` doesn't give me a "paranoid" option, so I need to cast the second argument to use this option.

[code]

I realized that UpdateOptions interface is not implementing this property. But when I cast to another type the library works perfectly with this option.

**To Reproduce**
Steps t

[2019-07-17 05:40] polarathene commented on #10999
Based on context, perhaps a good title for it on the sidebar would be "About" / "About Sequelize"? Followed by some header for the section after *Quick example*, maybe.. "Jump to page" or something else descriptive of what purpose that section of page previews is serving.

[2019-07-17 07:40] simonbrent commented on #10463
Urgh, sorry about that. Fixed my initial comment.

[2019-07-17 09:09] rraina commented on #8829
@sushantdhiman would you be open to @mccabemj approach above?

[2019-07-17 17:16] sonushahuji4 commented on #11158
I'm new to sequelize and there lack of documentation on sequelize and not
many tutorials so I find little difficult.
I have been working on a college project. The project is all most done but
there are some errors in the query due to sequelize.
When i execute the query in mysql it works fine but the same query when I
try to write in sequelize it gives me some syntax error.
Could you help me out pl

[2019-07-17 17:17] PatrickGeyer commented on #4310
Anyone still interested in a solution here? I am.

[2019-07-17 17:33] gavinbelson commented on #2322
As @felixfbecker suggested using the async flag works well in this situation.

`node --experimental-repl-await`
`> models = require('./models');

[2019-07-17 17:35] PatrickGeyer commented on #10010
@sushantdhiman, how can we do this when we don't know where the model will be included from? Do you have any tips for this?

[2019-07-17 19:22] megamit commented on #11166
I just ran into this roadblock when using sequelize for the first time.
Seeing eugenes solution helped me create my own
Since you dont have to do the association exactly when you define it putting a next tick callback does the trick as it will get called before the database actually connects
[code]

[2019-07-17 19:51] XENOTpro commented on #11103
`const Sequelize = require("sequelize").Sequelize` gets intellisense partly working, but (for me) intellisense is still not working within functions such as `create`.

[2019-07-17 23:53] wilmerhmg opened #11201 "MSSQL Update from Model with trigger OUTPUT clause without INTO clause"
## I'm doing this?
The problem occurs when I update a record in a table with triggers

**1. Define model InfoClientes**

[code]
**2. Use model**
[code]
**See error**
[code]
helpme please :)

The generated update strings should have been.
`UPDATE [InfoClientes] SET [Nombre]=@0,[ManejaCopago]=@1 WHERE [IdClientes] = @2`
This because clearly specified that nothing returns (`returning: false`)

## Env

[2019-07-18 00:33] papb commented on #11201
Can you post what SQL query sequelize should have produced instead?

[2019-07-18 00:48] schester44 commented on #4241
What is the fix for this? i'm having a similar issue

[2019-07-18 01:15] papb commented on #4241
@schester44 this issue is too old. If you are experiencing a similar issue, please open a new one (and include a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example))

[2019-07-18 02:08] #11182 closed

[2019-07-18 02:57] sahatnicholas-gdp opened #11202 "[Security ISSUE: SQL Injection] sequelize 4.44.*"
# What are you doing?
Snyk reports a SQL injection vulnerability in version sequelize@4.44.*.

https://www.npmjs.com/advisories/1018

Would you help offering a solution or explanation to that? Currently, the only remedy is to upgrade sequelize to v5, which breaks a lot of my existing code.
Thanks before.

# Environment

Dialect:
- [x]   mysql
- [ ]   postgres
- [ ]   sqlite
- [ ]   mssql
- [ ]   a

[2019-07-18 03:33] wilmerhmg commented on #11201
I have updated the issue

[2019-07-18 08:54] karltaylor commented on #2084
OMG

![derp](https://media.giphy.com/media/l0NwNrl4BtDD7JCx2/giphy.gif)

[2019-07-18 09:11] A-Atrash commented on #326
Without any library and with only child_process and basic CLI command:
`const execSync = require('child_process').execSync;

const createDb = () => {
  return new Promise((resolve, reject) => {
    try {
      execSync('node_modules/.bin/sequelize db:create', { stdio: 'inherit' });
      resolve('OK');
    } catch (e) {
      reject(e);
    }
  });
};

const migrate = () => {
  return new Promise(

[2019-07-18 09:24] PatrickGeyer commented on #6430
Any news on this @janmeier, is this still not possible?

[2019-07-18 10:31] 1valdis commented on #4310
Although we use Sequelize in one of our projects, we've started another one on TypeORM. Will see and compare which one is better...

[2019-07-18 14:09] frastlin commented on #11062
Note that even when you create the entry with underscored: true, you still get the camelcase name.
This means that underscored: true is broken as of Sequelize 5.10.1.

[2019-07-18 15:28] andrewzuk commented on #7284
This is still an issue, and an annoying one.

[2019-07-18 15:59] #11197 closed

[2019-07-18 16:00] #11191 closed

[2019-07-18 16:01] #11153 closed

[2019-07-18 16:02] papb commented on #11152
Thanks! I got it now. Will take a look soon.

[2019-07-18 16:16] #11158 closed

[2019-07-18 16:16] papb commented on #11158
I have added an answer to your question on Stack Overflow. The issue tracker is not the right place for this.

[2019-07-18 16:19] #11075 closed

[2019-07-18 16:20] #11022 closed

[2019-07-18 16:23] papb commented on #11058
@dogenius01 Is this still an issue?

[2019-07-18 16:26] papb commented on #10991
@jonathansudhakar1 Thanks for submitting this. Can you provide a full reproducible example? You included only part of the code... Thanks!

[2019-07-18 16:29] papb commented on #10974
I will try to clarify the docs.

[2019-07-18 19:22] papb commented on #7284
@thebigredgeek @andrewzuk What is the use case for having `createdAt` and `updatedAt` fields that are manually created, instead of automatically created with the `timestamps` option?

[2019-07-18 20:33] jonathansudhakar1 commented on #10991
@papb All logs coming from transactions have the config object which has the password

[2019-07-18 21:29] #10764 closed

[2019-07-19 00:07] dogenius01 commented on #11058
There's no sequelize issues now days.
I'm monitoring this issue with sentry.
So, Please give me some advise about what i should check when that problem happens again.

[2019-07-19 01:22] papb commented on #11058
@dogenius01 That's hard to say... If the problem ever happens again, please try to pay attention to what was different from the other times, and give me an update on this issue. I will close it for now, but if you have problems again we can reopen it.

[2019-07-19 01:22] #11058 closed

[2019-07-19 01:48] twistedrc1017 commented on #10857
i am also experiencing this on v5.10.1
![image](https://user-images.githubusercontent.com/31547504/61503375-8f46f180-a9a5-11e9-9ee6-a7076149231d.png)

it seems fine when i look at my db with pgAdmin though:
![image](https://user-images.githubusercontent.com/31547504/61503324-5d358f80-a9a5-11e9-9189-aae875f7748b.png)

[2019-07-19 02:41] sahatnicholas-gdp commented on #10866
Hi, commenting on closed issue because of no response [here](https://github.com/sequelize/sequelize/issues/11202).
Based on Snyk Security Team https://www.npmjs.com/advisories/1018, there is also SQL Injection vulnerability on sequlize v4.44.*
Any suggestion other than migrating to v5?

[2019-07-19 03:09] SimonSchick commented on #10866
Willing to accept PRs, I currently don't have enough capacity to work on sequelize, not sure about other maintainers.

[2019-07-19 08:24] epictrave commented on #8130
This is still an issue

[2019-07-19 09:02] epictrave commented on #8130
I can fix this issue by commenting `line 635` in `dialects/mssql/query-generator.js`

original code
[code]
changed code

[code]

[2019-07-19 09:03] epictrave commented on #8130
I think line # 635 make onUpdate option always to be `''` when creating tables.

[2019-07-19 11:58] papb commented on #11202
Thanks for reporting, PRs are welcome, unfortunately I don't have time to take a look into this right now...

[2019-07-19 14:13] boggddan opened #11204 "bulkCreate returns incorrect value"
## Environment
Dialect: postgres
Database version: 11.4
Sequelize version: 5.10.1
Node Version: 10.16.0
OS: Ubuntu 19.04 x64
Tested with latest release: No

I have a field `code` which the trigger before is filled automatically if null.
Method `create()` works as expected and returns an entry with an automatically set field `code`.

[code]
bulkCreate () **returns a code with a value that we sent t

[2019-07-19 15:49] papb commented on #11204
Hello, thanks for reporting this issue. I'd like to see the following extra details:

* What SQL query was generated and executed by sequelize for the `create()` call (that works)
* What SQL query was generated and executed by sequelize for the `bulkCreate()` call (that doesn't work)
* What SQL query you think that should have been generated and executed by sequelize for the `bulkCreate()` call (t

[2019-07-19 17:35] NilsBaumgartner1994 commented on #6260
push

[2019-07-19 19:17] lfernando-silva commented on #3493
"Solved" this performing an separated query to the N:M table (a raw query).

[2019-07-19 19:27] papb commented on #3493
I am under the impression that this can already be done in a clean way in Sequelize. I will make some tests later. If not, I will take this.

[2019-07-19 19:29] sliterok commented on #3493
Oof some progress here hurray!

[2019-07-19 20:21] markdid commented on #3173
I'm still a little confused on this. Was this added as a feature? I have a table "events" and a table "users", with a join table "events-users".
The events is defined as belongsToMany through the events-users table which has a event_id and user_id field to join, so that when I query events, the users that are added to that event show up as well.
The problem is I want to sort the users in each even

[2019-07-20 02:58] superlbr commented on #10067
it's better to have a timetable for closing issues, not just let it hang, let pr hang

[2019-07-20 15:35] papb commented on #10067
Hello @superlbr, I understand that you are anxious for fixes, we all are! Unfortunately, open source development has this kind of problems...

If you really need the fix from that PR the way it currently is, [read this comment I wrote on another issue](https://github.com/sequelize/sequelize/pull/10281#issuecomment-511789054) and do something similar.

[2019-07-20 15:35] sushantdhiman commented on #10911
`v4` docs now available https://sequelize.github.io/v4/

[2019-07-20 15:35] #10911 closed

[2019-07-20 20:02] jedwards1211 commented on #10911
Thanks @sushantdhiman!

[2019-07-20 20:31] SereiaMaster opened #11205 "Create with Include inside Include problems"
## What are you doing?
I am having problems when I try to create a record using Include, but it only occurs when I try to put an Include inside another Include. It is accusing the error that it has not yet been saved in the parent table to use the id in the children
I've tried to implement the documentation transaction, but it did not work either.

Pedido.js
[code]

PedidoProduto.js
[code]

Pedido

[2019-07-20 20:51] papb commented on #11205
Hello, thanks for filling the issue. Your code is too big, can you try to create a smaller example to reproduce the same problem?

[2019-07-20 21:11] SereiaMaster commented on #11205
I removed the non-relevant attributes. In the case we have 3 Models, the function to save and the return of the error.
The files are indispensable to understand the relationships between them.

[2019-07-20 21:33] malyzeli commented on #11123
@papb good point, global hooks makes it easier!

The only thing is it will expect all fields to have same name, so we can't have for example `userId` for `User` table and `orderId` for `Order` table, but I think that's not a problem...

Can we somehow dynamically ignore all fields defined as `autoIncrement` whatever their name is?

I am thinking about using `afterDefine` hook to check if field is

[2019-07-20 21:58] papb commented on #11123
You have good points! Currently there is no guideline as for how to write a plugin, but I think that would be a great thing to have. Maybe I can look into it in the future.

But as for this specific problem, wouldn't it be better to just add a new feature to sequelize, allowing one to pass `preventExplicit: true` in the field definition and then sequelize would automatically ignore the field befor

[2019-07-20 23:22] dukemai opened #11206 "Query with Op failed in include query"
## What are you doing?

I tried to query joined tables and there is a condition from a field of an included table that smaller then a certain number

[code]
**To Reproduce**

## What do you expect to happen?
it should work as normal

## What is actually happening?
I got an error, "message": "Invalid value {}",

_Output, either JSON or SQL_

## Environment
Dialect:
- [ ] mysql
- [x] postgres
- [ ]

[2019-07-20 23:54] papb commented on #11206
Your code is too reduced to reproduce the issue. Please provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example). Thanks!

[2019-07-21 04:25] SereiaMaster commented on #11205
I was able to solve the problem, I had added primaryKey in attributes that should not contain this property, it got lost amid this problem and attributed wrong values to the child records.

[2019-07-21 04:25] #11205 closed

[2019-07-21 07:19] dukemai commented on #11206
thanks, I figured it out because I used merge from lodash to merge options to send in query and it seems that merge does not like "op" which uses symbol so maybe merge cannot recognize symbol. sometime it is a little bit trouble to have op in query and we need transform query.

[2019-07-21 08:10] #10772 closed

[2019-07-21 10:44] sushantdhiman commented on #11196
New documentation site https://sequelize.org/

[2019-07-21 10:44] #11196 closed

[2019-07-21 12:40] cybercoder opened #11207 "Query on JSONB Array column."
I did read most of issues on querying JSONB array
This is the JSONB array data type in the model and ```postgres``` database:

[code]
The table field contains JSONB values:
[code]
And this is my where clause in sequelize findAll method:
[code]
The generated query is this:
[code]
And the result set is empty. But when i include ```LessonId``` too, it will do my answer.
I'm not familiar with postgres

[2019-07-21 14:40] sassanh commented on #5481
I wish I didn't have to notify all subscribed people with this comment, but I saw few unresolved sequelize issues closed just because of inactivity, so... sorry guys. Maybe auto-closing inactive issues should be disabled, sometimes an issue is not active because no one is fixing it and people have nothing to add, not just because it's fixed.

[2019-07-21 16:08] papb commented on #11206
@dukemai what do you mean? The problem was with lodash?

[2019-07-21 16:08] #11206 closed

[2019-07-21 16:09] papb commented on #11207
Can you clarify what you mean by:

[2019-07-21 16:15] papb commented on #5481
Hi @sassanh, I have this concern on my radar, hopefully in the near future I will be reopening all these wrongfully closed issues!

[2019-07-21 18:50] FarzanRNobakht commented on #537
It would be very nice if the significant limitations of the tool are disclosed in a topic on the manual page.

[2019-07-21 20:08] cybercoder commented on #11207
The record will find if where clause be like this:
[code]

[2019-07-21 21:45] sassanh commented on #5481
Thanks @papb, It's really heartwarming to see this level of responsibility.

[2019-07-21 22:11] papb commented on #5481
@sassanh Feel free to ping me on any issue that you believe that needs more attention (although I am just another maintenance, not a magician...)

[2019-07-21 22:46] shyaminayesh commented on #11161
can someone please confirm the issue ?

[2019-07-21 23:22] NilsBaumgartner1994 commented on #5325
Joining also the request ...

[2019-07-21 23:42] papb commented on #11161
Hi! Can you test if the same problem happens with another dialect (like SQLite, for example)?

You can connect to a in-memory sqlite db by using `new Sequelize('sqlite::memory:')`

[2019-07-21 23:52] NilsBaumgartner1994 opened #11208 "Association with Other Not Null Values"
**Is your feature request related to a problem? Please describe.**
Well i hope i haven't found after my 6 hours research the solution on the internet. The main Problem i got is some 3 Table Join. Lets just take this simple scenario:

Meal, User, Canteen.
each of these got an id which of cause is unique.

I would like to make it possible to get a table: "MealComments". Since in my Scenario it would

[2019-07-22 00:03] papb commented on #11208
commentText does not have a value.

Can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) to reproduce this error? Thanks!

[2019-07-22 00:37] NilsBaumgartner1994 commented on #11208
Sure but tomorrow. It's 2 am and I'm kinda sleepy. But thanks for fast reply

[2019-07-22 00:42] papb commented on #11199
Do you have any idea on how this could be implemented? Pull requests are welcome!

[2019-07-22 00:45] papb commented on #11027
Would you be willing to submit a PR?

[2019-07-22 00:49] papb commented on #10915
Which of the promises hangs on CentOS, `mongoPromise` or `syncPromise`?

[2019-07-22 00:54] papb opened #11209 "Redirect old docs to new docs"
I think we should add a 301 REDIRECT (Moved Permanently) to the [old v3 docs](https://sequelize.readthedocs.io/en/v3/) and the ["old" v5 docs](http://docs.sequelizejs.com/) pointing to the new hosts instead ([here](https://sequelize.org/v3/) and [here](https://sequelize.org/master/) respectively).

This would solve #10610 as well

@sushantdhiman

[2019-07-22 01:36] papb commented on #11113
If you use the default `console.log` instead of the winston logger, does the problem also exist?

[2019-07-22 05:29] danedavid commented on #11113
@papb Yes it is there with `console.log` as well.

[2019-07-22 07:45] sahatnicholas-gdp commented on #10866
Thanks for responding so fast. I tried to work on this with https://github.com/sequelize/sequelize/pull/10897/files as reference. In my understanding, SQL Injection may happen due to program didn't escape string properly (CMIIW). Unfortunately, I have difficulty identifying the piece of code that cause such problem. Can someone point me to the right direction?

[2019-07-22 09:39] shyaminayesh commented on #11161
I tried using 2 extra dialect. but the same happens each time. followings are the dialect I used.

- [x] mariadb
- [x] sqlite

[2019-07-22 10:34] #10773 closed

[2019-07-22 10:34] #10770 closed

[2019-07-22 10:56] sassanh commented on #5481
`thorugh: { attributes: [] }` is ignored because of this line: https://github.com/sequelize/sequelize/blob/master/lib/model.js#L613

And this line which sets `_pseudo` for `through`:
https://github.com/sequelize/sequelize/blob/master/lib/model.js#L635

For those who reach to this thread and think there's a hope that they can do a maneuver over the sequelize API to make `thorugh: { attributes: [] }

[2019-07-22 12:40] NilsBaumgartner1994 commented on #11208
`const Sequelize = require('sequelize')
const sequelize = new Sequelize({username: 'root', password: '', database: 'test', dialect: 'mysql', logging: false})

var User = sequelize.define('User', {
      id: {
        allowNull: false,
        autoIncrement: true,
        primaryKey: true,
        type: Sequelize.INTEGER
      },
      name: {
         type: Sequelie.String
      }
});

var Meal =

[2019-07-22 12:41] NilsBaumgartner1994 commented on #11208
I'm sorry the code formation doesn't seem to worked

[2019-07-22 12:42] NilsBaumgartner1994 commented on #11208
As I said, I dont want to create new Instances, because I got them already ...

[2019-07-22 13:10] kaikash commented on #11162
@sushantdhiman

[2019-07-22 13:38] papb commented on #11208
I've fixed formatting for you. You have to wrap the code in triple backticks, like this:

` ```js `
` CODE_HERE `
` ``` `

[2019-07-22 13:38] mrazadar commented on #6907
This issue can be resolve either by installing `pg` package globally. Or by installing `sequelize` and `sequelize-cli` packages locally. With local installation you can run sequelize like `./node_modules/.bin/sequelize db:migrate`

[2019-07-22 13:39] NilsBaumgartner1994 commented on #11208
Thank you

[2019-07-22 13:42] NilsBaumgartner1994 commented on #11208
Funny thing here, when i change the order, setUser works, but not the rest

[2019-07-22 13:50] papb commented on #11208
Your MCVE doesn't run... There are a few typos and other errors. I see `Sequelie`, `CanteenMealComment.belongsTo(Comment);` but `Comment` is not defined anywhere...

Please post a code that you are 100% sure that I will be able to copy-paste and see your problem at once.

[2019-07-22 13:51] papb commented on #11113
Hmm... Can you provice a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

I would like some code that I can copy-paste and run and see that huge log. Thanks!

[2019-07-22 13:54] papb commented on #11161
Thanks. Can you link the StackOverflow question you created?

[2019-07-22 14:03] shyaminayesh commented on #11161
Hi @papb,

sure. Here is the link for my StackOverflow question.

https://stackoverflow.com/questions/56673345/unix-timestamps-in-createdat-updatedat-deletedat-fields

[2019-07-22 14:13] NilsBaumgartner1994 commented on #11208
My Migration Create User: (reduced, and removed some other keys)
[code]

My User Model:
[code]

My Meal Migration:
[code]

My Meal Model
[code]

My Canteen Migration:
[code]

My Canteen Model:
[code]

=====================
=====================
My MealComment Migration:
[code]

My MealComment Model:
[code]

====================
====================
Now inside my seeders file, where I just want to

[2019-07-22 14:15] NilsBaumgartner1994 commented on #11208
That is now my code, which because of reasons don't work

Funny Thing is: setUser works, but only this, the others dont if i change order.

// Assigning the value on my Own works, but not with the Set Methode
mealComment.mealId = pommes.id;
await mealComment.setMeal(pommes,{safe:false});

[2019-07-22 14:20] NilsBaumgartner1994 commented on #11208
On my console i get this:

Position 1 & 2:
[code]

Position 3:
as we see setUser worked as expected
[code]

Then the program terminated:
[code]

[2019-07-22 14:22] NilsBaumgartner1994 commented on #11208
mealComment.canteenId = mensa.id;
mealComment.mealId = pommes.id;

Only works when using both at same time

[2019-07-22 14:35] wangzhilongh commented on #10732
Having the same issue here. Do you have a solution?

[2019-07-22 14:38] cminardi commented on #10710
I'm having the same issue! At the moment doing things manually but would be good to have a working `upsert` method.

[2019-07-22 16:35] kromol opened #11211 "How to define check constraint in Model"
How to add `check` constraint for postgres in Model definition. It's possible to do it via `queryInterface`, but I couldn't find in the documentation how to achieve it from Model. Is it a bug? Or am I looking in the wrong place?

I need it, because we use `sync` in our integration tests to clear database and then load fixtures, so our models should match migrations.

[2019-07-22 16:41] lefterisk commented on #10857
+1

[2019-07-22 17:07] papb commented on #11211
Can you explain more your question?

How would you do it via `queryInterface`?

[2019-07-22 17:14] papb commented on #11208
Can you test if the same problem happens in another dialect, like SQLite for example?

You can connect to an in-memory sqlite using `new Sequelize('sqlite::memory:`)`. Remember to install the `sqlite3` package manually.

[2019-07-22 17:15] papb commented on #11208
Also, can you try to create a MCVE that does not use migrations? Try to start from scratch, create a new empty project, install sequelize, etc, try to keep everything in only one file. Makes it easier for me to investigate. Thanks.

[2019-07-22 17:53] kromol commented on #11211
Like described [in the docs](http://docs.sequelizejs.com/class/lib/query-interface.js~QueryInterface.html#instance-method-addConstraint), there is constraint with type `CHECK` supported:
[code]

[2019-07-22 17:56] papb commented on #11161
Excellent! I was able to reproduce the issue.

[2019-07-22 18:49] dukemai commented on #11206
yes, it was lodash. The problem was that I used merge from lodash to merge several where objects into one and it stripped Op methods

[2019-07-22 20:04] papb commented on #11211
I see... Looks like it indeed can't be done from the Model definition.

Can you use the `queryInterface.addConstraint` method you mentioned as a workaround for now?

[2019-07-22 20:39] papb commented on #11162
Could you please test with another dialect, such as SQLite?

You can connect to an in-memory sqlite db by using `new Sequelize('sqlite::memory:')`.

[2019-07-22 20:42] papb commented on #11207
You said that Sequelize generated the following query:

Can you post what the complete SQL query it generated, and what it should have generated instead?

[2019-07-22 21:44] shyaminayesh commented on #11161
Now I know it's really a bug. Thanks for confirming it @papb Hope we can expect a fix :+1:

[2019-07-22 22:28] papb commented on #10770
What exactly do you mean by n+1 queries? Can you expand on your question, adding links, references, examples, ideas?

[2019-07-23 01:40] goldcaddy77 commented on #10770
For sure, borrowing from [here](https://www.sitepoint.com/silver-bullet-n1-problem/):

This article goes on to describe the bullet Ruby gem that "listens" for patterns where it has detected that your app hasn't queried for records properly.

It would be great if there were a way to have sequelize detect and alert that the app has let an n+1 query in.

[2019-07-23 02:01] papb commented on #10770
Ah, I understand now. Sequelize doesn't support this, and I don't know know of any library that works with sequelize and does this... This looks very complex to implement, do you have any idea on how to start?

[2019-07-23 05:31] cybercoder commented on #11207
The where clause is complete generated SQL query. I'm not familiar with JSONB functions in postgresql, I need to find records based on their ```TeacherId``` key value in JSONB with out determining ```LessonId```.

[2019-07-23 06:45] kromol commented on #11211
Unfortunately no, because `queryInterface.addConstraint` actually adds constraint each time it's being executed. It works first time, but second time it throws an error since constraint already there.

Also I did not found method like `queryInterface.getConstraints()` to manually check if it's already there or not.

[2019-07-23 08:00] zeagord commented on #11199
I honestly don't know how to do it. But can take a look and see how this can be done.

[2019-07-23 08:16] BartusZak commented on #1944
During running sequelize migration I got

`ERROR: Identifier name 'manufactured_products_downstream_manufacturing_value_id_foreign_idx' is too long`

![image](https://user-images.githubusercontent.com/16143176/61694767-771efb80-ad32-11e9-8173-3712a1035140.png)

Is there any possibility to exceed that limitation?

`migration.js`

![image](https://user-images.githubusercontent.com/16143176/61694966-

[2019-07-23 10:14] NilsBaumgartner1994 commented on #11208
Hello here I am again :-)
I expect that sqlite3,Sequelize,... is installed.
Also included some console logs in case you want to have a look on them.
In console it terminates again on the same place with following message:

[code]

ERROR: Validation error

Thanks for helping me :-)

[code]

[2019-07-23 12:11] papb commented on #11211
Ah, I see. What is the exact error it throws? Wrapping into a generic try-catch is bad, but if you could catch that specific error, although a bit ugly I think it would be an acceptable workaround for now.

[2019-07-23 12:12] papb commented on #11199
Anything that you can find helps! Thanks!

[2019-07-23 13:24] BartusZak commented on #4679
`Sequelize.NOW` = blank Default Value
`Sequelize.fn('now')` = `CURRENT_TIMESTAMP`

![image](https://user-images.githubusercontent.com/16143176/61715658-dcd4ad00-ad5d-11e9-9033-7d959469d731.png)

[2019-07-23 14:00] papb commented on #4679
Hello everyone. Some questions:

* Does this problem only happen with migrations? Or `Sequelize.NOW` also doesn't work with models and `sequelize.sync`?
* Does this problem happen with all dialects?

[2019-07-23 14:06] kromol commented on #11211
`try...catch` is not a problem. The issue was that we use `sequelize.sync({ force: true })` and it does not take into account `CHECK` constraint added via `queryInterface`. Solution to it is another workaround that I just tried and it seems to be working - add `afterSync` hook to the model and add check constraint in that hook as well.

This is something that we can live with for now, but would be

[2019-07-23 14:09] frastlin commented on #10857
There are many issues referencing this problem:

https://github.com/sequelize/sequelize/issues/11062
https://github.com/sequelize/sequelize/issues/11149
https://github.com/sequelize/sequelize/issues/10971
https://github.com/sequelize/sequelize/issues/11037
https://github.com/feathersjs-ecosystem/feathers-sequelize/issues/287

I'm not sure if this has anything to do with this bug:
https://github.co

[2019-07-23 14:10] papb commented on #11211
Thanks! If you could take a look, that would be great. Let me know if you have trouble.

[2019-07-23 14:13] superlbr commented on #10067
@papb for me, just modify code in node_modules, 1 min. What I suggest is merge pr first and implement later or by someone else.

[2019-07-23 16:45] papb commented on #11208
You had typos: in three places you wrote `{safe:false}` where it should have been `{save:false}`.

Fixing this makes it work, apparently.

[2019-07-23 16:49] papb commented on #11208
By the way, here are some tips for making your shortened code even much shorter:

* You don't have to explicitly define the `id` fields of models, Sequelize will do that automatically (unless you want to change a default behavior, which you didn't)
* You can join two consecutive `console.log`s by passing multiple arguments
* To make logs more readable, you should convert the model instances to JSO

[2019-07-23 16:49] #11208 closed

[2019-07-23 17:57] Otavioensa commented on #2554
I'm still running on the same problem

[2019-07-23 17:58] Otavioensa commented on #2554
This issue should definitely be reopened

[2019-07-23 18:11] papb commented on #2554
Hello, this thread is very long and was closed twice already... Can someone please provide an up-to-date [MVCE](https://stackoverflow.com/help/minimal-reproducible-example) for this? Something that I can just copy+paste and run and see the problem. If I can easily reproduce it, I will reopen this issue. Thanks!!

[2019-07-23 18:34] Ethaan commented on #2471
should this do the trick?

[code]

becuase this thorow, `ERROR: default for column "cover_image_url" cannot be cast automatically to type jsonb`, i did already try to `defaultValue: {}` and that throw `ERROR: Invalid value {}`

[2019-07-23 18:40] papb commented on #7599
@roni-frantchi Can you provide a MCVE?

[2019-07-23 18:58] papb commented on #8525
Can someone provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) instead of the partial snippet from the first post?

[2019-07-23 19:00] papb commented on #9747
Is this an issue only with MySQL, or applies to every dialect?

[2019-07-23 19:02] papb commented on #9653
Hi @jslok can you please provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) for this?

[2019-07-23 19:10] papb commented on #4447
@ShepelievD Can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) showing this?

@FernandoLuizNemeChibli You have a mistake in your code, arrow functions do not bind the `this` variable, change the `() => {` to `function() {` and try again.

[2019-07-23 21:03] jaenelleisidro opened #11213 "npm i sequelize-sqlite fails"
hi, i'm new to this node and npm but it seems like this keeps failing because amazon server is down? any suggestion how to fix this? thank you

the full log below

npm WARN package.json UAPI@1.3.0 No repository field.
npm WARN package.json UAPI@1.3.0 No README data
npm WARN package.json UAPI@1.3.0 No license field.
npm WARN deprecated sequelize@1.7.11: security issues fixed in v3.32.0
npm WARN eng

[2019-07-23 21:16] papb commented on #11213
You are installing the incorrect package. Please pay attention to what you're typing along `npm i` so you don't install unintended packages.

Follow the [official getting-started guide](https://sequelize.org/master/manual/getting-started.html).

[2019-07-23 21:16] #11213 closed

[2019-07-23 21:37] papb commented on #10748
Can you expand on this, please?

[2019-07-23 21:48] papb commented on #9062
Thanks @gunar - I will close the issue for now, but if it is still a problem for someone I will reopen. Thanks!

[2019-07-23 21:48] #9062 closed

[2019-07-23 22:29] JoshNewbury commented on #3142
Great fix guys.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: stale[bot] <notifications@github.com>
Sent: Tuesday, July 23, 2019 6:26:04 PM
To: sequelize/sequelize <sequelize@noreply.github.com>
Cc: Joshua Granville <josh_granville@newburyconsulting.com>; Comment <comment@noreply.github.com>
Subject: Re: [sequelize/sequelize] Avoid "id" field creation (#31

[2019-07-23 22:54] scott-wyatt commented on #311
Commenting to keep this open. Ill try and submit a PR before to long because i’d love to have a native solution to composite keys.

[2019-07-23 23:10] devuxer commented on #10806
As far as I know this is still an issue.

Bump

[2019-07-23 23:27] rodorgas commented on #9102
Yeah, still an issue.

[2019-07-23 23:33] rodorgas commented on #9102
I'd like to know if the implementation using a FOR UPDATE lock could be used with Postgres, it looks a better solution than the current. I think I could work on this feature, but some details must be discussed.

[2019-07-23 23:41] wangzc93 commented on #10732
@TakanashiOuken See my "What I have tried" section above.

[2019-07-24 00:26] villasv commented on #9778
It's stale, but I still want this feature :-)

Sorry, I think I didn't see your reply. I'm good with the answer given on SO because my only intention is to log those messages, so that suffices. But it's a solid feature request to have that available per query.

[2019-07-24 00:40] sahatnicholas-gdp commented on #9760
Has someone found replacement for `Sequelize.Instance` ? Using `sequelize-typescript` is not an option for me.

[2019-07-24 00:50] dcherman commented on #8966
Don't believe this has been addressed, so still relevant.

[2019-07-24 01:16] papb commented on #9102
Hello, I am not familiar with `FOR UPDATE` locks, but you are very welcome to submit a PR (even if partially working)! What exactly would you like to discuss?

[2019-07-24 01:28] papb commented on #10706
This was a indeed mistake, it is now available [here](https://sequelize.org/v4/manual/tutorial/upgrade-to-v4.html).

[2019-07-24 01:28] #10706 closed

[2019-07-24 01:35] papb commented on #9760
@florianherrengt @rimiti @nahue086 @boraikizoglu @Kinetic-Pulse @hcabnettek @sahatnicholas-gdp Can any of you please open a new issue regarding this? With a clear explanation of the problem? I don't want to reopen this one because it would be mixed with old stuff and would be confusing. Thanks.

[2019-07-24 01:36] papb commented on #9778
Hello @villasv, any chance you would be willing to submit a PR? :grimacing:

[2019-07-24 01:45] sahatnicholas-gdp opened #11215 "Sequelize.Instance replacement for v5"
Greetings,

I used to create model with sequelize v4 like this:
[code]

Unfortunately, `Sequelize.Instance` is removed in `v5`. Any idea what should replace `Sequelize.Instance` in `v5`?

[2019-07-24 01:46] sahatnicholas-gdp commented on #9760
Done @papb , here it is https://github.com/sequelize/sequelize/issues/11215

[2019-07-24 01:49] amwybj041989 opened #11216 "in function findOrCreate Cannot convert undefined or null to object"
## What are you doing?
When the aim is to create an account, first find create again

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. used postman requested,
2. if res==false,not error
3. if The database data already exists,error:

nodejs.TypeError: Cannot convert undefined or null to object
--

_Output, either JSON or SQL_

## Environment
Dialect:
- [x ] mysql
- [ ] postgres
- [ ] sql

[2019-07-24 02:11] papb commented on #11216
Please provide a [MVCE](https://stackoverflow.com/help/minimal-reproducible-example). We need full code that can be copy-pasted and executed to see the error.

[2019-07-24 02:16] gabegorelick commented on #3957
Still an issue.

[2019-07-24 02:17] gabegorelick commented on #4900
Still an issue. I will rebase #10441 when I get a chance.

[2019-07-24 02:18] gabegorelick commented on #10202
Still an issue

[2019-07-24 02:30] papb commented on #11187
Can you please check if the same problem happens with another dialect (sqlite for instance)?

[2019-07-24 02:32] papb commented on #11190
No need to create a new issue.

[2019-07-24 02:44] papb commented on #11175
Is this stated in the docs somewhere? (Just asking to label this correctly, depending on the response it's bug/feature. Thanks!)

[2019-07-24 02:46] papb commented on #11176
Does this happen with any other dialect as well (postgres, for instance)? Thanks.

[2019-07-24 02:51] papb commented on #11177
Can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)? You included a lot of code but it doesn't seem self contained. I can't just copy-paste. Thanks!

[2019-07-24 02:52] papb commented on #11177
Also, can you check if this problem happens in another dialect?

[2019-07-24 02:54] papb commented on #11166
@megamit Your trick with `nextTick` is too hacky. I don't recommend this...

[2019-07-24 03:04] leowutao opened #11217 "model include add order"

[2019-07-24 04:38] imposibrus commented on #2454
🤖

[2019-07-24 04:59] subatomicglue commented on #9747
MySQL for us

[2019-07-24 05:34] jslok commented on #9653
Nevermind I was wrong about that. I did not have it setup correctly.

[2019-07-24 07:37] ezze commented on #6334
Still an issue, please, don't close.

[2019-07-24 08:21] Milan4e commented on #4376
+1

[2019-07-24 08:54] rusekr opened #11218 "Associations count<assoc>s functions"
## What was unclear/insufficient/not covered in the documentation

Just tried BelongsToMany association roles<->permissions countPermissions(options) method of roles model with where in options and it worked as expected! Is it just undocumented or may broke in future?

### If possible: Provide some suggestion how we can enhance the docs

http://docs.sequelizejs.com/manual/associations.html#belongs

[2019-07-24 10:02] ustun commented on #10187
Not stale

[2019-07-24 12:24] papb commented on #9747
@subatomicglue - Can you please test with SQLite for example to see if the same thing happens? You can connect to a in-memory sqlite db by using `new Sequelize('sqlite::memory:')` (remember to `npm install sqlite3`). Let me know, thanks!

[2019-07-24 12:53] papb commented on #10991
@jonathansudhakar1 Still I would like a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) that I could just copy-paste and see it happening.

[2019-07-24 13:06] jeranluna opened #11219 "Two Op.in in where clause, only the last Op.in returned on the query"
This is the example of my where clause:

`Company.findAndCountAll({
    offset: offset,
    limit: limit,
    include: [Email, Linkedin, User],
    where: {
      [Op.or]: {
        name: {
          [Op.like]: `%${search}%`
        },
        id: {
          [Op.or]: {
            [Op.in]: Sequelize.literal(`(SELECT companyId FROM linkedins WHERE url LIKE '%${search}%')`),
            [Op.in]: Se

[2019-07-24 13:31] LorenzHerz commented on #11176
No, i tried recreating this behaviour with postgres but then everything worked as expected.

[2019-07-24 13:58] selmansamet commented on #7268
_or:_
[code]
http://docs.sequelizejs.com/manual/instances.html#incrementing

[2019-07-24 15:17] papb commented on #9602
Hi @hkmarques, what is the current status on this?

[2019-07-24 15:24] dskrvk commented on #7673
Our team would definitely use this.

[2019-07-24 15:26] papb commented on #8761
@mhombach Would you still be interested in pursuing this?

[2019-07-24 15:35] papb commented on #7941
@idris Can you please convert that to a complete [MVCE](https://stackoverflow.com/help/minimal-reproducible-example) that I can copy-paste and run? Thanks!

[2019-07-24 15:40] papb commented on #7673
@contra What is the status on this?

[2019-07-24 15:45] papb commented on #11219
Please provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example).

[2019-07-24 15:46] papb commented on #11217
Please add some explanation.

[2019-07-24 16:43] jamelling commented on #11187
@papb Tested in sqlite and the behavior is the same.

[2019-07-24 16:57] villasv commented on #9778
Not in any foreseeable way, like I said the SO workaround is working OK for me and I've already got my hands full elsewhere. Sorry :-/

[2019-07-24 17:15] papb commented on #11187
@jamelling Thanks!

[2019-07-24 17:24] kcsoderstrom commented on #8263
In version 4.37.7, I ran into this with the following structure:
[code]

I took a look at the source code and it looks like the lib is temporarily? defining a relationship between `Prairie` and `PrairieFlowerSpecies` in the process of adding the `belongsToMany` relationship, even though one already exists. Rearranging it eliminated the error:
[code]

This doesn't look like it would fix OP's proble

[2019-07-24 18:25] contra commented on #7673
I sent a PR (https://github.com/sequelize/sequelize/pull/8995) that was declined, so this feature is not being implemented by me. I believe @sushantdhiman is implementing this.

[2019-07-24 20:01] papb commented on #8263
I have reproduced the issue with the following super-minimal code (by completing OP's code):

[code]

Result:

`SequelizeAssociationError: You have used the alias Following in two separate associations. Aliased associations must have unique aliases.`

[2019-07-24 20:04] papb commented on #11138
Can you please retry with the latest version?

[2019-07-24 20:05] papb commented on #11142
I believe you should just do a [raw query](https://sequelize.org/master/manual/raw-queries.html) for this.

[2019-07-24 20:05] #11142 closed

[2019-07-24 20:06] papb commented on #11144
Can you please post how would you achieve this with a direct, raw SQL query?

[2019-07-24 20:14] mwohlert commented on #7078
Still an issue.

[2019-07-24 20:21] papb commented on #11148
How did you do this? The behavior you are looking for is actually the default behavior.

Minimal test:

[code]

Output:

[code]

Surely you did something wrong.

[2019-07-24 20:21] #11148 closed

[2019-07-24 20:23] papb commented on #7078
@mwohlert Does @nashika's workaround work for you?

Also, can you please check if this problem really only occurs with SQLite, or if it is a problem with another dialect as well (like postgres, for example)?

[2019-07-24 20:29] #11150 closed

[2019-07-24 20:30] papb commented on #11129
For questions like this, please use [Stack Overflow](https://stackoverflow.com). You can use the `sequelize.js` tag.

[2019-07-24 20:30] #11129 closed

[2019-07-24 20:31] papb commented on #11146
Of which repository?

[2019-07-24 20:35] papb commented on #11132
What is a use case for passing a string instead of a Model?

[2019-07-24 20:35] JSteunou commented on #9271
Still a nice to have

[2019-07-24 20:39] papb commented on #11148
This seems very similar to #11127, perhaps you forgot to mention that you were using `raw: true`?

[2019-07-24 20:43] papb commented on #9271
@JSteunou - What do you need that @bradennapier's [sequelize-binary-uuid](https://github.com/odo-network/sequelize-binary-uuid) doesn't do? (Just trying to understand the status here)

By the way thanks @bradennapier for your work! Perhaps your package should be mentioned in the docs somewhere, I will look into it.

[2019-07-24 22:21] papb commented on #10997
@mjy78 Once this gets fixed, it won't be a good practice. But for now it's a valid workaround, I'd say. Stay tuned.

[2019-07-24 22:25] papb commented on #10999
Fixed by #11193

[2019-07-24 22:25] #10999 closed

[2019-07-24 22:25] papb commented on #10999
@polarathene Can you create a new issue with the *"while at it"* part?

[2019-07-24 22:30] papb commented on #10963
Can you create a MCVE that doesn't use migrations?

[2019-07-24 22:31] papb commented on #10963
Also can you please check if this happens with another dialect? Thanks!

[2019-07-25 00:43] papb commented on #11090
Thanks for the report.

You said that the default option does not work. Does setting it manually makes it work? (Uncommenting the line in your example, or perhaps using `['uuid', 'name']`, does that work?)

[2019-07-25 00:49] papb commented on #11004
I did not understand.

Please provide a [MCVE](stackoverflow.com/help/minimal-reproducible-example).

[2019-07-25 00:49] #11004 closed

[2019-07-25 00:52] papb commented on #11035
@nash90 Does the above workaround work for you?

[2019-07-25 00:57] papb commented on #10984
Do you have `allowNull: false` also set in the model itself? Or you have it only in the migration?

[2019-07-25 00:59] papb commented on #10985
Please explain in more detail what you want.

[2019-07-25 00:59] #10985 closed

[2019-07-25 01:01] papb commented on #10976
Can you create a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) that does not rely on CLS, please?

[2019-07-25 01:05] papb commented on #10989
Hello, I will try to improve the docs on this later. It is indeed possible! But I don't have much time to explain right now - it's not so simple (if I understood you correctly).

Please wait just a bit more! We are happy that you are thankful for Sequelize.

[2019-07-25 01:11] papb commented on #10960
Duplicate of #11199

[2019-07-25 01:11] #10960 closed

[2019-07-25 01:44] papb commented on #11012
For questions like this, please use [Stack Overflow](https://stackoverflow.com).

[2019-07-25 01:44] #11012 closed

[2019-07-25 01:46] #10953 closed

[2019-07-25 01:49] papb commented on #10940
Can you give a link for that page of the docs? Thanks!

[2019-07-25 01:53] papb commented on #10942
Hello, I did not understand.

Can you clarify this with a [MVCE](https://stackoverflow.com/help/minimal-reproducible-example)?

Also, by opting out of prepared statements, what would you expect to happen instead?

[2019-07-25 01:55] papb commented on #11023
Hello! Can you test it and post your findings? Thanks!!

[2019-07-25 01:56] papb commented on #10944
Does this only happen inside a migration? Or is it reproducible normally as well?

[2019-07-25 02:01] papb commented on #10947
Hello! What exactly were you expecting for when you pass an array of values? Since `id` is a number, I don't see why you would want to pass an array there. Perhaps you want to use an OR operator (`Op.or`)?

[2019-07-25 02:03] papb commented on #10937
Hello, I did not understand. Can you post a reproducible example?

[2019-07-25 02:04] jeranluna commented on #11219
Hi Perdro,

This is part of the where clause I am using which has two IN operator.

`id: { [Op.or]: { [Op.in]: Sequelize.literal((SELECT companyId FROM linkedins WHERE url LIKE '%${search}%')), [Op.in]: Sequelize.literal((SELECT companyId FROM emails WHERE email LIKE '%${search}%')) } } } },`

But only the last of the IN operator is getting returned on the Sequelize logging.

`(Company.id IN (SELE

[2019-07-25 02:05] polarathene opened #11220 "[Docs] Make landing page easier to locate, deprecate older docs site"
## What was unclear/insufficient/not covered in the documentation

When I first came across the docs and went to `Getting Started` I was a bit confused, as I thought maybe that was the top-level document that I had landed on(index) originally but it wasn't. To get back to that, it requires you to click the top-left logo or manually adjust the url. Minor UX thing.

As a new user, I also came across

[2019-07-25 02:05] polarathene commented on #10999
@papb done: https://github.com/sequelize/sequelize/issues/11220

[2019-07-25 02:07] papb commented on #11219
Can you post a code that I can copy-paste and execute immediately (without further preparation, except for installing sequelize itself)?

[2019-07-25 02:11] papb commented on #11121
Can you clarify this? I did not understand. Apparently mysql2 version 1.6.5 has been around for quite a while...

[2019-07-25 02:16] papb commented on #11081
Isn't this the expected behavior? Why would you order something that is just one result? Thanks. I will reopen if necessary.

[2019-07-25 02:22] jeranluna commented on #11219
Here is the sample code on my controller.

exports.search = (req, res) => {
const search = req.body.search;
Company.findAndCountAll({
    offset: offset,
    limit: limit,
    include: ['Email', 'Linkedin', 'User'],
    where: {
      [Op.or]: {
        name: {
          [Op.like]: `%${search}%`
        },
        id: {
          [Op.or]: {
            [Op.in]: Sequelize.literal(`(SELECT companyId

[2019-07-25 02:43] nfwyst opened #11221 "Op.like not working but executing wrong sql with LIKE '[object Object]%'"
# model

[code]

# association

[code]

## raw query

`const ports = await db.query(```SELECT id, name, name_en AS nameEn, code, country_id AS countryId, route_id AS routeId, create_time AS createTime, update_time AS updateTime FROM port AS port WHERE port.name LIKE '%${req.query.name}%'```)
`

## model query

[code]

the executing sql will be

**Executing (default): SELECT `id`, `name`, `name_en`

[2019-07-25 02:56] nfwyst commented on #10915
its syncPromise, but I solved this temporarily by setTime to start server

[2019-07-25 05:41] leowutao commented on #11217
Include defined by model does not support sorting.

I want to add the order parameter to the model in include.

Example Code:

[code]

[code]

I need to sort 'UserLog' by 'updatedAt' settings.

[2019-07-25 05:47] leowutao opened #11222 "Include defined by model does not support sorting"
Include defined by model does not support sorting.

I want to add the order parameter to the model in include.

Example Code:

[code]

[code]

I need to sort 'UserLog' by 'updatedAt' settings.

[2019-07-25 06:38] ozhi commented on #11090
Yes, it does work when I manually provide the property names.
However, I want to use the default in order not to have to change it when I add/remove properties to my model.

[2019-07-25 07:02] JSteunou commented on #9271
Because it is focused on using scrambled uuid v1 for indexed uuid with big data & performance in mind and I need uuid v4

[2019-07-25 07:16] vimmisinghani commented on #7616
@XidongHuang Thanks.. issue solved

[2019-07-25 07:54] fareshan commented on #11081
@papb referenceId is a foreign key and not purchase.id. So, the result is an array of multiple purchases.
ad orderBy.
My turnaround is to use ```as FindOrCreateOptions```.
I think this should be reopened.

[2019-07-25 09:23] VidhiyaElango opened #11223 "Updating using bulkCreate does not returning the pimary key for new record"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
model:
 {
        id:  {
                type: Sequelize.INTEGER,
                primaryKey: true,
                autoIncrement: true,
                unique : true
            },
            name: Sequelize.TEXT,
            value :  Sequelize.TEXT
    }
## What do you expect to happen?
To return the primary key fo

[2019-07-25 09:28] jpirzent opened #11224 "add ability for flow typing in seeds/migrations"
**Is your feature request related to a problem? Please describe.**
Yes. Using either the seeds or migrations template, I can't `flow-type` the QueryInterface or Sequelize parameters.
For example:
`[...]`
`up: (queryInterface: QueryInterface, Sequelize: SequelizeType) => {`
`[...]`
gives an error:
`ERROR: Unexpected token :`

**Describe the solution you'd like**
I would like to be able to do someth

[2019-07-25 09:45] kusmpth commented on #11161
I'm having the same issue. is anyone know how to fix ?

[2019-07-25 11:51] kaikash commented on #11162
@papb I'm on vacation now, so I can't check it now.

[2019-07-25 11:53] bogdan commented on #11132
At first it is documented.
But in general I can have multiple associations with the same class like:

[code]

[2019-07-25 11:54] papb commented on #11162
@kaikash No problem, take your time! @nordikafiles Can you help?

[2019-07-25 12:05] kaikash commented on #11162
@papb when using SQLite it makes query like this:

```SELECT count(*) AS `count` FROM `users` AS `User` LEFT OUTER JOIN `images` AS `image` ON `User`.`id` = `image`.`imageable_id` AND (`image`.`deleted_at` IS NULL AND `image`.`imageableType` = 'user') WHERE (`User`.`deleted_at` IS NULL);```

As you can see there is still `imageableType` instead of `imageable_type`

[2019-07-25 12:43] misos1 commented on #10976
You mean to remove that comment about CLS? Ok done.

Result is exactly same whether I setup sequelize with or without CLS.

I just copied part of example from sequelize documentation with headings "Concurrent/Partial transactions" and  "Without CLS enabled".

[2019-07-25 12:54] heinosasshallik commented on #11138
Unfortunately I cannot, as I no longer have the computer or the project in which this error occurred, so my feedback is as good as any other

[2019-07-25 13:37] sushantdhiman commented on #11222
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not following the is

[2019-07-25 13:37] #11222 closed

[2019-07-25 13:42] eugene-matvejev commented on #11175
I  haven't found any docs which would state such behaviour, except docs for posgreSQL where it got option 'returning'

[2019-07-25 14:43] SnosMe commented on #10942
[code]

## Test cases _(Sequelize v5.10.2)_:
### 1. `update`, using where "field: cond"
[code]
![image](https://user-images.githubusercontent.com/4292308/61878273-5f45a400-aef9-11e9-93ee-03eb11712519.png)

### 2. `update`, using advanced syntax
[code]
This is the most sneaky. This will create a new plan for every distinct `where` condition. If a connection is reused for a long time, bad things wil

[2019-07-25 14:57] sushantdhiman commented on #11224
Sorry, currently there are no plans to introduce flow types.

[2019-07-25 14:57] #11224 closed

[2019-07-25 14:58] sushantdhiman commented on #11219
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-07-25 14:58] #11219 closed

[2019-07-25 15:01] sushantdhiman commented on #11221
You forgot `$` in `%{req.query.name}%`. It should be `%${req.query.name}%`

[2019-07-25 15:01] #11221 closed

[2019-07-25 15:03] sushantdhiman commented on #11215
@SimonSchick @eseliger Is this possible :joy_cat:

[2019-07-25 15:05] sushantdhiman commented on #11209
We can redirect old v5, not access to old v3 docs

[2019-07-25 15:07] sushantdhiman commented on #11207
Why are you using `ARRAY(JSON)`, You should be using `JSON` which can save array of objects directly

[2019-07-25 15:14] sushantdhiman commented on #11066
Fixed with https://github.com/sequelize/sequelize/pull/11067

[2019-07-25 15:14] #11066 closed

[2019-07-25 15:17] SimonSchick commented on #11215
The typings had a distinction between `Instance` and `Model`, this no longer exists in favor of `Model` being a proper class, you'll have to extend `Model` eg. `class MyClass extends Model {}` and define all your properties in there.
The migration should be trivial.

[2019-07-25 15:20] ajmueller commented on #5042
Since @papb removed the stale label perhaps there's no need to comment as per the stale bot's recommendation, but in any case I do believe this is still an open issue.

[2019-07-25 15:55] papb commented on #11209
@sushantdhiman Who has access to the old v3 docs?

[2019-07-25 16:03] papb commented on #11081
Oops, you are right. Sorry about that.

[2019-07-25 16:08] papb commented on #11081
Actually, you seem to be using `sequelize-typescript`, right? Have you tried the official sequelize typings instead?

[2019-07-25 16:16] papb commented on #11132
If you need to disambiguate, you can do:

[code]

Right? Looks more type-safe to me, what do you think?

[2019-07-25 16:17] fareshan commented on #11081
@papb How would you do that ?
I tried this
```import { findOrCreate } from "sequelize";```
It does not change anything

[2019-07-25 16:19] papb commented on #10976
Oh, sorry about that. My mistake. Thanks!!

[2019-07-25 16:29] papb commented on #11217
Actually, I realize now that this is a duplicate of #11222

[2019-07-25 16:29] #11217 closed

[2019-07-25 16:32] papb commented on #11081
[sequelize-typescript](https://github.com/RobinBuschmann/sequelize-typescript) provides unofficial typescript support for Sequelize. If it is the source of your problem, then you should add an issue there, not here.

Take a look at the [official typescript manual](http://docs.sequelizejs.com/manual/typescript.html) and see if it helps.

If the problem persists, please provide a full MCVE that I ca

[2019-07-25 16:33] papb commented on #10915
Looks like this is a problem with your setup involving async thigns, not sequelize itself. Have you tried chaining the promises instead of using `Promise.all`?

[2019-07-25 16:33] #10915 closed

[2019-07-25 16:36] papb commented on #5042
@ajmueller Yeah, it was marked as stale by mistake.

[2019-07-25 16:40] papb commented on #11223
Can you check with another dialect, such as SQLite for instance?

[2019-07-25 16:46] hkmarques commented on #9602
Hi @papb. There haven't been any updates to this to my knowledge.

[2019-07-25 17:15] cybercoder commented on #11207
I get confused, and how i can find rows which their teacherId in within JSON array is 1?

[2019-07-25 17:24] papb commented on #11207
For questions like this, please use [Stack Overflow](https://stackoverflow.com). You can link this issue in the question. Good luck!

[2019-07-25 17:24] #11207 closed

[2019-07-25 17:40] luizfilipe commented on #5325
Joining the request

It'll improve development capabilities.

[2019-07-25 17:59] papb commented on #9602
I am a bit confused still.

1. Are you waiting for sushantdhiman to say something, or waiting for something else to happen?

2. Is your issue dependent on #5708?

3. Are your workarounds working?

[2019-07-25 18:09] thisiscmt commented on #9142
I second this request. I recently had a need to do this and learned that SQLite uses a different method for concatenation than MySQL. This seems like an issue an ORM should definitely abstract away.

[2019-07-25 18:13] preetamshah commented on #2722
what was the fix you did for SequelizeMeta table?

[2019-07-25 18:50] aaronovz1 commented on #11023
I was hoping to reduce time on my side by asking the developers directly if this is supported. Looks like I will have to manually test this to confirm if no one knows. Is there not a unit test for this?

[2019-07-25 19:06] fareshan commented on #11081
@papb
@RobinBuschmann from [sequelize-typescript](https://github.com/RobinBuschmann/sequelize-typescript) the issue in his post:
https://github.com/RobinBuschmann/sequelize-typescript/issues/654#issuecomment-515171594

[2019-07-25 19:21] papb commented on #11023
Not that I know of, please test it and let us know, thanks!

[2019-07-25 19:27] #11061 closed

[2019-07-25 19:30] papb commented on #10770
I just noticed this in the first line of [graphql-sequelize](https://github.com/mickhansen/graphql-sequelize)'s readme:

Perhaps you can find some insight there?

[2019-07-25 19:31] papb commented on #11043
For questions like this, please use Stack Overflow.

[2019-07-25 19:31] #11043 closed

[2019-07-25 19:33] papb commented on #11082
Closing in favor of  #10962

[2019-07-25 19:33] #11082 closed

[2019-07-25 19:35] grahamb commented on #2722
No clue, sorry - you're commenting on a nearly five year old issue. I'm not using Sequelize anymore.

[2019-07-25 19:38] papb commented on #11024
Can you clarify this? Did you expect Sequelize to automatically detect that the number of transactions reached the limit and wait before starting the transaction?

[2019-07-25 19:40] papb commented on #11032
Are all these fields necessary for reproducing the issue?

Also, does this problem happen regardless of the dialect?

[2019-07-25 19:43] papb commented on #10926
Hello, thanks for the report, can you please check if this happens with another dialect as well?

[2019-07-25 20:02] papb commented on #10913
I did not understand what is going on here.

This, inside a for loop, seem to dispatch several queries in parallel and `.then` do nothing?

Regardless, I am confused, are you trying to beautify the text present in the database itself? Or what? Can you describe your goal a bit more? Thanks and sorry for not understanding at the first read!

[2019-07-25 20:03] #10768 closed

[2019-07-25 20:10] papb commented on #10461
Can someone please test with the latest 5.x version?

[2019-07-25 20:12] papb commented on #10610
Closing in favor of #11209

[2019-07-25 20:13] papb commented on #10610
Actually, even if we `301 REDIRECT` to the new docs, if the original request is HTTP technically it is still insecure, right?

[2019-07-25 20:16] papb commented on #10699
Hello, can you please post a full MVCE?

[2019-07-25 20:19] papb commented on #10699
@SimonSchick Is there another issue for this already? Or is this stated somewhere? If yes, can you link it?

[2019-07-25 20:21] papb commented on #10450
Thanks for the report, can you please test with the latest 5.x version?

[2019-07-25 20:22] papb commented on #10239
Is this an issue only with MySQL or does it happen with another dialect too?

[2019-07-25 20:50] ukalpa commented on #10926
Hi @papb ,
Thank you very much for your reply. I tested it in SQL-Server and got the same result as below.

![image](https://user-images.githubusercontent.com/4927815/61907794-54832180-af82-11e9-9ce3-ed235d2bf2cc.png)

[2019-07-25 21:09] papb commented on #10926
What happens if you use `row.set('date_from', "2019-05-11")` instead?

(I am guessing probably the same behaviour, but being sure would probably be helpful for someone who wants to tackle this issue)

[2019-07-25 21:16] ukalpa commented on #10926
I tested and the result of "row.set('date_from', '2019-05-11') is as same as "row.date_from = '2019-05-11'"

[2019-07-25 21:20] papb opened #11225 "Several bugs/questions regarding underscored/underscoredAll in Sequelize v5"
Several issues related to the use of `underscore` (and the now inexistent `underscored_all`) have been opened recently:

#10565
#10754
#10857
#10971
#10977
#11037
#11047
#11062
#11112
#11149
#11154
#11162
#11306
#11417
#11423
#11574

I am creating this issue to track them all in a single place.

<s>I haven't looked deeply into it yet, but I believe some of them are caused mostly by a misunderstand

[2019-07-25 21:21] papb commented on #10857
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:21] #10857 closed

[2019-07-25 21:21] papb commented on #10971
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:21] #10971 closed

[2019-07-25 21:21] papb commented on #10977
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:21] #10977 closed

[2019-07-25 21:21] papb commented on #11037
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:21] #11037 closed

[2019-07-25 21:21] papb commented on #11062
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:21] #11062 closed

[2019-07-25 21:22] papb commented on #11149
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:22] #11149 closed

[2019-07-25 21:22] papb commented on #11162
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 21:22] #11162 closed

[2019-07-25 22:18] papb commented on #11053
Thanks for reporting and digging!

Perhaps you would be willing to dig more and submit a PR? :grimacing:

[2019-07-25 22:21] papb commented on #11052
Does creating the opposite association as well, i.e., `UserType.belongsTo(UserModel)` solves your problem?

[2019-07-25 22:44] ratulSharker commented on #11052
Yes it does @papb

[2019-07-25 22:50] papb commented on #11048
Does this only happen with postgres? Can you please check another dialect?

[2019-07-25 22:53] papb commented on #11047
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 22:53] #11047 closed

[2019-07-25 22:54] papb commented on #11042
Can you be more specific?

[2019-07-25 22:56] papb commented on #11041
Can you please test if this happens in another dialect as well, such as sqlite? You can instantiate an in-memory sqlite connection by using `new Sequelize('sqlite::memory:')`.

[2019-07-25 22:58] papb commented on #11054
Duplicate of #11033

[2019-07-25 22:58] #11054 closed

[2019-07-25 22:59] papb commented on #11154
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 22:59] #11154 closed

[2019-07-25 23:01] papb commented on #11136
You can use a [raw query](https://sequelize.org/master/manual/raw-queries.html) to call `SET TIME ZONE INTERVAL '-03:00'` before doing the rest of your queries.

[2019-07-25 23:01] #11136 closed

[2019-07-25 23:03] papb commented on #11135
For questions like this, please use [Stack Overflow](http://stackoverflow.com/).

Now that I've read your question anyway: when you call a sequelize query method such as `findByPk`, the result of that query will be given as the fulfillment of a Promise which you access in the `.then`, so you should do something like:

[code]

[2019-07-25 23:03] #11135 closed

[2019-07-25 23:04] #11131 closed

[2019-07-25 23:07] papb commented on #11130
Can you please check if this happens with another dialect?

[2019-07-25 23:09] papb commented on #11118
We cannot help you with so little information. Please follow the issue template or at least provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example).

[2019-07-25 23:09] #11118 closed

[2019-07-25 23:15] papb commented on #2508
I think it might be interesting to bring this discussion back to life again, so I will reopen this.

[2019-07-25 23:17] papb commented on #11123
For this, check #2508. Short story: this was discussed in the past but nothing was decided...

[2019-07-25 23:18] papb commented on #11112
Closing in favor of #11225.

When #11225 gets closed, if anyone thinks this particular issue is still an issue, please ping me.

[2019-07-25 23:18] #11112 closed

[2019-07-25 23:20] papb commented on #11110
For questions like this, please use [Stack Overflow](http://stackoverflow.com/).

[2019-07-25 23:20] #11110 closed

[2019-07-25 23:23] papb commented on #5583
Duplicate of #5325

[2019-07-25 23:23] papb commented on #11105
Duplicate of #5325

[2019-07-25 23:23] #11105 closed

[2019-07-25 23:26] papb commented on #10484
Fixed by #10635

[2019-07-25 23:26] #10484 closed

[2019-07-25 23:34] papb commented on #10206
I believe this can already be done by setting `typeValidation: true` to [Sequelize instantiation options](https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor).

Ping me if this is still an issue.

[2019-07-25 23:36] papb commented on #9926
Can someone please test if this is still happening in the newest 5.x version?

[2019-07-25 23:38] papb commented on #9895
So as I see it this is a request to change the behavior of `removeIndex` to not use `IF EXISTS` anymore, right?

[2019-07-25 23:40] papb commented on #9618
Is this still an issue?

Also, you said:

Could you add a link to this issue? Thanks!

[2019-07-25 23:50] papb commented on #9209
If you are still willing to create this PR, with a thorough documentation description (not only in API Reference but also in the manual), I think that would be great!

[2019-07-25 23:52] papb commented on #8978
@bartnaessens Are you still pursuing this? If you are, let me know and I will reopen.

[2019-07-25 23:52] #8978 closed

[2019-07-25 23:54] papb commented on #8886
As sushantdhiman said above, this shouldn't be the case. If you are still experiencing this issue, please provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) and I will reopen.

[2019-07-25 23:54] #8886 closed

[2019-07-25 23:55] papb commented on #8510
@iamjochem What is your current status on this?

[2019-07-26 00:02] papb commented on #8315
@SimonSchick [started to work on it](https://github.com/sequelize/sequelize/commit/2fc27f68fcdf17a6c96e50856a5e20b5cd5de5fe).

[2019-07-26 00:03] papb commented on #8356
@mkaufmaner What is the status of this?

[2019-07-26 00:12] papb commented on #6116
@overlookmotel What is the status/ideas on this? After two years, anything has changed? New ideas?

[2019-07-26 00:20] bobspace commented on #10100
I'm running into this same issue, with the small variation that my uuid is not the primary key. What's the fix, exactly?

[2019-07-26 00:22] papb commented on #10819
@frlinw - As SimonSchick said, v6 is still in `@next`. So we haven't just dropped a functionality like you are saying.

I believe this issue won't be closed until a proper alternative or migration guide is provided.

[2019-07-26 00:24] papb commented on #10100
@bobspace Can you please create a new issue with a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) for your problem?

[2019-07-26 00:26] SimonSchick commented on #10819
@papb I am currently extremely time constrained, it would be nice if you could take a look at this.
The idea was to make sequelize somewhat transparent to CLS and then provide a CLS package you can install separately, as a plugin.

[2019-07-26 00:27] papb commented on #10757
@mjdavidson Is this still an issue?

[2019-07-26 00:41] mjdavidson commented on #10757
don't think so,
https://github.com/sequelize/sequelize/blob/v5.10.3/types/lib/model.d.ts#L1811
stopped using sequelize with typescript... was 'too hard basket'

[2019-07-26 01:33] nfwyst commented on #11221
I am sorry that it was just an editorial error.

[2019-07-26 01:37] nfwyst commented on #11221
I really met a big pit....

[2019-07-26 02:10] jeranluna commented on #11219
Pablo thanks for responding but I manage to resolved the issue by modifying the code.

Before:
`id: {
  [Op.or]: {
    [Op.in]: Sequelize.literal((SELECT companyId FROM linkedins WHERE url LIKE '%${search}%')),
    [Op.in]: Sequelize.literal((SELECT companyId FROM emails WHERE email LIKE '%${search}%'))
  }
}`

Now:
`id: {
  [Op.or]: [{
    [Op.in]: Sequelize.literal(`(SELECT companyId FROM emails

[2019-07-26 03:50] mycoboco commented on #11024
So to speak, yes, because Sequelize has enough information and is the right place to do that, I think. I don't think Sequelize should require every server implementation using it to have a global queue for handling requests working with transactions.

If I'm the first or the only to expect this, which would make me surprised and perplexed, you can consider this a feature request. What I'd like to

[2019-07-26 04:34] zypA13510 commented on #10206
I haven't tested it yet, but the document says "on insert and update", which means where clause in select is not validated?

[2019-07-26 05:43] VidhiyaElango commented on #11223
Hi papb,
     I have tried with SQLite too and the same problem exits.
     But i have found a solution by settting the value of the id in the model

Model :
{
    id: {
        type: Sequelize.INTEGER,
        primaryKey: true,
        autoIncrement: true,
        unique: true
         set() {
                    let value = this.getDataValue('id')
                    this.setDataValue('id', valu

[2019-07-26 06:00] jaulz commented on #9209
Great. I already use my workaround since a year and will start working on the PR next week.

[2019-07-26 06:18] VidhiyaElango commented on #11223
But if i set the value in the model it is duplicating all the records and not updating

[2019-07-26 06:24] boggddan commented on #11204
Hello,

[code]

result:

[code]

[code]

[code]

result:

[code]

[code]

bulkCreate creates the correct query
[code]

but does not return the value of the fields, but returns which were transferred in the query.

Thanks!

[2019-07-26 07:26] wangzhilongh commented on #11183
I have the same problem

[2019-07-26 07:46] acodercat opened #11227 "Query 10000000 data JavaScript heap out of memory"
**Is your feature request related to a problem? Please describe.**
Query 10000000 data JavaScript heap out of memory

**Describe the solution you'd like**
Query 10000000 data JavaScript heap out of memory

**Usage example**
await this.ctx.model.GridDynamicFeature.findAll();

[2019-07-26 08:30] weyert commented on #9618
I am not aware that this functionality has been added to Sequelize? I will have a look at the changelog :)

[2019-07-26 08:44] benjamingr commented on #8315
@papb awesome news, let me know if you have any questions about debuggability with native promises vs. bluebird

[2019-07-26 10:26] chiraggmodi opened #11228 "ER_TABLE_EXISTS_ERROR"
i am geting Table already exists error on altering table.
attached is the screenshot and here is my Associations

[code]

![Screenshot_2](https://user-images.githubusercontent.com/10358945/61945493-c88eeb00-afbd-11e9-954e-5ac242455a25.png)

[2019-07-26 12:19] bogdan commented on #11132
I think that it is ambiguous to specify two option instead of one. I feel myself in nineties when I see that: back then people had to understand machines. Right now, if a software knows what I mean it just does that without asking additional questions aka options.

Woundn't it be so much easier to read:

[code]

&lt;OFFTOPIC&gt;
I don't even tell you how much easier it would be to have, then its e

[2019-07-26 13:31] sushantdhiman commented on #11227
Yes that is possible if you have records with large data. It can happen without Sequelize. If you have something concrete which can be tested properly, you can add that to issue description.

------------------------------

Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE.md). Please don't ignore ou

[2019-07-26 13:31] #11227 closed

[2019-07-26 13:32] sushantdhiman commented on #11228
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not following the is

[2019-07-26 13:32] #11228 closed

[2019-07-26 13:35] aankur opened #11229 "Foreign key reference a column in the same table causes error"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
Run Test.sync()

## What do you expect to happen?
[code]

## What is actually happening?
[code]

## Environment
Dialect:
- [x] mysql
Dialect **library** version: mysql2: "^1.6.5"
Database version: '10.1.13-MariaDB'
Sequelize version: 5.10.1
Node Version: 8.9.1
OS: windows

[2019-07-26 13:41] SimonSchick commented on #8315
I *was* working on it, it's a tremendous amount of work and probably won't happen this year.

[2019-07-26 14:15] n-sviridenko opened #11230 "Including only pivot table"
Hi, we have a many-to-many relation b/w Foo and Bar models:

[code]

In order to save on performance, we want to include only a pivot table (FooBar) when executing `Foo.findAll()` and filter by `Bar.id`. Something like:

[code]

instead of

[code]

But we're having: `'SequelizeEagerLoadingError: fooBar is not associated to foo!\`

We need the data which is available there and we don't need any dat

[2019-07-26 15:16] sushantdhiman commented on #11209
Old v5 docs redirected to new ones

[2019-07-26 15:17] sushantdhiman commented on #10610
No @papb new website will automatically redirect you to `https` version

[2019-07-26 15:17] #10610 closed

[2019-07-26 16:21] papb commented on #11209
@sushantdhiman Are the old v3 docs ([here](https://readthedocs.org/projects/sequelize/) and [here](https://sequelize.readthedocs.io/en/v3/)) completely inaccessible? Isn't there anything we can do about them?

[2019-07-26 16:28] papb commented on #10206
@zypA13510 Ah, you're right, makes sense. But please test it anyway, just in case, and let me know. Thanks.

[2019-07-26 16:30] papb commented on #11024
@mycoboco Thanks. Yeah I agree with you, this looks like something Sequelize should do automatically. But I don't think it does at the moment...

I am not sure if I classify this as a bug or a feature, but I think we could say it's a bug.

[2019-07-26 16:32] papb commented on #11132
I'm convinced :+1:

[2019-07-26 16:33] papb commented on #9618
@weyert Very well, let me know, thanks!

[2019-07-26 16:42] papb commented on #11204
Thanks for the detailed reply! Hopefully someone will be able to take a look soon.

[2019-07-26 16:45] papb commented on #11223
I see...

You posted only a code snippet, can you provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to easily reproduce it all by copy-pasting?

[2019-07-26 17:05] quetzaluz opened #11233 "[Security] Recommended upgrade of lodash"
- Per https://github.com/lodash/lodash/issues/4348, an upgrade is required to address a recent security vulnerability CVE-2019-10744
- The modules specifically reported as vulnerable are used in this repo, example at https://github.com/sequelize/sequelize/blob/f2b0aec14c98691c425c59a005c2595419da6e4f/lib/utils.js#L53
- https://github.com/sequelize/sequelize/blob/master/package.json#L38 locks lodas

[2019-07-26 17:07] sushantdhiman commented on #11209
![image](https://user-images.githubusercontent.com/9989487/61968490-cf395480-aff5-11e9-8c34-3c978b4656f8.png)

@janmeier / @sdepold

[2019-07-26 17:08] sushantdhiman commented on #11209
By the way https://sequelize.readthedocs.io/en/v3/ will get redirected to https://sequelize.org/v3

[2019-07-26 19:29] papb commented on #11230
In a way, yes, you have to do a 'trick' that I plan on documenting soon. Stay tuned!

[2019-07-26 19:30] johnculviner commented on #4446
**If above didn't work try this!**
The only way I could get this to work was to do `subQuery: false` when I had 2 nested includes (joins) with server side paging/sorting/filtering and reporting row counts. It still reports the row count wrong when I do `findAndCountAll` if the nested joins dupe up across a 1-M but that might be bareable (not really easy to fix that I don't think w/o a more expensi

[2019-07-26 19:40] sushantdhiman commented on #10696
:tada: This issue has been resolved in version 7.0.0-next.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v7.0.0-next.1%40next)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-26 19:40] sushantdhiman commented on #10780
:tada: This issue has been resolved in version 7.0.0-next.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v7.0.0-next.1%40next)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-26 20:02] papb commented on #11233
This is not true precisely because of the caret (`^`) there, this marks it as a [semver](https://semver.org/)-range which will automatically install the latest 4.x version upon a fresh installation

[2019-07-26 20:02] #11233 closed

[2019-07-26 20:52] papb commented on #11209
@sushantdhiman Actually apparently only the main page follows the redirect.

Entering one specific page such as http://docs.sequelizejs.com/manual/associations.html does not redirect...

Also will these redirects affect SEO?

[2019-07-26 20:55] papb commented on #10930
Related: #10932

[2019-07-26 20:55] papb commented on #10932
Related: #10930

[2019-07-26 21:04] papb commented on #10142
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? This will help tackling the issue faster.

[2019-07-26 21:28] lracicot commented on #9629
This is not an issue, this is a feature request and an important one.

[2019-07-26 21:37] lracicot commented on #6808
+1

[2019-07-26 21:40] aguynamedben commented on #9629
+1

[2019-07-26 22:30] benjamingr commented on #8315
@SimonSchick anything I (as both Node core and Bluebird core) can help with? Anything in particular missing?

[2019-07-26 23:24] SimonSchick commented on #8315
@benjamingr you can look at https://github.com/sequelize/sequelize/tree/chore/remove-bluebird
I will attempt to rebase this on the vnext branch, and you can dabble with it a bit 😛

[2019-07-27 03:24] knoxcard commented on #10913
@papb - updated the code, can you give it a try and let me know?

[2019-07-27 04:18] zypA13510 commented on #10206
Yeah, I will once I get back to the environment with sequelize set up.

[2019-07-27 04:23] papb commented on #10913
Can you respond to this directly? I am still confused...

[2019-07-27 04:25] papb commented on #8315
@benjamingr It is great to have your support, thank you!

[2019-07-27 04:30] papb commented on #11229
Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On windows: [PostgreSQLPortable_10.4.1.zip](https://github.co

[2019-07-27 04:35] papb commented on #11036
Can you please post the outputs of the following lines:

[code]

[2019-07-27 04:41] papb commented on #11025
Hello! Have you tried [StackOverflow](https://stackoverflow.com/) (using the [sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js)) or [Slack](https://sequelize.slack.com)?

Please try those first, if they don't give you a result please post again later (and include links to your question).

I would help further if I had the time but I don't, sorry. Good luck, and we are glad

[2019-07-27 04:41] #11025 closed

[2019-07-27 04:44] papb commented on #10993
If I understand correctly, this is a feature request specific for postgres, right?

[2019-07-27 04:46] papb commented on #10996
Can you please post:

* The SQL query generated by sequelize, ans
* Which query should it generate instead

[2019-07-27 05:41] papb opened #11237 "What if both association directions could be defined at once?"
Very often, when I define associations in Sequelize, I define them in all possible directions:

## 1:1

[code]

## 1:N

[code]

## M:N

[code]

## M:N supercharged

Often I do what I call a "supercharged" many-to-many association:

[code]

## Feature

I think Sequelize should be able to do that automatically. Something like:

[code]

## Discussion

Is there a major flaw in this that I'm missing? W

[2019-07-27 05:50] sushantdhiman commented on #4324
Fixed https://github.com/sequelize/sequelize/pull/11163

[2019-07-27 05:50] #4324 closed

[2019-07-27 05:51] sushantdhiman commented on #10875
Fixed by https://github.com/sequelize/sequelize/pull/11236

[2019-07-27 05:51] #10875 closed

[2019-07-27 06:12] SimonSchick commented on #11237
This is actually somewhat sensible.
Associations in general could use an overhaul.
Tiny bit OT: It would be nice if we could, rather than generating aliases ala. `(get\set\add)Association`, create a `.associations.association` object which would contain all the methods, this way we could reduce the usage of mixins.

[2019-07-27 07:06] goldcaddy77 commented on #10770
Right, that's how you prevent n+1s... The ask is that if somebody incorrectly wires things up that you can programmatically determine this.

I think to do this you need to put some code into sequelize that can determine if a single request makes a lot of calls to the DB. I have no idea where in sequelize youd do this though.

[2019-07-27 08:08] sushantdhiman commented on #1944
`uniqueKey` name can be overridden now https://github.com/sequelize/sequelize/pull/9914

[2019-07-27 08:50] sushantdhiman commented on #10461
This fails because `save / create` does not support `updateOnDuplicate` which is used when using `individualHooks`

[code]

[2019-07-27 08:54] sushantdhiman commented on #11090
There are no defaults with `updateOnDuplicate`, you have to specify what fields should be updated if there is a conflict

[2019-07-27 09:09] ozhi commented on #11090
According to [docs](https://sequelize.org/master/class/lib/model.js~Model.html#static-method-bulkCreate): `Fields to update if row key already exists (on duplicate key update)? (only supported by MySQL). *By default, all fields are updated*.`

[2019-07-27 09:10] sushantdhiman commented on #11223
MySQL only returns ids for records which got inserted with `updateOnDuplicate`. I don't think we can reliably support this unless MySQL adds support for `RETURNING *` equivalent

[code]

[code]

[2019-07-27 09:13] sushantdhiman commented on #11090
Docs need update

[2019-07-27 09:17] sushantdhiman commented on #11090
You can workaround this by setting

[code]

[2019-07-27 10:48] chiraggmodi commented on #11228
sorry, before is was not clear here is full markup of my code

here is model

**User Top Value**
[code]
**Top Value modle**
[code]
Associations
[code]
I am using sequelize  **5.8.6** with **mysql**
attached is the screesnhot of error.
![Screenshot_2](https://user-images.githubusercontent.com/10358945/61993484-f3df0c00-b089-11e9-90e4-81a1549fe5cf.png)

[2019-07-27 12:57] aankur commented on #11229
Hi,

i have tested as suggested, here is the response.
**1. sqlite3, no error**

[code]

[code]

[code]

[code]

**2. Postgres**

[code]

[code]

[code]

[code]

[2019-07-27 13:14] papb commented on #11228
From the looks of your error, it seems that you are using `sequelize.sync({ alter: true }). Your code is still not a SSCCE/MCVE. Make sure we can copy paste and reproduce the problem - try it yourself first - create a new npm project, install sequelize, etc, see the error, and then post the full SSCCE.

[2019-07-27 16:59] SimonSchick commented on #8315
@benjamingr I rebased ontop of the `next` (v6) branch, all unit tests are passing, there are quite a few integration test failures however.

[2019-07-27 21:22] #10748 closed

[2019-07-27 21:26] benjamingr commented on #8315
It's a huge PR with a lot of changes unrelated to promises and bluebird. Anything in particular I should look at?

The fact transactions always have to be explicit now is a bit annoying but I understand why it works this way. Just so you know - you can keep the old behavior by using [async_hooks](https://nodejs.org/api/async_hooks.html) and establishing context.

Native promises are going to be sl

[2019-07-27 21:31] papb commented on #8315
@benjamingr Am I mistaken, or async_hooks can only be used in Node 12?

[2019-07-27 22:07] benjamingr commented on #8315
@papb async hooks work from Node 8 +, in general all our [api pages](https://nodejs.org/api/async_hooks.html) have the earliest supported Node.js version on APIs.

[2019-07-27 22:16] papb commented on #8315
@benjamingr Oops, that's right! Awsome.

[2019-07-27 22:21] SimonSchick commented on #8315
@benjamingr Please focus on the last commit on this branch, there should be *very* few unrelated changes, 4-5 lines max.

[2019-07-28 09:16] knoxcard commented on #10913
This code is to beautify the text in the database itself.

[2019-07-28 14:17] mschipperheyn commented on #9539
bump

[2019-07-28 16:14] papb commented on #10913
Ah, I see. Why not use `before` hooks instead of `hooks`? You wouldn't need extra queries.

[2019-07-28 16:32] cjuega commented on #9926
@papb, I haven't tested it on v5 yet. I did check the code though. I haven't seen any changes in [model.js#destroy](https://github.com/sequelize/sequelize/blob/master/lib/model.js#L2729) nor [query-interface.js#bulkDelete](https://github.com/sequelize/sequelize/blob/master/lib/query-interface.js#L1096) that says otherwise. So I expect this issue to be reproducible on sequelize v5 too.

[2019-07-28 16:38] cjuega commented on #9926
oh, wait! I actually did check it on `"sequelize": "^5.8.8",`. If I disable individualHooks (which are workarrounding the issue), my specs still fail. So yes, this is still happening.

[2019-07-28 18:25] sanjeev-nyxa opened #11239 "if hasmany relation result is null it gives error if it has too hasmany relationship with count function"
## What are you doing?
I have post model which hasmany reply model then reply hasmany replylike model.

[code]
**To Reproduce**
if I comment this line [sequelize.fn('COUNT', sequelize.col('replyLike.id')), 'replyCount'] it start working because this post has no reply yet so reply object is null and it gives "Cannot read property 'push' of undefined"

## What do you expect to happen?
_It should ret

[2019-07-28 18:52] papb commented on #11239
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? This will help tackling the issue faster.

[2019-07-28 22:54] knoxcard commented on #10913
@sushantdhiman - see what I've done here?  It is supperr helpful in reading mysql JSON data from the DB.

[2019-07-28 23:12] leocabrallce commented on #5325
Waiting for it too

[2019-07-29 00:50] papb commented on #11094
Thanks for the detailed report. I will close this one and reopen #6626 since it has more discussion in there already.

Thanks for sharing the workaround as well!

[2019-07-29 00:50] #11094 closed

[2019-07-29 00:51] papb commented on #6626
Duplicate of #11094

[2019-07-29 00:51] papb commented on #6626
For a workaround, see #11094

[2019-07-29 02:38] papb commented on #11059
Thanks for the report!

Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On windows: [PostgreSQLPortable_10.4.

[2019-07-29 04:05] sanjeev-nyxa commented on #11239
It is quite impossible  for me to give you any live demo to access or compile anything at the moment . Yes but I can elaborate more

I have tables in mysql
Posts
Reply
Likes

Post has replationship Has many to Reply
Reply has relationship Has many to likes

so in Posts model I have
[code]
and in Reply model I have

[code]

so it works fine if I have a at least one reply for a post if post has no r

[2019-07-29 08:39] magp3 commented on #11036
Thanks for the response papb!

Here is the output.

[code]

[2019-07-29 10:25] massivex opened #11240 "upsert fails on MSSQL with composite unique key"
## What are you doing?
upsert in MSSQL with composite unique key
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define model with a composite key with at least a string field
2. Execute an upsert with a key set to empty string
3. See error **Primary Key or Unique key should be passed to upsert query**

## What do you expect to happen?
Unique key values specified must be used as where

[2019-07-29 11:07] GalenWong opened #11241 "Null is not supported as LogicType in TypeScript"
## What are you doing?

The following expression is allowed in JavaScript, but not TypeScript.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Compile the above expression in TypeScript
2. The compiler gives "Argument of type 'null' is not assignable to parameter of type 'LogicType'."

## What do you expect to happen?
__TL;DR__: `null` should be allowed in TypeScript if it is allowed

[2019-07-29 11:08] GalenWong commented on #11241
My temporary workaround is to use `// @ts-ignore`. But I would like to confirm if this behavior is appropriate at all.

Thank you for this amazing repo. 😃

[2019-07-29 11:56] o7z opened #11242 "SELECT * FROM my_table WHERE slot&16"
My table like this:
[code]
---
I want query by `slot` like this :
[code]
---
please tell me, if sequelize has that feature.

[2019-07-29 12:18] eugene-matvejev opened #11243 "queryInterface.renameColumn drop unique constraint in SQLite"
## What are you doing?
demo:
https://github.com/eugene-matvejev/node-explorer/pull/10/files

[code]
**To Reproduce**
1 run migration in file 1 correct output
[code]
2 run migration in file 2, 'UNIQUE' constrain gone from name column
[code]

## What do you expect to happen?
state column to be renamed to seq, other columns shouldn't be affected

## What is actually happening?
_'UNIQUE' constrain gon

[2019-07-29 12:26] eugene-matvejev commented on #11243
very bad work around who is interested: https://github.com/eugene-matvejev/node-explorer/pull/12/files

[2019-07-29 12:53] papb commented on #11243
Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On windows: [PostgreSQLPortable_10.4.1.zip](https://github.com/garethflowers/postgresql-portable/releases/download/v10.4.1/PostgreSQLPortable_10.4.1.zip) (no need to install, just unzip an

[2019-07-29 12:54] papb commented on #11242
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [StackOverflow](https://stackoverflow.com/) (using the [sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js)) or on [Slack](https://sequelize.slack.com).

[2019-07-29 12:54] #11242 closed

[2019-07-29 13:02] massivex commented on #11240
I suggest to change this line
https://github.com/sequelize/sequelize/blob/f3b5f99b342cb5d47865daa49a2aa6316064507c/lib/dialects/mssql/query-generator.js#L442
with ```
if (clause[key] != null) {
[code]

[2019-07-29 13:04] massivex opened #11244 "upsert fails when a spatial field is used on MSSQL"
## What are you doing?
Calling upsert on a model with a spatial field

[code]
const insertValuesEscaped = insertKeys.map(key => this.escape(insertValues[key], model.rawAttributes[key], { context: 'INSERT'})).join(', ');
[code]

[2019-07-29 13:09] papb commented on #11241
@GalenWong Thanks for the compliments and for the detailed issue.

I am assuming you forgot a `)`, right?

Hopefully someone will be able to take a look on this soon (I can't right now, sorry)

[2019-07-29 14:07] GalenWong commented on #11241
@papb Yes, thank you and fixed!

[2019-07-29 14:43] Bene-Graham commented on #11059
I ran my example using sqlite and I get the same results.

Sequelize v5 does not have this issue.

[2019-07-29 14:55] PeledYuval commented on #11039
Hi @euglv,

The data is returned in a format called WKB, which is indeed a binary encoded in HEX. For more info read [here](https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry#Well-known_binary).

You can use the [wkx](https://www.npmjs.com/package/wkx) library to decode the data, like so:
[code]

[2019-07-29 15:10] bparan opened #11245 "MSSQL. Error saving number value bigger than 2147483647"
## What are you doing?

I'm trying to store a number that is bigger than 2147483647 as value of a column with BIGINT type.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define a model with BIGINT type in database.
2. Use `Model.create` with a number bigger than 2147483647.
3. See error `SequelizeDatabaseError: Validation failed for parameter '0'. Value must be between -2147483648 an

[2019-07-29 15:33] Bene-Graham commented on #11177
I added a little sample project in this repo: https://github.com/Bene-Graham/SequelizeCustomColumnTypeBug

Couple of things I have noticed:

1. Copying the custom type that is shown in the doc does nto work either: https://sequelize.org/master/manual/data-types.html
2. ```.sync()``` does not work with custom types it puts the wrong DB type in the create table statement

[code]

[2019-07-29 15:52] papb commented on #11177
Was this intended? (I switched to sqlite)

![](https://i.imgur.com/MgpVqL2_d.jpg?maxwidth=640&shape=thumb&fidelity=medium)

[2019-07-29 15:54] Bene-Graham commented on #11177
Yes, as far as I can tell the current set of types with v5 don't have a way of not throwing a compile error.

[2019-07-29 15:55] papb commented on #11177
Ignoring the compile error, I got `ReferenceError: connection is not defined` now.

[2019-07-29 15:57] Bene-Graham commented on #11177
interesting, can you give me the stack trace? I do not get that on my machine.

[2019-07-29 15:58] papb commented on #11245
Thank you very much for the detailed, reproducible issue!

Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On

[2019-07-29 16:00] papb commented on #11177
Nevermind, I messed up the typescript execution

I got:

[code]

Which I believe to be the intended reproduction of the bug :+1:

[2019-07-29 16:03] Bene-Graham commented on #11177
for that error you may need to uncomment:
[code]

in the index.ts file, I had that commented out due to it not working with the custom type(s) and mysql. In the end I just manually created the table and columns.

[2019-07-29 16:06] papb commented on #11059
@Bene-Graham Thanks! Since sequelize v5 does not have this issue, can I close it?

[2019-07-29 16:09] Bene-Graham commented on #11059
Sure.

[2019-07-29 16:11] #11059 closed

[2019-07-29 16:16] papb commented on #7534
If #3142 is fixed, would this issue be fixed too?

[2019-07-29 16:47] bparan commented on #11245
Thanks for simple instructions for Sqlite and Postgres.
Both dialects store a number bigger than 2147483647 without any issues.

I fixed this issue for mssql dialect by changing file lib/dialects/mssql/query.js, function `getSQLTypeFromJsType.` however I'm not sure that it's a good fix for the issue.

[code]

[2019-07-29 18:09] papb commented on #11245
I think that fix is fine, if you add a test case to prevent regressions. Would you be willing to submit a PR?

[2019-07-29 18:15] papb commented on #11239
Thanks for the extra information!

I will keep the issue labeled as 'awaiting response' though, because we really need a SSCCE/MCVE/reprex to be able to work on it properly. When you have the time (or someone else), please update the issue and ping me. Thanks!

[2019-07-29 18:23] papb commented on #8684
@kratsg @adeelshahid Or anyone else. I have two questions:

1 - Is this still an issue in latest sequelize v5?

2 - Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgre

[2019-07-29 18:25] papb commented on #8612
Hello! Can you please open a separate issue for this?

[2019-07-29 18:45] AiDirex commented on #10819
I think doing transactions should be handled explicitly by users regardless of cls usage.
Anyway, I strongly suggest that Sequelize remain compatible with the internal "async_hooks" module. it is needed to pass something like and id for contexts in log lines when using the `logging` option.

[2019-07-29 19:02] papb commented on #11036
I was able to reproduce. Thank you very much.

By the way, replacing `"dontCare"` by `"123"` oddly produces the same result!!

[2019-07-29 19:06] papb commented on #11039
If this is true, this is a bug, not a docs issue. Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) for this.

[2019-07-29 19:31] frastlin commented on #11225
Well, the documentation is rather clear on how to use the underscored functionality, and if there is another way to use it, I would love to know.
I'm making a couple hooks today for my server to simulate the underscored functionality until this gets resolved.
I don't mind how the tables look in the database, when I use this, I want foreignId to be foreign_id when I add and query items in the datab

[2019-07-29 20:27] papb commented on #10983
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? This will help tackling the issue faster.

[2019-07-29 23:26] aguynamedben commented on #802
+1, our app has grown to about 20 migrations now and it's kind of unclear how to install a new version of the database (i.e. what would happen with a schema.rb) or how to migrate from an old version of the database. Any guidance you could provide on how to hand this would be very helpful. Thanks for working on this excellent project.

[2019-07-30 07:10] mycoboco commented on #11024
Thanks for your reply, @papb. I'm glad to hear that you consider this what should be handled by Sequelize and looking forward to the day I can send a bunch of requests without worry about queueing.

[2019-07-30 10:10] fareshan opened #11247 "updating an array with unshift does not work"
## What are you doing?
This issue happens after upgrading to sequelize v5.

In this example, product is a table and urls is a column of type ```DataType.ARRAY(DataType.STRING)```:
This does not work:
[code]
And this works:
[code]
The issue is with **changed fields detection** in the model.js file.

## Environment
Dialect:
- [ ] mysql
- [X] postgres
- [ ] sqlite
- [ ] mssql
- [ ] any
Dialect **pg**

[2019-07-30 10:44] nayaya25 opened #11248 "Could not start my project due to: Type error"
Hello! I was trying to start my node/express app but I get this error.
`
A:\Portal_project\customer-portal\Server\node_modules\sequelize\lib\utils.js:94
  return str.trim().replace(/[-_\s]+(.)?/g, (match, c) => c.toUpperCase());
                                                            ^

TypeError: Cannot read property 'toUpperCase' of undefined
    at str.trim.replace (A:\Portal_project\custom

[2019-07-30 11:28] Equals182 commented on #11053
I tried my best to fix this issue. Sorry my PR is very raw, I wasn't able to setup proper testing environment and didn't write any new tests for this particular problem. I sure hope someone could help me with this stuff.

It seems like Travis and AppVeyor are stuck at MSSQL and SQLite tests, which is not related to my fix, I believe.

[2019-07-30 12:36] papb commented on #11248
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-07-30 12:36] #11248 closed

[2019-07-30 12:37] papb commented on #11247
Could you please test with the latest release, just in case?

[2019-07-30 12:51] neilveil opened #11250 "v4 to v5 | Problem with sequelize structure, Sequelize module methods auto-complete not working"
I'm a developer and I've been using sequelize from last few years. MySQL, MSSQL etc are so vast and updating, I understand that it's hard to cover everything in one ORM. You must have resolved a lot of things in v5 but there is a serious issue that I'm facing right now is auto-complete feature in my code editor (VS code). It might not a big thing for you but for me as a developer it's huge because

[2019-07-30 12:54] sushantdhiman commented on #10523
Fixed by https://github.com/sequelize/sequelize/pull/11170

[2019-07-30 12:54] sushantdhiman commented on #10391
Fixed by https://github.com/sequelize/sequelize/pull/11170

[2019-07-30 12:54] #10391 closed

[2019-07-30 13:03] sushantdhiman commented on #11250
I don't know how we can control VS-Code auto complete but perhaps https://github.com/sequelize/sequelize/issues/8616#issuecomment-502097536 could help?

[2019-07-30 13:18] papb commented on #11250
Duplicate of #11103

[2019-07-30 13:19] fareshan commented on #11247
@papb I tested it with the latest release v5.12.0 and I got the same behavior

[2019-07-30 13:34] papb opened #11251 "Is current .travis.yml docs deploy setting correct?"
https://github.com/sequelize/sequelize/blob/d2f33830b8bec035ac175acd3ec7622b694e00b8/.travis.yml#L78

@sushantdhiman Is this correct, or outdated? Now that `sequelize.org` contains the official docs?

[2019-07-30 14:16] sushantdhiman commented on #11251
Yes config is correct.

Someone may try to load a page from `docs.sequelizejs.com` which is still not redirected, so this handles those cases.

On other hand `sequelize.org` deploys itself every 24 hours

[2019-07-30 14:16] #11251 closed

[2019-07-30 14:43] irothenbaum commented on #10947
@papb
Hey, sorry for the delay - had a busy last week.
I'm expecting it to construct a `id in [...]` statement as it does when using that syntax without an include.

[2019-07-30 14:52] Brammz commented on #10984
@papb No, they simple stated the datatype of the attribute. I remember trying this and getting declaration issues. However, I tried this again and now I do get the error. Thank you!

[2019-07-30 15:24] papb commented on #10984
You mean "don't", right?

You're welcome :+1:

[2019-07-30 15:33] bparan commented on #11245
Submitted PR for this issue.

[2019-07-30 15:41] Brammz commented on #10984
Well, I don’t get the declaration error anymore indeed. But I do get an error when violating the null constraint, as it is supposed to go!

[2019-07-30 15:42] #10984 closed

[2019-07-30 15:42] Brammz commented on #10984
Well, I don’t get the declaration error anymore indeed. But I do get an error when violating the null constraint, as it is supposed to go! (also misclicked..)

[2019-07-30 15:46] papb commented on #10984
Ah, I see! :+1:

[2019-07-30 15:50] neilveil commented on #11250
@sushantdhiman  @papb You didn't understand..

Assume I have created a model named `Users`

Earlier I used to get suggestion like `Users.create` or `Users.update`, but in v5 `Users` is class which extends sequelize.models, and with this structure any code editor can't auto-complete

I am not talking about sequelize module auto-complete, it works!

It's not a duplicate issue!!!

[2019-07-30 15:52] papb commented on #10973
There are a few options in the [Sequelize constructor](https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor) that provide some flexibility for the connection package. Have you considered `options.dialectModule`, `options.dialectModulePath` and/or `options.dialectOptions`?

[2019-07-30 15:56] papb commented on #11250
@neilveil Sorry for the confusion. I have reopened it. Do you think an improvement in the typescript typings could solve this issue?

[2019-07-30 15:58] papb commented on #10240
Is this still an issue? Can someone please test with latest sequelize version (5.12.0)?

[2019-07-30 15:59] sushantdhiman commented on #11250
@neilveil May be it will be better if you can share some code for which auto complete does not work. I still don't see how sequelize can fix auto-complete issues for an editor

[2019-07-30 16:25] rener172846 commented on #5732
Is it impossible with `sequelize fn` yet?

[2019-07-30 16:27] papb commented on #5732
@rener172846 - I don't think so. Does contra's workaround above work for you?

[2019-07-30 16:43] rener172846 commented on #5732
I'm using sequelize v5.9.0 and seems there are some changed from then.
What are the `types` and `dialect` from his workaround?
Also can I add those codes in anywhere?

[2019-07-30 16:52] sushantdhiman commented on #11245
Fixed by https://github.com/sequelize/sequelize/pull/11252

[2019-07-30 16:52] #11245 closed

[2019-07-30 17:12] contra commented on #5732
@rener172846 Updated my code snippet (https://github.com/sequelize/sequelize/issues/5732#issuecomment-312010082) to be fully standalone ^

[2019-07-30 17:24] amaanrajput940 commented on #10908
I am getting same error, Anyone can help me how can I fix it ?

[2019-07-30 17:27] papb commented on #10908
@amaanrajput940 Please open a new issue following the standard bug report template and we will look into it. Thanks.

[2019-07-30 17:36] rener172846 commented on #5732
@contra  Thanks for your update!

[2019-07-30 17:48] seanmrichards commented on #11225
Unless this is the expected new behavior, https://github.com/sequelize/sequelize/issues/10857 explains the issue with foreign keys being converted into camelCase (when setting underscored:true) the most clearly.  To workaround in the mean time explicitly define the foreign key option in belongsTo which causes the model to return the key as both camelCase and underscored properties on the object.

[2019-07-30 18:51] amaanrajput940 commented on #10908
@papb Actually I deployed my node js app on AWS Ec2 and when I go to execute this command sequelize db:migrate then I get this error Cannot find module './dialects/mysql/data-types'

[2019-07-30 19:03] papb commented on #10908
@amaanrajput940 If you need help, I really need you to open a new issue... Good luck!

[2019-07-30 19:55] rener172846 commented on #3256
I have same issue as @intellix . If add only aggregate field in attributes, the `primary key` field always be included and occur error about `group by`. Any solution of that now?

[2019-07-30 20:03] gabegorelick opened #11253 "Soft-deleting paranoid model with custom deletedAt DB column name sets wrong attribute on instance"
## What are you doing?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Define paranoid model with `deletedAt` that declares custom `field`
2. Soft delete model instance
3. Check resulting model instance

## What do you expect to happen?
`deletedAt` should be set.

## What is actually happening?
`deleted_at` is set.

## Environment
Dialect:
- [ ] mysql
- [ ] postgres
- [ ] sqlite
- [

[2019-07-30 20:10] papb commented on #3256
Can someone confirm that this is a postgres-only issue?

[2019-07-30 20:13] papb commented on #11253
Looks like you have a typo here: `username: type: Support.Sequelize.STRING,`

Also, I didn't know `user.destroy()` returns itself. Perhaps a docs update is needed... If you fetch the user again from database, is it returned correctly?

[2019-07-30 20:14] rener172846 commented on #3256
I'm using postgres, but not sure how about in other dialects

[2019-07-30 20:20] gabegorelick commented on #11253
Sorry, that was a copy-paste error. Fixed.

Even if it's not supposed to return an updated instance, `user.destroy` mutates the instance in question. So the issue remains: https://github.com/sequelize/sequelize/blob/c32ac0142032977d968105e400804ed791ee7efb/lib/model.js#L4064

Yes. The underlying UPDATE call works fine. So if you instantiate a totally new instance, everything is fine. But you can't

[2019-07-30 20:50] gabegorelick opened #11254 "model.save({ where })"
**Is your feature request related to a problem? Please describe.**
I want to save a model, but only if a condition still holds. An example of this would be versioning, which `model.save` already supports internally, but a `where` clause is more general.

**Describe the solution you'd like**
`model.save({where})`

**Why should this be in Sequelize**
`model.save` already constructs a `WHERE` clause

[2019-07-30 20:57] rainseasonx commented on #8770
anyone has answer for this 2019?

[2019-07-30 21:01] papb commented on #11254
What is this "versioning" you are referring to?

[2019-07-30 21:04] gabegorelick commented on #11254
https://sequelize.org/master/manual/models-definition.html#optimistic-locking

https://github.com/sequelize/sequelize/blob/c32ac0142032977d968105e400804ed791ee7efb/lib/model.js#L3828-L3830

[2019-07-30 21:21] papb commented on #6104
@overlookmotel What is the status on this?

[2019-07-30 21:49] papb commented on #10239
Duplicate of #9109

[2019-07-30 21:49] #10239 closed

[2019-07-30 21:51] papb commented on #9109
@jharting Thanks for the testcase. Sorry to take so long for a response.

I reproduced this in every dialect. Interestingly, every dialect gives a different failure.

* SQlite: `AssertionError: expected [ Array(3) ] to equal 3`
* MariaDB: `SequelizeDatabaseError: (conn=10, no: 1054, SQLState: 42S22) Unknown column 'user.id' in 'field list'`
* MySQL: `SequelizeDatabaseError: Unknown column 'user.id

[2019-07-30 22:45] moemar commented on #10700
Any news on this? I still get the same error with blank username.
[code]

[2019-07-30 23:25] papb commented on #10700
@moemar can you try a connection URI instead?

[2019-07-31 01:34] moberegger commented on #11177
Taking a peak it your reproduction, I think the steps from https://sequelize.org/master/manual/data-types.html#postgresql are missing, where it says:

It is hard to make sense of that example, though. The example given is for Postgres, so it's not clear what is required for other dialects (they all seem to have types assigned slightly differently in the source). Furthermore, it uses an `inherits`

[2019-07-31 01:37] upcyoung commented on #10928
see [typescript install](https://sequelize.org/master/manual/typescript.html)

@types/node (this is universally required)
@types/validator
@types/bluebird

[2019-07-31 01:52] papb commented on #10964
Hello, the docs really need updating. Thanks for the issue.

[2019-07-31 01:54] papb commented on #11177
@moberegger It should be, I believe, although the docs really need fixing. I will hopefully be able to take a look soon. If you could dig a bit and find out how to do it, that would be awesome... But if you don't have the time, I shall do it in the near future.

[2019-07-31 02:01] narenedpuganti opened #11256 "column "locationPoint" cannot be cast automatically to type geometry"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models X, Y, ...
locationPoint: {
        type: DataTypes.GEOMETRY('POINT', 4326),
        allowNull: true
      },

2. Run the following
while doing sequelize.sync({alter: true})

3. See error
SequelizeDatabaseError: column "locationPoint" cannot be cast automatically to type geometry

## Environment
Dialec

[2019-07-31 02:20] #11256 closed

[2019-07-31 04:37] JamesJansson opened #11257 "Minor duplicate code in transaction"
## What are you doing?
Looking at /lib/transaction.js

[code]
This is probably unnecessary ` this.id = this.parent ? this.parent.id : generateTransactionId();`

[2019-07-31 06:38] Sydneyisachampion1 commented on #11247
What is that

[2019-07-31 07:32] massivex opened #11258 "mssql sorting by primaryKey (duplicate order by column error)"
## What are you doing?
Querying (through findOne method) a child model with include ordered by primary key

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Define models like above in code
2. Run query as above (findOne with include and order)
3. See error below
[code]

## What do you expect to happen?
A query like that `SELECT [task].[id], [task].[description], [task].[priority] FROM

[2019-07-31 08:24] lrbmike commented on #11119
I have the same problem, how did you solve it?

[2019-07-31 09:52] papb commented on #11257
Does `generateTransactionId()` have any side effect? In the current code it can be called twice apparently...

[2019-07-31 09:59] papb commented on #11258
Thanks for the detailed report! Your solution looks good at a first glance, would you be willing to submit a PR (ideally, adding the six test cases you mentioned as well)? Thanks!

[2019-07-31 10:12] massivex commented on #11258
Thx, I'll do it

[2019-07-31 10:40] papb commented on #2640
This is a fair point, but I'd say this is a matter of documentation. There is a reason for the UNIQUE constraint to be in a different place than the other usual validators. The reason is that the UNIQUE constraint is enforced at the database level, i.e., the SQL itself contains this validator; the other usual validators are just javascript checks performed by sequelize.

[2019-07-31 11:13] papb commented on #2839
What is the current status on this? I am confused.

GEOMETRY seems already [supported for PostgreSQL, MySQL and MariaDB](https://sequelize.org/master/class/lib/data-types.js~GEOMETRY.html). So is this issue just a feature request for SQLite and MSSQL? Or am I missing something?

[2019-07-31 12:40] papb commented on #2995
Is this still happening? Does this depend on the dialect? Can someone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-07-31 12:56] papb commented on #2586
@kyleguate I like your ideas, would you be willing to submit a PR?

[2019-07-31 12:57] papb commented on #2577
@sturdynut Would you be willing to submit a PR? That would be great!

[2019-07-31 13:08] irekg commented on #10622
Any update? I have the same issue with `TypeError: Class extends value undefined is not a constructor or null`. Solution with additional `const Sequelize = require('sequelize')` in each module file looks for me like dirty hack :disappointed:

[2019-07-31 13:25] moberegger commented on #11177
Yeah, I was looking through how the "proper" types are done and was gonna try just mimicking that to see if it worked. There is quite a bit of boilerplate involved (... at least at first glance) that makes me think that it could be easier to make a nice API around it, rather than trying to thoroughly document the current way.

For my purposes, I am just trying to get a `SMALLDATETIME` type working

[2019-07-31 13:34] papb commented on #10622
@irekg I still plan on getting into this, unfortunately I am more busy than expected, hopefully you can wait a bit more :grimacing:

[2019-07-31 13:37] papb commented on #11177
@moberegger There are already some datatypes which are available for a single dialect, such as [INET](https://sequelize.org/master/class/lib/data-types.js~INET.html) for postgres, so I think it is fine to have a `SMALLDATETIME` for MSSQL only - just try to mimick what was done for INET for example.

If you're willing to submit a PR that would be great!

[2019-07-31 13:58] irekg commented on #10622
@papb I briefly looked at the code and it it looks like that all we need is another alias in `/lib/sequelize.js`.

[code]

It works fine for me with this alias. I can prepare PR if You like.

[2019-07-31 14:00] papb commented on #10622
@irekg Ah, okay, you are thinking of something much smaller than I was. If that single change helps you, I think it is super fine! Feel free to submit a PR.

[2019-07-31 15:27] #11253 closed

[2019-07-31 15:37] sushantdhiman commented on #11253
:tada: This issue has been resolved in version 5.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-31 16:43] moberegger commented on #11177
@papb Oh nice, I'll take a look at those then. If I can get something working, maybe it can serve as a good example.

[2019-07-31 17:28] irekg commented on #10622
@brenc Looking at the source code https://github.com/sequelize/sequelize/blob/d041e77e275c3e950cedcdb3a625d891ea8b056b/lib/sequelize.js#L1311

I noticed that it might be possible to do:
[code]

**Haven't try it yet.** I will test it tomorrow at work. IMHO If this works then it's the simplest workaround.

[2019-07-31 17:32] papb commented on #10622
@irekg Oh that's right!! So your PR wouldn't be needed after all...

[2019-07-31 19:23] darkyelox opened #11261 "NativeScript SQLite dialect"
**Is your feature request related to a problem? Please describe.**
Well, not a problem with this library but one from TypeORM that have a basic or some lack of support in NativeScript framework, and i see a low work in the library it self so i'm searching for ORM alternatives to my apps and this one looks promising.

**Describe the solution you'd like**
I know you have already a dialect for SQLite

[2019-07-31 20:24] irekg commented on #10622
@papb Right. But I think that [example in documentation](https://sequelize.org/master/manual/models-definition.html#import) should be updated.

[2019-07-31 22:48] papb commented on #10622
Definitely. I will keep this open as a docs issue.

[2019-08-01 00:31] papb commented on #11261
Hello! Thanks for opening the issue. I am not familiar with NativeScript, but after a brief search I found [an official guide on how to use (almost?) any npm module with it](https://www.nativescript.org/blog/how-to-use-any-npm-module-with-nativescript).

Have you tried that? If yes, can you please post what exactly was the problem? That page mentions that some NodeJS-specific libraries could cause

[2019-08-01 00:40] papb commented on #10809
@CADBOT Thanks for the issue. I agree with you that this does not seem a correct behavior, and throwing an error would be better. I also agree with SimonSchick that this would be a breaking change.

Are you still willing to create the PR? It would be very welcome! We would wait to release it with v6, since it's a breaking change, but having the PR done in advance does not hurt at all.

What do you

[2019-08-01 00:43] papb commented on #10807
I believe there is no way to do this currently in Sequelize.

[2019-08-01 00:44] papb commented on #10503
Closing this since I believe the documentation on transactions has improved.

[2019-08-01 00:45] papb commented on #10503
@qqaimh If you are having issues, please open a new issue following our bug report template.

[2019-08-01 00:46] papb commented on #10805
@dustinsmith1024 Hi, it is not clear to me if you still have this issue or not. If this is still an issue, please let me know and I will reopen it.

[2019-08-01 00:46] #10805 closed

[2019-08-01 00:47] papb commented on #10787
Fixed by #10804

[2019-08-01 00:47] #10787 closed

[2019-08-01 01:01] papb commented on #10904
@vekexasia Hello! Thanks for the issue, sorry to take long to reply.

Quoting the docs:

This does not make clear what is the desired behavior for your code. I could imagine people arguing that both behaviors are acceptable.

I have marked this as 'discussion' so that it can be decided which behavior is more desirable.

[2019-08-01 01:07] papb commented on #11006
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-01 01:07] #11006 closed

[2019-08-01 01:10] papb commented on #10966
Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

[2019-08-01 01:13] papb commented on #11070
I don't think this is currently possible, but it makes sense.

[2019-08-01 01:14] papb commented on #11070
Similar to #11155

[2019-08-01 01:15] papb commented on #11056
Hi, thanks for this issue, can you expand a bit on your suggestion?

Can you show some code to demonstrate this? Thank you in advance!

[2019-08-01 01:16] papb commented on #10954
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-01 01:16] #10954 closed

[2019-08-01 01:18] papb commented on #10929
@range-of-motion Which dialect were you using? What was the behavior without those options and with those options? Thanks!

[2019-08-01 01:22] papb commented on #8754
This is currently not doable. The feature request #10943 would solve this, so I will close this one to keep track of all this in one single place.

[2019-08-01 01:22] papb commented on #11119
This is currently not doable. The feature request #10943 would solve this, so I will close this one to keep track of all this in one single place.

[2019-08-01 01:22] #11119 closed

[2019-08-01 01:23] papb commented on #10952
What SQL query should have been generated instead?

[2019-08-01 01:24] papb commented on #10919
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-01 01:24] #10919 closed

[2019-08-01 01:25] papb commented on #10920
Hello! Can you please post:

* What SQL query was generated by Sequelize

* What SQL query you wanted it to generate instead

Thanks!

[2019-08-01 01:26] papb commented on #10920
Also, can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On windows: [PostgreSQLPortable_10.4.1.zip](https://git

[2019-08-01 01:29] papb commented on #10946
I will close the issue, but if anyone still has problems feel free to ping me.

[2019-08-01 01:30] papb commented on #10917
Hello, it is not clear to me what you mean. Can you give a more detailed description, please?

[2019-08-01 01:32] papb commented on #10961
Hello, thanks for the issue and detailed explanation. Unfortunately I don't have the time to take a deep look right now...

[2019-08-01 01:33] papb commented on #10957
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? This will help tackling the issue faster.

[2019-08-01 01:38] papb commented on #10941
Is it *any* dialect or just mysql?

[2019-08-01 01:38] papb commented on #10941
Would you be willing to submit a PR?

[2019-08-01 01:40] papb commented on #10924
You mean autocomplete suggestions? Can you give a more detailed example?

[2019-08-01 01:43] papb commented on #10914
@toxuin Hello, thanks for looking deeper into it, I don't have time to take a look right now but hopefully I will be able to do so in the near future.

[2019-08-01 01:48] papb commented on #10828
It is possible to do this already, but it requires a little 'trick'. I plan on documenting it in the near future. Please hang on just a little longer :grimacing:

If you do not hear from me after a while feel free to call my attention on this again.

[2019-08-01 02:25] Yaowenjie commented on #11035
@cbogwill
It seems not working for my case. BTW, I am using `mssql` dialect.

[2019-08-01 03:54] big-o-notation opened #11263 "MSSQL sorting by primaryKey and limit rows fetch (duplicate order by column error)"
## What are you doing?
I am fetching from model by limitting and using offset.
The primary key is "id"

[code]

## What do you expect to happen?
I expect to get rows ordered by id DESC or ASC according to what I give in order properrty with offset and limit rows

## What is actually happening?
When method `addLimitAndOffset` in query-generator.js gets limit and offset (which are part of order by)

[2019-08-01 04:58] nash90 commented on #11035
@papb @Yaowenjie
The solution provided by @cbogwill worked.

[2019-08-01 04:59] nash90 commented on #11035
Thanks, This solution worked .

[2019-08-01 05:02] Yaowenjie commented on #11035
@cbogwill @nash90
Yes, that works. I missed the `options` level.

[2019-08-01 05:09] nash90 commented on #11035
By the way, that setting was in this code of the sequelize
https://github.com/sequelize/sequelize/pull/11045/files#diff-3aa0e1a84e1c794951afaa682fde719dR60

[2019-08-01 07:30] zypA13510 commented on #10206
@papb Ok, actually that works on the where clause. A validation exception is thrown if `typeValidation` is set to `true`. I'm creating a PR to clarify this in the docs.

[2019-08-01 07:32] #10928 closed

[2019-08-01 07:40] sm2017 commented on #10952
[code]

OR

[code]

[2019-08-01 10:28] perusopersonale commented on #2325
Doesn't work fine when there are parallel findAll at the same table, returning a Promise that never solves sounds to me like a memory leak.

[2019-08-01 11:15] willsgh commented on #9653
The approach suggested by @cribcutkiran works for me, working with a MySQL database.
Additionally, I used MySQL Workbench to delete the additional indexes created. Running sync repeatedly after that only creates a single instance of each index.

for multiple columns with unique keys,
sequelize.define(
'user',
{
email: Sequelize.STRING,
username: Sequelize.STRING
},
{
indexes:[
{unique:true, fields

[2019-08-01 12:55] massivex commented on #11258
Hi @papb ,
I checked out master branch and I found a little issue in tests.

When I run npm tun test (with DIALECT mssql) some tests about transaction stuck.
This is because **MySQL and MSSQL have a different default transaction behaviour**.

When you add/change/remove record linked to a parent model MSSQL, locks both parent & child table rows. Instead MySQL doesn't lock parent row.

For that reas

[2019-08-01 13:28] janokacer commented on #10966
Yes this bug is present in sqlite3 as well.

Code:
`
const main = async () => {
  const database = new Sequelize('sqlite::memory:')

  const Test = database.define('test', {
    id: {
      type: Sequelize.INTEGER,
      primaryKey: true,
    },
    tmp: {
      type: Sequelize.INTEGER,
      defaultValue: Sequelize.literal('(random())'),
    },
  })

  await Test.sync()

  const tests = await Tes

[2019-08-01 13:47] #10206 closed

[2019-08-01 14:29] jdguzman commented on #10819
I would like to chime in there and say that in our case using `cls-hooked` resulted from the fact that custom validations don't have access to the transaction context explicitly. I'm sure we aren't the only ones that have complex validation scenarios that when in a transaction context require that to be passed along to queries in custom validators.

I did read about using before/after hooks for th

[2019-08-01 15:00] TitaneBoy commented on #11048
Hello... I unfortunetly don't have the necessary resources to test it with other dialects... It can take me a while to have these resources... but for sure, it doesn't work with postgres dialect

[2019-08-01 15:08] simonbrent opened #11266 "instance.validate does not do typeValidation"
## What are you doing?

[code]
**To Reproduce**
Run the code above

## What do you expect to happen?
When creating a Sequelize instance with typeValidation turned on, I expect that types are validated when calling the validate method on an instance. I expect output from the above code
to be two SequelizeValidationErrors - one saying '"bar" is not a valid integer' and one saying '"baz" is not a val

[2019-08-01 15:23] papb commented on #11258
@massivex Nice work! It's great to see that you found why some tests timeout randomly!!

I think it's better if you split those fixes in more PRs. Hopefully it's not too much extra work.

[2019-08-01 15:25] papb commented on #11048
You can instantiate an in-memory SQLite instance as follows:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

Can you please try it?

[2019-08-01 15:27] papb commented on #10819
Can you clarify this, perhaps with a little code example in which you show what you would like to have?

[2019-08-01 15:56] misos1 commented on #10946
@papb But as I wrote mysql dialect is still superior to new mariadb dialect even when using with mariadb database. So it has sense to fix this little bug. Just convert that string into js object so mysql dialect will behave in same way for mariadb database as for mysql database.

[2019-08-01 15:58] jdguzman commented on #10819
@papb say you have the following (somewhat redacted):

[code]

In the membership model there's a custom validation like this (using sequelize-typescript):

[code]
That only works because of cls and the fact that the transaction gets passed into the `findByPk` calls in the validator. Without cls it's not possible to do this and things fail because the transaction isolation prevents `findByPk` from

[2019-08-01 16:36] cyrilchapon commented on #9042
@aprilmintacpineda yeah, better silently closing this

[2019-08-01 18:36] jhonattan471 commented on #5325
Waiting for it too

[2019-08-01 19:46] rajat12a commented on #10937
sql query to create table
[code]
code
[code]
response
node app.js
[code]

[2019-08-01 19:59] papb commented on #11266
Actually, I have just checked the docs, what is says for `options.typeValidation` is this:

So apparently I think your example behaves like the docs say it should.

However, I agree this might be a valid change...

[2019-08-01 20:09] papb commented on #10946
Ah, I didn't know that. So MySQL dialect + MariaDB database yields a string instead of an object...

Can you please clarify:

* What is the current behavior with MySQL dialect + MySQL database? Does it give a string or an object?
* What is the current behavior with MariaDB dialect + MariaDB database? Does it give a string or an object?

[2019-08-01 20:40] misos1 commented on #10946
@papb

- MySQL dialect + MariaDB database - string
- MySQL dialect + MySQL database - object
- MariaDB dialect + MariaDB database - object

[2019-08-01 21:09] papb commented on #10946
Very interesting. So this is a "pseudo-bug" I guess because in theory the mixup shouldn't even work at all... So I am not sure @sushantdhiman would agree with this change.

Also, just for my information, can you list a few reasons for what you said:

I'm asking because I am not familiar with those dialects...

[2019-08-01 21:15] papb commented on #10819
@jdguzman That makes a lot of sense. Great explanation. Could you please create a feature request to allow passing the transaction as an argument to the validators? You can basically repeat what you said above. Thanks!!

[2019-08-01 21:16] carotorrehdz commented on #4679
Hi @papb , for me `Sequelize.NOW` doesn't work with migrations using `mySQL` dialect. I haven't had a chance to test it in models, but when I do I'll be sure to update this comment.

[2019-08-01 21:17] papb commented on #10937
@rajat12a I have a weird request - can you please test again using `camelCase` instead of `snake_case` for all your fields? I have a feeling this might be related to [several weird things happening with underscored fields in sequelize v5](https://github.com/sequelize/sequelize/issues/11225).

[2019-08-01 21:42] btroo commented on #7884
We upgraded to v5 as well. With no further sequelize (i. e. pooling) configuration other than that, we still get `SequelizeConnectionAcquireTimeoutError: Operation timeout`. Anecdotally, this timeout-ing seems to occur less, but haven't measured/monitored closely in our deployment.

Will update if we find a configuration or bugfix that eradicates our issues completely!

[2019-08-01 22:50] ado-astpos commented on #4603
Any update?

[2019-08-02 02:57] JamesJansson commented on #11257
`generateTransactionId()` is just a uuidv4 generator. No side effect, just could cause future confusion about setting `this.id`.

[2019-08-02 03:00] bradennapier commented on #9271
@papb would love if it were included in the docs somewhere!  I think its very useful for anyone wanting to use uuid as primary keys for sure!

[2019-08-02 03:01] bradennapier commented on #9271
@JSteunou if you want to use v4 then you should just use it.  I wouldn't personally recommend you use it as the `PK` though.  I would use it as a secondary column with an auto-incrementing column for id.

You can still index on the uuid value.

[2019-08-02 04:47] billythekid97 opened #11268 "Wrong query with [Op.contains]"
## What are you doing?

[code]
**To Reproduce**
Steps to reproduce the behavior:
I do this this query:

[code]

## What do you expect to happen?
`"organization_users"."status" = '[1]'`

## What is actually happening?
`"organization_users"."status" @> [1]`

## Environment
Dialect:
- [x] postgres
Dialect **library** version: 10.9
Database version: 10.9
Sequelize version: 5.8.6
Node Version: v11.15.0

[2019-08-02 05:07] harrytran998 opened #11269 "Foreign key constraint cannot be implemented when using UUID on PosgresQL"
## What are you doing?

**User Migration Model**
[code]

**User Facebook Migration Model**

[code]

## ERROR

![Screen Shot 2019-08-02 at 12 01 23](https://user-images.githubusercontent.com/24296018/62345639-45b9e300-b51d-11e9-89aa-5701153d2fe1.png)

## What do you expect to happen?
I installed the "uuid-ossp" postgres extension.
I dont know why, I using dialect Postgres, I tried to change to User

[2019-08-02 07:05] rolandleth opened #11270 "Class constructor Model cannot be invoked without 'new'"
Hello!

## What are you doing?
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Define model Account with `class` approach. `sequelize.define` works properly.
2. Try and create/update an entry. Read/delete queries work.
3. See the error and stack trace attached.

## What do you expect to happen?
The record to be created/updated.

## What is actually happening?
It throws `Class construc

[2019-08-02 07:30] #11268 closed

[2019-08-02 07:42] simonbrent commented on #11266
I think the behaviour as it stands is problematic because all the write functions in model.js (save, update, upsert, bulkCreate) start by doing instance.validate if options.validate is true. It should therefore be possible to skip a lot of code if type validation fails, instead of finding out much later that the query is invalid.

[2019-08-02 08:16] Sukh-vip3r opened #11271 "How to put constraint on range with date as composite key in postgresql?"
## What was unclear/insufficient/not covered in the documentation

### If possible: Provide some suggestion how we can enhance the docs

[2019-08-02 09:21] jdguzman opened #11273 "Add transaction support to validations"
**Is your feature request related to a problem? Please describe.**
This request is related to the proposed removal of CLS support in Sequelize V6 (see discussion [here](https://github.com/sequelize/sequelize/issues/10819#issuecomment-517312102)).

Say you have the following (somewhat redacted):

[code]

In the membership model there's a custom validation like this (using sequelize-typescript):

[c

[2019-08-02 11:42] shepelevstas commented on #9895
I don't quite remember, but I think that if `removeIndex` fails, it should throw an error or complain someway. And maybe it should revert changes it just have done during a failed attempt.

[2019-08-02 12:12] papb commented on #11257
@JamesJansson I see... Would you like to send a PR?

[2019-08-02 12:20] papb commented on #9271
Hi! Would you like to send a PR, where you add your library to the [docs/resources.md](https://github.com/sequelize/sequelize/blob/master/docs/resources.md) file?

[2019-08-02 12:21] papb commented on #11269
Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

[2019-08-02 12:35] papb commented on #11270
Hello! Your code snippet does not seem self-contained - what is `db`? It is not defined anywhere I can see...

[2019-08-02 12:42] rolandleth commented on #11270
My bad, just an artifact remaining after moving some code to provide the snippet. Should be just `Account`. Updated.

[2019-08-02 12:47] papb commented on #11271
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-08-02 12:47] #11271 closed

[2019-08-02 13:35] misos1 commented on #10946
@papb Why you think it should not work? This is not like using postgresql database with mysql dialect.

https://mariadb.org/about/

If it would not work then why was used mysql dialect for mariadb database before sequelize v5?

Using directly mariadb dialect with mariadb driver with mariadb database can have some advantages. I saw somewhere this combination should be faster but still as mariadb da

[2019-08-02 13:49] papb commented on #11270
I was able to reproduce. Micro SSCCE/MCVE/reprex:

[code]

Executing `ts-node test.ts`:

`TypeError: Class constructor Model cannot be invoked without 'new'`

[2019-08-02 13:49] papb commented on #11270
@SimonSchick Can you take a look later?

[2019-08-02 13:51] papb commented on #10946
@misos1 Thanks for the detailed explanation! I am convinced.

[2019-08-02 14:06] papb commented on #6980
@sushantdhiman It looks like #9033 fixed this as well, can you check? (and if yes, close this issue) Thanks

[2019-08-02 14:41] SimonSchick commented on #11270
Duplicate of https://github.com/sequelize/sequelize/issues/10783

[2019-08-02 14:41] #11270 closed

[2019-08-02 14:56] rolandleth commented on #11270
Hey, @SimonSchick, what should I do now? It's a duplicate, but of an issue that is closed and whose solution didn't help me — I already tried it before opening this one 😞

[2019-08-02 15:10] SimonSchick commented on #11270
Again I'm not exactly an expert when it comes to babel, but can you tell me why you need babel on node 12.6?
Since it seems you want to use types I'd strongly recommend using the typescript compiler instead.

[2019-08-02 15:16] papb commented on #11270
@SimonSchick Babel is not involved, see the micro SSCCE I created. I did not use babel (unless ts-node uses babel under the hood and I don't know)

[2019-08-02 15:25] SimonSchick commented on #11270
@papb please post your stacktrace.

[2019-08-02 15:30] SimonSchick commented on #11270
`ts-node` uses `es5` as a transpilation target, which is probably the issue here, you need to specify at least `es6`, but again this isn't a sequelize issues, you need to create an environment which is at least equivalent to node v6+ for sequelize v5.

[2019-08-02 15:33] rolandleth commented on #11270
@SimonSchick The project also contains a React app and ... with my limited web knowledge, that's what I managed to come up with (regarding using babel). Regarding targets, I do have `target: "esnext"` in my `tsconfig.json` (tried with `es6` as well, same results), does that matter?

[2019-08-02 15:37] papb commented on #11270
@SimonSchick Interesting. I didn't know that. Indeed, adding the following `tsconfig.json` to my root folder fixed it:

[code]

Output:

[code]

Thanks :+1:

[2019-08-02 15:40] papb commented on #11270
As my experiments above show, indeed it matters, but I was able to fix my micro SSCCE with `"target": "es6"`. If your problems still persist after that, then the fact that you're using other stuff like babel/react/razzle might be the cause. Unfortunately I know very little about those, so I won't be able to help further.

Perhaps you should try asking a question in StackOverflow? The `sequelize.js

[2019-08-02 15:42] rolandleth commented on #11270
Yupp, will do that since it still persists and it's clearly out of scope.

Thank you both for your help and input, have a great weekend!

[2019-08-02 15:48] papb commented on #11270
@rolandleth When you do, add a link on your question to this issue, and also post a link of the question here, so that other in a similar situation can find help faster. Thanks!

[2019-08-02 16:16] Taher62 commented on #10101
Is this issue solved ?
I have the same problem

[2019-08-02 16:18] darkyelox commented on #11261
@papb don't worry, i'll explain to you how NativeScript works:

It's a mobile framework that use engines for each platform (Android and iOS) for run javascript code over it but using native components for the UI (so you write a `<Button>` tag in a html file and it's mapped to a native Android Button and a UIButton for iOS), is like a NodeJS platform but have some limitations like you mentioned wit

[2019-08-02 16:33] useo6 opened #11275 "Unknown column in field list"
## What are you doing?

I'm executing the following query using Sequlize:

[code]

## What do you expect to happen?
The field 'currentSession.activeSince' should be inclued in the attributes of the appropriate Session.

## What is actually happening?
But instead of this, I'm getting the following error:

I figured out that the problem is that sequelize creates a query and references the activeSinc

[2019-08-02 17:00] useo6 commented on #11275
I updated Sequelize to version 5.12.2 but the problem is persists.

[2019-08-02 17:02] papb commented on #11275
I didn't know sequelize supported this syntax `include: ['currentSession.activeSince']` for nested attribute inclusion. Can you link to the docs where this is mentioned?

[2019-08-02 17:04] papb commented on #11261
Hmm... I see... Thanks for the explanation.

The [Sequelize constructor](https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor) has options to change the dialect module used under the hood: `options.dialectModule` and `dialectModulePath` - have you tried those?

[2019-08-02 17:06] papb commented on #10101
@Taher62 Please open a [new bug report](https://github.com/sequelize/sequelize/issues/new?assignees=&labels=&template=bug_report.md&title=) and fill the template.

[2019-08-02 17:15] useo6 commented on #11275
Wow, good question. Never checked out the documentation regarding this topic. I found many examples on Stack Overflow and many of these were accepted. So I thought this is supported by Sequelize. For example, on https://stackoverflow.com/questions/37817808/counting-associated-entries-with-sequelize the number of associated entries is counted by referencing a column using this way...

[2019-08-02 17:35] papb commented on #11275
Interesting, can you see if you can make it work in a super simple example? Yours didn't work, but perhaps you can find another simpler example, without `include`s, just to see it working.

[2019-08-02 17:51] useo6 commented on #11275
What do you mean without includes? The includes are the problem because it seems that Sequelize creates a buggy query...

[2019-08-02 17:55] papb commented on #11275
I mean, does the `['currentSession.activeSince']` syntax work *at all*, at any situation whatsoever? Can you demonstrate it working in any situation, disregarding your issue for a moment?

[2019-08-02 18:19] useo6 commented on #11275
I did some test again and simplified everything a bit and yes, it works, but let's see...

The following query works correctly:

[code]

This prints the following:

So everything is fine and works as expected. So this proves that the discussed syntax works. But when I remove raw: true from the query, I'm getting an empty object:

[code]

It doesn't throw any error or rejection, but it simply print

[2019-08-02 18:39] aat2703 commented on #9233
I'm also running in to theese issues.. Also why is there no filtering available on build method?

For some reason fields: [] option is not available?

[2019-08-02 19:00] papb commented on #9233
@RoelRoel Although `build`+`save` apparently don't work, I know that `create` works with associations. Have you tried that as a workaround?

[2019-08-02 19:00] papb commented on #9233
@aat2703

Can you clarify what you mean by this? What did you want to do that can't be done?

[2019-08-02 19:22] papb commented on #11275
Understood!

Now, I understood the problem, but your code snippets are not self-contained (i.e. I can't just copy-paste it and run them). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? This will help tackling the issue faster.

[2019-08-02 19:29] papb commented on #8744
@DiegoRBaquero Hello, sorry to take so long to reply...

What is the status of this in the latest sequelize? Do you still face the same problem? Are you still willing to submit a PR? Thank you very much.

[2019-08-02 19:35] papb commented on #8745
What is the status of this in the latest sequelize? Do you still face the same problem? Are you still willing to submit a PR? Thank you very much.

[2019-08-02 19:35] papb commented on #8744
Similar: #8745

[2019-08-02 19:37] papb commented on #9178
Fixed by #9724

[2019-08-02 19:37] #9178 closed

[2019-08-02 19:38] papb commented on #9376
Hello, is this still an issue with latest sequelize and docker for windows?

[2019-08-02 19:40] papb commented on #9575
Hello, is this still an issue with latest sequelize v5?

[2019-08-02 19:41] papb commented on #9962
@jedwards1211 Is this still an issue?

[2019-08-02 19:47] jedwards1211 commented on #9962
I don't know, I use raw sql queries for my migrations these days

[2019-08-02 19:59] contra commented on #9575
@papb I can check, but AFAIK no changes were made in v5 for hooks so I don't think it would be fixed yet.

[2019-08-02 20:12] btroo commented on #7884
Update:

Found this issue yesterday https://github.com/sequelize/sequelize/issues/10976

Turns out that we had a case of a concurrent nested transaction stalling a parent transaction, which resulted in a connection to hang on the parent transaction. When this case was reached `n` (where `n` = our max pool size) times that filled our pool with hanging connections, we'd get bursts of time that ended

[2019-08-02 20:35] papb commented on #9962
I will close this, if anyone thinks this should be reopened feel free to ping me.

[2019-08-02 20:35] #9962 closed

[2019-08-02 20:39] maxwellsmart84 commented on #3000
Bump

[2019-08-02 21:00] darkyelox commented on #11261
Oh, i didn't see that options, maybe I'll try them this weekend but i don't have too much hope, let's see what happens, thanks for give me that points, meanwhile this issue will stay open.

[2019-08-02 21:06] papb commented on #3000
Hello, I will reopen this, but since the original code is 4 years old (and not self-contained), I need someone to provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) that can be simply copy-pasted and executed to see the problem.

[2019-08-03 04:14] jetaimefrc commented on #11269
Sorry, Im a newbie, I dont know how to use sqlite3 using connect string and migration on it :(

[2019-08-03 05:53] MemoryDewey commented on #11052
I received the same problem as you. Have you solved it？

[2019-08-03 07:50] rolandleth commented on #11270
Both luckily (because I solved it) and sadly (because I don't have a solution for _this_ problem), I used @SimonSchick's suggestion to stop using Babel and moved to TS' compiler. Everything is working properly now.

If I'll ever need Babel and have to fix this, I'll be sure to come back and update this as well.

[2019-08-03 07:53] rolandleth commented on #11114
Was about to open the same issue; I suppose it's an OK solution in the meantime.

More info about the problem: `this` is inferred to have a type of `String | DataTypes.AbstractDataTypeConstructor | DataTypes.AbstractDataType | ModelAttributeColumnOptions` and none of those have a `setDataValue` method.

TS error:

[code]

[2019-08-03 09:40] vanthome opened #11276 "Postgres: Schema does not default to current schema for references when model is set only on parent model"
## What are you doing?

I need to switch schemas dynamically for multi tenancy in an application and when I change the schema for a model, I would like sequalize to default to that schema also for references and indexes. This is not the case yet and I would consider this a bug as it's the only sensible default behaviour.
The main point where this happens is when I call `sync({ schema: 'archive' })

[2019-08-03 11:52] IvanJasenov commented on #11103
On VSCode Version 1.36.1, it's also buggy but this one works
`const Sequelize = require('sequelize').Sequelize;`

Thanks, @Platiplus

[2019-08-03 11:56] yuriploc commented on #7844
Something I couldn't understand from the docs is: should I use `reload()` when working with replicas and using the `useMaster`?

[2019-08-03 12:37] papb commented on #11103
Observe that `const { Sequelize } = require('sequelize');` is more readable (IMO).

[2019-08-03 12:38] papb commented on #11269
Since you're using migrations, you probably have a `config/config.js` file, right? Just temporarily change the connection configuration there to use sqlite. Good luck

[2019-08-03 12:44] papb commented on #11114
@rolandleth What is the difference? What you said seems the same thing posted by OP, no?

By the way `Account.prototype.setDataValue("passwordHash", hash)` won't work because it loses the bind context, what would make sense is something like `Account.prototype.setDataValue.call(this, "passwordHash", hash)`.

[2019-08-03 13:17] rolandleth commented on #11114
Oh, I totally missed OP's `bind(this)` 😞 I thought it behaves differently because I'm using classes, which is why I also thought about a different issue. Thank you for the `call(this...` suggestion!

Have a great Saturday, @papb!

[2019-08-03 13:28] papb commented on #11114
@rolandleth Thanks! You too!

[2019-08-03 14:35] jetaimefrc commented on #11269
Yes, but I used connect string and parse it to config new Sequelize, if I change to sqlite => Change a lot of code :(

[2019-08-03 14:39] papb commented on #11269
@jetaimefrc You should try to create a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)). Put your project aside, create a new empty folder, start a new project (`npm init -y`) where you begin from scratch with the sole goal of reproducing the above problem with the least code as possible... Without this we won't be able to help y

[2019-08-03 14:57] jetaimefrc commented on #11269
Okie, I create a reposity on github, hope you can fix it!
Link: [https://github.com/jetaimefrc/test-sequelize](https://github.com/jetaimefrc/test-sequelize)

[2019-08-03 18:20] yuriploc commented on #3977
When doing something like

[code]

Do you have to use `reload()`?

[2019-08-03 18:30] papb commented on #11269
Hello, I have cloned your repository, and after executing `npm i && npm run migrate:up`, I got no errors:

[code]

Did I miss something?

[2019-08-04 04:17] ratulSharker commented on #11052
I didn't solved it, but used a workaround, Given my `User` & `UserType` analogy, I was intend to use `hasOne` association, instead of that, i used `belongsTo`. Note that `belongsTo` & `belongsToMany` works just fine as the documentation says.

[2019-08-04 04:31] c1oud45 commented on #10982
Hi, did you find any workaround for this issue?

[2019-08-04 05:06] axusmark commented on #1707
https://medium.com/@vapurrmaid/separating-concerns-by-using-errorr-handling-a-case-study-with-sequelize-transactions-64434ef98b3a

[2019-08-04 06:45] foobst commented on #11275
Sorry for the delay... I'm a bit busy atm. I'll create a SSCE within the next week...

[2019-08-04 07:37] mdemblani commented on #9950
Still open

[2019-08-04 07:41] mdemblani commented on #10582
Still open. @sushantdhiman Would be great if you can comment on this issue.

[2019-08-04 11:15] sushantdhiman commented on #11258
`npm run setup-mssql` will fix hanging transaction issue if you are following docker guidelines. May need to run that command two times :)

[2019-08-04 11:52] chjiyun commented on #10137
i have this error today, Has this problem never been solved?
@aristocr2t @dsbert @jonmagic @mphilpot @aslakhellesoy

[2019-08-04 12:11] #11053 closed

[2019-08-04 12:22] sushantdhiman commented on #10206
:tada: This issue has been resolved in version 5.12.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-04 12:22] sushantdhiman commented on #11053
:tada: This issue has been resolved in version 5.12.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.12.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-04 17:19] jembach commented on #5193
any updates? 😅

[2019-08-04 20:11] GregDevProjects commented on #9708
I have a WIP commit for this issue, any feedback would be appreciated!

[2019-08-04 21:26] knoxcard opened #11278 "Upsert for MySQL/MariaDB"
why not add upsert for MySQL/MariaDB, any objections?

[code]

[2019-08-05 00:45] papb commented on #10137
OP has posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can someone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? We need this to be able to tackle the bug properly.

[2019-08-05 01:06] papb commented on #10914
Note: I have started investigating this. Hopefully I will have time to complete it soon.

[2019-08-05 01:06] papb commented on #10930
Note: I have started investigating this. Hopefully I will have time to complete it soon.

[2019-08-05 01:06] papb commented on #10932
Note: I have started investigating this. Hopefully I will have time to complete it soon.

[2019-08-05 01:06] papb commented on #10943
Note: I have started investigating this. Hopefully I will have time to complete it soon.

[2019-08-05 01:15] papb commented on #11278
Isn't it already implemented? At least for MySQL, apparently? From [the docs](https://sequelize.org/master/class/lib/model.js~Model.html#static-method-upsert):

[2019-08-05 02:44] jetaimefrc commented on #11269
Oop, I don't know why when I change file 00-User on the top file of migration => It's worked! But when I change the position to 08-User => Foreign key constraint ...
(Note: 01 => 07 Do not have any constraint with User Table)

![Screen Shot 2019-08-05 at 09 43 42](https://user-images.githubusercontent.com/24296018/62435207-8a37bf80-b765-11e9-836b-c8d08e78f622.png)

[2019-08-05 03:35] simkessy opened #11280 "Sequelize not creating association fields"
I'm a little confused with when Sequelize creates the fields for associations.

I've created my migrations using sequelize-cli. This generated a migration and model file. Then in the model file I populated my associations. Then ran `npx sequelize-cli db:migrate`.

This creates the tables but not the foreign keys needed for the associations defined in the model.

For example:
migration-quesions:

[2019-08-05 05:04] jetaimefrc commented on #10388
Still not working, hope you can fix @papb

![Screen Shot 2019-08-05 at 12 04 01](https://user-images.githubusercontent.com/24296018/62440176-20c1ac00-b779-11e9-865b-0f67804b3452.png)

[2019-08-05 06:34] knoxcard commented on #11278
My code is wayyyy better, lol

[2019-08-05 06:51] sushantdhiman commented on #11278
You can keep that optimization as user defined model class method. I don't think I would like to include this to library. We already got native upsert for MySQL, so not need for this method.

[2019-08-05 06:51] #11278 closed

[2019-08-05 07:20] mickhansen commented on #7884
There's always been some issues with having `N concurrent transactions` where `N` is greater than your `pool.max`, i forgot the specific case but you could end up with code waiting for a connection to do something to finish up the transactions but the transactions had all the connection etc.

[2019-08-05 07:21] mickhansen commented on #7884
For reference my company has been running Sequelize against RDS for 4+ years with no issues, if there were ever connection issues it's cause there were actually connection issues.

[2019-08-05 13:20] papb opened #11284 "What is the model parameter in sequelize.createTable() used for?"
## What was unclear/insufficient/not covered in the documentation

What is the `model` parameter in [`sequelize.createTable()`](https://sequelize.org/master/class/lib/query-interface.js~QueryInterface.html#instance-method-createTable) used for?

### If possible: Provide some suggestion how we can enhance the docs

Improve [this line](https://github.com/sequelize/sequelize/blob/748f69080fdf86b8968e

[2019-08-05 13:21] knoxcard commented on #11278
Totally understood.  Maybe others can benefit from reading this ticket in the future.  I am just glad I know how to do all this. :-)

[2019-08-05 13:22] papb commented on #11280
I believe the docs could use some extra clarification, indeed. The behavior you are seeing is correct, in principle. The migration is something that changes the database according to what you told it to do, there isn't much extra magic behind the scenes, so you have to put the foreign keys explicitly in your migration.

[2019-08-05 13:34] papb commented on #11269
Yeah, the order in which migrations are executed is very relevant... In fact, when using `sequelize.sync()` instead of migrations, the models are automatically [topologically sorted](https://en.wikipedia.org/wiki/Topological_sorting) to get the right order.

Some clarification in the docs would be nice. I will leave this open as a documentation issue.

[2019-08-05 14:03] papb commented on #10388
Is this solely an issue with migrations, or something similar can be reproduced without the CLI?

[2019-08-05 15:41] jetaimefrc commented on #10388
It's migrations!

[2019-08-05 15:42] jetaimefrc commented on #11269
Thank for your help! Keep going!

[2019-08-05 15:43] papb commented on #10388
@jetaimefrc Are you saying that running the `queryInterface.createTable()` call outside the migrations environment works?

[2019-08-05 15:46] jetaimefrc commented on #10388
I do migrate up to migrations table! Yes, I used queryInterface.createTable()

[2019-08-05 17:09] simkessy commented on #11280
I realized I could use the sync() method to have the database reflect the models. I don't see the point of the migration files however in that case. It's a lot simpler for me to setup the models then it is to go through and update migration files to add additional columns. Docs should be updated, it's not very clear.

[2019-08-05 17:38] papb opened #11285 "queryInterface.createTable() does not work with ARRAY(ENUM) with defaultValue"
## What are you doing?

In postgres:

[code]

**To Reproduce:** Just run the snippet above, no models or other setup needed
2. See error: `TypeError: Cannot read property 'getTableName' of undefined`

## What do you expect to happen?
It should work

## What is actually happening?

`TypeError: Cannot read property 'getTableName' of undefined`

Thrown at line:

https://github.com/sequelize/sequelize

[2019-08-05 17:39] papb commented on #10388
I discovered that this is not a Migrations issue. I opened a clean new issue to track this: #11285

[2019-08-05 17:39] #10388 closed

[2019-08-05 18:04] papb commented on #10582
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can you (or someone else) please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

I even tried to setup the rest of it by myself, but I couldn't get your "Method 1" to work (I got `Typ

[2019-08-06 02:40] wbget commented on #11114
[code]

[2019-08-06 04:39] mtn commented on #8918
Did anyone get this deterministically working? Running into the same problem and I've tried a few of the notes above.

[2019-08-06 04:41] dougmaitelli commented on #1533
Is this still happening? I suspect I am facing the same issue. Am using sequelize-typescript, and without the transaction the changes do go to the database without any problems, using transactions the commit is executed fine according to the logs but no data is actually saved.

[2019-08-06 05:42] wildcookie007 commented on #8918
Yes, you have to make sure the tests are running sequentially and not in parallel. Use `--runInBand` flag.

[2019-08-06 06:20] jslok commented on #6408
Same issue here

[2019-08-06 06:22] jslok commented on #7931
Still an issue on 5.12.3
Setting `raw: undefined` instead of `raw: false` works for me as @purepear said.

[2019-08-06 06:42] iranianpep commented on #9502
Any suggestion for this problem? Why it's closed without any comment?!

[2019-08-06 06:49] sushantdhiman commented on #9502
I think because issue template was not followed, ` newObjModel.findOne({});` need current transaction object to access any rows created during that transaction.

[2019-08-06 09:06] mmmmmrob opened #11288 "Order and Limit by included model"
## What are you doing?

Ordering or limiting by an associated model. Example here would be:

**find the 10 brands with the best reviewed stores**

Other examples might be:

- find users who most recently posted
- find brands with stores closest to me
- find products that were most recently purchased

Lots of cases where you want to find a distinct set of a model, ordered by a property of an associ

[2019-08-06 13:03] holm commented on #10819
I think it would be a massive shame to remove CLS support. As many others have mentioned using Node 8 or higher with `cls-hooked` _just works_ for us. There is never any problems.

Having a transaction per request is a really good practice, and by removing this, you make it hard to do the right think. Passing around a transaction everywhere is a massive pain in the neck, that complicates everythin

[2019-08-06 13:58] papb commented on #10819
@holm It was not removed from master. It is removed in the v6 branch, which is still `@next`. PR #10817 was a partial refactor.

As I said in [another comment](https://github.com/sequelize/sequelize/pull/10817#issuecomment-515578740), I doubt a new major version will be released without providing an equivalent to the previous CLS usage, such as a separate plugin as @SimonSchick mentioned once.

Do

[2019-08-06 15:14] papb commented on #1533
@dougmaitelli If you are still having problems, please open a new issue. Also, try to reproduce the problem without `sequelize-typescript`, otherwise you should open your issue there instead.

[2019-08-06 15:17] papb commented on #6408
I will reopen this, but we maintainers need a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to be able to work on it.

As janmeier said a long time ago:

When someone provides one, we shall look into it. Thanks!

[2019-08-06 15:52] lucastaliberti commented on #10142
Hey @papb sorry about that. Do you have any recomendation on how to that properly ? I can only think of mocking the database, if that is what you have in mind. I can do it.

[2019-08-06 17:54] papb commented on #11288
I was able to reproduce in the latest version.

But if this would be "fixed", it would be a breaking change... I can also see usage for the current behavior, no? Perhaps this should be considered a feature instead of a bug?

[2019-08-06 20:21] mtn commented on #8918
Hm, that seems not to be my problem. With a single test, even including a `await .sync()` in `beforeAll` or elsewhere in the testing harness, I always end up with undefined table errors. But if I move the `sync` outside the main codepath, it works.

[2019-08-06 22:02] knoxcard commented on #10913
@papb - wouldn't you still need two beforeHooks: **beforeUpdate()** and **beforeUpdate()**?

[2019-08-06 23:14] iranianpep commented on #9502
Thanks for the clarification and quick response.

[2019-08-06 23:45] papb commented on #10913
Hello, let me try to understand this better. Your goal is to save formatted JSON directly in the database, right? That doesn't make sense to me, can you please elaborate? Why should I spend a lot of extra bytes with `\n`, `t`, spaces and such things?

[2019-08-06 23:51] papb commented on #10142
@lucastaliberti I just want a code that I can copy-paste and run and see the problem. If I try to run the code in your first post, I will obviously get a `Patient is not defined` error in the first line. So just provide a model definition, and `create()` some instances if necessary.

In short: just put yourself in my shoes trying to reproduce your problem with the least effort as possible :grimaci

[2019-08-07 02:25] jetaimefrc commented on #11285
. (To watch to be notified the solve!)

[2019-08-07 03:48] knoxcard commented on #10913
I do this because that's how I view all my site information.  Lots of people do not have admin sections to their site and they view their raw mysql data.  I use a database viewer: HeidiSQL,

[2019-08-07 05:04] marcpre opened #11289 "SequelizeDatabaseError: Cannot truncate a table referenced in a foreign key constraint"
## What are you doing?

I have defined two models, **company** and **dividend**

[code]

## What do you expect to happen?
I want to truncate the model with a foreign key constraint

## What is actually happening?

When trying to truncate both models I get the following error:
[code]
## Environment
Dialect:
- [x] mysql

Dialect **"mysql2"** version: `"^1.6.5",`
Database version: Server-Version: 10.

[2019-08-07 06:10] sushantdhiman commented on #11289
Use `cascade` option https://sequelize.org/master/class/lib/model.js~Model.html#static-method-truncate

[2019-08-07 06:10] #11289 closed

[2019-08-07 07:50] mmmmmrob commented on #11288
@papb I can see it could be a breaking change. I'd be _super happy_ to simply be told I'm approaching it wrong. The essence of the problem is how to I get a limited set of model A, sorted by a property of associated model B.

[2019-08-07 09:26] mdemblani commented on #10582
I got a SSCCE ready to work, but for an unknown reason, I am currently unable to reproduce the issue on the same sequelize version mentioned above. The query generated by both the methods are correct without the above mentioned issue.

Although I'll try the same thing out at a later point to see where was the fault.

[2019-08-07 12:11] papb commented on #10913
@knoxcard Hmm, I see... Still, I think it's a bit too specific to be built-in in sequelize. Perhaps you can write a plugin or something?

Also:

What did you really mean here?

[2019-08-07 13:05] range-of-motion commented on #10929
MySQL. No clue. I just wanted to grab the createdAt and updatedAt values in YYYY-MM-DD format.

[2019-08-07 13:43] papb commented on #10929
Ah, I thought you found out how to use those options. Looks like you still don't know, right?

(I don't know either, would have to check)

[2019-08-07 13:51] papb opened #11291 "The manuals should clarify how eager loading works with paranoid"
## What was unclear/insufficient/not covered in the documentation

The manuals do not make clear what happens when a finder method such as `findAll` tries to `include` an associated model which has some softed-deleted instances. Does every instance come in the query? Or only the non-soft-deleted ones?

### If possible: Provide some suggestion how we can enhance the docs

Add a subsection to the ma

[2019-08-07 13:54] tybro0103 commented on #5744
Tangential, but you can use the `earthdistance` postgres extension instead of doing this math yourself.
[code]

[2019-08-07 14:51] rener172846 commented on #3256
any update for this issue?

[2019-08-07 16:03] papb commented on #3256
@rener172846 Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

[2019-08-07 16:28] papb commented on #10941
I suspect that this is a problem with all dialects... Can you please test this with another dialect? This is important to know whether the problem is dialect-specific or not.

You can instantiate an in-memory SQLite instance very easily:

1. `npm install sqlite3`
2. `new Sequelize('sqlite::memory:')`

You can instantiate a local postgres instance very easily:

1. Run a local postgres
    * On wind

[2019-08-07 16:42] rener172846 commented on #3256
With the sqlite3, it occurs rather another error: `SQLITE_ERROR: near \"AS\": syntax error`.
However I checked the generated sql and confirmed that the `id` field is still included on the sql.

My codes are like as following:
[code]

and generated sql:
[code]

As you can see there are still `media.id` and `reply.id` on the sql. That's same on postgresql and sqlite3.

[2019-08-08 08:24] sm2017 opened #11296 "Force bind"
How can I force sequelize to always **Bind Parameter** not **Replacements**

Sometimes findAll , findByPk replaces parameters

[2019-08-08 09:06] ustun opened #11297 "Add findByPks convenience method"
A common thing we do is searching for model that match a given id set. This is not that hard with the following clause: `Model.findAll({where: {id: {[Op.in]: [1, 2, 3]}}})`, however it might be easier if a `findByPks` method was added so that one would do `Model.findByPks([1,2,3])` and/or `Model.findByPks(1,2,3)`.

Rails has this: https://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html

[2019-08-08 09:25] HKFiliatix opened #11298 "Before hooks should be able to cancel the query"
Sometimes need to cancel query in hook, if some conditions not met.

**Describe the solution you'd like**
As I can see from code (example findAll) result of hook execution aren't used - so maybe `return false` can be used to cancel the query and exit from promise chain?

Now I do this by throwing cancelQuerySequelizePseudoException and catch it outside, but this way is tricky.

[2019-08-08 09:37] ustun commented on #5561
The following works for me as suggested above:

`
    createdAt: {
      type: DataTypes.DATE,
      defaultValue: sequelize.literal('NOW()')
    },
    updatedAt: {
      type: DataTypes.DATE,
      defaultValue: sequelize.literal('NOW() ON UPDATE NOW()')
    }
`

However, I believe the defaults could be changed to this, so maybe this issue needs to be re-opened. Is the difficulty there to track

[2019-08-08 12:07] JamesJansson commented on #11257
PR here: https://github.com/sequelize/sequelize/pull/11299

[2019-08-08 12:18] vinniimiranda commented on #4553
Where this "models" came from? I couldn't import that in my code.

[2019-08-08 12:20] lokidarkeden commented on #10732
I supose the code used to work around the issue should be moved into the Sequelize.col function, making the process transparent. I used some similar approach in the past with Sequelize 4.x, when updated to 5.x, the inner names seems to have changed and my software broke. Anyway, just leaving my +1 to this issue. By now, I will use the approuch in "What I have tried", thanks @wangzc93

[2019-08-08 13:51] aat2703 commented on #11250
I'm also experiencing this... I've just upgraded sequelize-typescript v4 to v5 and in v5 sequelize-typescript uses the native sequelize typescript mappings... The issue seems to be that for example the CreateOptions does not take the model as input and therefor does not know the class attributes.

If CreateOptions could receive a model of type M, it would work :)

Check on this line:
https://githu

[2019-08-08 13:57] papb commented on #11250
@aat2703 As @sushantdhiman said, can you show a real example of the autocomplete not working that we can reproduce?

[2019-08-08 14:01] aat2703 commented on #11250
Inside the fields: [] attributes cannot be auto-completed or recognized by the IDE

`		Bookings.create(
			event.body.booking,
			{
				fields: [
					'state',
					'type',
					'startDate',
					'endDate',
					'name',
					'phone',
					'email',
					'guests',
					'note',
					'walkIn'
				],
				include: [
					{
						model: Tables,
						as: 'tables',
						association: 'tables'
					},

[2019-08-08 14:26] thecpdubguy commented on #10202
Is there any update on this? I could go poking around to see what I can come up with but I don't know the codebase all that well.

[2019-08-08 15:35] papb commented on #4553
@vinniimiranda Try `sequelize.models`

[2019-08-08 15:35] papb commented on #4553
Also I will reopen this as a documentation issue because indeed the docs deserve improvement.

[2019-08-08 16:12] papb commented on #11250
@aat2703 You mean this?

![](https://i.imgur.com/1HnznS3.png)

Autocomplete should work here?

[2019-08-08 16:14] papb commented on #10202
@thecpdubguy If you could investigate and submit a PR that would be great!

[2019-08-08 16:48] aat2703 commented on #11250
Webstorm cannot find the declaration? This works with sequelize-typescript v4 interfaces which generally makes much more sense that native sequelize interfaces...

<img width="706" alt="tenant" src="https://user-images.githubusercontent.com/10488234/62721406-6944c800-ba0c-11e9-8b62-8a0485fcfa7f.png">

Lets look at the difference

sequelize-typescript declaration:
https://github.com/RobinBuschmann/

[2019-08-08 20:37] papb commented on #11250
@aat2703 Can you guide me on how to make this intellisense work?

[2019-08-08 21:15] aat2703 commented on #11250
Making FindOptions take a generic type FindOptions<M> and pass it into the WhereOptions. This would make auto-completion work anywhere. What do you think?

[code]

[2019-08-08 21:32] papb commented on #11250
@aat2703 Thanks for the snippet, although I have to apologize because I wasn't clear... I wanted to ask something else...

What I wanted to ask is: is the behavior you want currently achievable somehow? Some specific IDE, some specific version of sequelize, sequelize-typescript, etc?

[2019-08-08 21:47] aat2703 commented on #11250
Yeah, it works great with sequelize-typescript v0.6.11 & sequelize v4.43.2

Its because sequelize-typescript < 1 implements its own interfaces that works as i've described above

[2019-08-08 22:27] papb commented on #11250
@aat2703 ah, I see! Would you be willing to submit a PR?

[2019-08-08 22:52] aat2703 commented on #11250
Yeah, i'm working on it right now actually 👍

[2019-08-09 00:55] knoxcard commented on #10913
@papb - agreed, too much for Sequelize, already moved it over to the mariadb driver npm.
https://github.com/MariaDB/mariadb-connector-nodejs/issues/68