[2019-09-20 08:54] cyrilchapon commented on #3781
Related : https://github.com/sequelize/sequelize/issues/3101

[2019-09-20 13:31] papb commented on #3781
@cyrilchapon I agree! Hence this issue is still open.

[2019-09-20 13:38] jpinkster opened #11459 "Many association in findOne does not return results"
## Issue Description
@sushantdhiman In 5.18.4, that commit introduced in issue in which the findOne logic no longer returns results it did prior to 5.18.4. As soon as you add an association that is a HasMany or BelongsToMany it just returns null. The query data from the database comes back with data but from sequelize it just returns null.

### What are you doing?
[code]

### What do you expect to

[2019-09-20 16:02] papb commented on #7773
I'm surprised this problem still persists for so long :(

This might be related to sequelize/sequelize-pool#12 (also see https://github.com/sequelize/sequelize/pull/11456#issuecomment-533409558)

[2019-09-20 17:09] ghmd86 opened #11460 "Conversion failed when converting date and/or time from character string."
I am trying to update/insert a datetime stamp value in a table, I am getting the 'Conversion failed when converting date and/or time from character string':
Example for an update code:
CODE:
[code]
### What do you expect to happen?
I expect it to store / update the value.

### What is actually happening?
It is throwing an SequelizeDatabaseError error with following message:

'Conversion failed whe

[2019-09-20 18:24] levibostian commented on #11032
I encountered this issue yesterday afternoon and I did some debugging with the sequelize source code. Read below for (1) solution(s) to the problem (2) my findings from debugging on the problem (3) and my proposed long-term solution to the problem.

TL;DR - If using Babel (which probably means you're using the `@babel/plugin-proposal-class-properties` plugin), create a custom constructor in your c

[2019-09-20 22:20] sturdynut commented on #2577
Just a follow up.  I am making progress on this, slowly but surely.

[2019-09-21 07:08] LiZhouYang5612 opened #11461 "[create, update] method print sql no parameters"
Is this done for safety?
Not friendly for our positioning problem
Can it be used as a configuration option?

[2019-09-21 07:10] martt70 opened #11462 "Unable to search multiple tables."
I am trying to search two(2) TABLES using promises but it doesn't seem to work.

router.get("/search", (req, res) => {
const { term } = req.query;

Promise.all([boiler_houses.findAll({ where: { equipment_type: { [Op.like]: '%' + term + '%'  } } }),compressor_houses.findAll({ where: { equipment_type: { [Op.like]: '%' + term + '%'  } } }) ]).then(gigs=>
res.render('gigs', {
      gigs})).catch(err =

[2019-09-21 07:13] bsienn opened #11463 "Sequelize creates weird query"
## Issue Description

Sequelize created query is not efficient when explained and it creates a weird query although i could simply create a simple join in raw query that works better. Please have a look in the SO link below where I posted the relation and code in there.

Please see and help me out whether I'm doing somthing wrong or its the behaviour of sequelize.

### StackOverflow / Slack attemp

[2019-09-21 16:32] rfink commented on #2325
I just gotta say, the label "hard" made me chuckle. I have a few of those piling up on my projects XD

[2019-09-22 01:00] mjy78 commented on #11313
I'm seeing a similar symptom where count is correct, but rows are empty, when using limit/offset (also Postgres dialect). In my case I've enabled query logging, and can actually see the rows are being returned from the query in both cases (with and without limit/offset).

I've dug deeper and it looks like the call to AbstractQuery._groupJoinData() inside of handleSelectQuery() is wiping out the re

[2019-09-22 06:51] sunwukonga opened #11465 "BelongsToMany Instance.add{$plural} sourceKey get() used, but set() on join table not"
## BelongsToMany association doesn't use custom set on sourceKey field.

### I have custom set() and get() on my primary key on a message model. I'm using [ulid](https://github.com/ulid/spec) on a BINARY(16) field. In my API I'm using the canonical form, e.g. '01DNBHWZZ9CMW7MW5Z9NHFNTNF'.

This works fine in and of itself, but as soon as I begin creating associations, the `get` is fired to get the

[2019-09-22 08:30] nichatr commented on #7197
Could you elaborate how it is done?
I'm using sequelize models for the tables and add associations, so the query for me is actually a findOne/findAll with the addition of "includes".

[2019-09-22 10:15] cskiwi opened #11466 "Require references wrong"
## Issue Description

### What are you doing?

When adding sequelize to a netlify lambda project, the project has it's references wrong (I think)
reproduction:

- clone from: https://github.com/netlify/create-react-app-lambda.git
- add sequelize `yarn add sequelize sqlite3`
- add following code to one of the 2 functions in the `src/lambda` folder:
[code]

### What do you expect to happen?

When go

[2019-09-22 11:01] AndreiPanasuk opened #11467 "Bug where processing include virtual attributes"
## Issue Description

### What are you doing?

[code]
### What do you expect to happen?

_I wanted:
[code]
### What is actually happening?

_The output was:
[code]

### Additional context

### Environment

- Sequelize version: 5.8.6
- Node.js version: 10.12.0
- Operating System: Windows? Linux

## Issue Template Checklist

### How does this problem relate to dialects?

- [X] I think this problem h

[2019-09-22 14:02] sunwukonga commented on #11465
Technically, the problem outlined can be solved by adding { raw: true } to the Instance.get calls in lib/associations/belongs-to-many.js. However, that's just for this specific case and each type of association would have to be addressed similarly, and furthermore I didn't run the Sequelize tests to see if there were unintended consequences to those changes. In short, it didn't seem like the hill

[2019-09-22 14:07] sunwukonga commented on #11465
Some alternatives I considered and discarded were:

 - Using triggers directly on my MySQL database.
 - Defining a custom ULID type for Sequelize (I couldn't quickly grok how to put setters and getters on a custom type, or even if it's possible as I didn't find any examples of it).

[2019-09-22 14:16] sunwukonga commented on #11465
(#10484)[https://github.com/sequelize/sequelize/issues/10484] would seem to be related. It is closed as though fixed, so either a) it's not really fixed, or b) I'm misinterpreting it as the issue I experienced.

[2019-09-22 14:34] MegaFAX commented on #11313
Any forecast?

[2019-09-22 16:02] mkg20001 opened #11468 "findAndCountAll does not work with distinct, count is right but rows is wrong"
## Issue Description

### What are you doing?

[code]

### What do you expect to happen?

It should count the distinct padIds and `result.rows` should be an array containing all the padId's

### What is actually happening?

The count is working, the select just selects all the parameters instead of just the distinct padIds

[code]

### Additional context
Add any other context or screenshots about

[2019-09-22 16:45] gzurbach commented on #9432
I am trying to connect to a DigitalOcean managed MySQL instance which is running 8.0.16 and has `default_authentication_plugin=caching_sha2_password`. I cannot edit the system variables so I have to find a client that works.

Uninstalling `mysql2` and installing `@mysql/xdevapi` did not work because Sequelize cannot find the new client.

@DayBr3ak Is it possible to tell Sequelize to use the new cl

[2019-09-23 05:54] billythekid97 commented on #7667
Is this problem resolved? I got stuck in the same issue

[2019-09-23 06:12] Leerat commented on #7367
still

[2019-09-23 09:28] omegascorp commented on #10946
Looks the issue is only partially fixed in `mariadb` driver.

Where you read records from `MariaDB` via `mariadb` driver, Sequelize provides JSON values as objects, but if you use `include`, subitem JSON fields are provided as strings.

Here is a code snippet:
[code]

See a working demo here: https://github.com/omegascorp/sequelize-mariadb-json-test

[2019-09-23 15:05] ghmd86 commented on #11460
I used the following and it resolved the issue:
'LastUpdatedOn': Sequelize.fn('GETDATE')

[2019-09-23 15:05] #11460 closed

[2019-09-23 16:59] slidenerd commented on #7051
@fahrenq this returns every ID if the id in question is primary key of type UUID, we are talking sequelize v5.19.0 and dialect postgres

[2019-09-23 20:05] joequincy commented on #11209
It looks like this is in progress... visiting a page like `https://docs.sequelizejs.com/en/latest/docs/associations/` (Google points here) appropriately redirects to `https://sequelize.org/master/manual/associations.html`

However, the current cert served for `https://docs.sequelizejs.com/*` is assigned for `*.surge.sh`, which causes browser warnings in at least Chrome and Firefox, e.g.
![SSL_ERRO

[2019-09-23 23:43] poldridge commented on #10975
We are encountering this now too. Setting the isolation level for a transaction doesn't work at all in MySQL. Instead the isolation level is applied to the next transaction that happens to use the same connection.

The `SET TRANSACTION` statement needs to come before the transaction starts for MySQL. I can look into making a PR some time this week.

[2019-09-24 00:24] ccemeraldeyes commented on #1711
This is still a problem, why is this issue closed?

[2019-09-24 01:28] papb commented on #11209
@joequincy Indeed I was able to reproduce this, @sushantdhiman can you take a look?

[2019-09-24 01:34] papb commented on #1711
@ccemeraldeyes Can you please provide a SSCCE, many people complained already but no one gave a SSCCE, thanks :)

[2019-09-24 01:45] tukno commented on #10857
Hello,
I was having the same problem as @twistedrc1017 with the timestamps `created_ at` and `updated_at`.
The timestamps fields were both defined as snake case in the model:

![image](https://user-images.githubusercontent.com/14236708/65474166-d2f82480-de48-11e9-8a62-8ac49f594364.png)

And both undescored and undesrcoredAll were set to `true` in my database configuration file:

![image](https://u

[2019-09-24 03:50] donvie commented on #10472
https://github.com/realdubb/sequelize/commit/0c4674013486be36e96e1c310a91aaa95bd931de
this will fixed all your problem

[2019-09-24 07:20] sushantdhiman commented on #11209
We can't fix `docs.sequelizejs.com`, that's why I got new domain `sequelize.org`

[2019-09-24 10:15] pratts opened #11469 "Unable to set the Indian standard time in timezone settings"
## Issue Description
Hello, we are trying to set the timestamp to IST, i.e. Asia/Kolkata. But, we are getting IANA standard related errors while running queries on TIMESTAMP fields.

### What are you doing?
'use strict';
const Sequelize = require( 'sequelize');
const config = require("../../bin/config");
const mysql = require('mysql2/promise');

module.exports = {
	connectionPool : new Sequelize(c

[2019-09-24 12:44] iszlailorand commented on #7344
If I understand well, your limit and offset is broken by the join, I think you can use group by `Events.id` and you will get a good result, but instead of count you will get an array of counts and the real count is the length of the array. something like this:

` {
  count: [
    { count: '3' },
    { count: '1' },
    { count: '1' }
  ],
  rows: [
    {
      dataValues: [Object],
      Tags: [Ar

[2019-09-24 13:33] lich666dead opened #11470 "don't work psql "pg-native""
## hello guys.
I have a problem with sequelize:
i want make a connection cluster via psql,

for example
[code]
This work for pg-native lib, i tried override prototype connection but receive this error

[code]

[2019-09-24 16:44] bssergy opened #11471 "String based operators are deprecated"
I'm using string based operators with POST request to get filtered data:
[code]
`User.findAll({ where: body.user });`
What should I do without string based operators?

[2019-09-24 17:58] dursk opened #11472 "Cannot extend ABSTRACT data type to create custom data types"
## Issue Description

[code]
This does not work as expected, since when the data types are exported they are exported as `Proxy` objects. The overrides are not taking on the subclass.

### What are you doing?

[code]

### What do you expect to happen?

`"foo"` should be returned

### What is actually happening?

`"ABSTRACT"` was returned
[code]

- Sequelize version: 5.8.6
- Node.js version: 10.15.

[2019-09-25 05:46] EricPKerr commented on #11468
I think I have a fix for this, but I'm not quite sure how to pull it into this project:

In `abstract/query-generator.js`

Change:
[code]

To this:

[code]

Basically you don't want the LIMIT/OFFSET part to be in the subQuery if there is joined (included) table that is `required: true` and would potentially restrict the results.  You need to move these to the `mainQueryItems` outer query.

Only th

[2019-09-25 05:46] EricPKerr commented on #10812
Posted a potential solution here: https://github.com/sequelize/sequelize/issues/11468

[2019-09-25 05:47] EricPKerr commented on #10557
Posted a potential solution here: https://github.com/sequelize/sequelize/issues/11468

[2019-09-25 06:17] pratik-freightwalla commented on #5760
[code]

This worked for me, 3 layers in the JSON object

[2019-09-25 06:20] LiZhouYang5612 commented on #11471
const Op = require('sequelize').Op;

[2019-09-25 06:29] bssergy commented on #11471
But it means, I need manually parse my body and change "not" with Op.not. It can be hard to implement with nested and, not, or operators

[2019-09-25 09:13] tiagomestreteixeira commented on #10020
I'm facing the same issue on sequelize version: 4.42.0

[2019-09-25 11:15] flashspys opened #11473 "Options missing in QueryInterface::bulkDelete"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

In `QueryInterface::bulkDelete` the option `restartIdentity` and `cascade` are not documented.

https://sequelize.org/master/class/lib/query-interface.js~QueryInterface.html#instance-method-bulkDelete

I'm not using TypeScript, but if somebody (probably me) will solve this MR, one should check if the TypeScri

[2019-09-25 11:23] flashspys commented on #11473
Dear lovely maintainers, what would be the process if I want to solve this issue by my own?

[2019-09-25 12:47] papb commented on #11473
Hello :grimacing: Thanks for the report!

This is great.

The documentation you linked is automatically generated from JSDoc block-comments. For example, the docs that you observed to exist in `Model::destroy` are defined [here](https://github.com/sequelize/sequelize/blob/fb3f0734e1c5e1620433d0ce7176f159ad15e8b4/lib/model.js#L2878-L2879).

What you have to do is simply update the [JSDoc block-comm

[2019-09-25 12:56] papb commented on #10020
@tiagomestreteixeira Can you please open a new issue about it, filling in the issue template, including a SSCCE, and also link to this one? And also try with sequelize v5?

[2019-09-25 13:35] HopefulLlama opened #11474 "Attributes or Options format unclear"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

Reading through the documentation for methods such as `queryInterface.createTable`, there does not seem to be any listing of what an `Attribute` is or what `options` it can accept.

### If possible: Provide some suggestion on how we can enhance the docs

Add/Link (if already existent), the definitions of an `

[2019-09-25 17:33] papb commented on #11432
@jpvanoosten Thanks for the detailed report, can you please open a new issue, and link to this one? Thanks

[2019-09-25 21:00] german970814 commented on #9401
How can solve that?

[2019-09-25 21:30] mayankiitg opened #11477 "Sequeluze v5, mimic arrays as string using getters/setters not supported anymore?"
We are using getters/setters in v4 for mimicking arrays and storing strings in the DB.
when I am trying to upgrade to v5, it now throws an error and it seems it's not supported anymore, Can someone please help, what is the new way to achieve this?
[code]

[2019-09-26 01:24] ccemeraldeyes commented on #6717
please reopen, this is still an issue.

[2019-09-26 02:00] papb commented on #11477
I have successfully mimicked arrays as string using getters/setters in sequelize v5. So this is most certainly an issue somewhere else. Looks like you're using sequelize-typescript, so this is most likely not a problem with Sequelize. Therefore I will close this.

Note: If you disagree, please post a complete issue, following the bug report template, including a SSCCE that does not use sequelize-t

[2019-09-26 02:00] #11477 closed

[2019-09-26 02:05] papb commented on #10278
@nithishjv Not that I know of. Also, it would be great if you (or someone else) could open a new issue about this, filling our feature request template, since this issue is too far from our current feature request standards. If you do, I will close this one as a duplicate of the new one. Thanks!

[2019-09-26 02:07] papb commented on #607
@geyuqiu Can you please open a new issue, filling the template, describing your issue in more detail? And link to this one? Thanks.

[2019-09-26 02:11] papb commented on #8746
@harpcio That looks like an ugly workaround, but interesting regardless... Would you be willing to open a feature request posting what problem did you encounter (with example) and then showing your workaround for now? I think Sequelize should be able to solve what you're trying to do in a better way. Thanks!

[2019-09-26 02:34] papb commented on #6717
Hello @ccemeraldeyes - To me it looks like the specific problem in the first post stems from the fact that sequelize automatically adds an `id` field to every model; so when #3142 gets fixed, OP's problem would cease to exist as well.

Have you experienced a similar problem (i.e. as in title, "*removeAttribute does not update default scope*"), with a field other than the auto-generated `id`?

[2019-09-26 03:05] LiZhouYang5612 commented on #11471
instance.update({
  count: sequelize.literal('count + 1'),
});
It causes the value on this column to be 0,
Do you know how to solve it?

[2019-09-26 03:10] LiZhouYang5612 opened #11478 "How to solve the update sequelize.literal('count + 1')?"
In sequelize@5.19.0
instance.update({
    count: sequelize.literal('count + 1'),
});
It causes the value on this column to be 0,
Do you know how to solve it?
instance.increment method can only increase the value, not update

[2019-09-26 06:12] jasonlttl commented on #10185
No idea if this is a good way to do this or not, but the bulkInsert method will actually perform the identity_insert statements on its own if you pass in some extra information. In this example, "id" is an autoincrementing value.

[code]

[See the needIdentityInsertWrapper logic here](https://github.com/sequelize/sequelize/blob/master/lib/dialects/mssql/query-generator.js#L304)

[2019-09-26 08:46] #11478 closed

[2019-09-26 12:59] DarkGigas opened #11479 "Problem with filtering fild from include"
## Issue Description

I'm having some issues trying to do a findAll method in sequelize and using the "include" option to do some inner joins and filter through the fields of the tables that I included.

I've tried to add a where option in the included object thinking that it would work like a normal where clause but it added the clause to the inner join.

Both this description and the code exampl

[2019-09-26 16:08] JamesMGreene commented on #10812
Related: #10557

[2019-09-26 17:52] sm2017 commented on #11296
@papb I want to know when you can fix it?

[2019-09-26 17:54] sm2017 commented on #11173
@papb this is not just question
Really it is not possible with addIndex method

[2019-09-26 18:20] mschipperheyn opened #11481 "findAndCountAll should allow you to exclude certain keys from the count query (loadMore)"
`findAndCountAlL` is a nice convenience method for getting an array of results and a total count for pagination purposes.

There is one common scenario in which this breaks: cursor based loadMore loading.
A cursor allows you to load "more" by saying something like `createdAt < createdAt of last item in the list`.

Unfortunately, the resulting findAndCountAll will contain a new count using the curs

[2019-09-26 19:09] ryd0rz commented on #11189
I'm having same issue.

Errors out when - subquery: true and order + limit + includes
Wrong limit/offset when - subquery: false and order + limit + includes

Looks like a long standing issue, are there any community PR's to fix this anyone knows about?

[2019-09-26 20:53] AlbertEmil opened #11482 "Importing with async function in same code raises TypeError"
## Issue Description
Trying to import/require sequelize module raises `TypeError` when async function is in code

### What are you doing?

[code]

### What do you expect to happen?

Module should be imported without an error and available for use.

### What is actually happening?

`TypeError` is raised:

[code]

### Environment

- Sequelize version: 5.19.0
- Node.js version: 10.9.0
- Operating Sys

[2019-09-26 20:54] #11482 closed

[2019-09-26 20:57] AlbertEmil commented on #11482
I missed a semi-colon on the `require` statement. The line

`const Sequelize = require('sequelize')`

needs to be

`const Sequelize = require('sequelize');`

[2019-09-27 05:22] #11392 closed

[2019-09-27 05:23] #11447 closed

[2019-09-27 05:23] #11452 closed

[2019-09-27 05:30] sushantdhiman commented on #11479
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-09-27 05:30] #11479 closed

[2019-09-27 05:31] sushantdhiman commented on #11471
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-09-27 05:31] #11471 closed

[2019-09-27 05:34] sushantdhiman commented on #11470
You will need to use `native: true` when initializing sequelize. https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html

-------------------------------------

Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://githu

[2019-09-27 05:34] #11470 closed

[2019-09-27 05:35] sushantdhiman commented on #11472
Duplicate of https://github.com/sequelize/sequelize/issues/11177

[2019-09-27 05:35] #11472 closed

[2019-09-27 05:36] sushantdhiman commented on #11072
Moved to https://github.com/sequelize/sequelize/issues/11177

[2019-09-27 05:36] #11072 closed

[2019-09-27 05:36] sushantdhiman commented on #10964
Moved to https://github.com/sequelize/sequelize/issues/11177

[2019-09-27 05:36] #10964 closed

[2019-09-27 05:41] sushantdhiman commented on #11392
:tada: This issue has been resolved in version 5.19.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-27 05:41] sushantdhiman commented on #11447
:tada: This issue has been resolved in version 5.19.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-27 05:41] sushantdhiman commented on #11452
:tada: This issue has been resolved in version 5.19.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-27 10:42] tzs007 commented on #7110
that sets all db charset no only a column of table...

[2019-09-27 10:45] hocinekhen commented on #10141
this still an issue, I use Sequelize v5.19.1, it just hides the attributes but the attributes still shown in select

[2019-09-27 13:09] siddmv opened #11483 "Bulkcreate: Ignore if single row fails"
## Issue Description
Perhaps this already exists but, I could not find a way to achieve it. When using Bulkcreate, I would like the bulk insertions to proceed if a single row fails. It seems to me, presently, the entire array of objects does not proceed further if one error is encountered.

### Describe the solution you'd like
I have a bunch of objects that I could potentially create one at a time

[2019-09-27 15:51] lordscales91 commented on #9401
@german970814 This is just one year old? Damn it! I don't even remember the code I pasted on the first post XD. I think it was from a toy project, probably just experimenting with the ORM. So, sorry but I can't help you with this. However, according to my previous post on this thread, that trick is based on a parameter which is not part of the public API. So, it's very likely that in the latest ve

[2019-09-27 16:05] german970814 commented on #10493
Any updates about it?

[2019-09-27 16:07] german970814 commented on #9401
@lordscales91 thanks, it does not work yet, in the most recent version is not possible to query with `through: { attributes: [] }`

[2019-09-27 16:13] Jorgee97 commented on #10188
Did U manage to solve the issue @DenisBessa?

[2019-09-27 19:01] poldridge opened #11485 "6.0.0 and 7.0.0 are published on npm"
## Issue Description

npm has versions 6.0.0 and 7.0.0 of sequelize even though those are not valid releases yet:

https://www.npmjs.com/package/sequelize/v/6.0.0
https://www.npmjs.com/package/sequelize/v/7.0.0

[Someone ran into an issue](https://stackoverflow.com/q/57846020/772035) where running `npm audit fix` "upgraded" them to 6.0.0, which as far as I can tell, is not actually a [valid releas

[2019-09-27 19:12] RobertDaleSmith commented on #2498
I know we are on v5 now but for anyone that finds this and still not sure. The answer to this question for myself was done this way:
[code]

[2019-09-28 03:06] papb commented on #11485
Hmm, curious. @sushantdhiman can you take a look?

[2019-09-28 06:23] #11473 closed

[2019-09-28 07:00] #11483 closed

[2019-09-28 07:07] sushantdhiman commented on #11469
For `mariadb <= 2.0.3`, there was no support for named timezone. So we had to convert named timezone to their offsets https://github.com/sequelize/sequelize/blob/edf997fa706934612bc07821029bd66b70ab432c/lib/dialects/mariadb/connection-manager.js#L58

As `mariadb >= 2.0.4` now supports named timezones, we can switch this code in question. In your PR, detect mariadb library version. With help of `se

[2019-09-28 07:08] siddmv commented on #11483
Can you help give a pointer pls? Is this something one can already do today? Any help will be appreciated.

[2019-09-28 07:13] sushantdhiman commented on #11483
We do support `ignoreDuplicates / updateOnDuplicate` etc, https://sequelize.org/master/class/lib/model.js~Model.html#static-method-bulkCreate

These are dialect specific so I don't know if they will work for you, as you did not specified tour dialect in issue

[2019-09-28 07:15] sushantdhiman commented on #11466
I don't have windows, so can't reproduce this. Perhaps remove your node_module and try installing it again.

[2019-09-28 07:18] sushantdhiman commented on #11485
![image](https://user-images.githubusercontent.com/9989487/65813105-33db8000-e1ee-11e9-9a89-e2391c2b9587.png)

[2019-09-28 07:21] sushantdhiman commented on #11485
Can't unpublish them either, will just have to wait till we launch v6/v7. I hope there will be a good alternative to `npm` registry in future, so we can switch to that.

[2019-09-28 07:21] siddmv commented on #11483
Thank you for the reply. I am using Sequelize against Postgres. I did come across Duplicate handling.

But, what if a row fails because of some particular entries invalid data, lets say a DB level non-null constraint violated by an object. In such scenario, I would want the remaining objects to proceed normally, and get hold of the failed entries to inspect and handle later, if need be.

Is this a

[2019-09-28 07:24] sushantdhiman commented on #11483
`ignoreDuplicates / updateOnDuplicate` just handle that, but you can't see which entries were ignored/updated I think. You just have to test, or take a look at our tests

[2019-09-28 07:26] siddmv commented on #11483
Ok, Thank you. I will try it out.

Appreciate the help.

[2019-09-28 07:37] sushantdhiman commented on #11469
Related https://github.com/sequelize/sequelize/issues/10921

[2019-09-28 07:38] sushantdhiman commented on #11458
Please submit a PR if you can :)

[2019-09-28 07:40] sushantdhiman commented on #11459
Please include a SSCCE that can be used to reproduce this and may be fix this

-------------------

( [What is SSCCE ?](http://sscce.org) You can find template for Sequelize [here](https://github.com/sequelize/sequelize/blob/master/sscce_template.js) )

A few good example of SSCCE

1) https://github.com/sequelize/sequelize/issues/8014#issue-245907597
2) https://github.com/sequelize/sequelize/issue

[2019-09-28 09:12] #11462 closed

[2019-09-28 09:14] sushantdhiman commented on #11461
![image](https://user-images.githubusercontent.com/9989487/65814367-655c4780-e1fe-11e9-9c9b-f93f7ef261fe.png)

https://sequelize.org/master/class/lib/sequelize.js~Sequelize.html#instance-constructor-constructor

[2019-09-28 09:14] #11461 closed

[2019-09-28 09:43] sushantdhiman commented on #11450
This is invalid, `where: { '$Actions.id$': null },` is breaking this query. Limit requires us to first get all `Item` records in a sub-query, then join those with `Actions` to get final results.

It is like trying to add `WHERE actions.id` on `select * from item` results, which wont work. It can work with normal joins but won't work for `limit` or `subQuery` based queries.

As a solution you shoul

[2019-09-28 09:43] #11450 closed

[2019-09-28 09:48] sushantdhiman commented on #11449
https://github.com/sequelize/sequelize/issues/9341#issuecomment-386343308

I don't think it should be changed, `SequelizeEmptyResultError` means we queried but no record was found.

ECMA `null / undefined` are invalid `pk` values (as sane assumption). As we can't query them, we simply resolve `null`

[2019-09-28 15:56] papb commented on #11485
Yeah... The fact that `npm audit fix` updates it to v6 is a bit unfortunate.

Perhaps we could change the [current "v6 milestone"](https://github.com/sequelize/sequelize/milestone/19) to be the "v7 milestone" and publish a 6.1.0 version equivalent to the latest v5?

[2019-09-29 09:43] siddmv commented on #11483
Hi, I just tried it out in the following scenario:
1. I have a table with one of the columns being non-nullable.
2. The bulkCreate call is passed an array of objects, with one of the objects missing the non-nullable field.
3. Set ignoreDuplicates to true.
4. On running the code, got the following exception:

`Unhandled rejection SequelizeDatabaseError: null value in column "content" violates not-n

[2019-09-29 09:45] siddmv commented on #11483
Perhaps, even if there is a per row after hook flexibility that I may use to subdue such an error and allow the remaining array to be processed?

[2019-09-29 13:52] sidorares commented on #9432
@gzurbach I'm very close to finish new mysql8 auth support, see https://github.com/sidorares/node-mysql2/pull/1021

[2019-09-30 08:55] Pierre-Gilles commented on #7078
The problem still exists, and only in SQlite because of the nature of the change/remove/rename column code which recreate a new table because SQLite doesn't support ALTER TABLE fully.

[2019-09-30 09:10] thomasleese commented on #7078
Yes, this problem still happens - makes it very difficult to write migrations for SQLite.

I also had to change @nashika's example when running inside a transaction (which is necessary for consistency). You need to pass the transaction as the second argument to the query:

[code]

[2019-09-30 09:17] Pierre-Gilles commented on #7078
Could we integrate this code in SQlite changeColum/renameColumn/removeColumn code in a PR ?

https://github.com/sequelize/sequelize/blob/master/lib/dialects/sqlite/query-interface.js#L58

We need to migrate constraint as well (unique for ex)

[2019-09-30 09:28] cressie176 commented on #11458
Will do

[2019-09-30 10:56] pratts commented on #11469
Hello @sushantdhiman ,
We found another thing.
If we set the timezone through the configurations:
`timezone: 'Asia/Calcutta',
		dialectOptions: {
			timezone: 'Asia/Calcutta',
		},`

Then it queries the database datetime fields correctly.

Can you please tell how both timezone parameters work differently. Because omitting any of them fails the query.

Regards

[2019-09-30 11:22] sergionwc10 opened #11488 "Unique msg error does not work"
Hello
the custom error message in unique doesn't work

class User extends Model {}
User.init(
  {
    // attributes
    Name: Sequelize.STRING,
    Email: {
      type: Sequelize.STRING,
      allowNull: false,
      unique: {
        args: true,
        msg: 'This email id is already registered.'
      },
      validate: {
        len: {
          args: [6, 128],
          msg: 'Email address mus

[2019-09-30 11:42] Herbert2122 opened #11489 "TypeError: Class constructor model cannot be invoked without 'new'"
### What are you doing?
Guys I read all the issues about this problem , and I can't solved mine , for some reason,
I've been trying to use sequelize with Handlebars but it's not working
this is my module
`const Sequelize = require('sequelize');
const db =require('../config/database');

const Certificado = db.define('Certificado',{
Produto:{
    type: Sequelize.STRING
},
DataProducao:{
    type: Se

[2019-09-30 12:08] heekyu opened #11490 "How make sql INSERT INTO ... SELECT ?"
## Issue Description
SQL(postgresql) : INSERT INTO table1 (ord, "refId", "createdAt", "updatedAt") SELECT (SELECT MAX(ord) FROM table1) + 1, 4, now(), now();

### What are you doing?
How can I make this SQL with Sequelize?

[code]

### What do you expect to happen?

_I wanted Foo!_

### What is actually happening?

_The output was Bar!_

[code]

### Additional context
Add any other context or scre

[2019-09-30 12:59] jpinkster commented on #11490
@heekyu you could either first use a raw query to get your `select` data and then create a new instance from there since it looks like you are just trying to insert 1 row .. other wise just use raw query

https://sequelize.org/master/manual/raw-queries.html

[2019-09-30 13:10] jpinkster commented on #11459
@sushantdhiman Updated with SSCCE

[2019-09-30 13:11] sushantdhiman commented on #11459
Please take of that as well :)

[2019-09-30 15:10] josel567 opened #11491 "Get a model excluding the intermediate model"
## Issue Description

In my project I have the following structure: Parking has many Locations and Locations has many Spots.

How could I get the Spots without displaying Locations information?

### My current output is:

[code]

### Expected output

[code]

I attach the models and their relationships.

### Additional context
## Parking Model
[code]

## Location Model
[code]

## Spot Model

[code]

[2019-09-30 15:22] sushantdhiman commented on #11488
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-09-30 15:22] #11488 closed

[2019-09-30 16:15] gwpmad commented on #11458
PR: https://github.com/sequelize/sequelize/pull/11492

[2019-09-30 18:33] createthis commented on #11421
I'm also seeing this when upgrading from Sequelize `15.12.2` to `15.19.0`.

[2019-09-30 22:23] boobo94 commented on #9869
This works for me. Thank you!

[2019-09-30 23:14] Zummek commented on #7606
I had a similar problem. My solution was setting names to index. Probably the autogenerated name was too long. An autogenerated name is built from fields's names. After setting the name all work fine
[code]

[2019-10-01 07:27] maitraiya commented on #7800
It Works!

[2019-10-01 10:17] kfrajtak commented on #7525
In my case the problem was a stupid mistake - missing `await` when calling the `save`
[code]

[2019-10-01 11:49] matushorvath commented on #10690
@papb If you don't want to bloat the package for non-TS users, I suggest you separate the types to a `@types/sequelize` package and make that package depend on `@types/bluebird` and `@types/validator`.

The way it is packaged now, we get the worst of both worlds:
- non-TS users get 320 kB of types installed automatically as part of the `sequelize` package
- TS users get broken types that can't be

[2019-10-01 13:52] createthis commented on #11421
@geoffreak I think the solution for your example is to change your group to:

[code]

I don't think nested array syntax works any longer due to the security vulnerability fixed in https://github.com/sequelize/sequelize/pull/11329.

[2019-10-01 14:34] #10629 closed

[2019-10-01 14:41] #11458 closed

[2019-10-01 15:24] papb commented on #6148
Hi @DrTerr, sorry to take long to reply, did you make any progress on it? Do you need further support for now, or just time? :)

[2019-10-01 15:30] SimonSchick commented on #10820
Ironically this is exactly the kind of thing this change was suppose to *prevent*.
If you *really* want to do this (and it sounds dangerous tbh) consider doing a deep key replacement, it's a fairly easy recursive algorithm.

[2019-10-01 15:33] papb opened #11494 "Mention known issues involving Babel + Sequelize in docs"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

[Sequelize and Babel don't get along well sometimes...](https://github.com/sequelize/sequelize/issues/11326#issuecomment-522424850)

For example, @levibostian made [a thorough analysis of one of these issues](https://github.com/sequelize/sequelize/issues/11032#issuecomment-533661568), involving specifically t

[2019-10-01 15:35] papb commented on #11032
Hi @levibostian thank you very much for the detailed analysis! I agree with your suggestion and I have just created an issue about it: #11494 - Thanks!

[2019-10-01 15:52] sushantdhiman commented on #10629
:tada: This issue has been resolved in version 5.19.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-01 15:52] sushantdhiman commented on #11458
:tada: This issue has been resolved in version 5.19.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-01 16:10] geoffreak commented on #11421
I'll just hold off on the upgrade for now until this gets resolved. Good to know there's a workaround in case of a security patch.

[2019-10-01 16:36] pgraham opened #11496 "Property 'QueryTypes' does not exist on type 'Sequelize'."
## Issue Description

Type script error for raw queries after upgrade to v5 and removing @types/sequelize from dependencies.

### What are you doing?

[code]

### What do you expect to happen?

Code should continue to compile.

### What is actually happening?

Typescript compiler error:
[code]

### Environment

- Sequelize version: 5.19.2
- Node.js version: 12
- Operating System: MacOS
- If TypeSc

[2019-10-01 16:41] papb commented on #11467
Hello, thanks for the report. I think you have a mistake in your SSCCE though. When trying to reproduce, I got `TypeError: Cannot read property 'get' of null` instead of what you said. But I noticed that after changing `let task = await Task.create({Project: project, ...` to `let task = await Task.create({tstProjectId: 1,` it works as you intended.

I will edit your post to reflect this.

[2019-10-01 16:46] pgraham opened #11497 "Property 'options' does not exist on type 'Sequelize'."
## Issue Description

Typescript error attempting to access `options` property of sequlize instance after upgrading to v5 and removing @types/sequelize from dependencies.

### What are you doing?

[code]

### What do you expect to happen?

Code should continue to compile.

### What is actually happening?

Typescript compiler error:
[code]

### Environment

- Sequelize version: 5.19.2
- Node.js ver

[2019-10-01 17:01] papb commented on #11467
I was able to reproduce! Similar issues: #10930 and #11325

[2019-10-01 17:52] AndreiPanasuk commented on #11467
Hi, I agree issue #10930 is similar to this, but issue #11325 is not relevant.

[2019-10-01 22:15] kevinlammers commented on #10820
Yes, that's what it's supposed to prevent but I fail to understand how doing a deep key replacement fixes the problem. The client is going to need to send some form of operator alias to the server in order to define a where clause. The problem isn't mitigated by removing this functionality, it's simply pushed off onto the developer. There's still going to be this need and the security hole will st

[2019-10-01 22:48] SimonSchick commented on #10820
Can you please elaborate on the security hole you are talking about?

The entire point of the removal of the `$` operators IS that this was seen as a security hole.

So just because *some* part of your application requires user queries you want to allow operator symbols for the entire app, this seems somewhat dangerous.

Here is a snippet that will more or less do what you want (untested cause on

[2019-10-02 00:31] papb commented on #10820
As Simon said, this is exactly what Sequelize is trying to prevent. So you shouldn't do it, at least not how you worded it...

The only use I can think of what you want to do is SQL injection... Can you please show me of a valid use case for what you're trying to achieve? I fail to imagine why would you want to send an arbitrary query from client to server and have it executed... Thanks!

[2019-10-02 02:10] diego-augusto opened #11498 "How to force duplicated data on belongstomany relationship?"
## Issue Description

How to force duplicated data on belongstomany relationship?

### Additional context

Database

![Imgur](https://i.imgur.com/YjiwJ6k.png)

Expected

![Imgur](https://i.imgur.com/nkM73Zl.png)

Received

![Imgur](https://i.imgur.com/pxgEQ0I.png)

## Issue Template Checklist

### Is this issue dialect-specific?

- [ ] No. This issue is relevant to Sequelize as a whole.
- [ ] Yes.

[2019-10-02 02:13] diego-augusto commented on #11498
I believe the responsible method is

**static _groupJoinData(rows, includeOptions, options)**

https://github.com/sequelize/sequelize/blob/master/lib/dialects/abstract/query.js

[2019-10-02 03:31] DrTerr commented on #6148
Hi @papb, I just need time, I have been quite busy. Though a question, do I need to add unit test to test added functionality? Or can you or someone else help with it?

[2019-10-02 03:57] 2kindsofcs commented on #11126
I'd like to help this one. Do you mind if I make a PR regarding this issue?

[2019-10-02 04:25] stalniy commented on #10820
@kevinlammers it always was the problem of the developer not sequelize (I argued about the purpose of removing operators in previous comments https://github.com/sequelize/sequelize/issues/10820#issuecomment-501959070).

Now the “life” is a bit more complicated, it’s more complicated to send a silly/hard coded sequelize query from client to server. But it was always a wrong approach!

If you want t

[2019-10-02 05:17] SimonSchick commented on #11496
This was rather deliberate, you should instead import the query types directly from the module since they are effectively an enum.

[2019-10-02 10:55] yusbel80 commented on #6253
You may also pass `individualHooks: true` for beforeUpdate to trigger

[2019-10-02 13:26] pgraham commented on #11496
Fair enough, but there is likely a lot of existing code that uses the documented code in my report. Maybe a documentation update is necessary?

Also, just because the type isn't declared, that object still exists at runtime which is going to encourage casting and the loss of type safety you'd generally expect from Typescript.

[2019-10-02 16:11] cperryk commented on #10997
This is also happening with `instance.get({ plain: true })` — the resulting object does not include the result of any getters defined via the model's `getterMethods`

[2019-10-02 16:43] jpierrep commented on #4858
Same Problem, DATEONLY type returns DATE complete from mysl
 Sequelize 5.5.0

[2019-10-02 17:51] papb commented on #10690
@matushorvath Thanks for your post, I will reconsider. I'm a bit confused though, can you clarify your first bullet point? What are those 320 kB?

[2019-10-02 17:56] papb commented on #10820
This is also what I thought.

[2019-10-02 18:03] papb commented on #11296
Hello, I am very busy these days, unfortunately... Sorry :( I can't give an estimate. Certainly not this month though :(

[2019-10-02 18:11] papb commented on #7667
Hi @billythekid97, if you're still experiencing this issue, please open a new issue filling the issue template (therefore including an SSCCE) and also link to this issue. Thanks!

[2019-10-02 19:12] papb commented on #11471
See #10820

[2019-10-02 19:50] SimonSchick commented on #11489
This appears to not be a sequelize issue, but I suspect your error is somewhere here `Certificado: new(Certificado)}`

[2019-10-02 19:50] #11489 closed

[2019-10-03 02:13] eliasreis54 commented on #11372
i'd ilke to try put this function. Do i need to assign some place?

[2019-10-03 05:20] neilpalima commented on #2072
Is there any progress about this?

[2019-10-03 08:03] abdolrhman opened #11502 "Get data from table where its doesnt exist in another table"
## Issue Description

Basically i want to do this sql query in sequalize
`SELECT A.* FROM A WHERE ID NOT IN(SELECT ID FROM B)`

[2019-10-03 08:05] xCloudx8 commented on #10493
Same here, it cannot be possible that a library does not behave as you expect. With PostgreSQL there's no problem with date but why there should be a different date behaviour with MySQL?
That makes no sense, and moreover why there's should be an automatic casting to timezone with MySQL but not with PostgreSQL? It should be a connection option and no casting to timezone at default.

[2019-10-03 08:32] Betree commented on #11041
Same here, ad dedicated error message would be really helpful.

[2019-10-03 11:28] metjka opened #11503 "TypeError: errors.ConnectionAcquireTimeoutError is not a constructor"
## Issue Description
This is not happening really often. I think it is related to connection timeout and sequelize cant find specific error to throw.

### What are you doing?

I am just querying data from a database for every request that comes to my server. Nothing special'.

### What do you expect to happen?

I just want an error about connection timeout.

### What is actually happening?

[code]

[2019-10-03 11:47] slidenerd commented on #1580
@mschipperheyn Here is a custom migration that creates a column for storing ts vector, adds an index for the same and creates a stored procedure where you specify the list of columns in your table from which the ts vector is generated

Use the Sequelize CLI to generate a new migration with the command below
`./node_modules/.bin/sequelize migration:create --name add-tsvector-to-feed-item-title-desc

[2019-10-03 14:09] hugodes opened #11505 "Op.and docs seem incomplete"
## Issue Description

Op.and documentation seems incomplete.

### What was unclear/insufficient/not covered in the documentation

Op.and documentation seems wrong / incomplete

### If possible: Provide some suggestion on how we can enhance the docs

[Op.and]: [{a: 5}, {b: 6}] // (a = 5) AND (b = 6)

## Issue Template Checklist

### Is this issue dialect-specific?

- [x] No. This issue is relevant

[2019-10-03 14:19] hugodes commented on #11505
PR here: #11506

[2019-10-03 14:23] hugodes opened #11507 "Op.and docs seem incomplete"
## Issue Description

Op.and documentation seems incomplete.

### What was unclear/insufficient/not covered in the documentation

Op.and documentation seems wrong / incomplete

### If possible: Provide some suggestion on how we can enhance the docs

[Op.and]: [{a: 5}, {b: 6}] // (a = 5) AND (b = 6)

## Issue Template Checklist

### Is this issue dialect-specific?

- [x] No. This issue is relevant

[2019-10-03 14:26] hugodes commented on #11507
PR: #11508

[2019-10-03 14:49] AlariCode commented on #3781
So after reading `pg` module code, I found that problem with bundling is in index.js file:
[code]

It requires `./native` file which is depending on `pg-native`. So to pack it with webpack we need to ignore this import. To do it just use `webpack.IgnorePlugin`:

[code]

After this addition, everything works fine.

[2019-10-03 15:46] Hardsix commented on #7356
Testing whether bot reopens issues

[2019-10-03 17:36] hmtuapp commented on #9295
@papb It doesn't work when the key is higher than 1500. I don't know why.

[2019-10-03 18:09] papb commented on #9295
@hmtuapp Hmmm this is strange, I would need a SSCCE to help you further.

[2019-10-03 18:12] papb commented on #11505
Hello, thanks for the report and PR! Why did you close the issue? It will be closed when the PR gets merged

[2019-10-03 18:17] papb commented on #11449
Indeed, that makes sense. However, this makes me think we should have some sanity checks on the inputs of our methods... For example, I think `User.findByPk(null)` should probably throw a `TypeError` regardless of the `rejectOnEmpty` option. What do you think?

[2019-10-03 18:18] papb commented on #11462
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-10-03 18:25] papb commented on #11465
Hello, thanks for the report. If you're right, there is no reason to close the issue, let's keep it open!

[2019-10-03 18:28] papb commented on #11465
Agreed.

It's great that you found a workaround, but this is not ideal either (you probably agree, right?)

Could work but not ideal again

Could work, but too much effort for this simpler task

I completely agree, I am a bit busy now though, so I am not sure whether it's option A or B here. I'll take a look in the near future.

Thanks for the report!!

[2019-10-03 18:55] talyssonoc commented on #11449
@sushantdhiman I agree with you about being a valid pk value, but it won't be a valid value depending of the dialect, maybe this could be dialect dependent then?

I like @papb's idea as well.

[2019-10-04 00:14] #11505 closed

[2019-10-04 06:02] sushantdhiman commented on #11497
You can use `config` https://github.com/sequelize/sequelize/blob/master/types/lib/sequelize.d.ts#L782

[2019-10-04 06:06] sushantdhiman commented on #11503
Hmm, connection error is exported [here](https://github.com/sequelize/sequelize/blob/3834fe200f4c3cb40a52c71b4a56a449d33d11d3/lib/errors/index.js#L19)

Will check

[2019-10-04 06:06] sushantdhiman commented on #11503
Also try with latest version

[2019-10-04 06:07] sushantdhiman commented on #11502
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-10-04 06:07] #11502 closed

[2019-10-04 08:01] metjka commented on #11503
The problem is that I don't know how to reproduce it. And the most strange thing, that it only occurred on my live server, and never on any of my dev environments.

[2019-10-04 08:08] siddmv commented on #11483
I @sushantdhiman .. Can you help me with this pls?

[2019-10-04 08:21] sushantdhiman commented on #11483
Follow the template, present issue as an SSCCE. I don't even know which dialect are we talking about

[2019-10-04 08:32] siddmv commented on #11483
Though didn't put the dialect as a part of the original description, I mentioned Postgres when you pointed out I missed it earlier.

[2019-10-04 12:28] papb commented on #11507
Duplicate of #11505

[2019-10-04 12:28] #11507 closed

[2019-10-04 14:16] HopefulLlama opened #11509 "Type of InstanceError not found in "sequelize/types""
## Issue Description

### What are you doing?

I am attempting to import the InstanceError type from "sequelize/types" to be used in a function declaration.

[code]

### What do you expect to happen?

_I wanted InstanceError to be usable!_

### What is actually happening?

_I receive the following error!_

[code]

### Additional context
Add any other context or screenshots about the feature reques

[2019-10-04 14:48] danielcl commented on #7606
Yes, thank you! My index name was exactly 1 character too long. I wondered why the error message cut of the last character. Now i know why.
But it think this is a bug of sequelize.

[2019-10-04 15:43] HopefulLlama opened #11510 "Error contains un-typed properties"
## Issue Description

### What are you doing?

Attempting to access {{.parent.detail}} property of an error.

[code]

### What do you expect to happen?

_I wanted to get this property without any Type errors from TypeScript!_

### What is actually happening?

_The output was that TypeScript complains about missing properties, and that I needed to amend the code (losing type safety) as such!_

[cod

[2019-10-04 17:01] createthis commented on #1711
@papb I created an SSCCE for you to the best of my ability: https://github.com/createthis/sequelize_1711_sscce

[2019-10-04 17:07] andrew-st-angelo-77media commented on #10695
This is still something I have interest in seeing a resolution to.  I've noticed that, from time-to-time, queries will structure themselves in this manner.  However, I have not found a way to force/ensure this behavior.

[2019-10-04 18:05] papb commented on #11498
Hello, why did you close the issue?

[2019-10-04 18:26] CharlieEarnup commented on #4501
can't you bulk insert into a temp table and update with a join? I'm pretty sure that's fairly performant. I'd love to see that kind of feature for sequelize!

[2019-10-04 18:45] papb commented on #4501
@CharlieEarnup Can you please create an [SQLFiddle](http://sqlfiddle.com/) showing your idea? Thanks!

[2019-10-04 18:51] papb commented on #11496
Yup, I'm working on it (I'm working on a major docs rewrite actually)! Stay tuned.

I disagree, when people try to use TypeScript and get this error, like you did, they can fix it by casting (bad, as you said), or change it to the clean solution:

[code]

I'll leave this open as a WIP docs issue

[2019-10-04 19:32] mskec opened #11511 "Model.increment throws an exception when incrementing array element."
## Issue Description

### What are you doing?

I am trying to increment a value in an array using `Model.increment` method.

[code]

My model has this definition for `ratings` column.
[code]

### What do you expect to happen?

I expect that the `rating[2]` is incremented successfully.

### What is actually happening?

The command fails and an exception is thrown.

Postgres error log:
[code]
The pr

[2019-10-04 20:20] papb commented on #11511
Hello, is this possibility documented somewhere? I think this is more like a feature request than a bug, do you agree?

[2019-10-04 20:35] papb commented on #10185
@jasonlttl Thanks for the info, does this help you @mubaidr ?

[2019-10-04 20:51] papb commented on #11313
Hi @mjy78 thanks for the post, hopefully you can dig further indeed!

@MegaFAX I'm sorry but I am super busy already, I can't help right now...

[2019-10-04 20:59] papb commented on #7367
This issue contains a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Can someone please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))?

[2019-10-04 22:32] mubaidr commented on #10185
Good enough.

[2019-10-05 00:19] shacco commented on #2325
Seriously guys, give us the feature, we really need that. please!

[2019-10-05 05:55] sushantdhiman commented on #11503
Not sure what is wrong with your setup but I can ensure `ConnectionAcquireTimeoutError` is a valid error. There is even a test case for this code path https://github.com/sequelize/sequelize/blob/3834fe200f4c3cb40a52c71b4a56a449d33d11d3/test/integration/pool.test.js#L253

Please update to latest version, may be remove your node_modules folder. Please share detailed error stack or other code if you

[2019-10-05 05:55] #11503 closed

[2019-10-05 05:56] sushantdhiman commented on #11511
Try this

[code]

[2019-10-05 08:08] sushantdhiman commented on #11505
:tada: This issue has been resolved in version 5.19.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-05 14:47] mskec commented on #11511
Thank you for quick replies.

@papb  I didn't see it documented anywhere, but I assume it should work for any field.

@sushantdhiman It's also not working. Now I'm getting these errors:
[code]

Generated query:
[code]

[2019-10-05 16:03] papb commented on #11126
@2kindsofcs Sorry to take long to reply!! If you want to help that is great :grimacing: please do!! Thanks!!

[2019-10-06 13:21] soryy708 commented on #8702
According to [the manual](https://sequelize.org/master/manual/data-types.html), JSON is not supported for MariaDB dialect.

[2019-10-06 15:32] Augaillot commented on #9481
@JamesMGreene I've had this problem for a long time and this worked beautifully (even though I don't quite understand how...). So thanks a million !! 😄

[2019-10-06 15:54] papb commented on #5760
This probably deserves to be better explained in the docs :)

[2019-10-06 15:58] papb commented on #7606
Hello everyone, I would like to ask a favor - This issue is old and has a lot of discussion and clutter, can someone please open a new issue summarizing the problem that still exists, providing an SSCCE, and linking to this issue? This will let me and others tackle the issue further.

[2019-10-06 17:00] maidanskyi commented on #11250
@papb any update?
is there opened PR or maybe it's already merged?

[2019-10-06 18:24] papb commented on #11250
@maidanskyi I don't know, @aat2703 was apparently working on it but I don't know the state of their work

[2019-10-06 20:47] krazi3 commented on #10625
@papb I have added a fix for this issue.
This is my first PR submitted to sequelize and i would like to continue contributing more in the future. 😄

[2019-10-07 10:15] 7hibault commented on #5217
@doArcanjo Could you share a more simple example of using array_agg so I can understand how it works with sequelize ? I tried something like below (based on [that post](https://medium.com/@tonyangelo9707/many-to-many-associations-using-sequelize-941f0b6ac102)) but couldn't make it work (got `missing FROM-clause entry for table `)

[code]

[2019-10-07 13:37] arjunkori commented on #3153
cool

[2019-10-07 14:14] lhenriquegomescamilo commented on #6859
I has the same error, has anyone ever solved?

[2019-10-07 16:21] #11126 closed

[2019-10-07 18:14] CharlieEarnup commented on #4501
@papb sure thing!

http://sqlfiddle.com/#!9/e14ff1/1

This captures the idea in essence.

[2019-10-07 18:40] papb commented on #10625
@krazi3 Thank you very much! :grimacing: This is great to hear. I'll see you around then! Feel free to ping me (@papb) if you need anything.

[2019-10-07 18:40] papb commented on #10625
Fixed by #11515

[2019-10-07 18:40] #10625 closed

[2019-10-07 18:47] papb commented on #4501
@CharlieEarnup Excellent fiddle! Thanks!! I like the idea. I will see if I can do something about it in the future (but if someone else with more time wants to propose a PR, that would be great too!)

[2019-10-08 05:17] harrywhitehouse commented on #5481
Still a problem. I hope it can be fixed.

[2019-10-08 05:18] harrywhitehouse commented on #5590
includeIgnoreAttributes: false makes the through: { attributes: [] } superfluous. But sometimes you need to join model attributes. I hope this can be fixed.

[2019-10-08 14:50] DanielCFreitas opened #11521 "Doubt about database multi connection with a single model"
Hi, please help!!!

I would like to ask one question about a system that I am developing, I have two groups of models that represent my database entities, a group of models who represents the security part of system (like login), and another model who represent the aplication for each client of system, my question is how to use the same model for all my clients but differents connections in my dat

[2019-10-08 16:33] pablote opened #11522 "queryInterface.addColumns always adds "public." to the table name for Postgres"
Not sure if I'm doing anything wrong, but this is a pretty big blocker for me right now. I need to add a column to an existing table which is in a schema different from "public".

Simply using the table name throws this error:
```"relation \"public.mytable\" does not exist"```

Adding the schema to the table name throws (this works for addIndex):
```"relation \"public.default.mytable\" does not ex

[2019-10-08 18:06] papb commented on #11522
Please provide an [SSCCE](http://sscce.org) - you can use the [sequelize-sscce](https://github.com/papb/sequelize-sscce) repository, for example.

You mean [raw queries](https://sequelize.org/master/manual/raw-queries.html)?

[2019-10-08 22:07] papb commented on #5590
Hello, this issue is old and our issue templates have changed since then; investigating this issue as-is would need extra effort from maintainers (and our time is really short). Can someone please open a new issue about this, filling our modern templates, to save time from the maintainers? Especially including a nice SSCCE, preferably from our [sequelize-sscce repository](https://github.com/papb/s

[2019-10-09 01:21] jpinkster commented on #11459
@sushantdhiman Sorry for the delay here ... I updated the SSCCE again with a full working example of the issue. To replicate `npm i pg sequelize@5.18.3` then run this. You will see it will log out an instance. Then update to anything above `5.18.3` (`npm i sequelize@5.18.4`) and the log will be `null` .. in both situations the query return results

[2019-10-09 01:25] jpinkster commented on #11459
Also if you were to comment out the `listSections` which is a `hasMany` or add `subquery: false` it will return an instance again... but you shouldnt have to do this ... something broke with the 5.18.4 release

[2019-10-09 03:17] JaredBett opened #11523 "Unable to upsert on postgres text containing "RETURNING *" substring"
## Issue Description

When using upsert on postgres, the string `RETURNING *` anywhere inside a text or json column value is being replaced with `RETURNING \"id\" INTO primary_key`. Besides changing the data to be upserted, this also makes it throw an error when inserting or updating into a JSON column since its not valid JSON.

### What are you doing?

**Here is the link to the SSCCE for this iss

[2019-10-09 03:22] loumt opened #11524 "find column that is define as bigint, more than 10000000000000000 . can't find it."
#Issue Description
 Database : Mysql 5.7
 When find a column that is define as bigint(20) . Can't find result where column = 10000000000000001

### What are you doing?

  use module method : findByPk
  database:   mysql
  mysql server install at windows.
  column:   bigint(20) not null
  column content:  10000000000000001 (more than 10000000000000000)

### What do you expect to happen?
  bigint  -

[2019-10-09 11:29] chandreshraj opened #11525 "Incase of Master-Slave DB implementation if i dont have VIP concept, how to implement the 2 DB host connection, how to implement the FAILOVER cases."
## I have 2 DB with Data Sync between this 2 DB, 1 is Master and other is Slave if the master goes down slave is made master, in that if I am in the middle of some transaction, the application is expected to carry on the further queries with the Next Master database, example Master DB is in host X, and Slave DB is in host Y, from the host X we have current transactions happening and host X goes do

[2019-10-09 14:52] 2kindsofcs commented on #11133
it happens in mysql, too. but the sequelize-cli doesn't say something like `Done in 11.32s`.

[code]

[2019-10-09 15:35] papb commented on #11523
Thanks for the report!!

By the way, what did you think of the SSCCE repository? Did it help or was it a hassle?

[2019-10-09 15:51] papb commented on #10468
I like this idea, reopening

[2019-10-09 15:53] papb commented on #11524
Can you please create an [SSCCE](https://github.com/papb/sequelize-sscce)?

[2019-10-09 15:55] gabegorelick commented on #10821
Node 8 reaches end of life December 31, 2019. Should support for that be dropped too?

[2019-10-09 15:56] gabegorelick commented on #10468
Node 8 reaches end-of-life on December 31, 2019. So any support probably shouldn't worry about polyfills at this point.

[2019-10-09 16:07] papb commented on #10821
Hmmm, probably :)

[2019-10-09 17:20] Subbup101 opened #11527 "Association table entries not getting created"
## Issue Description

I have hasMany relation in my model in Maria DB. When I try to create a new record, no data is getting inserted in association table
// My Model file
const AnsprechPartner = db.define('ansprechPartner', {
    anrede: { type: Sequelize.STRING },
    titel: { type: Sequelize.STRING },
    vorname: { type: Sequelize.STRING },
    nachname: { type: Sequelize.STRING },
    email:

[2019-10-09 17:22] sushantdhiman commented on #11126
:tada: This issue has been resolved in version 5.19.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-09 17:24] papb commented on #11372
Hi @eliasreis54, sorry to take long to reply. You could have just started to work on a PR; however someone else [already did it](https://github.com/sequelize/sequelize/pull/11512) :sweat_smile:

Regardless, thank you for the interest! Hopefully you'll help us in the future.

[2019-10-09 17:38] papb commented on #11527
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note

[2019-10-09 17:38] #11527 closed

[2019-10-09 17:41] gv-beemining commented on #9778
can i ask your sequelize and pg version? because is not working for me, Thanks!

[2019-10-09 21:32] papb commented on #1711
@createthis Thanks! I will investigate later.

[2019-10-09 21:51] JaredBett commented on #11523
I thought it was very helpful! I was a little confused if I should be making something that fails the CI check to show the bug in action.  Also I wasn't sure what exactly to link to... I settled on the PR which I think is what was intended. Also I'm not sure if I'm supposed to do anything to delete or close that PR or if you all will handle that.  I'm assuming I should leave my fork up for some ti

[2019-10-09 21:54] papb commented on #11466
I tried to reproduce but the API call returned the raw contents of `index.html`, no error occurred (except that `unexpected token <` when parsing the JSON (I had to change it to `.text()` to see it), do you know what may be going on here?

[2019-10-09 22:04] papb commented on #11466
I [figured that out](https://stackoverflow.com/a/44853428/4135063). So weird.

Now I am getting a `400 Bad Request` response but I can't find out the error.

Where can I see this `Error: Please install sqlite3 package manually`?

[2019-10-10 01:48] papb commented on #11523
Hmmm, I will clarify this later in the repo, the idea is just to show the bug, if the bug is an error then probably the CI check will fail, but if the bug is a wrong result the CI check will probably pass; the CI check itself doesn't matter. What matters is that we should be able to observe the bug by reading the logs.

Yeah, correct!

You don't have to do anything :) You are also free to delete y

[2019-10-10 11:26] Subbup101 opened #11530 "Model.sync() not working - MariadB"
What you are doing?

I have a model created in Node JS project with Mariadb. It was working fine till last week, that means a table is geting created in database as expected.

What do you expect to happen?

Table is supposed to be created in DB.

What is actually happening?

I have 75 attributes in my Model, when reduce the number of attributes to 70 then table gets successfully created. However,

[2019-10-10 11:30] Subbup101 commented on #11530
Now, If I have 75 attributes in my model then No table is getting created. That is my actual problem.

[2019-10-10 11:57] papb commented on #11483
Hi @siddmv, please create an SSCCE showing the current behavior, I suggest using the [sequelize-sscce repository](https://github.com/papb/sequelize-sscce), this will really help us be able to help you.

[2019-10-10 11:59] MagixInTheAir opened #11531 "Connection error : EAGAIN"
## Issue Description
Sequelize issues EAGAIN error randomly

### What are you doing?
Stressful event of multiple file uploadings in parallel at high bandwidth

### What do you expect to happen?
Not to crash

### What is actually happening?
[This](https://gist.github.com/MagixInTheAir/267ddf406dea1800536b234687d70f09)

### Additionnal information
Can't be replicated easily, so no minimal example, s

[2019-10-10 12:05] papb commented on #11531
This is unfortunate... I'm sorry, but without a replication for this we won't be able to help you.

I've found [this](https://bugs.mysql.com/bug.php?id=48929) and [this](https://engineering.mixpanel.com/2012/12/07/debugging-mysql-performance-at-scale/) so I'm pretty sure this is a MySQL issue, not a Sequelize issue. So I will have to close this... Good luck!

[2019-10-10 12:05] #11531 closed

[2019-10-10 12:07] #11530 closed

[2019-10-10 12:47] gv-beemining opened #11532 "notice / notification logging from PostgreSQL is not working"
## Issue Description

Im trying to use afterConnect hook to intercept notice and notiification events from a PostgreSQL database

### What are you doing?

[code]

### What do you expect to happen?

I wanted to the notice or notification event called at least once

### What is actually happening?

The events are never fired

[code]

### Additional context

Add any other context or screenshots about

[2019-10-10 15:33] sushantdhiman commented on #11525
Sequelize does not support master/master replication by default. We do support master/slave read replication https://sequelize.org/master/manual/read-replication.html

Perhaps you should ask this question on Stackoverflow. It should be possible to dynamically change config by `beforeConnect` hook. So `beforeConnect` can be used to switch master host whenever main master host is not available

[2019-10-10 16:56] papb commented on #11532
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-10-10 17:20] gv-beemining commented on #11532
SSCCE created but how i can 'simulate' a query that triggers a raise notice to test the issue?

Thanks!

[2019-10-10 17:26] papb commented on #11532
@gv-beemining Well, I return the question to you... Don't you have an example of query in mind? Just put that in your `sequelize.query` call... Or perhaps I didn't understand your question.

[2019-10-10 17:50] papb commented on #10991
I suggest using the [sequelize-sscce repository](https://github.com/papb/sequelize-sscce) to create the SSCCE.

[2019-10-10 17:57] papb commented on #10864
Hello! Sorry to take so long to reply... Have you figured it out? At least, a workaround?

Also, you have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Con you please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example))? I suggest using the [seq

[2019-10-10 17:59] papb commented on #10582
Hello, if you still have the SSCCE, we now have a [sequelize-sscce repository](https://github.com/papb/sequelize-sscce) for this, please add your SSCCE to it, thanks!

[2019-10-10 18:01] gv-beemining commented on #11532
repo query updated, tests passed, Thanks!

[2019-10-10 18:03] papb commented on #7088
Related: #3664 #10141
Potentially related: #3256

[2019-10-10 18:04] papb commented on #3256
@rener172846  @jorbascrumps The reason I'm asking for an SSCCE is that investigating this issue as-is would need extra effort from maintainers (and our time is really short). There is a [sequelize-sscce repository](https://github.com/papb/sequelize-sscce) to assist with this now. For those hoping for a fix, doing this would greatly help and in theory is something anyone encountering this issue sho

[2019-10-10 18:08] papb commented on #11532
@gv-beemining Looking at [it](https://github.com/papb/sequelize-sscce/pull/10)'s [log output](https://travis-ci.com/papb/sequelize-sscce/jobs/244307106#L519), looks like indeed your `console.log`s didn't run. Are you sure they would work with the connector library directly (i.e. without sequelize)?

[2019-10-10 18:16] gv-beemining commented on #11532
yes, i tried without sequelize, the library in this case is pg (example code):

``

 const client = new `Client()
    client.on('notice', msg => console.warn('notice:', msg))
    client.on('notification', msg => {
      console.log(msg.channel) //
      console.log(msg.payload) //
    })

    await client.connect();
    await client.query("DO language plpgsql $$ BEGIN RAISE NOTICE 'hello, world!';

[2019-10-10 19:09] andrew8088 opened #11533 "Sequelize.fn doesn't work with bind replacements if value has `$` in it"
## Issue Description

### What are you doing?

I'm inserting a record and using a database function (like `upper`) to format a field with a `$` in it.

**Here is the link to the SSCCE for this issue:** https://github.com/papb/sequelize-sscce/pull/11

[code]

### What do you expect to happen?

I expect to successfully insert the record.

### What is actually happening?

I get the error:

[code]

##

[2019-10-10 20:33] jpvanoosten opened #11534 "Sqlite: bulkCreate with updateOnDuplicate fails when the model contains a composite key."
Related issue: #11432

## Issue Description
The `bulkCreate` fails if the model contains a composite key and doesn't explicitly define a primary key.

The `upsertKeys` array is emptied when the model contains a composite key since the length of the fields array of the `compositeKey` object will be of size > 1 (which causes this filter to skip it):

https://github.com/sequelize/sequelize/blob/3a600

[2019-10-10 20:50] joseph-animasds opened #11535 "SequelizeDatabaseError: read ECONNRESET"
## Issue Description

A clear and concise description of what is this issue about.
- I am getting this error, that I've posted in the title, every once in a while. My app is using Azure web app and Azure db. My app also pulls data from an api every 2 minutes. My error log shows that it happened while pulling the data from the api.
If applicable, you can add some code. In this case, an SSCCE/MCVE/r

[2019-10-11 02:47] poldridge commented on #11485
This page says to send an email to support@npmjs.com if you are trying to unpublish a package that has been published more than 72 hours ago. Perhaps they can be accommodating if a package owner contacts them.

[2019-10-11 03:59] ckeboss commented on #4187
@mickhansen I have made a pull request with this feature. Should we reopen this?

[2019-10-11 06:00] #10975 closed

[2019-10-11 06:12] sushantdhiman commented on #10975
:tada: This issue has been resolved in version 5.19.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.19.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-11 07:01] aaronarul commented on #2670
How would i change the development mode into production mode?

[2019-10-11 11:27] papb commented on #11485
@poldridge That's what I thought too :) Not sure what @sushantdhiman thinks about it though.

[2019-10-11 18:16] aminsol commented on #11126
Thank you

On Wed, Oct 9, 2019 at 10:22 AM Sushant <notifications@github.com> wrote:

[2019-10-11 18:43] justinabrahms opened #11539 "Add host parameter to query logging"
## Issue Description

I would like to know which host I'm executing sql on when connecting to a larger cluster (e.g. read node or write node?). Ideally, the `logging` parameter in the options object would be passed more data, especially including the hostname.

### Is your feature request related to a problem? Please describe.

I'd like to log which host was affected with a particular sql query, s

[2019-10-11 19:12] sad-paranoid opened #11540 "self join with belongsToMany relation and where condition"
hi!
I have model (for example: testModel):

Relation looks like:
testModel.belongsToMany(testModel, {
      as: 'relative',
      through: "testModelRelatives",
      onDelete: 'cascade',
      hooks: true
});

And when I try to make a request like:
testModel.findAll({
   include: {
            model: testModel,
            as: 'relative',
            where: {
                //some conditions

[2019-10-11 20:29] edrpls commented on #7879
On the latest version I am passing the date as `Date.parse(date)` and it works just fine.

[2019-10-11 20:52] huntonas opened #11541 "Seeding ARRAY(ENUM)"
## Issue Description
I am trying to seed an ARRAY(ENUM), but I have not been able to figure out how to do so. I also haven't been able to find any other issue/documentation that showed how to do this.

I keep getting this error:
`ERROR: column "roles" is of type "enum_Users_roles"[] but expression is of type text[]`

This is my migration script:

[code]
And here is my seed file:
[code]

### StackO

[2019-10-11 20:54] papb commented on #11533
Thanks for the report!!

Fantastic. What kind of guidance do you want? The solution to this problem is probably to detect that the string given by the user has a `$` in it and escape it properly. If you don't know how to start, I suggest you start by creating a failing test. Let me know if you need further help.

[2019-10-11 21:00] jonathan-de-souza commented on #6307
Hello, any update about this issue ?

[2019-10-11 21:27] alexeymkh commented on #6664
Please, add description of this feature in documentation.

[2019-10-12 16:46] SalmanSaleem1 commented on #8805
Not working correctly

[2019-10-12 21:24] shamoons commented on #10443
Still having the issue. `"@sentry/node": "5.6.2"` and `"sequelize": "^4.44.3"`

[2019-10-13 03:13] poldridge commented on #10361
The OP is describing an issue that is only relevant for mssql. Setting isolation level in mysql/maria has been fixed in 5.19.6 @thomazfeitoza , @kasora , @misos1 .

This is still an issue for mssql.

[2019-10-13 03:55] papb commented on #6307
This is a duplicate of #2089 as said above.

[2019-10-13 08:57] dylanchau opened #11543 "Cannot find module 'pg-native'"
## Issue Description

### What are you doing?

When I started the app(Webpack: 4.40.2 + sequelize: 5.19.6), I got the error as below:

[code]
This is my sequelize config
[code]

and webpack.config.js
[code]

I have tried many solutions on google, but they did not working for my situation

### Environment

- Dialect: postgres
- Sequelize version: 5.19.6
- Node.js version: v12.10.0

[2019-10-13 18:16] papb commented on #11543
Duplicate of #3781

Please try the workarounds suggested there, such as [the most recent one](https://github.com/sequelize/sequelize/issues/3781#issuecomment-537979334) by AlariCode.

[2019-10-13 18:16] #11543 closed

[2019-10-13 20:15] sandeepraheja opened #11544 "Any in-built support to record created_by and updated_by?"
The idea is to record author's info along with saving the data.

One way is to use _findOne_ before deciding to use _create_ or _update_.

Can we instead use Upsert and specify different fields for INSERT and UPDATE operation?

Or any other suggestion?

[2019-10-13 23:34] papb commented on #11544
Hello, the idea from your title is something I thought of in the past as well, I would like to see this but I'd say it's not a priority.

I didn't understand your post though...

Can you clarify what you mean by the above? Thanks

[2019-10-14 00:12] tsasaki609 opened #11545 ""has" method of BelongsToMany not working when data type of key is binary"
## Issue Description
I tried to use belongsToMany association with binary key,
but it's not working fine, always return false.

### What are you doing?

**Here is the link to the SSCCE for this issue:** https://github.com/papb/sequelize-sscce/pull/13

### What do you expect to happen?

return ture when already have association

### What is actually happening?

Please see SSCCE link.

### Additiona

[2019-10-14 02:01] papb commented on #11545
Awesome!!

[2019-10-14 12:54] sandeepraheja commented on #11544
Well, the author info is to be recored in2 fields. One, who created the record and second, who updated it last.
For this one option is to always check whether the record is being created or updated.
That may need a sql query sometimes

If there was an option in Model.upsert, just like QueryInterface.upsert to specify different objects for Insert and Update.

[2019-10-14 13:57] softmantk commented on #11189
Any updates on this issue ? I have several areas in my code, in which included tables has where clause (filters)   and has limit applied. Work around is still not efficient if I have large set of data.

[2019-10-14 14:01] jgburet commented on #1385
On v4, this answer works well https://github.com/sequelize/sequelize/issues/1385#issuecomment-157389824

[code]

It retrieves only the users that have no portfolios.

[2019-10-14 16:05] xhalo32 opened #11546 "CLI: `db:migrate --to` is incostent with `db:migrate:undo:all --to`"
## Issue Description

### What are you doing?
I have migrations set up correctly and `npx sequelize db:migrate` works perfectly.
When I run `sequelize db:migrate --to 123_name_of_migration.js` the migrations are run correctly, but when I run `sequelize db:migrate --to 123` no migrations are executed.
This is inconsistent with the undoing behavior: After migrating, when I run `sequelize db:migrate:

[2019-10-14 18:27] MagixInTheAir commented on #11531
This was indeed a problem with Sequelize. The connection pool I used had a minimum of five connections, and those connections would get into an invalid state after being inactive after some time. Trying to use them before they get evicted from the pool, but after getting into this invalid state, triggers the error. I hope this can help someone in the future

[2019-10-14 18:56] marks opened #11548 "Docs use outdated Slack logo"
## Issue Description

The old Slack logo is used at the top of the documentation pages

### What was unclear/insufficient/not covered in the documentation

Content is great, just needs an updated Slack logo :)

### If possible: Provide some suggestion on how we can enhance the docs

Update the Slack logo (from https://brandfolder.com/slack/logos)

### Additional context
Add any other context or sc

[2019-10-14 23:02] papb commented on #11531
Hmmm interesting, how did you work around it?

[2019-10-14 23:31] defunctzombie opened #11550 "bindParam missing from AbstractDataType type definition"
The `bindParam` function is missing from the AbstractDataTypes type definition. The result is that a user who implements a custom type must be aware to also implement the bindParam function if they want to do custom escaping or formatting of their type when used with the bind query interface.

Previously it was enough to just support `stringify` but this is no longer the case with the new bind bas

[2019-10-15 01:52] zacharysierakowski commented on #11533
I spent some time looking into this as well. Should this actually be escaped? As I followed the code path to where I think the escape should happen, I got worried it could effect other instances of `Utils.SequelizeMethod`.

If we escape it, won't that mean that there is no support for variables? Maybe the solution here would be to document that if you need to do this, make sure to escape the dolla

[2019-10-15 02:07] MagixInTheAir commented on #11531
Reduced the pool minimum number of connections to zero. Trying to reliably fix and test that for a production environment would be a nightmare and I don't mind a tiny bit of latency when reconnecting since database is local

[2019-10-15 02:08] zacharysierakowski commented on #11533
I created the PR above mainly as an example for now, but it also couldn't hurt to leave it in the codebase depending on the outcome of discussion in this issue.

[2019-10-15 03:12] aaahrens commented on #10579
Any solution to this by any chance? I am running this with nextjs and it makes a lot of boilerplate ;  ;

[2019-10-15 08:50] usebaz commented on #11400
@sushantdhiman Hi, if need help I can make PR with migrate to `better-sqlite3`

[2019-10-15 08:56] sushantdhiman commented on #11400
@usebaz Thanks. Soon `master` branch will point to the next beta. After that you can submit your PR

[2019-10-15 11:31] papb commented on #11548
Fixed by #11549

Thanks!!

[2019-10-15 11:31] #11548 closed

[2019-10-15 11:32] papb commented on #11531
I see, thanks!! Hopefully this will help others in the future :)

[2019-10-15 11:38] papb commented on #11533
@zacharysierakowski Thanks for taking the time to help us!!

Hmmm... Can you show an example of variable usage with `sequelize.fn`? Thanks

[2019-10-15 13:16] sargsyanvlad opened #11554 "I have defined getterMethod in model, so when I call model.findAll the getter method called instantly and I get data duplications"
#4525  Issue Description

const UserOptions = {
  getterMethods: {
    view() {
      const user = {
        id: this.dataValues.id,
        role: this.role,
        firstName: this.firstName,
        lastName: this.lastName,
        position: this.position,
        email: this.email,
        provider: this.provider,
        providerId: this.providerId,
        avatar: this.avatar,
        verifie

[2019-10-15 15:18] Telokis commented on #10579
@aaahrens If I remember correctly, a solution was to do it this way:

[code]

Even though it's not pretty.

[2019-10-15 15:45] SimonSchick commented on #10579
@Telokis you can avoid the self assign using `public id!: number` etc.

[2019-10-15 16:23] Telokis commented on #10579
@SimonSchick The issue is babel overriding the value of `this.id` with `undefined` because we didn't specify an initializer, that's why I'm assigning `this.id` to itself instead

[2019-10-15 19:31] huned commented on #7941
still a problem fwiw

[2019-10-15 21:35] zacharysierakowski commented on #11533
I'm not sure of an example of this, but was mainly pointing it out to be cautious. I got worried about escaping the dollar signs so deep in the logic of the code. To be more specific, I got down to the `handleSequelizeMethod` in the abstract dialect query-generator.

https://github.com/sequelize/sequelize/blob/master/lib/dialects/abstract/query-generator.js#L2128 was where I stopped. I believe thi

[2019-10-16 03:17] papb commented on #11533
I see... Well I personally don't see a usage for an unescaped dollar sign there. Would you be willing to try implementing the automatic escape (to be used always) and confirm that no previous PR is broken by https.

[2019-10-16 08:36] shcyiza opened #11555 "limit and offset options not working with not required nested model"
## Issue Description
setting limit option on a query with a where statement that contains dollars signs doesn't work.
### What are you doing?
I'm trying to paginate reports (if you follow my sscce example) that has nested comments which has nested users.

**Here is the link to the SSCCE for this issue:** LINK-HERE https://gist.github.com/shcyiza/2a87db67253c9f293295984133ede8f5

### What do you ex

[2019-10-16 09:29] SGAWP opened #11556 "How to sort by column?"
When I sort by role_name column, this error occurs:

If sort by any other column, then there will be no problems. How to sort by column for which join is performed?

[code]

[2019-10-16 09:48] danedavid commented on #11113
@papb Sorry for the wrong information, looks like this doesn't happen when used with `console.log`

[2019-10-16 10:02] kaizoku-kenshin commented on #11541
Hey, stuck on the same. Did you find any resolution?

[2019-10-16 12:07] andrew8088 commented on #11533
@papb Thanks, I'll take a stab at this early next week!

@zacharysierakowski I can see what you're saying ... I'm gonna give it a try, just for fun, whether or not it ends up in the codebase.

[2019-10-16 12:37] zacharysierakowski commented on #11533
Okay, I'll hold off on anything else for now. Thanks @andrew8088!

[2019-10-16 13:11] ccckblaze commented on #3759
await instance.changed("updatedAt", true);
await instance.save();

works like charm!
cheers

[2019-10-16 13:26] huntonas commented on #11541
@kaizoku-kenshin nope. Tried just about everything I could think of, but I haven't figured it out yet.

[2019-10-16 13:32] automatensalat commented on #10950
For everyone running into the same issue: This seems to be a MySQL issue, not the fault of sequelize.

According to the MySQL docs, DDL statements like ALTER COLUMN which are generated by sequelize.addColumn() calls are not subject to transactions and so are not rolled back regardless of whether the transaction fails or succeeds:
`Some statements cannot be rolled back. In general, these include da

[2019-10-16 14:14] sergeyjsg commented on #2325
My use case for this feature - streaming. Since Sequelize does not support streaming I want to use the underlying pg library to return cursor and work with it. I need a generated query for this.

[2019-10-16 16:30] #11540 closed

[2019-10-16 16:46] sushantdhiman commented on #11541
You can use this code

[code]

[code]

[2019-10-16 16:48] #11556 closed

[2019-10-16 16:48] sushantdhiman commented on #11556
Please use Github Issue Tracker only for reporting bugs, requesting new features or discussions. Ask questions on [Stackoverflow sequelize.js tag](https://stackoverflow.com/questions/tagged/sequelize.js) or [Slack](sequelize.slack.com). While I would like to help answer any questions but it still take too much time.

If you are reporting a bug please isolate it as SSCCE, present it nicely and foll

[2019-10-16 17:44] spearmootz opened #11558 "Typescript: property data type does not always need to match the usage interface"
## Issue Description

Getters this.getDataValue returns the type declared on the class property and not on the Column.type.

### Additional context

class Account extends Model<Account> {
@AllowNull
  @Column({
    type: DataType.DATEONLY, // SHOULD BE WHATEVER THIS IS
    get(this: Account): moment.Moment | null {
      const date = this.getDataValue('date_discharged'); // TYPESCRIPT SAYS THIS IS

[2019-10-16 18:10] spearmootz commented on #11558
so far the closes thing i could think of is to remove the static off of rawAttributes (accurate)

and then change this this[K] to

<K extends keyof this['rawAttributes']>(
           key: K
         ): this['rawAttributes'][K];

But this doesnt account for virtual values.  this should in reality use this['dataValues'][K] but i havent found a way to do so.

[2019-10-16 18:31] huntonas commented on #11541
@sushantdhiman That worked for me. I really appreciate it.

[2019-10-16 18:51] fubar opened #11560 "'lock' does not exist in type 'FindOrCreateOptions'"
## Issue Description

This is a Typescript/type definition issue.

Updating from 5.19.2 to 5.19.7 introduced the following issue:

[code]

[code]

### Additional context

Seems related to https://github.com/sequelize/sequelize/issues/11081

I wasn't able to find the cause of the regression between the two mentioned versions.

## Issue Template Checklist

### Is this issue dialect-specific?

- [ ]

[2019-10-16 19:52] papb commented on #11541
I'll keep this open as a docs issue, it would be nice to mention this in the docs somewhere. I'll do it, since I am already working on the docs anyway

[2019-10-16 20:37] huntonas commented on #11541
@papb sorry. Didn't mean to close it on you. The stackoverflow question got a some views and a few thumbs up, so I guess I am not the only one trying to figure it out. Probably a good call to add it to docs. Thanks

[2019-10-16 20:43] papb commented on #11541
No problem!

[2019-10-16 21:14] nealdyrkacz opened #11561 "Sequelize V5 & Model Loading"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

I have had Sequelize V4 up and running previously.  Currently trying to create a project using Sequelize V5 & Typescript.

I have peeked at
https://sequelize.org/master/manual/typescript.html#usage
https://sequelize.org/master/manual/typescript.html#usage-of--code-sequelize-define--code-

I have tried to foll

[2019-10-16 21:24] papb commented on #11561
Hello, thanks for the report, this is indeed something that I believe that needs to be improved asap, sadly I am super busy these days... This is one of my next goals with Sequelize, after I finish the major documentation updates I'm currently working on.

[2019-10-17 05:04] bhuvana-guna commented on #7051
@slidenerd Found any solution?

[2019-10-17 05:46] ansonfoong opened #11562 "Cannot read property length of undefined...?"
OK, so I have a Sequelize Model defined like this:

[code]

My Database file is setup like this:

[code]

But I'm not sure why I'm running into this error?

[2019-10-17 06:45] nairihar opened #11563 "sequelize doesn't return columns which include dot symbol"
# Issue Description

SQL group Query Result:
<img width="235" alt="Screen Shot 2019-10-17 at 10 47 04 AM" src="https://user-images.githubusercontent.com/15065065/66984286-78f72180-f0cb-11e9-868d-47fae6c404a8.png">

JavaScript log after `findAll`:
<img width="286" alt="Screen Shot 2019-10-17 at 10 47 33 AM" src="https://user-images.githubusercontent.com/15065065/66984323-890f0100-f0cb-11e9-96b1-ce0

[2019-10-17 07:05] nairihar commented on #11563
seems `QUERY.raw = true` helped

[2019-10-17 07:34] zakhefron commented on #11263
Any updates?

[2019-10-17 08:24] T0TProduction opened #11564 "Typing of findAll seems to be missing the support of undefined values in where"
## Issue Description
When using sequelize with typescript, we run into the issue of not being able to use objects that have potentially undefined attributes for the `where` attribute of a `findAll` call.

### What are you doing?

[code]

### What do you expect to happen?

According to my understanding of the discussion in [issue #8583](https://github.com/sequelize/sequelize/issues/8583) the functi

[2019-10-17 08:25] ulyr opened #11565 "order: sequelize.literal option to order by associated models columns breaks the query"
## Issue Description
If the sequelize.literal you put in the order option of findAll orders by a column in an associated row the query that gets executed is broken and will return a database error.

### What are you doing?

[code]

### What do you expect to happen?

Expected the query to return the rows ordered by the greatest date.

### What is actually happening?

The query that is generated by

[2019-10-17 08:43] cyrilchapon opened #11566 "Make create to return with scope"
I have this model

[code]

When doing a `Partner.scope('clean').find()`, the query runs

[code]

Whereas doing a `Partner.scope('clean').create()` runs

[code]

So it doesn't respect the scope.

I think it would be very more consistent (and actually, relatively easy) to tweak the `RETURNING *` part automatically to respect scopes ?

Furthermore, I can't even do this manually, becase`create()` `ret

[2019-10-17 10:32] benjamin658 commented on #9421
Will the indexHints option support `mariadb` dialect?

[2019-10-17 11:14] jeremyputeaux commented on #10307
I'm encountering the same issue, is there any known workaround or potential fix?

[2019-10-17 11:15] jeremyputeaux commented on #11127
I'm encountering the same issue, is there any known workaround or potential fix?

[2019-10-17 11:32] papb commented on #11563
Hmmm, great that you found a workaround, but I think this should be investigated anyway, it should work well.

[2019-10-17 11:37] papb commented on #11562
Hello, please provide an [SSCCE](https://github.com/papb/sequelize-sscce), thanks!

[2019-10-17 12:08] papb commented on #10307
Can someone please provide a [SSCCE using our sequelize-sscce repository](https://github.com/papb/sequelize-sscce) in order to allow contributors to work on this? Thanks

[2019-10-17 12:10] papb commented on #11127
Hi @jeremyputeaux, can you (or someone else) provide a [SSCCE using our sequelize-sscce repository](https://github.com/papb/sequelize-sscce) for this issue? This will attract and save a lot of time for contributors that decide to work on this.

[2019-10-17 12:11] papb commented on #11127
This seems related to #10307

[2019-10-17 12:14] papb commented on #11183
Duplicate of #3759

[2019-10-17 12:14] #11183 closed

[2019-10-17 14:37] zanctor opened #11567 "'fieldMap' property is missing in 'QueryOptions' typings"
## Issue Description

### What are you doing?

[code]

### What do you expect to happen?

There are no compilation errors.

### What is actually happening?

[code]

### Additional context

<img width="928" alt="Screen Shot 2019-10-17 at 17 24 36" src="https://user-images.githubusercontent.com/11874442/67017909-14f04f80-f103-11e9-9370-b67efc0ab0b8.png">

### Environment

- Sequelize version: 5.19.8

[2019-10-17 15:21] rike422 commented on #7649
Hi @papb

I still have a problem. versoin "5.19.8"

[code]

[2019-10-17 15:49] jpinkster commented on #11459
@sushantdhiman have you been able to review this yet? the latest sequelize is still broken

[2019-10-17 16:02] nealdyrkacz commented on #11561
@papb Thanks!
I have been able to get it up and running.  Maybe in a not 'best practice' approach.  but I understand what is going on a little better after a lot of trial and error.  I had this question up on stackoverflow and went ahead and answered it myself.  Hopefully it will get some feedback on streamlining my approach.

https://stackoverflow.com/questions/58420410/model-loader-for-sequelize

[2019-10-17 17:53] nawlbergs commented on #10932
@codyhazelwood  - So - I'm also trying to move from V4 to V5...   In V4 - the getter was automatically added to all queries.... eg... if I queried firstName, lastName... my displayName getter would come back as well...   if I add it to the Model as a Virtual type as a workaround... i now will have to manually go thro all our api calls and add displayName as an attribute in order to get this value

[2019-10-17 18:03] misos1 commented on #11451
Maybe something similar should be also done for showAllSchemas. It is public in documentation where it returns just Promise\<Array\> but content differ per dialect.

mysql (lists only actual database with tables):
[code]

mariadb (lists all databases):
[code]

[2019-10-17 18:13] papb commented on #11451
@misos1 Indeed! Thanks. Can you open a new issue to track this? And link to this one? Thanks

[2019-10-17 18:22] misos1 opened #11568 "Standardize the API of the `queryInterface.showAllSchemas` method"
## Issue Description

Similar situation as in: https://github.com/sequelize/sequelize/issues/11451

According to documentation method `queryInterface.showAllSchemas` returns Promise\<Array\>. But actual content differs per dialect.

mysql (lists only actual database with tables):
[code]

mariadb (lists all databases):
[code]

I did not check other dialects.

Both dialects were tested with mariadb

[2019-10-17 18:25] papb commented on #10932
@nawlbergs Since this change is not documented as a breaking change from v4 to v5, I would say it is unintentional and is indeed a bug. However, `getterMethods` will be deprecated in the future so regardless I suggest you move to virtual attributes, yes.

No, not this. What I suggest you do is go to each of your models and remove `getterMethods` replacing each entry on it by a virtual attribute. H

[2019-10-17 18:38] papb commented on #11566
You mean `Partner.scope('clean').create({ returning: true })`, right?

Thanks for the report!! I agree with you that the current behavior is a potential leak, and your suggested behavior is better :)

[2019-10-17 18:39] papb commented on #11566
Even though logical, I'd say that this fix is technically a breaking change, what do you think? Is this behavior discussed anywhere in the docs?

[2019-10-17 19:51] papb commented on #11564
Awesome! Please do :+1: It's just fixing the types, yes (and adding a type test to prevent regressions).

Let me know if you need any help.

[2019-10-17 20:21] cjancsar opened #11569 "BulkCreate with composite unique constraint does not work"
## Issue Description

### What are you doing?
I am trying to use `bulkCreate` to `updateOnDuplicate` when a duplicate is detected. Duplicate should be detected by a "multi column unique index".

[code]

### What do you expect to happen?

See the expected assertions from my SSCCE:

[code]

I wanted a duplicate to be detected by the `unique_timestamp_per_foo` unique key when calling the `bulkCreate`

[2019-10-18 00:16] vitalbone commented on #10973
I think it's possible using `dialectOptions`:

[code]

Although I am still running into a connection problem:

[code]

Are there examples of alternate ways to specify a connection stream directly to Postgres?

[2019-10-18 01:19] omricohen commented on #8035
For those stumbling here, here was my solution, convert to date object before building the model. For example:

`dateOfBirth = moment(rawUser.dateOfBirth,"MM/DD/YYYY").toDate();`

[2019-10-18 03:08] benjamin658 opened #11570 "Index Hints on Mariadb dialect"
## Issue Description

### Is your feature request related to a problem? Please describe.
Currently the `indexHints` option cannot be used on the `mariadb` dialect. If I want to use an index on a query, I have to write a raw query.

### Describe the solution you'd like
Supports `indexHints` option when using `mariadb` dialect.

[code]

### Why should this be in Sequelize
Sequelize supports indexHin

[2019-10-18 05:17] seally1186 opened #11571 "mariadb transaction deadlock does not release connection"
## Issue Description

### What are you doing?

Link to SSCCE PR: https://github.com/papb/sequelize-sscce/pull/15

[code]

### What do you expect to happen?

The second query in `t1` will wait for `t2`, and the second query of `t2` will result in a deadlock. After this, `t2` should be rolled back, so we should have one available connection to start `t3`.

### What is actually happening?

[code]

Af

[2019-10-18 05:19] givionte commented on #7395
Anyone know a simple workaround, without building a resolver to throw an error?  Currently I just have the front-end rewrite the generic "Validation error" message with my own error message, but obviously that isn't ideal, as msg's in the model validator should be able to catch it.

[2019-10-18 06:17] sushantdhiman commented on #9359
Supported with https://github.com/sequelize/sequelize/pull/11537

[2019-10-18 06:17] #9359 closed

[2019-10-18 06:17] sushantdhiman commented on #4187
Supported with https://github.com/sequelize/sequelize/pull/11537

[2019-10-18 06:17] #4187 closed

[2019-10-18 06:40] adhityan26 opened #11572 "findAll nested association using where condition and limit not working as expected"
## Issue Description

### What are you doing?

**Here is the link to the SSCCE for this issue**: [sequelize-sscce#17](https://github.com/papb/sequelize-sscce/pull/17)

I'm using `findAndCountAll` on the SSCCE, but since `findAndCountAll` also using `findAll`, the result is same

summary:
[code]

### What do you expect to happen?

It will return the query result

### What is actually happening?

Th

[2019-10-18 09:23] sushantdhiman commented on #11570
https://github.com/sequelize/sequelize/pull/11573

[2019-10-18 09:23] #11570 closed

[2019-10-18 09:43] sushantdhiman commented on #11523
:tada: This issue has been resolved in version 5.21.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sequelize)
- [GitHub release](https://github.com/sequelize/sequelize/releases/tag/v5.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-18 10:38] robstev0 opened #11574 "Foreign keys are different during model.create()"
I have created a few simple models i.e. User, Role, Jurisdiction along with some associations as below:
[code]

I have defined underscore to be true:
[code]

The User table is created as expected with the foreign keys "role_id" and "jurisdiction_id" respectively.

The issue is when I try to populate the database with some sample entries, I have to refer to the foreign keys as "RoleId" and "Jurisdi

[2019-10-18 11:28] nitishkumarnitc opened #11575 "error TypeError: include.model.getTableName is not a function"
Issue Description
    error TypeError: include.model.getTableName is not a function
### What are you doing?
    I am calling Campaign.getCampaignByCampaignId(1) .

   My code is something like this.

'use strict';
let CampaignImages = require('./campaignimages');
module.exports = (sequelize, DataTypes) => {
    const Campaign = sequelize.define('Campaign', {
        name: {
            type: DataT

[2019-10-18 12:02] remcohaszing opened #11576 "Replace bluebird with async/await"
## Issue Description

Sequelize depends on bluebird a lot. This obscures stack traces and negatively impacts readability of the Sequelize code base itself.

I believe it should be possible to replace all of bluebird with async/await syntax and maybe some utility libraries such as [p-waterfall](https://www.npmjs.com/package/p-waterfall) and friends.

The goal would be to lose bluebird as a dependen

[2019-10-18 12:27] papb commented on #11576
Hello, thanks for the idea, I am also a big fan of [sindresorhus/promise-fun](https://github.com/sindresorhus/promise-fun).

This is a duplicate of #8315 though.

[2019-10-18 12:27] #11576 closed

[2019-10-18 12:31] papb commented on #8315
By the way as I mentioned in the duplicate issue, I am a big fan of [sindresorhus/promise-fun](https://github.com/sindresorhus/promise-fun), we could use that where necessary.

However, to be honest, I also think that keeping Bluebird is not that bad... Bluebird is a really good Promise library :)

[2019-10-18 12:36] papb commented on #10973
@vitalbone Do you also get this `ETIMEDOUT` error when using `pg` directly (without Sequelize)?

[2019-10-18 13:37] papb commented on #11544
You mean to decide between the `created_by` or `updated_by` field? Isn't it more simple? If you call `Model.create` sequelize knows that it must populate the `created_by`; if you call `Model.update` it knows that it's `updated_by` that has to change.

[2019-10-18 13:37] papb commented on #11113
@danedavid Ok, thanks!

[2019-10-18 13:37] #11113 closed

[2019-10-18 13:41] papb commented on #11575
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

When

[2019-10-18 13:41] #11575 closed

[2019-10-18 13:42] papb commented on #11574
Thanks for the report, this confusion is a known problem that I hope to solve in the near future.

I will close this in favor of #11225 to track everything in one place.

[2019-10-18 13:42] #11574 closed

[2019-10-18 14:12] sandeepraheja commented on #11544
About the scenarios where it is not known if it will be a create or an update, hence you use upsert?

[2019-10-18 16:02] papb commented on #11544
Ah, of course, you're right :+1:

[2019-10-18 16:03] papb commented on #11571
Thanks for the detailed report. Can you wrap your code into a [sequelize-sscce](https://github.com/papb/sequelize-sscce) please?

[2019-10-18 16:06] papb commented on #2325
@sergeyjsg This is being tracked on #10347

[2019-10-18 17:55] seally1186 commented on #11571
Sure, here's the PR: https://github.com/papb/sequelize-sscce/pull/15 . I've also cleaned it up to use models rather than raw queries.

[2019-10-18 18:20] cjancsar commented on #11569
It is not clear why line https://github.com/sequelize/sequelize/blob/3517eb7e7bf5ce07cd33ad61fec291d0e8892d49/lib/model.js#L2705 is filtering the unique keys by `length === 1`.

I have locally added a patch to allow an explicit option to be set called `upsertOn` when calling `Model.bulkCreate`.

`upsertOn` can either be:
- An array of model `fieldNames` that are either primary keys or composite me

[2019-10-18 18:22] papb commented on #11571
Fantastic, thanks!

[2019-10-18 18:37] cjancsar commented on #11569
Code in fork here: https://github.com/cjancsar/sequelize/commit/45f6792d3cdb3835c75a8a88192d42c78dd06613

[2019-10-18 18:46] guilmarc opened #11577 "Add multiple foreign keys on BelongsToMany() association"
## Issue Description
For now it's impossible to generate N:M relationship with multi fields primary key table.  The sync() method generates a relation table with the FIRST primary key element only.

[code]

### Is your feature request related to a problem? Please describe.
Yes, many of my projects are using multiple fields primary key.

### Describe the solution you'd like
The sync() method should

[2019-10-18 19:03] T0TProduction commented on #11564
Whilst looking for the type definition, I found something that might make this a bit more complicated :

According to [this( 4th bullet point) ](https://github.com/sequelize/sequelize/blob/master/docs/manual/upgrade-to-v5.md#others) from the "migrate to v5" docs, `undefined` as **value** of a key throws errors.
This does imply, that the type should not allow `undefined` as well.
Considering the ex

[2019-10-18 21:16] ignaciohermosillacornejo commented on #2498
Thank you @RobertDaleSmith, that helped me

[2019-10-18 21:49] alvarofblanco commented on #1613
I don't know why but @mickhansen answer only works for findAll and not for findOne

[2019-10-19 04:21] thoqbk opened #11579 "Flatten result in .findAll"
## Issue Description

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Example: I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. How can the requested feature be used to approach the problem it's supposed to solve?

[code]

### Why should this

[2019-10-19 07:59] sushantdhiman commented on #10821
Supporting Node >= 10, https://github.com/sequelize/sequelize/pull/11580

[2019-10-19 07:59] #10821 closed

[2019-10-19 08:44] #10848 closed

[2019-10-19 10:11] #11545 closed

[2019-10-19 21:15] papb commented on #1613
Hello @ajmueller, feel free to ping me next time when you want to ask/discuss something. Sorry that it took me 8 months to see your message. I assume you're still using the workaround you mentioned? Please let me know, I will try to help you, thanks

[2019-10-19 21:18] papb commented on #1613
@alvarofblanco Can you create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) to show what you said? Thanks

[2019-10-19 21:20] papb commented on #11572
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-10-20 01:12] Suisse00 opened #11583 "sqlite self table FOREIGN KEY constraint failed with ON DELETE RESTRICT when drop()/sync({force:true})"
## Issue Description
I created a nested table that refers to itself.
When it contains data, trying to execute the .drop() or .sync({force: true}) will trigger a constraint failure from sqlite.

### What are you doing?

[code]

will output

[code]

### What do you expect to happen?

Since I'm deleting the whole table, FK to the same table shouldn't trigger this FK constraint.

*Note*: I don't have

[2019-10-20 09:07] sushantdhiman commented on #10819
Bluebird now supports `async_hooks` with https://github.com/petkaantonov/bluebird/issues/1403. Promises no longer required to be patched with `cls-bluebird`.

With v6 you should use `cls-hooked` https://github.com/sequelize/sequelize/blob/master/docs/manual/upgrade-to-v6.md#cls

For now we are not going to remove CLS support

[2019-10-20 09:07] #10819 closed

[2019-10-20 09:47] 841660202 opened #11585 "Associations table & Multiple query criteria"
## Issue Description
i use egg.js + egg-sequelize + sequelize

[code]

 - run log result

- result log img
![image](https://user-images.githubusercontent.com/18305361/67157442-c9d27880-f35e-11e9-85ef-f9bef04bb9b4.png)

- result log sql formatter
[code]

- Expect

[code]

### try

- I have tried docs

[code]
my code
[code]
- result
![image](https://user-images.githubusercontent.com/18305361/6715761

[2019-10-20 13:38] mschipperheyn opened #11586 "V6: Support for bind parameters"
There is a PR (https://github.com/sequelize/sequelize/pull/10284) for bind parameters on SELECt statements in sequelize, a crucial performance related feature. However, it is floundering.

I would like to propose to make this feature an explicit goal of v6. This way it gets the focus and priority it requires.

On a separate note, I think any sequelize version should have an umbrella task that allo

[2019-10-20 17:03] papb opened #11587 "instance.getThing() fails on many-to-many with non-primary target key"
## Issue Description

### What are you doing?

**Here is the link to the SSCCE for this issue:** [sequelize-sscce#16](https://github.com/papb/sequelize-sscce/pull/16)

Summary:

[code]

### What do you expect to happen?

See the SSCCE, `ship.getCaptains()` should return something

### What is actually happening?

See the SSCCE, `ship.getCaptains()` is returning an empty array

### Additional conte

[2019-10-20 17:10] papb commented on #11587
As shown in the SSCCE, the query is generated incorrectly... For example, [in MSSQL](https://ci.appveyor.com/project/papb/sequelize-sscce/builds/28242277#L81):

[code]

SQL Generated:

[code]

SQL Expected:

[code]

[2019-10-20 17:11] papb commented on #11587
@fboechats Would you like to try to take this one?

[2019-10-20 19:46] papb commented on #11586
Thank you. I agree.

[2019-10-20 19:47] papb commented on #11586
@sushantdhiman Should we add this to the v6 milestone?

[2019-10-20 20:21] loban opened #11588 "Sequelize should combine duplicated properties in the where clauses of multiple scopes by ANDing them instead of replacing them"
## Issue Description

### Is your feature request related to a problem? Please describe.
Sequelize's *"combine where clause when using multiple scopes"* feature is severely limited because it replaces duplicated properties instead of **AND**ing them.

For example combining
[code]
with
[code]
results in the expected
[code]
This is the equivalent of combining
[code]
with
[code]
to produce
[code]
How

[2019-10-20 21:09] papb commented on #11588
Thanks for the report. This would be a breaking change, but since we are in the beta release process of v6 anyway, it could be a good time to implement this.

[2019-10-20 21:28] vitalbone commented on #10973
Unfortunately I can't confirm because I don't have the ability to test the connection to the same static IP or remote database anymore.

[2019-10-21 01:03] loban commented on #11588
If someone could point to the area of the code that is responsible for the merging of scoped "where clauses", I could attempt to make a PR.

[2019-10-21 01:42] papb commented on #11588
Nice, I will try to take a look and point you in the right direction.

Meanwhile, I have a question about your first post:

What do you mean here?

[2019-10-21 01:56] loban commented on #11588
Typo! I meant to say that `Model.scope([a, b])` is not equal to `Model.scope([b, a])` because Sequelize overrides duplicated properties in the where clause. I would have preferred that the order of scopes should not matter.

However, on second thought, even if this feature request was completed and merged, the above would still not be true because things outside the where and include clause are st

[2019-10-21 02:15] jpinkster commented on #11459
@sushantdhiman this is still an issue. Have you had a chance to review the SSCCE. Once you do, you will quickly see the issue and what patch version it breaks on. Still broken to date

[2019-10-21 02:35] papb commented on #11459
Hello, please don't ping sushantdhiman so frequently. Maintainers are very busy with several things, please be more patient. If you have an issue, just post it, no need to ping maintainers like this.

Now, I have a request, I would like you to further improve your SSCCE, focusing on the first S (which stands for "short"). Is all that stuff really necessary? I bet you could remove options like "und

[2019-10-21 02:36] papb commented on #11588
Ah, ok. That's what I thought. Agreed, other things are overwritten anyway...

[2019-10-21 02:38] papb commented on #11588
Oh, by the way, I ended up not having time to look into it now. Can you please try to investigate yourself? Try to place some breakpoints around the code :) If you get stuck let me know, hopefully I'll have more time in the near future.!

[2019-10-21 02:44] jpinkster commented on #11459
Hey @papb, I understand and don't mean to be loud about this issue but it is kind of a big deal and hoping that it is very clear what is going on once some one can review it.

As far as the SSCCE, `underscored: true` is needed because that is also contributing to the values returning null. (just confirmed that when you questioned it being needed). It may look long but really there is a lot of repe

[2019-10-21 02:58] papb commented on #11459
@jpinkster Ok, thanks!!

[2019-10-21 03:14] emko opened #11589 "SequelizeValidationError: Validation error"
## Issue Description

any type of validation i do and make it fail i get a error even though i am doing try catch, what am i doing wrong? or is this normal? thanks

### What are you doing?
[code]
[code]

### What do you expect to happen?

to get validation result not a this kind of error

### What is actually happening?

### Environment

Sequelize CLI [Node: 10.15.3, CLI: 5.5.1, ORM: 6.0.0-beta.3]

[2019-10-21 03:52] taphuocanh94 opened #11590 "Associate methods on findOrCreate???"
I have two model:
[code]
When I add new a role and user with `create` function, after that, I can user method `addUser` to add a related between new user and new role.

[code]

But when I user `findOrCreate` function to find or create new role, after that when I use method `addUser` to add a related between new user and this role, then I'm received an error:

[code]

[code]

### Environment

- Seq

[2019-10-21 04:02] hzlu commented on #11381
I have reached the same error

[2019-10-21 04:10] #11590 closed

[2019-10-21 04:11] taphuocanh94 commented on #11590
use `let [role, created] = await Role.findOrCreate({...});`
instead of `let role = await Role.findOrCreate({...});`

[2019-10-21 04:25] loban commented on #11588
Okely Dokely. I'll try to carve out some time to take a look at it this week. Thanks for your prompt responses!

[2019-10-21 07:28] sandeepraheja commented on #11544
Any suggestion for the same? Looks like QueryInterface's Upsert has this option

[2019-10-21 09:41] cyrilchapon commented on #11566
Hey @papb

Yes about the original issue; but actually yes and no. Yes for the insert / returning of Postgres.
But I'm thinking more broadly about `UPDATE` / `.reload()` now.
What do you think ?

One should produce failing tests maybe.

Hum.. I didn't find anything in the docs mentionning any of this... so...
It's a "breaking" change in the mean it should break stuff; but SEMVER-speaking, no.

[2019-10-21 10:03] adhityan26 commented on #11572
@papb I have included the SSCCE repository on the description

[2019-10-21 12:20] fboechats commented on #11587
@papb Sure, I can take this one.

[2019-10-21 13:58] Level0r0s opened #11591 "Firebird database"
suporte to Firebird.

[2019-10-21 15:46] papb commented on #11572
Great, thanks, I don't have time to look into it right now but hopefully will do later (or someone else)! Thanks.

[2019-10-21 15:51] papb commented on #11591
Thanks for the request; however we are busy with other priorities right now, and won't be focusing on a new dialect very soon.

Regardless, I will leave this open, so it may be taken on another time.

[2019-10-21 15:53] papb commented on #11544
This part is not the most challenging of this feature IMO, the biggest problem is how to automatically keep track of which user is the correct one to be put there...

Do you have any suggestion on how to do this? The problem of deciding between `created` or `updated` can be left for later.

[2019-10-21 15:57] sandeepraheja commented on #11544
The backend is written in Typescript, and with OOPs capabilities in place, we are using the Repository pattern. Repositories are injected using Inversify (the DI tool), hence correct user is not the issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pedro Augusto de Paula Barbosa <notifications@github.com>
Sent: Monday, October 21, 2019 9:24:13 PM
To: se

[2019-10-21 15:57] papb commented on #11566
I guess changing this on `.reload()` makes sense too, but what do you mean about `UPDATE`?

Yeah I think it would be a good way to start, especially if it creating them don't take much time :) If you wish, it would be great if you could create those tests.

However, we must of course wait for @sushantdhiman's opinion on this, so if you prefer to wait to create those tests that's fine too.

[2019-10-21 16:09] papb commented on #11588
I have just remembered the following ongoing PRs that have good chances of being related: #10998 and #11436 - Please take a look on both and tell me what you think of them (does any of them help you?)

[2019-10-21 16:13] sandeepraheja commented on #11544
Oh no, it can't be left on sequelize to decide. We are not in one-thread-per-request model.

The information will be fed in at the time of call to upsert.

Maybe we can do a screenshare any given day?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Pedro Augusto de Paula Barbosa <notifications@github.com>
Sent: Monday, October 21, 2019 9:38:44 PM
To: sequeliz

[2019-10-21 16:18] papb commented on #11544
Ah, ok, so you will pass the user, I get it now. Much simpler than I was thinking. What you basically want is a super-powered upsert that depending on the case fills one column or another.

I think it's better to just discuss here in the issue as we are already doing.

[2019-10-21 16:20] sandeepraheja commented on #11544
Yes, how can I get it?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pedro Augusto de Paula Barbosa <notifications@github.com>
Sent: Monday, October 21, 2019 9:48:55 PM
To: sequelize/sequelize <sequelize@noreply.github.com>
Cc: Sandeep Raheja <sandeep@taazaa.com>; Mention <mention@noreply.github.com>
Subject: Re: [sequelize/sequelize] Any in-built support

[2019-10-21 16:23] papb commented on #11544
This feature does not exist currently, as far as I know. I have labeled this as an understood feature request (to be worked on in the future). I don't have time to focus on this, sorry.

I think you will have to use the `findOne` strategy you mentioned in the first post for now.

Or would you like to try to implement this feature?

[2019-10-21 16:54] sandeepraheja commented on #11544
The upsert function has an option to specify "fields". We can keep different for each create and update

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Pedro Augusto de Paula Barbosa <notifications@github.com>
Sent: Monday, October 21, 2019 9:53:39 PM
To: sequelize/sequelize <sequelize@noreply.github.com>
Cc: Sandeep Raheja <sandeep@taazaa.com>; Mention <ment

[2019-10-21 16:55] papb commented on #11589
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-10-21 17:10] papb commented on #11544
That is a good idea! Would you be willing to attempt a PR?

[2019-10-21 17:11] sandeepraheja commented on #11544
Sure, in this coming week, will make a PR

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Pedro Augusto de Paula Barbosa <notifications@github.com>
Sent: Monday, October 21, 2019 10:40:24 PM
To: sequelize/sequelize <sequelize@noreply.github.com>
Cc: Sandeep Raheja <sandeep@taazaa.com>; Mention <mention@noreply.github.com>
Subject: Re: [sequelize/sequelize] "s

[2019-10-21 17:34] TrustyMan commented on #10858
The same error.

[2019-10-21 17:35] TrustyMan commented on #10858
{ SequelizeConnectionAcquireTimeoutError: Operation timeout
    at pool.acquire.catch.error (F:\1Daniel\serverless\levar_shopify_integration(completed api)\node_modules\sequelize\lib\dialects\abstract\connection-manager.js:282:52)
  name: 'SequelizeConnectionAcquireTimeoutError',
  parent:
   Error: Operation timeout
       at Timeout._timeout.setTimeout (F:\1Daniel\serverless\levar_shopify_integr

[2019-10-21 18:26] papb commented on #11585
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-10-21 18:37] papb commented on #8035
Hello, may I ask why you all think this deprecation warning is incorrect? It appears correct to me, dates should follow [ISO8601 stardard](https://en.wikipedia.org/wiki/ISO_8601), so a warning for not following it seems correct.

This reminded me of this [XKCD](https://xkcd.com/1179/)

[2019-10-21 18:40] papb commented on #11583
Thanks for the report, can you please convert your code into a [sequelize-sscce](https://github.com/papb/sequelize-sscce) so that we can easily see it working on all dialects except sqlite?

[2019-10-21 18:48] jorbascrumps commented on #3256
@papb I don't recall why I 👎 your comment. Thank you for taking the initiative in creating that repo and for continuing to investigate this issue.

[2019-10-21 18:56] papb commented on #3256
@jorbascrumps Ok, thanks :+1:

[2019-10-21 19:12] Suisse00 commented on #11583
Done ( https://github.com/papb/sequelize-sscce/pull/18 )
Out of the 4 dialects only the SQLite failed.

[2019-10-21 21:35] papb commented on #11583
Thanks! Great SSCCE.

Do you have any suggestion on how Sequelize should handle this? Should Sequelize remove the foreign key constraint before deleting?

[2019-10-21 21:35] papb commented on #11583
I've tagged this as a feature because it would be something extra that Sequelize is doing since SQLite doesn't do it by itself.

[2019-10-21 22:20] Suisse00 commented on #11583
I'm new to both SQLite and sequelize so I can't suggest the best approach.

I did Google a little bit before submitting my suggestions and they did make no sense... SQLite doesn't support to drop a column or FK... oh... crap...

So the only suggestion that left on my list is: Parse the FK constraint and delete rows ourselves in the right order. To this suggestion, I added the note (before googling

[2019-10-21 23:24] ajmueller commented on #1613
@papb thanks for the reply!  We are still using the workaround that I mentioned.  We have a few helper functions to make our lives easier, but it still means having to remember the workaround every time you make changes to or add code related to the `Gear` model I mentioned above.  If this functionality could be fixed in Sequelize, that would be awesome.  Let me know what I can do to help.

[2019-10-22 00:53] papb commented on #1613
Thanks for being willing to help :grimacing: finding time to help maintain Sequelize has been hard, so many things happening here :grimacing:

The first thing that comes to my mind, that you could probably do without much trouble and that would be super helpful, would be for you to create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) showing your situation in which things are plural

[2019-10-22 01:02] papb commented on #11564
Personally I think this drawback is a small price to pay.

I've found [typescript#13195](https://github.com/microsoft/TypeScript/issues/13195) though, so I guess there isn't a better way until that issue is fixed (if ever?).

Let's see what @SimonSchick thinks about it :)

[2019-10-22 06:02] pisangGoreng opened #11593 "Unexpected error timeout, after running serverless"
## Issue Description
I have some issues with serverless & sequelize. After I’m running serverless offline on my local computer, I always get error like SequelizeConnectionError: connect ETIMEDOUT

### What are you doing?
Here, I'm using sequelize with serverless too. So I'm trying to increase more time out in sequelize connection, but I still get the same error. Below Im share my config for sequel

[2019-10-22 08:55] ultimateakash opened #11594 "[Op.and] not working with multiple [Op.and]."
[code]
its not giving any result.
[code]
query
[code]

[2019-10-22 09:32] segersniels opened #11595 "Typescript bindings incomplete when using `sequelize.query()`"
###  Issue Description
It seems that the Typescript bindings are incomplete when using `.query()` with the `plain: true`.
It always returns an array of objects and doesn't take the `plain` option into account which should return a single row.

Adding the following typing resolves the issue but not entirely sure if it's the way to go.

[code]

### What are you doing?

[code]

### What do you expect

[2019-10-22 12:22] papb commented on #11583
@Suisse00 I see... Thanks :)

I will leave it open because perhaps it might be interesting to try to implement a workaround for this in Sequelize, however it would be much better if SQLite supported this natively; so I will tag this as a low priority feature.

[2019-10-22 13:17] dengue8830 commented on #10231
same problem here, i fixed adding 1 day to the obtained date 😢

[2019-10-22 13:30] dengue8830 opened #11597 "mssql "date" type get the value as the previous day"
## Issue Description
For mssql "date" type, retrieves the date as 1 day less than the stored value.

### What are you doing?

In db the value is "2019-10-30" but the returned value is "2019-10-29"

The result from db (using the sql query generated by sequelize):
![image](https://user-images.githubusercontent.com/5104213/67291718-5775ab80-f4b8-11e9-85b8-690563c6aadc.png)

The result from sequelize:

[2019-10-22 14:04] papb commented on #11597
This look like a timezone issue, have you investigated your DB and sequelize's timezone settings?

[2019-10-22 15:59] cjancsar commented on #11569
@papb is this a useful feature? Should I make a PR?

[2019-10-22 17:00] cjancsar commented on #10840
Googling about how to use savepoints led me to this undocumented feature.

[2019-10-22 17:04] #11594 closed

[2019-10-22 18:35] papb commented on #11594
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). This issue will be closed for not following the issue template. Take a look in our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues).

When

[2019-10-22 21:44] MahmoudAbdo90 commented on #11111
@PedroGao  @nolan-m  @BobGneu
running into the same issue, on Model.create
anyone got it working ?

[2019-10-22 22:14] Vadyanga opened #11598 "updateOnDuplicate and Postgres 12"
Hello

I have [the following code](https://imgur.com/ZPUqgwR), Sequelize 5.21.1 and Postgres 12(>9.4), when I run code, it creates all rows as in array without updating

I need to update rows if keys match and if they don't match - add. = [`if(inTable_reviewID == _data_reviewID) => update_line, else => add_newline`

[code]

[2019-10-22 22:47] dustin-rcg commented on #5211
@sushantdhiman has a point. Sequelize could delegate query generation and migrations to Knex, leveraging solutions that Knex already provides in translating to various RDBMS with suitable defaults. Then the Sequelize project can focus on making the ORM part really cohesive and less 'gotchas'. I am working with Sequelize due to its being used in another project, and I got hung up on `underscored` h

[2019-10-23 06:19] t0lik commented on #4630
This code in postgres/data-types.js

`
GEOMETRY.parse = GEOMETRY.prototype.parse = function parse(value) {
    const b = new Buffer(value, 'hex');
    return wkx.Geometry.parse(b).toGeoJSON();
};
`

still does not support coordinate projection and produces GeoJSON without 'crs' property.
This can be resolved by passing options.shortCrs or options.longCrs to toGeoJSON function.

[2019-10-23 13:41] sushantdhiman commented on #11598
Sequelize requires you to file new issues with a specific [issue template](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE/bug_report.md). Please don't ignore our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues) and template structure. They help us quickly triage issues.

Note that this issue will be closed for not follo

[2019-10-23 13:41] #11598 closed

[2019-10-23 14:42] Vadyanga commented on #11598
bump

[2019-10-23 15:19] cjancsar commented on #11598
@Vadyanga you need to follow the issue template as @sushantdhiman has mentioned.

[2019-10-23 15:47] papb commented on #11598
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-10-23 15:51] Vadyanga commented on #11598
[code]

[2019-10-23 16:41] nolan-m commented on #11111
@MahmoudAbdo90
I fixed mine by making sure the models where initialized before using them.

I had some unit tests that used Sequelize models, but I never loaded the file that initialized all them in the unit tests.

[2019-10-23 18:07] nkabbara opened #11599 "Sequelize targetKey doesn't seem to be taking effect with belongsToMany"
## Issue Description

Hello,

targetKey option doesn't seem to be taking effect with belongsToMany. I'm bringing this up in case it's a valid bug.

For a specific example:

**My model def looks like this:**

[code]
**The sql produced looks like this:**
[code]

I’m expecting Ranking.searchRequestId instead of Ranking.id. So `INNER JOIN SearchRequests AS SearchRequest ON Ranking.searchRequestId = Se

[2019-10-23 18:12] ajmueller commented on #8586
Thank you @corim707 for the workaround.  I just ran into this and was pounding my head against my desk trying to figure out what was going on.  The instance definitely gets modified as expected when viewing changes in a debugger, so I was terribly confused.  I hope this gets resolved soon.

[2019-10-23 19:05] Vadyanga commented on #11598
Are you working on it? I have a time limit...
https://imgur.com/a/jVeb9gx

[2019-10-23 19:10] BigsonLvrocha opened #11600 "Adding a relation in a belongsToMany fires the beforeBulkCreate/afterBulkCreate hook in through model when using add function"
## Issue Description

Firing a hook in a model defined as through in a belongsToMany relationship is not covered in the documentation.

### What was unclear/insufficient/not covered in the documentation

The Hook section in Association subsection states only that

It doesn't mention that BulkCreate hooks will run in the through model when a record is inserted in target table

### If possible: Prov

[2019-10-23 20:01] fnimick commented on #11534
Note: this doesn't work for composite keys with a partial index, where you need to specify `ON CONFLICT ("a","b") WHERE "deleted_at" IS  NULL`, for example.

[2019-10-23 20:06] papb commented on #11534
Hello, thanks for the report!

Great! What kind of guidance do you want?

[2019-10-23 20:08] papb commented on #4630
Hi @t0lik, can you please open a new issue about it, following our template? Thanks

[2019-10-23 20:17] papb commented on #11579
Hello! I think this is unnecessary complexity to be added in the core library. Calling `.map(r => r.id)` seems easy enough to me. In fact, if we had this `.flat()` or even a `{ flat: true }` option, readers would have to check our docs to really discover what it is. If you are worried about performance, consider using `{ raw: true }` in your query. What do you think?

[2019-10-23 20:20] papb commented on #11600
Interesting, nice catch. I wonder if `beforeBulkDestroy` and `afterBulkDestroy` are also executed when the `remove` method is called as well?

[2019-10-23 20:43] fboechats commented on #11587
@papb Hello, I'm kinda lost in this problem, sorry for that. I didn't find how to manage that selection and don't have him thinking it's a number id over a string.

[2019-10-23 20:46] BigsonLvrocha commented on #11600
Yes, according to the source, with remove functions hooks will behave the same as the source is:
[code]
beforeBulkDestroy/afterBulkDestroy hooks will run and individual beforeDestroy/afterDestroy hooks will only run when individualHooks is set to true in the options

[2019-10-23 21:03] fnimick commented on #11569
Note: this doesn't work for composite keys with a partial index, where you need to specify ON CONFLICT ("a","b") WHERE "deleted_at" IS NULL, for example.

[2019-10-23 21:04] fnimick commented on #11569
@papb I have a fix working for my use case where I allow the user to specify `upsertKeys` explicitly, which can either be an array of columns or an object `{ fields: <columns>, where: ... }` with the where expression mapping to a partial index. Should I make a PR?

[2019-10-23 21:38] papb commented on #11600
Oops you're very right!! Sorry :grimacing:

[2019-10-24 00:23] ahmadabdul3 commented on #1801
is this still the recommended way to do this or has there been an update?

[2019-10-24 02:05] thoqbk commented on #11579
@papb Thanks you for your reply. The `{ flat : true }` comes from my experience with Django, I use it all the time because of its convenience.

Laravel Eloquent ORM also has this kind of feature.

I did some searching and found some (many) devs also want this feature like me:

- [Use include to return an array of ids](https://github.com/sequelize/sequelize/issues/5217)
- [Sequelize return array wi

[2019-10-24 02:37] Tokyocsd commented on #8877
{ SequelizeConnectionAcquireTimeoutError: Operation timeout
    at pool.acquire.catch.error (/www/wwwroot/doumi/node_modules/sequelize/lib/dialects/abstract/connection-manager.js:282:52)
  name: 'SequelizeConnectionAcquireTimeoutError',
  parent:
   Error: Operation timeout
       at Timeout._timeout.setTimeout (/www/wwwroot/doumi/node_modules/sequelize-pool/lib/Deferred.js:19:19)
       at ontime

[2019-10-24 02:37] Tokyocsd commented on #8877
{ SequelizeConnectionAcquireTimeoutError: Operation timeout
    at pool.acquire.catch.error (/www/wwwroot/doumi/node_modules/sequelize/lib/dialects/abstract/connection-manager.js:282:52)
  name: 'SequelizeConnectionAcquireTimeoutError',
  parent:
   Error: Operation timeout
       at Timeout._timeout.setTimeout (/www/wwwroot/doumi/node_modules/sequelize-pool/lib/Deferred.js:19:19)
       at ontime

[2019-10-24 02:58] #11600 closed

[2019-10-24 08:03] MahmoudAbdo90 commented on #11111
I figured the problem out, It was a configuration problem.
@nolan-m Thanks man

[2019-10-24 10:48] ratulSharker commented on #10628
I'm facing this warning in `v6-beta`. I'm using `findOne` in one of my express middleware as following

[code]

The code is pretty self explanatory, i'm reading a model using sequelize and injecting it into `res.local`.

The warning shows like following

If i stop calling this middleware from my router, then the warning disappears. Please let me know how to get rid of this warning.

Thanks in adva

[2019-10-24 11:53] papb commented on #10628
@ratulSharkter Please create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) showing this warning so we can work on it.

[2019-10-24 12:10] charlitos85 opened #11602 "Model.create duplicated timestamps"
## Issue Description

### What are you doing?
when create a new document using Model.create({...}) duplicated with all in lowercase the timestamps

return this

`
{
    "id": "123",
    "name": "xxxx",
    "lastname": "yyyy",
    "active": true,
    "updatedAt": "2019-10-24T11:58:39.484Z",
    "createdAt": "2019-10-24T11:58:39.484Z",
    "createdat": "2019-10-24T11:58:39.484Z",
    "updatedat": "2

[2019-10-24 12:19] papb commented on #11602
When a bug is reported, we really need a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to be able to easily reproduce it. Without this, we simply can't help you in a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb/sequelize-sscce).

This issue will be closed for lacking enough informatio

[2019-10-24 12:19] #11602 closed

[2019-10-24 13:30] mranon0007 commented on #9773
waiting for an update

[2019-10-24 14:12] juancampuzano opened #11603 "Sequelize using SQLcipher to encrypt DB"
## Issue Description

I am trying to encrypt the database using SQLCipher. In the Sequelize documentation it says that it is possible to do: "Supports SQLCipher encryption for SQLite." But in the documentation I can't find the steps of how to do. I am trying to follow the following example found in Stackoverflow but I get the error: "SQLITE_NOTAD"

### StackOverflow / Slack attempts

related case:

[2019-10-24 15:29] jy95 opened #11604 "queryinterface.sequelize.models is empty"
## Issue Description

When running a seeder, `queryinterface.sequelize.models` is a empty object

### What are you doing?

I used the `sequelize init` command of the cli to set up a project.
I created manually some models ( without the cli )  and then I fill the file given by `sequelize seed:generate`
I also created a `.sequelizerc` file with the following setup :
[code]

### What do you expect to

[2019-10-24 16:23] gabrielsimpsons commented on #8421
I've figured it out running
`NODE_ENV=sandbox sequelize db:seed --seed seeders/seed_file.js` seeders is a folder in the root of my project

[2019-10-24 16:28] iszlailorand commented on #10858
@TrustyMan Does a larger ```acquire``` solve your issue?

[2019-10-24 16:41] papb commented on #11579
Hmm, I am not sure. I don't think this is necessary but also I don't think it would hurt much. Let me see what @sushantdhiman says.

For now just use the following workaround:

[code]

If @sushantdhiman thinks it's worthwhile we can convert my snippet above in a feature in sequelize with docs and tests and everything else.

[2019-10-24 16:41] papb commented on #11579
Also your second bullet links to this very issue

[2019-10-24 16:49] papb commented on #11604
Can you please try `const models = require('./relative/path/to/models/index.js')` and see if it gets your models? Let me know, thanks

[2019-10-24 16:53] benjiewheeler opened #11605 "ignoreDuplicates not inherited to included models on bulkCreate"
We have a two models: `User` and `Article`, where `User.hasMany(Article)`.

if we `bulkCreate` some data with `ignoreDuplicates` set to true, it's not propagated to the included models, and throws an `SequelizeUniqueConstraintError` in case of duplicate data.

As you can see in the logs below the call to insert data to `user` is done with `INSERT OR IGNORE INTO` but the rest of the commands to ins

[2019-10-24 16:53] jy95 commented on #11604
What is the purpose to set "models-path" key in `.sequelizerc` if it is ignored ?
( I will test your solution in a short time )

[2019-10-24 16:58] papb commented on #11603
Hello, can you please try a few things:

* Try with the first version of sequelize that had support for this feature (in this case, [v4.0.0-1](https://github.com/sequelize/sequelize/releases/tag/v4.0.0-1))

* See if you can do it without sequelize using the `sqlite3` package directly

* Try to create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) for it considering that I have no ide

[2019-10-24 16:59] papb commented on #1801
@ahmadabdul3 Good question, no update that I know of, I will reopen this as a documentation issue, I think this deserves to be added to the docs

[2019-10-24 17:01] papb commented on #11604
Well, it changed something, since the error is now different.

Wait, I never said it is working as intended, I am just trying to help you debug the issue so we can figure it out.

Hmm, and have you triple checked that it does exist? What happens when you read your models outside the seeder context (i.e. in your real app)?

[2019-10-24 17:08] jy95 commented on #11604
The table exists ( I can access it on PgAdmin 4 ) and it works in the main app , but not in seeders context

[2019-10-24 18:11] #11604 closed

[2019-10-24 18:12] papb commented on #11587
@fboechats No problem, thanks for taking the time regardless :)

[2019-10-24 18:14] papb commented on #9773
Is this the same of #11566?

[2019-10-24 19:04] andrew8088 commented on #11533
@papb FYI, working on this with @schopr9

[2019-10-24 19:28] Vadyanga commented on #11598
Hello, any updates?

[2019-10-24 21:08] glhrmv commented on #10360
It is absurd that assigning a `unique: true` to a model definition does not actually apply a database uniqueness constraint unless you call `sync()` -- not desired at runtime ever, for reasons stated above.

As a typical end user, I want to be able to define a unique model property as simply as possible. I figured `unique: true` would do that for me. But it doesn't.

[2019-10-24 21:24] Rochet2 commented on #11569
I have same issue. Seems this issue is duplicate of https://github.com/sequelize/sequelize/issues/11534

[2019-10-24 22:48] sirlordt opened #11609 "Attach multiple models to arbitrary SQL query statement"
Attach multiple models to arbitrary SQL query statement

In **Java Hibernate ORM**, is possible made the next instructions for not defined orm relations models

[code]

Behind scene this made alias for selection query is the next.

[code]

Is possible made the same in the sequelize?

It is important because with no alias the query lost information like **id, createdAt, updatedAt**, are the same na

[2019-10-24 23:31] juancampuzano commented on #11603
I was testing with version  v4.0.0-1 but I had the same problem.

However, I have the following question: is it possible to encrypt the database using sequelize in other way?

How can I run the following command  "PRAGMA key = 'mysecret'" when starting sequelize?

[2019-10-25 00:51] aminariana commented on #10360
This issue has not been resolved.

[2019-10-25 01:08] papb commented on #11603
I am not familiar with database encryption unfortunately. I would suggest you try a direct raw query as early as possible in your code: `sequelize.query("PRAGMA key = 'mysecret'")` but I don't know if it should work.

[2019-10-25 01:11] thoqbk commented on #11579
@papb thanks, I fixed the link

[2019-10-25 03:08] papb commented on #11579
Hmmm, I really don't think this should be done by Sequelize. Apparently mickhansen and janmeier agree with me on their old messages from ~2014 in the issue most recently linked to them.
 I think we should just wait to hear from @sushantdhiman

[2019-10-25 03:16] papb commented on #11598
Please try to make your code more readable and convert it into a [sequelize-sscce](https://github.com/papb/sequelize-sscce)

[2019-10-25 03:28] papb commented on #10360
Hello, thanks for the heads up, sorry for taking so long to reply. This got lost among all my stuff, sorry.

I mostly agree, but there might be cases in which someone is using sequelize for a quick small project and sync would be acceptable there.

Excellent point, I think you're right.

I think you have convinced me :+1:

---------

However, I think the current behavior should also exist for anyo

[2019-10-25 04:03] phoenixsky opened #11610 "Mysql DEFAULT CURRENT_TIMESTAMP on create() return value is not timestamp"
## Issue Description
when I insert one  record use sequelize.create()
the return value like this
[code]

I query this record after create
it's ok
[code]

How can i define

### mysql stucture like this
[code]
###  sequelize-auto generate the define file

[code]

[code]

[2019-10-25 07:46] 1valdis commented on #3781
This bug blocks our production project. And it's 4.5 years old! `delete pg.native` doesn't work. Can this be fixed already?

[2019-10-25 07:50] mickhansen commented on #3781
@1valdis Do you have code that does deep clone on sequelize objects? Like a logger? The issue is usually not with Sequelize, if it with Sequelize, you're more than welcome to submit a PR to fix it.

[2019-10-25 08:00] 1valdis commented on #3781
@mickhansen we can't reproduce it reliably. It may or may not happen during one of requests. It may or may not happen after we update or downgrade packages. There's no situation which I can share and say "see, under this specific circumstances it triggers"...

[2019-10-25 09:34] selected-pixel-jameson commented on #8216
I'm also seeing this error. Working on figuring out where it's coming from.

[2019-10-25 12:40] glhrmv commented on #10360
The current way to fix this is by adding indices at the model and migration levels, and also to drop the database entirely and re-create it before running the migration -- this was at least the case for me, undoing and applying the migrations was not correctly adding the constraint in the SQL table definition.

To clarify, here is what worked for me:

In the model definition:
[code]

In the migrat

[2019-10-25 13:29] papb commented on #10360
@glhrmv Thanks for the input; I am a bit confused though. Do you mean that `queryInterface.createTable` didn't put the unique constraint in your table? And this is why you had to call `addIndex` explicitly?

Also I didn't get why you had to drop the entire database?

Let me know, hopefully I will be able to help you sort this out soon, because if I understood you correctly something really wrong i

[2019-10-25 13:38] glhrmv commented on #10360
I'm working with a PostgreSQL database. This is how my table is described now, after applying the changes mentioned in the previous comment:
[code]
I remove those snippets from my model and migration files, i.e., go back to my initial problem state, drop the database and recreate it (`db:drop` followed by `db:create` followed by `db:migrate`), and this is how it is now described:
[code]
As can be

[2019-10-25 13:40] papb commented on #3781
As AlariCode said:

This is a problem with pg, not Sequelize, and it's being worked on very recently: see [node-postgres#1894](https://github.com/brianc/node-postgres/issues/1894) and [node-postgres#1992](https://github.com/brianc/node-postgres/pull/1992).

[2019-10-25 13:43] segersniels commented on #11177
I seem to be stuck on creating custom DataTypes in v5 as well. It never seems to call the `toSql()` when actually running queries. So instead of trying to execute (`CREATE TABLE`) `'id' OBFUSCATEDID NOT NULL auto_increment` it's trying to do `'id' OBFUSCATEDID NOT NULL auto_increment` which obviously doesn't work.

[code]

[2019-10-25 13:57] papb commented on #10360
So, summarizing, you are basically reporting a bug with `createTable`, which does not add the unique constraint, am I correct? Since it does not add it, you had to explicitly call `queryInterface.addIndex` afterwards, am I correct?

[2019-10-25 13:59] papb commented on #11177
I will try to figure this out :)

[2019-10-25 14:06] glhrmv commented on #10360
I've only started using Sequelize as of a few days ago, but that looks like the problem, yes. 😥

[2019-10-25 14:38] fnimick commented on #11569
@Rochet2 I've created a patch for my fix: https://gist.github.com/fnimick/5dd3c6855cea6e000c86d1bc38876958

PR coming shortly.

[2019-10-25 14:50] juancampuzano commented on #11603
@papb it works.

Base on [node-sqlcipher](https://github.com/journeyapps/node-sqlcipher), I only have to put the following code:

´´´
  const sequelize = new Sequelize('database', '', 'your-encryption-key' {
    dialect: 'sqlite',
    dialectModulePath: '@journeyapps/sqlcipher',
    pool: {
      max: 5,
      min: 0,
      acquire: 30000,
      idle: 10000,
    },
    storage:  'path/to/db.sqlite

[2019-10-25 15:29] aminariana commented on #10360
I would consider the createTable issue a second bug. The primary bug is that sequelize model treats “unique: true” as a schema instruction rather than an ORM constraint.

If you prefer to keep the functionality that’s OK, but I think the unusual behavior is to interpret it as a non-ORM instruction. So I think an additional option override such as “interpretAsSchemaChange: true” or some such should

[2019-10-25 16:38] sergeyjsg commented on #11595
There is no issue here. Select query returns array of rows. It is not clear why do expect sequelize to take first row and return only it. Why should it abandon all other rows? What if this query returns multiple rows? It is raw query. It is not analyzed.

[2019-10-25 16:51] #11562 closed

[2019-10-25 16:59] papb commented on #11562
@ansonfoong Did you find a solution? What was it?

[2019-10-25 17:29] ratulSharker commented on #10628
Hi @papb
Sorry for late response, i was struggling with the warning to come up into the terminal. Setting the `NODE_ENV=development` was the missing link.

Demonstrating the warning can be found [here](https://github.com/papb/sequelize-sscce/pull/19).
I added it as a pull-request. I only configured the `NODE_ENV` for the travis ci, so for now you can see the warnings [here](https://travis-ci.com/p

[2019-10-25 18:06] papb commented on #11603
Fantastic!! I will leave it open as a docs issue :grimacing:

[2019-10-25 18:22] segersniels commented on #11595
Because that's what the `plain` property does? It sets QueryType `SELECT` and then returns the first row. @sergeyjsg

[2019-10-25 18:38] Vadyanga commented on #11598
Are you ahuel tam? Code is very simple and readable ALOT. Btw, can you just say - https://imgur.com/a/jVeb9gx is it possible to do with your orm? and by this: "updateOnDuplicate" or I'm need to create updating and another yolo func, thanks

[2019-10-25 20:25] papb opened #11613 "Clarify that custom error messages do not work in queryInterface.createTable calls"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

It is not clear that custom error messages do not work for unique constraints when calling `queryInterface.createTable`, [causing confusion](https://github.com/sequelize/sequelize/issues/10360#issuecomment-546337337).

### If possible: Provide some suggestion on how we can enhance the docs

Improve docs for `

[2019-10-25 20:28] papb commented on #10360
Precisely :)

I've created #11613 to track @glhrmv's issue, which I found out to be simply a misunderstanding from docs... Just use `unique: true` instead of `unique: { args: true, msg: "Email already exists" }`, let me know if it fixes it for you @glhrmv

I am convinced that something must be done, I am not sure if a breaking change is the best option or a new feature is the best option yet :)

[2019-10-25 20:36] papb commented on #11595
@sergeyjsg - @segersniels is right. SSCCE:

[code]

[2019-10-25 22:01] papb commented on #7051
Can someone please post how would they do it with a raw query?

[2019-10-25 22:05] papb commented on #9421
@benjamin658 Thanks for adding it on #11573 :)

[2019-10-26 16:04] romannep commented on #11583
For some cases could help turning off foreign key constrait
[code]

[2019-10-26 18:13] papb commented on #5211
@dustin-rcg I am aware of the issues involving the `underscored` option and I will (hopefully soon) do something about it. For now they've been tracked on #11225 :)

[2019-10-26 18:14] t0lik opened #11615 "PostGIS Geometry column loses its SRID after selecting from a database"
## Issue Description
If I have a column of the Geometry type (PostGIS) and tries to select its value I get GeoJSON without SRID information

### What are you doing?
I select records from a table with geometry column (Postgres DB with PostGIS) and I get them without SRID information, only geometry itself.
Here is an example:

1. Create a table
[code]
2. Insert a test record with SRID:
[code]
3. Che

[2019-10-26 19:13] papb commented on #11593
Hello, I am not familiar with serverless, but I this doesn't seem like a problem with Sequelize. To be able to try to help you I would need an example github repository which reproduces the problem. Have you tried [serverless support](https://forum.serverless.com/) first?

I will close this for now, if you can really convince me that Sequelize is the core of the problem I may reopen, thanks for un

[2019-10-26 19:13] #11593 closed

[2019-10-27 13:57] 2kindsofcs commented on #10972
the same thing happens when using mysql, too.

By the way, according to the [doc](https://sequelize.org/v5/class/lib/model.js~Model.html#static-method-hasOne), it says

and the description of `options.as` says

as the doc says that `this` means the source, if there is an 'as' option then it seems normal to get `alias.Id` rather than `source.Id`.  I think it's just workig as same as the document im

[2019-10-27 14:17] papb commented on #10972
@2kindsofcs Thanks for the post, I don't think this is a bug, OP should probably use `Device.belongsTo(User, { as: 'Calculator' })` instead and it would probably work as they want.

About the docs improvement, I agree they need to be improved but leave it to me, I'm already working on it so let's not duplicate work :)

[2019-10-27 16:47] pieczorx opened #11616 "MYSQL dialect inserting no SRID"
## Issue Description
MYSQL dialect inserts no SRID

### What are you doing?
[code]

### What do you expect to happen?
Insert record with SRID
`GeomFromText(POINT(19.495705 51.738169), 4326)`

Sequelize code:
![image](https://user-images.githubusercontent.com/14796199/67638124-aa4cca00-f8e1-11e9-9e9e-b9a3e77448b8.png)

### What is actually happening?
It inserts record without SRID:
`GeomFromText(PO

[2019-10-27 17:02] mahnunchik opened #11617 "limit option produces 'missing FROM-clause entry for table' error"
## Issue Description

findOne produces 'missing FROM-clause entry for table' error on PostgreSQL.

### What are you doing?

User.js
[code]

Project.js
[code]

I'd like to find any (`findOne`) user without projects.

[code]

### What do you expect to happen?

A user without projects.

### What is actually happening?

`error: missing FROM-clause entry for table "Projects"`

### Additional context

`

[2019-10-27 17:11] mahnunchik commented on #11617
Update `limit` option brakes `findAll` query like `findOne`.

[2019-10-27 18:29] SimonSchick commented on #11595
Is this actually supported behaviour, I always used `const [{ count }] = ...`.
In any case PR needs test.

[2019-10-27 19:01] papb commented on #11595
@SimonSchick yeah it works indeed, I tested it

[2019-10-27 22:36] aecorredor commented on #11178
Any updates?

[2019-10-27 22:42] papb commented on #11178
@aecorredor No, would you like to try to make a PR?

[2019-10-28 05:04] SANCHEZSJD commented on #6907
I have same error, But no solution work for me.
someone has another solution. I work with serverles offline and sequialize

[2019-10-28 06:47] pieczorx commented on #11616
Similar issue happening to postgres: #11615

[2019-10-28 06:51] #11431 closed

[2019-10-28 06:52] #11381 closed

[2019-10-28 07:21] Gaetan-LeGac commented on #5193
Removing `subQuery: false` in findAll options solved the problem in my case.

[2019-10-28 12:03] papb commented on #11533
Fixed by #11533

[2019-10-28 12:03] #11533 closed

[2019-10-28 14:05] aecorredor commented on #11178
@papb sure thing, I'll give it a shot, just wanted to make sure that it was indeed a bug in the types and not me doing something wrong.

[2019-10-28 15:56] papb commented on #11178
@aecorredor Ah, ok! Indeed looks like a bug. Thank you very much. I will fix the issue label

[2019-10-28 17:28] pgraham commented on #11497
@sushantdhiman This works for the compilation. Does `sequelize.config` have the same runtime value as `sequelize.options`?

[2019-10-28 21:15] aecorredor commented on #11178
@papb PR for this issue is here: https://github.com/sequelize/sequelize/pull/11620. Let me know if everything looks good or if I need to do something else. It's my first time making a PR for this repo, so I might have missed something.

[2019-10-29 07:40] 1valdis commented on #3781
@papb under pull request you referenced they turned this around on sequelize. Hmm...

[2019-10-29 08:33] aat2703 commented on #11021
+1

[2019-10-29 10:41] markjackson02 commented on #6737
It doesn't look like this is supported yet, can anyone confirm?

[2019-10-29 12:42] demian85 commented on #10858
I'm using the latest version and this creepy error still appears randomly. I'm also using the default config values.
The worst part is that my express app completely crashes and stays in a "zombie mode" where I need to reset the server and start from scratch or nothing will ever work again.
Any ideas?

[2019-10-29 13:11] papb commented on #10858
@demian85 I have no idea to be honest, I really don't know where to start to help you, I know it is probably hard but I think the best course of action for you is to try to find a way to reproduce the problem at will, and then we work from there.

[2019-10-29 14:23] papb commented on #11173
Hi, sorry to take long, can you clarify your problem? I will reply faster now. Please post what SQL query sequelize is able to generate and what query you wanted to generate instead, thanks!

[2019-10-29 14:24] papb commented on #11481
Hello, thanks for this, sorry to take long to reply.

Can you show a full SQL example that you were thinking Sequelize could generate? Thanj

[2019-10-29 15:49] pratts commented on #11469
Hello @papb . Thanks for the update.
One more thing. Should the timezone option be changed to 'Asia/Kolkata' in the future ?

[2019-10-29 16:41] sm2017 commented on #11173
I want to create

[code]

Currently sequelize can generate :

[code]

[code]

[2019-10-29 19:03] papb commented on #11469
After a brief search it seems that both `Asia/Calcutta` and `Asia/Kolkata` are supposed to be valid, can you try each and see if both work?

[2019-10-29 20:27] tmont commented on #11571
I ran into this same issue. I can confirm the same lack of cleanup occurs on MySQL 5.7 as well.

I can also confirm that it only seems to happen for deadlocks; other types of errors (lock wait timeouts, unique constraint errors) all cleaned up properly.

[2019-10-29 20:53] prad9 commented on #10944
Error occured while using migration. I'm not quite sure if it happens with other methods

[2019-10-30 06:20] pratts commented on #11469
hello @papb : I tried Asia/Kolkata and it didn't work. Asia/Calcutta did.

[2019-10-30 06:22] #11376 closed

[2019-10-30 11:44] papb commented on #3781
@1valdis Hmmm, thanks for pinging, I will look into it later

[2019-10-30 11:53] papb commented on #11469
Hmmm, ok, thanks for letting me know. Just to confirm: it only works when you set `Asia/Calcutta` on both options (`timezone` and `dialectOptions`), right? If you remove either option, or change one of them to `Asia/Kalkota`, then it stops working, is this correct?

[2019-10-30 11:55] pratts commented on #11469
@papb : Yes it is correct. Removing either of the options doesn't work. I need to add it to both options.

[2019-10-30 13:07] rafaeldalbosco opened #11623 "Multi-tenant with mysql query problem"
## Multi-tenant with Mysql query problem

### What are you doing?
I'm setting up mult-tenant with MySQL.

My Connection db-connection.js
[code]

My model procedimento-model.js
[code]

My Query
[code]

### What do you expect to happen?

When I use with ProcedimentoModel.schema('cliente_2').findAll ... I have an error, if I use the ProcedimentoModel.findAll ... it works.

Error "ProcedimentoModel.sc

[2019-10-30 17:12] a88zach commented on #11185
When you have a many to many table that you need to query through, the name of the property in the instance will be the model name of the through table by default.

When you set the as property of the IncludeThroughOptions it renames that property in the instance.  This is useful when you want to always return camelCase names through your API

If I have a Book, Author, and BookAuthor table and I w

[2019-10-30 17:59] papb commented on #8702
@soryy708 I am pretty sure that is a mistake in the docs, I will look into it

[2019-10-30 19:13] papb commented on #11617
Thanks for the report, can you please post what SQL query was generated by Sequelize and what SQL query it should have generated instead? Thanks

[2019-10-30 19:18] papb commented on #11490
I don't think this is currently possible, please open a feature request filling our template completely, in the meantime you can do what jpinkster said, thanks

[2019-10-30 19:18] #11490 closed

[2019-10-30 19:20] papb commented on #11491
Hello, thank you for the good issue description. Sorry to take long to reply.

Can you please post what SQL query Sequelize generates for your current output, and what SQL query would you like to make it produce instead? Thanks

[2019-10-30 19:25] papb commented on #1580
It seemed to me that this request is postgres-only, is this correct?

[2019-10-30 19:25] papb commented on #1580
@mschipperheyn What do you mean?

[2019-10-30 19:27] mrcrow85 commented on #11185
Alright I will try to create a sscce

[2019-10-30 19:29] papb commented on #6148
Hi @DrTerr, don't worry about it :) You are welcome to open a PR even if your work in unfinished, there is no problem in having a PR which is in progress, and if you happen to not have time to finish it, then someone else can continue the work :) For example, if you start the work and pause it for a while, maybe I or another maintainer or any contributor indeed can finish it up :)

[2019-10-30 19:31] papb commented on #10493
@xCloudx8 I agree, I've seen a few timezone issues, hopefully they will be sorted out soon :)

[2019-10-30 19:51] papb commented on #11550
Hello, can you please show some code that should compile but doesn't? Thanks

[2019-10-30 21:03] papb commented on #11535
Hello, can you try to verify if Sequelize is opening and closing a connection for every query as opposed to keeping one single connection for the whole time?

[2019-10-30 21:07] papb commented on #10695
Hello, thank you for the well-written request :) I am convinced that this should definitely be supported.

[2019-10-30 21:11] papb commented on #10695
In order to grasp how complex is this, can you show me an example with three levels of includes, instead of only two?

[2019-10-30 21:12] papb commented on #10695
Hmmm, interesting, do you mean that sometimes sequelize does actually do what you want? But in a way that you didn't figure out how to reproduce yet?

[2019-10-30 21:27] papb commented on #11616
@pieczorx Thanks for the report, I will close this one in favor of #11615 as you observed :)

[2019-10-30 21:28] papb commented on #11615
Thanks for the report, hopefully someone can investigate it further soon :)

[2019-10-30 21:30] papb commented on #11565
Thanks for the report. For we to be able to really work on this and fix it, I need you to create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) for this. Can you do it? Let me know if you have trouble, thanks for understanding :)

[2019-10-30 21:46] papb commented on #11189
Hello everyone, thanks @PKCheap for the detailed report!

I agree! We shall figure this out together.

You posted JS usage examples, which is great, but I have a request: can you (or someone else) please post a comparison of the current SQL generated by Sequelize and an example of SQL that you would like it to generate instead?

[2019-10-30 21:48] papb commented on #10950
Hmmm, thanks for sharing this, it seems this needs more investigation then :)

Can anyone reproduce the posted problem in another dialect, such as SQLite for example?

[2019-10-30 21:52] papb commented on #11558
Thanks for the report. I edited your posts to add some formatting, please learn to do that in the future :)

[2019-10-30 21:53] papb commented on #11567
Thanks, this looks wrong indeed.

[2019-10-30 21:57] papb commented on #11609
Hello, I can't understand your English, which other languages do you speak?

[2019-10-30 21:59] papb commented on #11263
@zakhefron Hello, can you or someone else create a [sequelize-sscce](https://github.com/papb/sequelize-sscce) to show this? Thanks

[2019-10-30 22:02] papb commented on #11173
Thanks, I get it now, I don't know if this is currently possible or not, so this might be either a docs issue or a feature request

[2019-10-30 22:04] papb commented on #11577
Hello, can you please post what SQL was generated by Sequelize with your code above and which SQL you wanted it to generate instead? Thanks

[2019-10-30 22:06] papb commented on #11610
Sequelize requires you to [file new issues](https://github.com/sequelize/sequelize/issues/new/choose) with specific [issue templates](https://github.com/sequelize/sequelize/blob/master/.github/ISSUE_TEMPLATE). This issue will be closed for not following the issue template. Take a look in our [contribution guidelines](https://github.com/sequelize/sequelize/blob/master/CONTRIBUTING.md#issues).

When

[2019-10-30 22:06] #11610 closed

[2019-10-30 22:07] papb commented on #11605
Hello, thanks for the report, can you please post what SQL query you think Sequelize should have generated instead?

[2019-10-31 02:32] sirlordt commented on #11609
I speak spanish.
I can try to explain myself better, but I think the code can explain itself

[2019-10-31 05:34] Nogias9x commented on #3403
Is there any updates on this, please?

[2019-10-31 06:37] Nogias9x commented on #3403
Sometimes  I can work around with "separate: true". Hope it helps someone.

[2019-10-31 06:38] sharipovshoxrux commented on #11593
Did find a solution, I have the same error

[2019-10-31 07:12] zakhefron commented on #11263
Hey @papb, i've created a SSCCE, Kindly check the ink [](https://github.com/papb/sequelize-sscce/pull/22). Thanks

[2019-10-31 07:13] zakhefron commented on #11263
Hey @papb, i've created a SSCCE, Kindly check the link => https://github.com/papb/sequelize-sscce/pull/22 . Thanks

[2019-10-31 07:32] mahra2612 opened #11625 "How to use typescript in CRUD operations"
## Issue Description

### What was unclear/insufficient/not covered in the documentation

How to use typescript while doing the CRUD operation

[2019-10-31 07:44] benbowler commented on #9489
I had this issue deploying to now.sh and was able to fix to add this dialectModule option directly in my Sequalize config:

[code]

[2019-10-31 09:06] pisangGoreng commented on #11593
@sharipovshoxrux nope, Still find a solution for this error.

[2019-10-31 11:37] t0lik commented on #11615
In #11616 there is no SRID after saving, which is not my case, but can be also related to wkx library.
In my case I get geometry with no SRID but if I manually add "crs" prop to geometry then it is saved in the db correctly (i.e. with SRID).

[2019-10-31 11:50] papb commented on #11593
Did one of you try their support? What did they say?

[2019-10-31 11:55] agirorn commented on #11024
@mycoboco do you have a reliable workaround that works for this? How are you handling this in your server?

[2019-10-31 11:58] papb commented on #11625
Please clarify this, your issue is too succint.

[2019-10-31 12:23] agirorn commented on #11024
I believe I have a workaround using [p-queue](https://github.com/sindresorhus/p-queue).

[code]

Maybe this could be worked into `Sequelize.transaction()` so that it works out of the box.

[2019-10-31 12:58] 1valdis commented on #1816
So how's the progress on that? Seems like I have to use raw query then.

[2019-10-31 14:07] papb commented on #11024
Nice, thanks for sharing, sadly I don't have time to look into it right now...

[2019-10-31 14:09] papb commented on #11609
Please try to create a [sqlfiddle](http://sqlfiddle.com/) showing what query you want sequelize to generate (create some tables, add test data to them and perform your query), thanks!

[2019-10-31 14:12] papb commented on #11263
Fantastic, thanks!!

[2019-10-31 14:52] validkeys commented on #11421
I believe I found the issue https://github.com/sequelize/sequelize/blob/master/lib/dialects/abstract/query-generator.js#L1367

The call to getAliasForGrouping is returning a null, so it's passing the "src" var to quote. If you are grouping by an array of arrays, the "src" var will only have the first item (model) in the array, not the full grouping array item.

Replacing:

[code]

with

[code]

re

[2019-10-31 16:09] mrcrow85 commented on #11185
@papb [SSCCE here](https://github.com/papb/sequelize-sscce/pull/21). Please let me know if that's enough or I need to do something else :slightly_smiling_face:

[2019-10-31 16:20] papb commented on #11185
@mrcrow85 Fantastic!! Thank you very much. I will comment on your PR

[2019-10-31 17:07] papb commented on #3403
Nothing that I'm aware of, sorry

[2019-10-31 17:09] papb commented on #11535
Hmm... Hard to reproduce bugs are hard :( :( do you know what kind of things can cause `ECONNRESET`?

[2019-11-01 01:16] jpollard-cs commented on #11376
Thanks @mrcrow85 for tackling this! Between a 6 month old and recently taking a new role I haven't been able to get around to this 😄

[2019-11-01 02:56] Nogias9x commented on #3403
No worries, we understand this is a difficult issue to investigate and fix @papb .
Thank you for keep working on Sequelize. It's an awesome ORM.
Have a nice day @papb

[2019-11-01 03:18] #11185 closed

[2019-11-01 04:00] cantoute opened #11629 "Support for postgres ltree"
## Issue Description

postgresql have value type ltree
https://www.postgresql.org/docs/current/ltree.html

any plans to support postgresql ltree ?

### Why should this be in Sequelize
LabelTree datatype isn't whide spread well known, but it's very efficient as organizing data and selecting it.
Having Postgres without that feature is really a handicap on many of my projects.

## Issue Template Chec

[2019-11-01 06:00] zakhefron commented on #11263
Thanks

[2019-11-01 07:46] dimaninc opened #11630 "How to make custom query method?"
## I need to create a method inside Sequelize model class to filter my collection.

### Is your feature request related to a problem? Please describe.
I want to create predefined requests inside models like I do them in Mongoose (example below), but I can't find this ability in manuals

### Describe the solution you'd like
In Mongoose i can do something like this:

[code]

### Why should this be i

[2019-11-01 11:43] mahnunchik commented on #11617
Hi,

`subQuery: false,` helps me, but it was not obvious.

[2019-11-01 11:48] papb commented on #11617
Thanks, indeed the fact that it is not obvious is enough for this to be still an issue, even if you found a solution. So if possible, please post what SQL query was generated by Sequelize and what SQL query it should have generated instead :)

[2019-11-01 11:51] papb commented on #11609
Fantastic, I will take a look later, thank you very much :)

[2019-11-01 12:10] papb commented on #11630
You can simply do the following:

[code]

For more flexibility, allowing extra options, such passing a transaction and other things, you can do:

[code]

[2019-11-01 12:10] #11630 closed

[2019-11-01 13:15] sugumarv opened #11632 "Could not catch error in try catch block"
[code]

In the above I have given the wrong password, I expect the the catch block to run, but instead I get the error in terminal
[code]

Posted the code also in

https://stackoverflow.com/questions/58659113/try-and-catch-does-not-catch-promise-errors/58659577?noredirect=1#comment103622517_58659577

[2019-11-01 14:00] #11632 closed

[2019-11-01 14:00] sugumarv commented on #11632
Not an issue

[2019-11-01 14:18] papb commented on #10278
Duplicate of #11629

[2019-11-01 14:18] #10278 closed

[2019-11-01 18:53] vanthome opened #11634 "Postgres: Schema does not default to current schema for references when Pt. 2"
## What are you doing?

I need to switch schemas dynamically for multi tenancy in an application and when I change the schema for a model, I would like sequalize to default to that schema also for references and indexes. This is not the case yet and I would consider this a bug as it's the only sensible default behaviour.
The main point where this happens is when I call `model.schema('ZZZ').getXXX`

[2019-11-01 21:00] Benjamin-Gardien commented on #9786
+1 I've the same issue today. I fix the problem with @MunifTanjim proposition. Can you integrate this fix in new release ? I can help if it's necessary :)

[2019-11-02 13:53] Devoldini opened #11636 "Order to main query"
[code]

How to order by modelOne by 'id'? I need to order it by modelOne by 'id' in 'DESC'
If i do like

[code]

it says me next:

message: 'A column has been specified more than once in the order by list. Columns in the order by list m ust be unique.'

[2019-11-02 15:07] papb commented on #11636
You have posted a code snippet that shows the problem but is not entirely self-contained (i.e. I can't just copy-paste it and run it). Please provide a [SSCCE](http://sscce.org/) (also known as [MCVE/reprex](https://stackoverflow.com/help/minimal-reproducible-example)) to allow contributors to work on this on a timely manner. I suggest using the [sequelize-sscce repository](https://github.com/papb

[2019-11-02 15:13] thiagofernando opened #11637 "Sequelize associate a array field to a model"
I need to associate two tables one of them have a array field (the values is the id of that another one) and generating a query.

on table associations i have tried belongsToMany and just belongsTo. No success.

this is the query I hope to generate through sequelize

[code]

the structure of tables
[code]

I think it would be very useful to make this kind of association in the sequelizes core

Im

[2019-11-02 16:01] Devoldini commented on #11636
**models/users.js**

`module.exports = (dbTravelDocsApi, DataTypes) => {
    const User = dbTravelDocsApi.define('user', {
        id: {
            primaryKey: true,
            autoIncrement: true,
            allowNull: false,
            type: DataTypes.INTEGER
        },
        tBotId: {
            allowNull: false,
            type: DataTypes.INTEGER
        },
        name: {

[2019-11-02 17:45] papb commented on #9786
Hi everyone! This seems related to the v8 release of MySQL, can anyone confirm? If we make this change, would it break for <v8 users?

[2019-11-02 17:52] papb commented on #11636
Hi, what you posted may be enough, I don't know, but if you have time, please follow the instructions on [sequelize-sscce](https://github.com/papb/sequelize-ssce), start by forking the repository.

If you do that, you will save a lot of time from people that try to help you :)

[2019-11-02 17:55] papb commented on #11637
Is it a SELECT?

Also, can you please post your model definitions?

[2019-11-02 19:05] MunifTanjim commented on #9786
`ST_GeomFromText` was introduced in MySQL `v5.6`

[2019-11-02 19:26] vanthome opened #11638 "Postgres: Schema is not considered for indexes when given at sync()-time and not at define()-time"
## What are you doing?

I want to sync the same models to several schemas dynamically and therefore I do not provide a schema at model definition time but at synchronization time via `{ schema: 'someschema' }` option instead.

## What do you expect to happen?

That sequalize uses the given schema.

## What is actually happening?

Sequalize simply ignores the schema in the options hash of the sync(

[2019-11-02 22:25] thiagofernando commented on #11637
yes, its a select.

[code]

[code]

[2019-11-03 09:44] mjsa-git commented on #11052
Facing the same issue

[2019-11-03 15:04] mschipperheyn opened #11640 "Previous value for VIRTUAL data returns undefined"
## Issue Description

model
[code]

### What are you doing?

updating a record

### What do you expect to happen?

I expect VIRTUAL fields to be populated with the actual data

### What is actually happening?

previous values are undefined

### Additional context

There's obviously a workaround for this, so, I'm registering this also for other people to be aware.

### Environment

- Sequelize vers

[2019-11-03 21:26] papb commented on #11052
@mjsa-git did the workaround above work for you?

[2019-11-04 13:17] papb commented on #11583
@romannep Hmmm, perhaps this could be built-in the `force: true` option for SQLite? Do you think it's too risky? I think it could be done, `force: true` is already risky anyway

[2019-11-04 13:20] papb commented on #11569
Hi everyone, sorry for taking long, I will take a look at the PR by @fnimick now. Is it the same as [the work by @cjancsar](https://github.com/sequelize/sequelize/issues/11569#issuecomment-543879990)?

[2019-11-04 13:42] mahnunchik commented on #11617
Expected:

[code]

Actual:

[code]

[2019-11-04 14:23] tsasaki609 commented on #1816
I was mistaken. The SQL in question is syntactically correct.

I tried to reproduce the issue.
I don't know the entire code, so the details are different from the above.
[code]

Sequelize(ver 5.21.2) created SQL:
[code]

As @alekbarszczewski   said, a different query than expected is generated.
I will continue the investigation. 🤔

[2019-11-04 15:53] cjancsar commented on #11569
@papb no it is not, but I have not had time to create a PR with my work. @fnimick work is a subfeature of the feature that my patch would add (his add ability for partial index as well). I prefer my approach as it only introduces one option `upsertOn` instead of two `upsertKeys` and `upsertIndex`. There is currently no tests on the PR so I don't really see it moving. I am using my patch at the mom

[2019-11-04 16:34] papb commented on #11569
@cjancsar Thanks for the reply, I've been very busy so no time to look at your implementation and @fnimick implementation yet... Thanks for the patience :)

[2019-11-04 16:38] papb commented on #11617
And what SQL did you get after adding `subquery: false`? Did you get your exact expected output?

[2019-11-04 16:54] mahnunchik commented on #11617
Yep, I've got expected output. But I don't know about performance.

[2019-11-04 16:56] fnimick commented on #11569
@cjancsar @papb I can also remove `upsertKeys` from the branch entirely - the only use case for it was to specify an index that is defined on the table but not in the model itself, for flexibility. I am actually only using `upsertIndex` in my code.

[2019-11-04 17:01] papb commented on #11617
Can you post the SQL generated please?

[2019-11-04 17:05] mahnunchik commented on #11617
Both of them are generated. With and without `subquery: false`.

[2019-11-04 18:18] nwalters512 opened #11641 "Virtual attributes are ignored inside the include section"
## Issue Description

### What are you doing?

This is a reproduction of a bigger case in my project. There is some model `User` with a virtual attribute `derivedName` that depends on the attribute `name`. `User` belongs to some other model `Foo`.

I query for `Foo`s, including their associated `User` with the `derivedName` attribute:

[code]

**Here is the link to the SSCCE for this issue:** http

[2019-11-04 21:48] bradisbell opened #11642 "Log all queries, including initial PRAGMA options"
## Issue Description

### Is your feature request related to a problem? Please describe.

I recently had a particularly weird SQLite3 issue where the query logged from Sequelize would work fine if ran in the SQLite3 CLI, but would cause bad data to be saved when ran via Sequelize.  After a whole lot of messing around trying to figure out why the client libraries were different, I eventually figure

[2019-11-04 22:56] loban commented on #11588
The first definitely is trying to solve the same problem I am having. I shall try to take a look at them. Thanks!

[2019-11-05 03:24] axolo commented on #11052
[code]

`app.userId` foreign key references `user.id` **NOT** created in mysql 8.0.17 engine InnoDB

[2019-11-05 03:24] hburrows opened #11644 "Typescript example of M:N relationship (belongsToMany) with through table attributes"
## Issue Description

Examples of using Typescript with many-to-many relationships (i.e. `belongsToMany` <-> `belongsToMany`)

### What was unclear/insufficient/not covered in the documentation

Only simple relationship examples exist: i.e `hasMany`

### Additional context

I've looked through the type definitions and tests and I'm coming up empty-handed.

Simple example:

[code]

How do I declare

[2019-11-05 06:17] Bahramibh opened #11645 "attributes alias"
there is a bug in attributes alias
on link : https://sequelize.org/master/manual/querying.html
when i wana use attributes: [id , name , [lname , 'as last lname ']
its actualy work , but result goto dataValues
not data
i should map data before send to responce
like this
return result.map(r=>r.dataValues)

[2019-11-05 06:52] mshaikh-cci commented on #5572
For me entity  is returning the merged result and not seperate arrays from SP.
I am using nodejs, sequelize and sql server
        model.sequelize.query('AssetCountAsPerStatus', { multipleStatements: true, type: model.sequelize.QueryTypes.SELECT })
            .then(data => {
                console.log('data', data);
                var res_1 = Object.keys(data[0]);
                var res_1_List

[2019-11-05 12:22] tsasaki609 commented on #1816
It seems that it always takes precedence when there is a subquery.
https://github.com/sequelize/sequelize/blob/master/lib/dialects/abstract/query-generator.js#L1295-L1299

If we only want to solve this problem, we can always group the main query without any conditions.
However, backward compatibility is lost.
The better way is to be able to specify which query to group for.

[2019-11-05 12:59] segersniels commented on #11177
@papb Any progress on this? Haven't figured it out myself, still can't get it to work with v5. It used to work in v4 though but yeah, that was using the old way.

[2019-11-05 13:13] jzavisek commented on #10858
@demian85 I was seeing this error as well and it seems that in my case it happened when some sequelize calls within a transaction weren't using the parent transaction. So something like:
[code]
It seems that these calls blocked the transaction for larger amount of time and other transactions failed with `SequelizeConnectionAcquireTimeoutError`. I am not sure if could be related though.

[2019-11-05 15:26] iszlailorand commented on #10858
I had this issue as well, solve it by optimizing my queries... I tried all the "hot fixes" and configs that i found without any result, then I tackled the situation and rethink my queries and entities... now everything runs well without any config change.

[2019-11-05 16:56] demian85 commented on #10858
what do you mean by "optimized queries"? what does SQL optimization have to
do with that error?
I'll try to find any transaction issues and report back.

On Tue, Nov 5, 2019 at 1:00 PM Iszlai Lorand-Edmond <
notifications@github.com> wrote:

[2019-11-05 17:12] mellogarrett opened #11649 "Use read replica for raw queries"
## Issue Description

### Is your feature request related to a problem? Please describe.
When executing raw SQL queries, sequelize always uses the `write` host.

### Describe the solution you'd like
When you know that your raw SQL query is a read-only query, it would be great to be able to delegate to the read replica.

### Why should this be in Sequelize
Seems like a pretty common usecase that co

[2019-11-05 17:49] iszlailorand commented on #10858
@demian85 I couldn't solve this error by any mean. After a lot of investigations I went back to the root of the problem. "Why without any changes this error happens now all the time?" ... end after some research I noticed that I had this error because my volume of data increased. So probably this error is related to that, so I monitorized all my queries and found a very nasty one... I changed it a

[2019-11-05 18:35] shyaminayesh commented on #11161
@sushantdhiman can we have a fix for this on v6 milestone maybe ?

[2019-11-05 19:24] yosagar commented on #6430
I managed to get the required result as below
[code]

[2019-11-05 20:04] AlexVanHell opened #11650 "Add support for schema in queryInterface.addConstraint method inside references attribute"
## Issue Description
queryInterface.addConstraint method does not have support for schema specification inside references attribute

### What are you doing?
Trying to add a foreign key to a table that does not belong to 'public' schema in postgres

[code]

### What do you expect to happen?
That resulting query outputs:

[code]

### What is actually happening?

_The output was Bar!_

Due to there i

[2019-11-05 20:11] ktret commented on #11177
RE: It never seems to call the toSql() when actually running queries.

More-so it seems to call ABSTRACT's toSql.  My new data type extends ABSTRACT, and ABSTRACT's toSql is `return this.key` so if when I manage to set key to the postgres type, it creates the column in the database fine.  But an instance `x` of said type for a field does not pass `x instanceof NEWTYPE` check.  Sorry, probably not

[2019-11-05 21:28] JandyStephens commented on #7276
It was difficult to find: https://sequelize.org/master/manual/associations.html#naming-strategy.

[2019-11-05 21:28] andrew-st-angelo-77media commented on #10695
That is correct.  I can't give you any further information, as I've only seen it once.  Ran my function call a few times to verify it wasn't an abortion.  But since then, in my testing, I have not been able to structure a query this way on-purpose.

[2019-11-05 23:22] sharmanitin opened #11651 "Propagate custom options to associated model's hooks"
## Issue Description
Model.create(data, { include: [...associatedModels], transaction, customOptionKey: val }) doesn't propagate custom options to associatedModels hook's options data

### What are you doing?

[code]

### What is actually happening?
`customOptionValueInHook=undefined`

### What do you expect to happen?
`customOptionValueInHook=val`

is there a way to get all the options passed to

[2019-11-06 02:48] andrew-st-angelo-77media commented on #10695
I don't know if this is the most useful example or not.  I was really just trying to extend what I had above.  But the point is that the nuance of using a Nested Join allows you to return only those records that you care about, through whatever associations you may throw at it.  This becomes a much more useful technique when you have large queries and large datasets.

[code]

**Results**

**Query

[2019-11-06 03:11] Ali-Dalal opened #11652 "Support config as an async function"
Is it possible to config Sequelize as an async function? The DB credentials are stored in a store (like AWS SSM) and the only way to fetch the data throw async call

[code]

[2019-11-06 10:15] louishwy opened #11655 "There shouldn't be multiple methods to create a unique key"
## Sequelize should have a better standardization

I'm confused that as `SQL database automatically creates a unique index when a unique constraint or primary key is defined for a table`, which means unique index is combined to unique constraint besides primary key.

But from what I can find in sequelize documentation: a unique key can be created via both **`addConstraint()`** and **`addIndex()`**

[2019-11-06 15:40] PKCheap commented on #11189
Here is what my original query produces:

[code]

I will try to build what I think should be generated once I find the time. Currently working on something else.

[2019-11-06 15:58] aheuermann opened #11656 "updateOnDuplicate with where clause"
## Issue Description
I'd like to be able to include a where clause in the a postgres upsert `INSERT ON CONFLICT DO UPDATE` statement. Something like:
[code]
### Is your feature request related to a problem? Please describe.
We only want to upsert if the timestamp (`last_action_tsp`) is greater than the value currently in the database.

### Describe the solution you'd like
I think an api like this

[2019-11-06 16:23] NeuroTypicalCure commented on #10360
@aminariana Have you tried adding a primary key?

I had an issue where when you add `unique:true` to your primary key it skips validation for any other unique columns you've defined.

Your issue might have something in common like that.

[2019-11-06 18:25] defunctzombie commented on #11550
Absolutely. Tho the issue isn't that the code doesn't compile - its that without the bindParam being a required method to define my custom type did not work properly.

Below is my custom type definition which is meant to be a wrapper around the postgres NUMERIC type using the `big.js` library to support arbitrary precision and accurate decimal math operations in my application logic.

[code]

When

[2019-11-06 20:28] chupacabra71 commented on #11199
sorry for the noob comment, but is there a way to rely on the tedious connection for this?  i can connect to MSSQL using windows authentication with tedious using this connection config

[code]

[2019-11-06 20:46] thieman opened #11657 "No type stubs for Model.isSoftDeleted"
https://sequelize.org/master/class/lib/model.js~Model.html#instance-method-isSoftDeleted

[2019-11-06 20:51] jamesperi opened #11658 "Creating an OR relationship between parent and nested model where clauses"
## Issue Description

### What are you doing?

I'm trying to create a query that returns a record if the where clause on the parent model OR the where clause in an "included" child model match the condition

https://github.com/jamesperi/sequelize-sscce/blob/patch-1/src/sscce.js

### What do you expect to happen?

I would expect a row to return if (based on the example SSCCE provided, either Author

[2019-11-06 23:21] jamesperi commented on #11658
Update:

In digging through this issue, I did come up with what "may?" be the correct approach to this but in doing so, i think i've either stumbled into a different bug?

Using the attached SSCCE, if the query is changed to the following:

[code]

Then everything seems to work as I'd expect, the SQL looks as follows:

[code]

The issue is that when I add a limit in, the query fails..

[code]

Seq

[2019-11-07 02:45] SpecializedM commented on #9276
I have the same problem in v5.21.1.

[2019-11-07 06:17] mycoboco commented on #11024
@agirorn
I have a workaround that I believe reliable, which is similar to yours except that I implemented a simple queue to manage transaction requests.

I think yours is better and thanks for sharing it.

[2019-11-07 16:28] aheuermann commented on #6485
Is there a solution for this other than updating the private api?

[2019-11-07 19:01] dozieogbo commented on #3551
So. I realized this can happen when the parent folder doesn't exist, in this case **db**.
Create the folder and it works fine.

[2019-11-07 19:59] aheuermann commented on #6485
I'm running into this issue when using `JSONB` which contains the `\u0000` null byte character. I'm able to escape it with the extra `\`

`{ "a":"\\u0000"}` ***will insert*** fine while `{ "a":"\u0000"}` will ***fail***

[2019-11-08 02:09] Restuta commented on #7902
@sushantdhiman

Idk about that, I only discovered it via this issue, reading https://sequelize.org/master/manual/migrations.html or https://sequelize.org/master/class/lib/query-interface.js~QueryInterface.html section didn't help, nobody on my team of 12 new about this as well.

🤷‍♂

[2019-11-08 08:21] igor-radivojevic commented on #8604
@igordeoliveirasa
Set it to undefined. Just tried it and it works.
`ployee.set({ 'child.age': undefined })`

[2019-11-08 13:17] dnguyen-accor commented on #11658
i think this is related https://github.com/sequelize/sequelize/issues/7344

[2019-11-08 15:26] benjiewheeler commented on #11605
I think it should have generated this SQL :
[code]
just like the statement used to insert the user